<template>
  <v-layout column class="pa-4">
    <v-layout class="py-4" row wrap>
      <v-flex xs12 sm6 class="d-flex">
        <p class="title font-weight-bold libre-franklin" style="margin: auto">Result Kuis - {{$route.query.name}}</p>
      </v-flex>
      <v-flex xs12 sm6>
        <v-layout justify-end>
          <!-- <v-btn v-if="results.length > 0" class="primary2 font-weight-bold f-btn white--text" :to="'/institution/user-add?id='+$route.query.id+'&name='+$route.query.name+'&type='+$route.query.type">Tambah User</v-btn> -->
          <div class="my-2 input-icon-container text-xs-right" style="height: 40px">
            <input type="text" v-model="search" placeholder="Pencarian" style="padding: 5px 15px; margin: auto; width: 250px; height: 40px; background: white">
            <v-icon class="ma-2">search</v-icon>
          </div>
        </v-layout>
      </v-flex>
    </v-layout>

    <template>
      <v-flex xs12 sm8 md6>
        <p class="mb-0 subtitle grey--text libre-franklin text-xs-right">{{$route.query.name}}</p>
        <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px">
          <v-card-title class="pt-4 px-4 pb-0">
            <p style="font-size: 16px;">Total Data : <span class="font-weight-bold">{{results.length}}</span></p>
            <v-spacer/>
            <v-btn v-if="results.length > 0" class="primary2 font-weight-bold f-btn white--text" @click="download">Download</v-btn>
          </v-card-title>

          <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state">
            <v-progress-circular
              :size="55" class="ma-4"
              color="primary2"
              indeterminate
            ></v-progress-circular>
            {{loading.message}}
          </v-layout>

          <!-- <v-flex xs12 sm6>
            <v-card-text>
              <label for="province">Provinsi</label>
              <v-autocomplete
                :items="provinces"
                return-object item-text="name"
                id="province" placeholder="Pilih Provinsi"
                v-model="province"
                single-line solo flat
                append-icon="expand_more"
                background-color="lighten-3 grey"
                @change="() => {getCities(), getResults()}"
              ></v-autocomplete>

              <label for="city">Kota/Kabupaten</label>
              <v-autocomplete
                :items="cities" :disabled="!province"
                return-object item-text="name"
                id="city" placeholder="Pilih Kota/Kabupaten"
                v-model="city"
                single-line solo flat
                append-icon="expand_more"
                background-color="lighten-3 grey"
                @change="getResults()"
              ></v-autocomplete>
            </v-card-text>
          </v-flex> -->

          <v-layout column align-center justify-center style="height: 75vh" v-if="results.length == 0">
            <v-img src="/illus-not-found.png" width="200" contain></v-img>
            <p class="my-4 title text-xs-center font-weight-bold">Belum ada Data Result</p>
            <v-btn class="primary2 font-weight-bold f-btn white--text" @click="() => {city = '', province = '', getResults()}">Muat Ulang</v-btn>
            <!-- <v-btn class="mb-5 primary2 font-weight-bold f-btn white--text" :to="'/institution/user-add?id='+$route.query.id+'&name='+$route.query.name+'&type='+$route.query.type">Tambah User</v-btn> -->
          </v-layout>

          <v-data-table v-else
            :headers="headers"
            :items="results"
            class="elevation-0"
            hide-actions
            :pagination.sync="pagination"
            sort-icon='sort'
            expand
            item-key="_id"
          > 
            <template slot="headers" slot-scope="">
              <tr>
                <th class="column">
                  <v-layout align-start>
                    Murid&nbsp;
                    <v-img src="/sort.png" width="16px" max-width="16px" height="16px" contain @click.stop></v-img>
                  </v-layout>
                </th>
                <th class="column">
                  <v-layout align-start>
                    Tingkat&nbsp;
                    <v-img src="/sort.png" width="16px" max-width="16px" height="16px" contain @click.stop></v-img>
                  </v-layout>
                </th>
                <th class="column">
                  <v-layout align-start>
                    Kelas&nbsp;
                    <v-img src="/sort.png" width="16px" max-width="16px" height="16px" contain @click.stop></v-img>
                  </v-layout>
                </th>
                <!-- <th class="column">
                  <v-layout align-start>
                    Skor Akhir&nbsp;
                    <v-img src="/sort.png" width="16px" max-width="16px" height="16px" contain @click.stop></v-img>
                  </v-layout>
                </th> -->

                <template v-if="$route.query.type != 'adaptive'">
                  <th class="column" v-for="(answer, index) in answers" :key="index">
                    <v-layout align-start>
                      {{answer.question.slice(0,9)}}...
                    </v-layout>
                  </th>
                </template>

                <th class="column">
                  <v-layout align-start>
                    Actions &nbsp;
                    <v-img src="/sort.png" width="16px" max-width="16px" height="16px" contain @click.stop></v-img>
                  </v-layout>
                </th>
              </tr>
            </template>
            <template v-slot:items="props">
              <tr>
                <td class="">
                  {{ props.item.name }}
                </td>
                <td class="">
                  {{props.item.grade}}
                </td>
                <td class="">
                  {{props.item.rombel}}
                </td>
                <!-- <template v-if="$route.query.type != 'adaptive'">
                  <td class="" v-for="(item, index) in props.item.groupAnswers" :key="index">
                    <span v-for="(data, index) in item.answers" :key="index">{{data}} </span>
                  </td>
                </template> -->
                <td class="text-xs-left">
                  <v-btn @click="props.expanded = !props.expanded" class="primary2 white--text">{{!props.expanded ? 'Buka' : 'Tutup'}}</v-btn>
                  <v-btn @click="onDeleteClick(props.item)" class="red white--text">Hapus</v-btn>
                </td>
              </tr>
            </template>
            <template v-slot:expand="props">
              <v-card flat>
                <v-card-text>
                  <table>
                    <!-- <tr> -->
                      <template v-for="(answer, index) in props.item.groupAnswers">
                        <th class="column" :key="index">
                          <v-layout align-start column style="margin-top: 20px;">
                            <h3>Group Name : {{ answer.groupName }}</h3>
                            Grade : {{ answer.grade }}
                          </v-layout>
                          <td>
                            <template v-for="(data, index) in answer.answers">
                              <th class="column" :key="index" style="min-width: 250px; max-width: 300px !important">
                                <v-layout align-start style="margin-top: 20px;">
                                  {{data.questionId}}
                                </v-layout>
                                <tr>
                                  <td style="text-align: left; padding-top: 20px; padding-left: 0px; height: 20px;"><b>Score: </b>
                                    <span v-for="(item, index) in data.score" :key="index">{{item}}, </span>
                                  </td>
                                </tr>
                                
                                <tr>
                                  <td style="text-align: left; padding-top: 20px; padding-left: 0px; height: 20px;"><b>Duration</b></td>
                                </tr>
                                <tr>
                                  <td style="text-align: left; padding-top: 0px; padding-left: 0px; height: 20px;"><li>On Screen : <b>{{data.duration[0].onscreen}}</b></li></td>
                                </tr>
                                <tr>
                                  <td style="text-align: left; padding-top: 0px; padding-left: 0px; height: 20px;"><li>Answered : <b>{{data.duration[0].answered}}</b></li></td>
                                </tr>
                              </th>
                              
                            </template>
                          </td>
                        </th>
                      </template>
                    <!-- </tr> -->
                    <!-- <tr>
                      <td class="" v-for="(answer, index) in props.item.groupAnswers" :key="index">
                        <div>
                          <span class="font-weight-bold">Score :</span>
                          <span v-for="(item, index) in answer.answers" :key="index">{{item}}, 
                            <div>
                              <span class="font-weight-bold">Duration :</span>
                              <li class="mb-1" v-for="(data, index) in item" :key="'duration-'+index">
                                on screen : {{data[0].onscreen}} - answered : {{data[0].answered}} <br> 
                              </li>
                            </div>    
                          </span>
                        </div>

                        
                      </td>
                    </tr> -->
                  </table>
                </v-card-text>
              </v-card>
            </template>
          </v-data-table>
          <div class="text-xs-center pt-2">
            <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
          </div>
        </v-card>
      </v-flex>
    </template>

  </v-layout>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'
import XLSX from 'xlsx'

export default {
  components: {
    Logo,
    VuetifyLogo
  },

  data() {
    return {
      search: '',

      headers: [
        { text: 'ID Murid', align: 'left', value: 'muridID' },
        { text: 'Quiz ID', align: 'left', value: 'quiz' },
        { text: 'Nilai', align: 'left', value: 'score' },
        // { text: 'Tingkat', align: 'left', value: 'grade' },
        { text: 'Actions', align: 'left', value: 'actions', sortable: false },
      ],

      results: [],
      answers: [ {} ],

      pagination: {},

      loading: {
        state: true,
        message: ''  
      },

      scores: [],

      provinces: [],
      province: '',
      cities: [],
      city: '',
      listStudent: [],
    }
  },

  computed: {
    pages () {
      if (this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) return 0
      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
    }
  },

  mounted() {
    this.$ga.event({
      eventCategory: 'Result',
      eventAction: 'get_result',
      eventLabel: 'Result',
      eventValue: 0
    });
    this.$gAnalytic.track({category: "Result", action: "get_result", label: "Result"})
    this.getProvince()
    this.getResults()

    console.log('XSLX', XLSX);
    this.pagination.rowsPerPage = 6  
  },

  methods: {
    async getProvince() {
      try {
        const req = await this.$region.getProvinces()
        this.provinces = req

      } catch (error) {
        console.log(error.response);
      }
    },

    async getCities() {
      try {
        const req = await this.$region.getCities({ provinceId: this.province.id })
        this.cities = req

      } catch (error) {
        console.log(error.response);
      }
    },

    async getStudent(_id, index){
      try {
        const req = await this.$user.getUsers({ _id:  _id})
        if (req.status) {
          this.listStudent.push(req.data[0])
          this.results[index]['student'] = req.data[0]
          this.results[index]['name'] = req.data[0].fullName
          this.results[index]['rombel'] = req.data[0].rombelName
          this.results[index]['grade'] = req.data[0].grade
          console.log(this.results)
          
        }
      } catch(e){
        console.log(e)
      }
    },

    async getResults() {
      this.loading = { state: true, message: 'Memuat data Result'}

      this.results = []
      try {
        if (this.city || this.province) {
          const req = await this.$result.getByProvince({ 
            id: this.$route.query.id, 
            province: this.province.id, 
            city: this.city.id 
          })

          console.log('results : ', req);
          this.results = req.data
          this.answers = req.data[0].answers
          
        } else {
          const req = await this.$result.getResults({ 
            id: this.$route.query.id,
          })

          console.log('results : ', req);
          this.results = req.data
          this.answers = req.data[0].answers

          for (const idx in req.data) {
            if (this.results.hasOwnProperty(idx)) {
              const data = this.results[idx];
              this.getStudent(data.studentId, idx);
            }
          }

          setTimeout(() => {
            this.loading.state = false
          }, 2000);
        }
        
      } catch (error) {
        console.log(error.response);
        setTimeout(() => {
          this.loading.state = false
        }, 500);
      }
    }, async onDeleteClick(item) {
      if (confirm("Apakah anda yakin akan menghapus hasil quiz? " + item.name)) {
        try {
          const req = await this.$result.deleteResult({
            _id: item._id
          })

          this.listStudent.splice(this.listStudent.indexOf(item.student), 1)
          alert('Berhasil menghapus hasil quiz')
          this.getResults()
        } catch (error) {
          console.log(error.response);
          alert('Gagal menghapus hasil quiz')
        }
      }
    },

    countScore() {
      for (const key in this.results) {
        if (this.results.hasOwnProperty(key)) {
          const element = this.results[key].groupAnswers;
          console.log("element", element);
          this.scores.push(element)         
        }
      }
    },

    download() {
        var sortedFields = []

        for (const x in this.results) {
          if (this.results.hasOwnProperty(x)) {
            const element = this.results[x];
            const groupAnswer = element.groupAnswers;
            var listQuest = [];

            sortedFields.push({
                  'No': x*1+(1),
                  'Nama': element.name,
                  // 'flow': JSON.stringify(element.flow).replace(/\[|\]|{|}|"/g, ''),
                  'ongoing': !element.isComplete,
                  'Nama Sekolah': element.student.institutionName,
                  'Rombel': element.rombel,
                  'Grade Murid': element.grade,
                  'Final Result': element.finalScore
            })

            for (const answ in groupAnswer) {
              if (groupAnswer.hasOwnProperty(answ)) {
                const data = groupAnswer[answ];
                
                for (const i in data.answers) {
                  if (data.answers.hasOwnProperty(i)) {
                    const answer = data.answers[i];
                    listQuest.push({
                      questionId: answer.questionId,
                      answer: answer.answer,
                      duration: answer.duration,
                      score: answer.score,
                      grade: data.grade,
                      groupName: data.groupName,
                      code: answer.questionDetail.code
                    })
                  }
                }
              }
            }

            console.log(listQuest);

            for (const idx in listQuest) {
              if (listQuest.hasOwnProperty(idx)) {
                const quest = listQuest[idx];
                sortedFields[x]['Group Name '+(idx*1+(1))] = quest.grade + quest.groupName
                sortedFields[x]['Question '+(idx*1+(1))] = quest.code
                sortedFields[x]['Answer '+(idx*1+(1))] = JSON.stringify(quest.answer).replace(/\[|\]|{|}|"/g, '')
                sortedFields[x]['Score '+(idx*1+(1))] = JSON.stringify(quest.score).replace(/\[|\]|{|}|"/g, '')
                sortedFields[x]['Duration '+(idx*1+(1))] = 'onscreen: ' + quest.duration[0].onscreen + ', answered: ' + quest.duration[0].answered
              }
            }

          }
        }

        // export json to Worksheet of Excel
        // only array possible
        var excelSiswa = XLSX.utils.json_to_sheet(sortedFields)

        // A workbook is the name given to an Excel file
        var wb = XLSX.utils.book_new() // make Workbook of Excel

        // add Worksheet to Workbook
        // Workbook contains one or more worksheets
        XLSX.utils.book_append_sheet(wb, excelSiswa, 'result') // sheetAName is name of Worksheet

        // export Excel file
        XLSX.writeFile(wb, 'Hasil Kuis ['+this.$route.query.name+'] - '+new Date().getTime()+'.xlsx') // name of the file is 'book.xlsx'
      
    },

    reduceArr(total, num) {
      return total + num;
    }
  },
}
</script>
