<template>
  <v-layout column>
    <v-layout class="py-4" row wrap>
      <v-flex xs12 sm6 class="d-flex">
        <p class="title" style="margin: auto">Manajemen Kuis - Soal</p>
      </v-flex>
      <v-flex xs12 sm6 class="d-flex">
        <v-layout>
          <v-btn class="primary" flat to="/quiz/add">Tambah Data</v-btn>
          <div class="input-icon-container">
            <input type="text" v-model="search" placeholder="Pencarian" style="padding: 5px 15px; margin: auto; width: 250px; height: 40px; background: white">
            <v-icon class="ma-2">search</v-icon>
          </div>
        </v-layout>
      </v-flex>
    </v-layout>

    <v-flex xs12 sm8 md6>
      <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px">
        <v-card-title class="pt-4 px-4 pb-0">
          <p style="font-size: 16px;">Jumlah Soal : <span class="font-weight-bold">{{questions.length}}</span></p>
        </v-card-title>

        <v-data-table
          :headers="headers"
          :items="questions"
          :search="search"
          class="elevation-0"
          hide-actions
          :pagination.sync="pagination"
          sort-icon='sort'
        >
          <template v-slot:items="props">
            <td class="">{{ props.item.question }}</td>
            <td class="">{{ props.item.type }}</td>
            <td class="">{{ props.item.answer }}</td>
            <td class="">{{ props.item.key_answer }}</td>
            <td class="text-xs-center">
              <v-menu bottom left>
                <template v-slot:activator="{ on }">
                  <v-btn icon v-on="on">
                    <v-icon>more_vert</v-icon>
                  </v-btn>
                </template>

                <v-list dense>
                  
                  <v-list-tile :to="'/quiz/'+props.item._id+'/detail'">
                    <v-list-tile-title>Lihat Detail</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile :to="'/quiz/'+props.item._id+'/question'">
                    <v-list-tile-title>Manajemen Soal</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile :to="'/quiz/'+props.item._id">
                    <v-list-tile-title>Edit Kuis</v-list-tile-title>
                  </v-list-tile>
                  <v-divider></v-divider>
                  <v-list-tile class="pointer" @click="deleteQuiz(props.item)">
                    <v-list-tile-content>
                      <v-list-tile-title>Hapus Kuis</v-list-tile-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                      <v-icon color="red darken-2">delete</v-icon>
                    </v-list-tile-action>
                  </v-list-tile>
                </v-list>
              </v-menu>
            </td>
          </template>
        </v-data-table>
        <div class="text-xs-center pt-2">
          <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
        </div>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
  components: {
    Logo,
    VuetifyLogo
  },

  head: {
    titleTemplate: (titleChunk) => {
      // If undefined or blank then we don't need the hyphen
      return titleChunk ? `Manajemen Kuis - ${titleChunk}` : 'Manajemen Kuis';
    },
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },

      // hid is used as unique identifier. Do not use `vmid` for it as it will not work
      // { hid: 'description', name: 'description', content: 'Meta description' }
    ]
  },

  data() {
    return {
      search: '',

      headers: [
        { text: 'Teks Soal', align: 'left', value: 'question' },
        { text: 'Tipe', align: 'left', value: 'type' },
        { text: 'Jawaban', align: 'left', value: 'answer' },
        { text: 'Kunci Jawaban', align: 'left', value: 'key_answer' },
        { text: 'Actions', align: 'left', value: 'actions', sortable: false },
      ],

      questions: [
        { _id: 'quest1', question: 'Hewan Apakah ini?', type: 'basic', answer: 'gajah', key_answer: 'gajah' },
        { _id: 'quest2', question: 'Buah Apakah ini?', type: 'basic', answer: 'anggur', key_answer: 'anggur' },
        { _id: 'quest3', question: 'Tanaman Apakah ini?', type: 'essay', answer: '', key_answer: 'Jawaban harus mengarah ke hal yang' },
        { _id: 'quest4', question: 'Hewan Apakah ini?', type: 'basic', answer: 'gajah', key_answer: 'gajah' },
        { _id: 'quest5', question: 'Buah Apakah ini?', type: 'basic', answer: 'anggur', key_answer: 'anggur' },
        { _id: 'quest6', question: 'Tanaman Apakah ini?', type: 'essay', answer: '', key_answer: 'Jawaban harus mengarah ke hal yang' },
        { _id: 'quest7', question: 'Hewan Apakah ini?', type: 'basic', answer: 'gajah', key_answer: 'gajah' },
        { _id: 'quest8', question: 'Buah Apakah ini?', type: 'basic', answer: 'anggur', key_answer: 'anggur' },
        { _id: 'quest9', question: 'Tanaman Apakah ini?', type: 'essay', answer: '', key_answer: 'Jawaban harus mengarah ke hal yang' },
        { _id: 'quest10', question: 'Hewan Apakah ini?', type: 'basic', answer: 'gajah', key_answer: 'gajah' },
        { _id: 'quest11', question: 'Buah Apakah ini?', type: 'basic', answer: 'anggur', key_answer: 'anggur' },
        { _id: 'quest12', question: 'Tanaman Apakah ini?', type: 'essay', answer: '', key_answer: 'Jawaban harus mengarah ke hal yang' },
      ],

      pagination: {},
    }
  },

  computed: {
    pages () {
      if (this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) return 0

      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
    }
  },

  methods: {
    convertDate(jsonDate) {
      var date = new Date(jsonDate).toLocaleString('id-ID')
      var day =  new Date(jsonDate).getDay().toLocaleString('id-ID')
      const days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu']
      return days[day] + ', ' + date
    }
  },
}
</script>
