<template>
  <v-layout column class="pa-4">
    <v-layout class="py-4" row>
      <v-hover>
        <v-icon slot-scope="{hover}" :color="`${ hover ? 'primary' : 'grey'}`" class="pointer pr-4" @click="$router.go(-1)">
          keyboard_arrow_left
        </v-icon>
      </v-hover>
      <v-flex xs12 sm6 class="d-flex">
        <p class="title" style="margin: auto">{{ isEdit ? "Ubah Kuis" : "Tambah Kuis"}}</p>
      </v-flex>
    </v-layout>

    <v-layout column align-center justify-center style="height: 75vh" v-if="loadingData.state == true">
        <v-progress-circular
            :size="55" class="ma-4"
            color="primary2"
            indeterminate
        ></v-progress-circular>
        {{loadingData.message}}
    </v-layout>

    <template v-else>
      <v-card class="white mb-4" flat style="border-radius: 20px; padding: 20px">
        <v-layout row wrap>
          <v-flex xs12 sm8>
            <v-card-title class="headline">Data Kuis</v-card-title>
            <v-card-text>
              <label for="quiz_name">Judul Kuis</label>
              <v-text-field
                single-line solo autofocus
                background-color="lighten-3 grey"
                placeholder="Masukkan judul kuis" flat
                v-model="quiz_name"
                id="quiz_name"
              ></v-text-field>

              <label for="quiz_type">Tipe Kuis</label>
              <v-select
                single-line solo
                background-color="lighten-3 grey"
                placeholder="Pilih Tipe Kuis" flat
                clearable
                v-model="quizType"
                append-icon="expand_more"
                :items="listQuizType"
                item-value="value" item-text="name"
                id="quizType"
              ></v-select>

              <!-- <v-layout>
                <v-flex xs12 sm6 class="pr-2">
                  <label for="department">Tingkat</label>
                  <v-select
                    single-line solo
                    background-color="lighten-3 grey"
                    placeholder="Pilih Jurusan / Tingkatan" flat
                    append-icon="expand_more"
                    :items="$store.state.level"
                    v-model="department"
                    id="department"
                  ></v-select>
                </v-flex>
                <v-flex xs12 sm6 class="pl-2">
                  <label for="grade">Kelas</label>
                  <v-select
                    single-line solo
                    background-color="lighten-3 grey"
                    placeholder="Pilih Kelas" flat
                    v-model="grade"
                    append-icon="expand_more"
                    :items="$store.state.grades"
                    id="grade"
                  ></v-select>
                </v-flex>
              </v-layout> -->
              
              <label for="lesson">Subjek</label>
              <v-select
                single-line solo
                background-color="lighten-3 grey"
                placeholder="Pilih Subjek" flat
                v-model="subject"
                append-icon="expand_more"
                :items="lessons"
                item-value="value" item-text="name"
                id="subject"
                
              ></v-select>
              
              <!-- <label for="duration">Durasi (Menit)</label>
              <v-text-field
                single-line solo
                background-color="lighten-3 grey"
                placeholder="Durasi Kuis (Menit)" flat
                v-model="duration"
                id="duration"
              ></v-text-field> -->

              <v-layout v-for="(item, index) in listFlow" :key="index" column wrap>
                <label for="flow1">{{item.name}}</label>
                <v-layout row wrap>
                  <v-flex xs4 sm4>
                    <v-select
                      :items="listB"
                      item-value="_id" item-text="name"
                      :rules="[v => !!v || 'Grup kuis harus diisi']"
                      single-line solo flat
                      background-color="lighten-3 grey"
                      label="Grup Kuis"
                      v-model="item.flow.b"
                      id="difficulty"
                    ></v-select>
                  </v-flex>
                  <v-flex xs4 sm4 class="pl-2">
                    <v-select
                      :items="listM"
                      item-value="_id" item-text="name"
                      :rules="[v => !!v || 'Grup kuis harus diisi']"
                      single-line solo flat
                      background-color="lighten-3 grey"
                      label="Grup Kuis"
                      v-model="item.flow.m"
                      id="difficulty"
                    ></v-select>
                  </v-flex>
                  <v-flex xs4 sm4 class="pl-2">
                    <v-select
                      :items="listC"
                      item-value="_id" item-text="name"
                      :rules="[v => !!v || 'Grup kuis harus diisi']"
                      single-line solo flat
                      background-color="lighten-3 grey"
                      label="Grup Kuis"
                      v-model="item.flow.c"
                      id="difficulty"
                    ></v-select>
                  </v-flex>
                </v-layout>
              </v-layout>

              <!-- <v-btn @click="check">Check</v-btn> -->

              <!-- <label for="department">Tipe Kuis</label>
              <v-select
                single-line solo return-object
                background-color="lighten-3 grey"
                placeholder="Pilih Tipe Kuis" flat
                append-icon="expand_more"
                :items="quiz_types"
                v-model="quiz_type"
                id="department"
              ></v-select> -->

              <label for="">Tanggal dan Waktu Mulai</label>
              <v-layout>
                <v-flex xs12 sm6 class="pr-2">
                  <v-menu
                    v-model="startDate.menu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy offset-y full-width
                    transition="scale-transition"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        background-color="lighten-3 grey"
                        single-line solo flat
                        v-model="startDate.date"
                        append-icon="event"
                        v-on="on"
                        placeholder="Tanggal Mulai"
                      ></v-text-field>
                    </template>
                    <v-date-picker color="primary2" class="black--text" v-model="startDate.date" @input="startDate.menu = false"></v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex xs12 sm6 class="pl-2">
                  <v-menu
                    ref="menu"
                    v-model="startDate.menu2"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    :return-value.sync="startDate.menu2"
                    lazy transition="scale-transition"
                    offset-y full-width
                    max-width="290px"
                    min-width="290px"
                    placeholder="Waktu Mulai"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        background-color="lighten-3 grey"
                        single-line solo flat
                        v-model="startDate.time"
                        append-icon="access_time"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-time-picker
                      v-if="startDate.time"
                      v-model="startDate.time"
                      full-width
                      @click:minute="$refs.menu.save(startDate.time)"
                    ></v-time-picker>
                  </v-menu>
                </v-flex>
              </v-layout>

              <label for="">Tanggal dan Waktu Selesai</label>
              <v-layout>
                <v-flex xs12 sm6 class="pr-2">
                  <v-menu
                    v-model="endDate.menu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy offset-y full-width
                    transition="scale-transition"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        background-color="lighten-3 grey"
                        single-line solo flat
                        v-model="endDate.date"
                        append-icon="event"
                        v-on="on" 
                        placeholder="Tanggal Mulai"
                      ></v-text-field>
                    </template>
                    <v-date-picker color="primary2" class="black--text" v-model="endDate.date" @input="endDate.menu = false"></v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex xs12 sm6 class="pl-2">
                  <v-menu
                    ref="menu"
                    v-model="endDate.menu2"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    :return-value.sync="endDate.menu2"
                    lazy transition="scale-transition"
                    offset-y full-width
                    max-width="290px"
                    min-width="290px"
                    placeholder="Waktu Mulai"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        background-color="lighten-3 grey"
                        single-line solo flat
                        v-model="endDate.time"
                        append-icon="access_time"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-time-picker
                      v-if="endDate.time"
                      v-model="endDate.time"
                      full-width
                      @click:minute="$refs.menu.save(endDate.time)"
                    ></v-time-picker>
                  </v-menu>
                </v-flex>
              </v-layout>

              <label for="lesson">Provinsi</label>
              <v-select
                single-line solo
                background-color="lighten-3 grey"
                placeholder="Pilih Provinsi" flat
                clearable
                v-model="province"
                append-icon="expand_more"
                :items="listRegion"
                item-value="_id" item-text="name"
                id="province"
                @change="onProvinceSelect"
              ></v-select>

              <label for="lesson">Kota/Kabupaten</label>
              <v-select
                single-line solo
                background-color="lighten-3 grey"
                placeholder="Pilih Kota/Kabupaten" flat
                clearable
                v-model="city"
                append-icon="expand_more"
                :items="listCities"
                item-value="_id" item-text="name"
                id="city"
                @change="onCitySelect"
              ></v-select>

              <label for="lesson">Kecamatan</label>
              <v-select
                single-line solo
                background-color="lighten-3 grey"
                placeholder="Pilih Kecamatan" flat
                clearable
                v-model="subDistrict"
                append-icon="expand_more"
                :items="listSubDistrict"
                item-value="_id" item-text="name"
                id="subDistrict"
              ></v-select>

              <label for="rules">Peraturan Kuis</label>
              <vue-editor useCustomImageHandler @image-added="handleImageAdded" :editorOptions="editorSettings" id="rules" v-model="rules" class="mb-3"></vue-editor>

            </v-card-text>
          </v-flex>
        </v-layout>
      </v-card>

    <!-- <v-card class="white mb-4" flat style="border-radius: 20px; padding: 20px">
      <v-layout row wrap>
        <v-flex xs12 sm8>
          <v-card-title class="headline">Assign Institusi</v-card-title>
          <v-card-text v-if="$auth.$state.user.role == 'pusat'">
            <label for="lesson">Provinsi</label>
            <v-autocomplete
              multiple chips
              single-line solo
              background-color="lighten-3 grey"
              placeholder="Pilih Provinsi" flat
              v-model="province"
              append-icon="expand_more"
              item-value="id" item-text="name"
              :items="provinces"
              id="lesson"
              @change="getCities()"
            ></v-autocomplete>

            <template v-if="province">
              <label for="city">Kota/Kabupaten</label>
              <v-autocomplete
                :items="cities"
                multiple chips
                item-value="id" item-text="name"
                id="city" placeholder="Pilih Kota/Kabupaten"
                v-model="city"
                single-line solo flat
                append-icon="expand_more"
                background-color="lighten-3 grey"
              ></v-autocomplete>
            </template>
          </v-card-text>
          <v-card-text v-else-if="$auth.$state.user.role == 'kkg'">
            <template>
              <label for="school">Sekolah</label>
              <v-autocomplete
                :items="schools"
                multiple chips
                item-value="id" item-text="name"
                id="school" placeholder="Pilih Sekolah"
                v-model="school"
                single-line solo flat
                append-icon="expand_more"
                background-color="lighten-3 grey"
              ></v-autocomplete>
            </template>
          </v-card-text>
        </v-flex>
      </v-layout>
    </v-card> -->

      <v-card class="white" flat style="border-radius: 20px; padding: 20px">
        <v-card-title class="headline">Kelola Soal</v-card-title>
        <v-layout v-for="(item, index) in classes" :key="index">
          <v-card class="white" flat style="border-radius: 10px; border: 1px solid grey !important; margin: 10px; width: 100%;">
            <v-layout align-start justify-space-between row style="background-color: #f2f2f2;">
              <p class="pl-2 mb-2" style="margin-top: 10px;">Grade {{item.grade}}</p>
              <v-layout row justify-end>
                <v-btn class="elevation-0" small @click="item.isExpand = !item.isExpand" style="border: 1px solid grey; min-width: 50px;">
                  <v-icon small>{{ item.isExpand ? "expand_less" : "expand_more" }}</v-icon>
                </v-btn>
                <!-- <v-btn class="red elevation-0" small @click="getQuestions" style="min-width: 50px;">
                  <v-icon color="white" small>delete</v-icon>
                </v-btn> -->
              </v-layout>
              
            </v-layout>

            <v-layout v-show="item.isExpand" v-for="(data, index) in item.questions" :key="index" style="padding: 15px;" column wrap>
              <v-layout align-start justify-space-between row style="border-radius: 10px; background-color: #f2f2f2; padding: 10px;">
                <label for="kel_soal">{{data.groupName}} - {{data.questionIds.length}} dari 3 Soal</label>
              </v-layout>
              <v-layout v-for="(soal, index) in data.questionIds" :key="index" column wrap>
                <v-card-text v-if="questions.filter(item => { return item._id == soal}).length > 0" class="px-2 py-3" style="border: 1px solid grey; border-radius: 10px; margin: 10px; max-width: 390px;">
                  <div v-html="questions.filter(item => { return item._id == soal})[0].question">
                  </div>
                
                  <template v-if="questions.filter(item => { return item._id == soal})[0].type == 'PGK'">
                    <v-layout row wrap v-if="questions.filter(item => { return item._id == soal})[0].answers">
                      <v-flex xs12 class="mb-2 pa-2 text-xs-center" style="border: 2px solid grey;"
                        v-for="(answer, index) in questions.filter(item => { return item._id == soal})[0].answers" :key="index"
                      > 
                        <v-layout style="cursor: pointer" row align-center justify-space-between>
                          <div v-html="answer"></div>
                          <!-- <div>
                            <v-checkbox v-model="checkbox[index]" color='green darken-2'></v-checkbox>
                          </div> -->
                        </v-layout>
                      </v-flex>
                    </v-layout>
                  </template>
                  
                  <template v-if="questions.filter(item => { return item._id == soal})[0].type == 'PG'">
                    <v-layout row wrap v-if="questions.filter(item => { return item._id == soal})[0].answers">
                      <v-flex xs12 class="pa-1" style="cursor: pointer"
                        v-for="(answer, index) in questions.filter(item => { return item._id == soal})[0].answers" :key="index"
                      > 
                        <div class="pa-2 text-xs-center" style="border: 1px solid grey; border-radius: 10px;" v-html="answer"></div> 
                      </v-flex>
                    </v-layout>
                  </template>

                  <p class="mb-2">
                    <b>Kode Soal : </b>{{questions.filter(item => { return item._id == soal})[0].code}}
                  </p>

                  <p class="mb-2">
                    <b>Kunci Jawaban</b>
                  </p>

                  <div class="mb-1 ml-3 font-weight-medium" v-for="(item, index) in questions.filter(item => { return item._id == soal})[0].correctAnswers" :key="index">
                    <div :key="latex" v-html="item"></div>
                  </div>
                </v-card-text>
                <v-btn v-if="data.questionIds.length != 0" class="red elevation-0" small style="min-width: 50px; max-width: 50px;" @click="deleteQuestion(item, data, soal)">
                  <v-icon normal style="color: white;">
                    delete
                  </v-icon>
                </v-btn>
              </v-layout>

              <v-btn v-if="data.questionIds.length < 3" class="primary elevation-0" small style="min-width: 50px; max-width: 50px;" @click="addQuestion(item, data)">
                <v-icon>
                  add
                </v-icon>
              </v-btn>
            </v-layout>
            
          </v-card>
        </v-layout>
        <v-layout row justify-end>
          <v-btn class="primary elevation-0" normal @click="validate">{{ isEdit ? "Ubah Kuis" : "Buat Kuis" }}
            <v-icon normal>
              {{isEdit ? 'create' : 'add' }}
            </v-icon>
          </v-btn>
        </v-layout>
      </v-card>
    </template>
    <v-dialog
        ref="dialog"
        v-model="dialogQuestion"
        
        persistent
        width="100%"
    >
      <v-card class="white" flat style="border-radius: 20px; padding: 20px">
        <h3>Pilih Soal</h3>

        <v-form ref="form">
          <h3 class="pl-2 mb-2">Cari Soal  </h3>

          <!-- <v-flex xs12 sm8 class="px-2 pt-0">
            <label for="kode_soal_search">Kode Soal</label>
            <v-text-field
              single-line solo flat
              background-color="lighten-3 grey"
              label="Kode Soal"
              v-model="kode_soal_search"
              clearable
              id="kode_soal_search"
              append-icon="search"
              v-on:keyup.enter="getQuestions()"
              @click:append="getQuestions()"
            ></v-text-field>
          </v-flex> -->
          <v-layout column wrap>
            
            <v-flex  xs12 sm4 class="px-2 pt-0">
              <label for="kode_soal">Kode Soal</label>
              <v-text-field
                single-line solo flat
                background-color="lighten-3 grey"
                label="Kode Soal"
                v-model="kode_soal_search"
                clearable
                id="kode_soal"
                
                v-on:keyup.enter="getQuestions(false)"
                
              ></v-text-field>
            </v-flex>
            <v-layout row wrap>
              <v-flex  xs12 sm6 class="px-2 pt-0">
                <label for="kode_soal">Subjek</label>
                <v-select
                  :items="lessons"
                  item-value="value" item-text="name"
                  single-line solo flat
                  clearable
                  background-color="lighten-3 grey"
                  label="Subjek"
                  v-model="lesson"
                  id="lesson"
                  
                ></v-select>
              </v-flex>
              <v-flex  xs12 sm6 class="px-2 pt-0">
                <label for="grade">Grade</label>
                <v-select
                  :items="classes"
                  item-value="grade" item-text="grade"
                  single-line solo flat
                  clearable
                  background-color="lighten-3 grey"
                  label="Grade"
                  v-model="gradeFilter"
                  id="grade"
                  @change="onGradeSelected"
                ></v-select>
              </v-flex>
            </v-layout>

            <v-layout row wrap>
              <v-flex  xs12 sm6 class="px-2 pt-0">
                <label for="cog_domain">Kognitif Domain</label>
                <v-select
                    :items="listCogDomain"
                    item-value="_id" item-text="name"
                    :rules="[v => !!v || 'Kognitif Domain harus diisi']"
                    single-line solo flat
                    clearable
                    background-color="lighten-3 grey"
                    label="Kognitif Domain"
                    v-model="cogDomain"
                    id="cog_domain"
                    @change="selectedDomain('cognitive')"></v-select>
              </v-flex>
              <v-flex  xs12 sm6 class="px-2 pt-0">
                <label for="cog_subdomain">Kognitif Subdomain</label>
                <v-select
                  :items="listCogSubDomain"
                  item-value="_id" item-text="name"
                  :rules="[v => !!v || 'Kognitif Subdomain harus diisi']"
                  single-line solo flat
                  clearable
                  background-color="lighten-3 grey"
                  label="Kognitif Subdomain"
                  v-model="cogSubDomain"
                  id="cog_subdomain"
                  
                ></v-select>
              </v-flex>
            </v-layout>

            <v-layout row wrap>
              <v-flex  xs12 sm6 class="px-2 pt-0">
                <label for="con_domain">Konten Domain</label>
                <v-select
                  :items="listConDomain"
                  item-value="_id" item-text="name"
                  :rules="[v => !!v || 'Konten Domain harus diisi']"
                  single-line solo flat
                  clearable
                  background-color="lighten-3 grey"
                  label="Konten Domain"
                  v-model="conDomain"
                  id="con_domain"
                  @change="selectedDomain('content')"
                  
                ></v-select>
              </v-flex>
              <v-flex  xs12 sm6 class="px-2 pt-0">
                <label for="con_subdomain">Konten Subdomain</label>
                <v-select
                  :items="listConSubDomain"
                  item-value="_id" item-text="name"
                  :rules="[v => !!v || 'Konten Subdomain harus diisi']"
                  single-line solo flat
                  clearable
                  background-color="lighten-3 grey"
                  label="Konten Subdomain"
                  v-model="conSubDomain"
                  id="con_subdomain"
                  
                ></v-select>
              </v-flex>
            </v-layout>

            <v-layout row justify-end style="margin-top: 30px;">
              <v-btn class="primary" flat @click="getQuestions(false)">Filter</v-btn>
            </v-layout>
          </v-layout>
        </v-form>

        <p class="right subtitle grey--text">Soal Terpilih : {{listQuest.length}} Soal</p>
        <v-data-table
          :headers="headers"
          :items="questionsFilter"
          class="elevation-0"
          :pagination.sync="pagination"
          :loading="questionLoading"
          
          item-key="id"
          :no-data-text="questionLoading ? 'Memuat soal...' : 'Tidak ada soal.'"
          hide-actions
        > 
          <template slot="headers" slot-scope="props">
            <tr>
              <th
                v-for="header in props.headers"
                :key="header.text"
                :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                @click="changeSort(header.value)"
              >
                <v-layout align-start>
                  {{ header.text }} &nbsp;
                  <v-img src="/sort.png" width="16px" max-width="16px" height="16px" contain @click.stop ></v-img>
                </v-layout>
              </th>
            </tr>
          </template>
          <template v-slot:items="props">
            <td class="">{{props.item.code}}</td>
            <td class="" v-if="props.item.type">{{props.item.type}}</td>
            <td class="" v-if="props.item.subject">{{props.item.subject == "L" ? "Literasi" : "Numerasi"}}</td>
            <td class="" v-if="props.item.cognitiveDomainDetail.name">{{ props.item.cognitiveDomainDetail.name }}</td>
            <td class="" v-if="props.item.cognitiveSubDomainDetail.name">{{ props.item.cognitiveSubDomainDetail.name }}</td>
            <td class="" v-if="props.item.contentDomainDetail.name">{{ props.item.contentDomainDetail.name }}</td>
            <td class="" v-if="props.item.contentSubDomainDetail.name">{{ props.item.contentSubDomainDetail.name }}</td>
            <td class="" v-if="props.item.difficulty">{{ props.item.difficulty }}</td>
            <td class="">
              <v-layout row>
                <v-btn v-if="listQuest.indexOf(props.item._id) == -1" class="primary2 white--text" small @click="select(props.item._id)">Pilih</v-btn>
                <v-btn v-else class="error white--text" small @click="unselect(props.item._id)">Batal</v-btn>
                <v-btn class="primary2--text" flat small @click="preview(props.item)" :loading="loading_preview">Preview</v-btn>
              </v-layout>
            </td>
            
          </template>
        </v-data-table>

        <div class="text-xs-center pt-2">
          <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
        </div>

        <p class="right subtitle grey--text">Soal Terpilih : {{listQuest.length}} Soal</p>

        <v-card-text>
        <v-layout row justify-end style="margin-top: 30px;">
          <v-btn class="primary--text transparent" small flat @click="dialogQuestion = false">Batal</v-btn>
          <v-btn class="primary" small @click="check" :loading="loading" :disabled="listQuest.length == 0">Pilih</v-btn>
        </v-layout>
          
        </v-card-text>
      </v-card>  
    </v-dialog>

    <successDialog></successDialog>
    <previewDialog></previewDialog>
  </v-layout>
</template>

<script>
import successDialog from '~/components/dialog.vue'
import previewDialog from '~/components/preview.vue'
// import questions_data from './questions.JSON'

export default {
  components:{
    successDialog,
    previewDialog
  },

  data() {
    return {
      quiz_name: '',
      department: 'SD',
      lesson: '',
      grade: '2',
      duration: 120,
      selectedQuestions: [],
      loading_preview: false,

      provinces: {},
      province: "",
      schools: {},
      school: [],
      cities: {},
      city: "",

      startDate: {
        menu: false,
        menu2: false,
        date: new Date().toISOString().slice(0,10),
        time: '08:00'
      },
      endDate: {
        menu: false,
        menu2: false,
        date: new Date().toISOString().slice(0,10),
        time: '10:00'
      },
      
      lessons_list: {
        'N': 'Numerasi',
        'L': 'Literasi'
      },

      literasi: {
        kd: [
          { text: 'Akses', value: 'A' },
          { text: 'Interpretasi', value: 'I' },
          { text: 'Evaluasi dan Refleksi', value: 'E' },
        ],
        cp: [
          { text: 'Teks Sastra', value: 'S' },
          { text: 'Teks Informasi', value: 'F' }
        ],
        skki: [
          { text: 'Personal', value: 'Personal'},
          { text: 'Sosial Budaya', value: 'Sosial Budaya'},
          { text: 'Saintifik', value: 'Saintifik'}
        ]
      },
      numerasi: {
        cp: [
          { text: 'Bilangan', value: 'B' },
          { text: 'Aljabar', value: 'A' },
          { text: 'Geometri', value: 'G' },
          { text: 'Data', value: 'D' }
        ],
        kd: [
          { text: 'Knowing', value: 'K' },
          { text: 'Applying', value: 'A' },
          { text: 'Reasoning', value: 'R' },
        ],
        skki: [
          { text: 'Personal', value: 'Personal'},
          { text: 'Sosial Budaya', value: 'Sosial Budaya'},
          { text: 'Saintifik', value: 'Saintifik'}
        ]
      },

      quiz_types: [
        { value: 'fix', text: 'Fix Test' },
        { value: 'adaptive', text: 'Adaptive Test' },
        { value: 'pretest', text: 'Pretest' },
      ],
      quiz_type: { value: 'fix', text: 'Fix Test' },

      kd: {
        kode: "KD",
        description: ""
      },
      cakupan_materi: {
        kode: "CP",
        description: ""
      },
      subkurikulum: {
        kelas: "2",
        jenjang: "SD"
      },
      skki: {
        kode: "SKKI",
        description: ""
      },
      lesson_search: 'N',

      types: {
        'PGK': 'Pilihan Ganda Kompleks',
        'PG': 'Pilihan Ganda',
        // 'Ess': 'Essay',
        // 'CPN': 'Isian Singkat Angka',
        // 'CPS': 'Isian Singkat Kata',
        // 'Mtx': 'Matrix',
        // 'Mtch': 'Menjodohkan',
      },

      questionType: [
        { name: "Pilihan Ganda", value: "PG" },
        { name: "Pilihan Ganda Kompleks", value: "PGK" }
      ],

      listQuizType: [
        { name: "Pilot", value: "pilot" },
        { name: "Implementasi", value: "implementasi" }
      ],

      lessons: [
        { name: 'Literasi', value: 'L' }, 
        { name: 'Numerasi', value: 'N'} 
      ],

      headers: [
        { text: 'Kode Soal', align: 'left', value: 'kode_soal' },
        { text: 'Type', align: 'left', value: 'kd.kode' },
        { text: 'Subject', align: 'left', value: 'cakupan_materi.kode' },
        { text: 'Kognitif Domain', align: 'left', value: 'subkurikulum.kelas' },
        { text: 'Kognitif Subdomain', align: 'left', value: 'skki.kode' },
        { text: 'Konten Domain', align: 'left', value: 'soal.type' },
        { text: 'Konten Subdomain', align: 'left', value: 'lesson' },
        { text: 'Kesulitan', align: 'left', value: 'subkurikulum.grup' },
        // { text: 'Status', align: 'left', value: '', sortable: false },
        { text: 'Aksi', align: 'left', value: '', sortable: false },
      ],

      listDifficulty: [
        { name: 'Mudah', value: "Mudah"},
        { name: 'Sedang', value: "Sedang"},
        { name: 'Sulit', value: "Sulit"},
      ],

      questionLoading: false,
      questions: [],
      questionsFilter: [],
      selectedQuest: [],
      
      loading: false,
      loadingData: {
          state: false,
          message: ''
      },
      pagination: {},

      kelas: '2',
      jenjang: 'SD',

      kode_soal_search: '',
      questionCode: '',
      type: '',
      listCogDomain: [],
      listCogSubDomain: [],
      listConDomain: [],
      listConSubDomain: [],
      subject: '',
      cogDomain: '',
      cogSubDomain: '',
      conDomain: '',
      conSubDomain: '',
      difficulty: '',
      question: [],
      _id: '',
      isEdit: false,

      listFlow: [
        {name: "Alur 1", flow: {b: "", m: "", c: ""}}, 
        {name: "Alur 2", flow: {b: "", m: "", c: ""}}, 
        {name: "Alur 3", flow: {b: "", m: "", c: ""}}, 
        {name: "Alur 4", flow: {b: "", m: "", c: ""}}, 
        {name: "Alur 5", flow: {b: "", m: "", c: ""}}, 
        {name: "Alur 6", flow: {b: "", m: "", c: ""}}, 
      ],
      listB: [
        {name: "B1", value: "B1"}, 
        {name: "B2", value: "B2"},
        {name: "B3", value: "B3"},
      ],
      listM: [
        {name: "M1", value: "M1"}, 
        {name: "M2", value: "M2"},
        {name: "M3", value: "M3"},
      ],
      listC: [
        {name: "C1", value: "C1"}, 
        {name: "C2", value: "C2"},
        {name: "C3", value: "C3"},
      ],

      classes: [
        {
          grade: "1",
          isExpand: true,
          questions: [
            {
              groupName: "B1",
              questionIds: []
            },
            {
              groupName: "B2",
              questionIds: []
            },
            {
              groupName: "B3",
              questionIds: []
            },
            {
              groupName: "M1",
              questionIds: []
            },
            {
              groupName: "M2",
              questionIds: []
            },
            {
              groupName: "M3",
              questionIds: []
            },
            {
              groupName: "C1",
              questionIds: []
            },
            {
              groupName: "C2",
              questionIds: []
            },
            {
              groupName: "C3",
              questionIds: []
            },
          ]
        },
        {
          grade: "2",
          isExpand: false,
          questions: [
            {
              groupName: "B1",
              questionIds: []
            },
            {
              groupName: "B2",
              questionIds: []
            },
            {
              groupName: "B3",
              questionIds: []
            },
            {
              groupName: "M1",
              questionIds: []
            },
            {
              groupName: "M2",
              questionIds: []
            },
            {
              groupName: "M3",
              questionIds: []
            },
            {
              groupName: "C1",
              questionIds: []
            },
            {
              groupName: "C2",
              questionIds: []
            },
            {
              groupName: "C3",
              questionIds: []
            },
          ]
        },
        {
          grade: "3",
          isExpand: false,
          questions: [
            {
              groupName: "B1",
              questionIds: []
            },
            {
              groupName: "B2",
              questionIds: []
            },
            {
              groupName: "B3",
              questionIds: []
            },
            {
              groupName: "M1",
              questionIds: []
            },
            {
              groupName: "M2",
              questionIds: []
            },
            {
              groupName: "M3",
              questionIds: []
            },
            {
              groupName: "C1",
              questionIds: []
            },
            {
              groupName: "C2",
              questionIds: []
            },
            {
              groupName: "C3",
              questionIds: []
            },
          ]
        },
        {
          grade: "4",
          isExpand: false,
          questions: [
            {
              groupName: "B1",
              questionIds: []
            },
            {
              groupName: "B2",
              questionIds: []
            },
            {
              groupName: "B3",
              questionIds: []
            },
            {
              groupName: "M1",
              questionIds: []
            },
            {
              groupName: "M2",
              questionIds: []
            },
            {
              groupName: "M3",
              questionIds: []
            },
            {
              groupName: "C1",
              questionIds: []
            },
            {
              groupName: "C2",
              questionIds: []
            },
            {
              groupName: "C3",
              questionIds: []
            },
          ]
        },
        {
          grade: "5",
          isExpand: false,
          questions: [
            {
              groupName: "B1",
              questionIds: []
            },
            {
              groupName: "B2",
              questionIds: []
            },
            {
              groupName: "B3",
              questionIds: []
            },
            {
              groupName: "M1",
              questionIds: []
            },
            {
              groupName: "M2",
              questionIds: []
            },
            {
              groupName: "M3",
              questionIds: []
            },
            {
              groupName: "C1",
              questionIds: []
            },
            {
              groupName: "C2",
              questionIds: []
            },
            {
              groupName: "C3",
              questionIds: []
            },
          ]
        },
        {
          grade: "6",
          isExpand: false,
          questions: [
            {
              groupName: "B1",
              questionIds: []
            },
            {
              groupName: "B2",
              questionIds: []
            },
            {
              groupName: "B3",
              questionIds: []
            },
            {
              groupName: "M1",
              questionIds: []
            },
            {
              groupName: "M2",
              questionIds: []
            },
            {
              groupName: "M3",
              questionIds: []
            },
            {
              groupName: "C1",
              questionIds: []
            },
            {
              groupName: "C2",
              questionIds: []
            },
            {
              groupName: "C3",
              questionIds: []
            },
          ]
        },
        {
          grade: "7",
          isExpand: false,
          questions: [
            {
              groupName: "B1",
              questionIds: []
            },
            {
              groupName: "B2",
              questionIds: []
            },
            {
              groupName: "B3",
              questionIds: []
            },
            {
              groupName: "M1",
              questionIds: []
            },
            {
              groupName: "M2",
              questionIds: []
            },
            {
              groupName: "M3",
              questionIds: []
            },
            {
              groupName: "C1",
              questionIds: []
            },
            {
              groupName: "C2",
              questionIds: []
            },
            {
              groupName: "C3",
              questionIds: []
            },
          ]
        },
        {
          grade: "8",
          isExpand: false,
          questions: [
            {
              groupName: "B1",
              questionIds: []
            },
            {
              groupName: "B2",
              questionIds: []
            },
            {
              groupName: "B3",
              questionIds: []
            },
            {
              groupName: "M1",
              questionIds: []
            },
            {
              groupName: "M2",
              questionIds: []
            },
            {
              groupName: "M3",
              questionIds: []
            },
            {
              groupName: "C1",
              questionIds: []
            },
            {
              groupName: "C2",
              questionIds: []
            },
            {
              groupName: "C3",
              questionIds: []
            },
          ]
        },
        {
          grade: "9",
          isExpand: false,
          questions: [
            {
              groupName: "B1",
              questionIds: []
            },
            {
              groupName: "B2",
              questionIds: []
            },
            {
              groupName: "B3",
              questionIds: []
            },
            {
              groupName: "M1",
              questionIds: []
            },
            {
              groupName: "M2",
              questionIds: []
            },
            {
              groupName: "M3",
              questionIds: []
            },
            {
              groupName: "C1",
              questionIds: []
            },
            {
              groupName: "C2",
              questionIds: []
            },
            {
              groupName: "C3",
              questionIds: []
            },
          ]
        }
      ],

      flowGroup: [
        [],[],[],[],[],[]
      ],
      dialogQuestion: false,
      indexClasses: -1,
      indexQuest: -1,
      listClasses: [],
      listQuest: [],
      listRegion: [],
      listCities: [],
      listSubDistrict: [],
      listCogDomainOne: [],
      listConDomainOne: [],
      subDistrict: "",
      published: false,
      rules: "",
      quizType: "",
      editorSettings: {
        modules: {
          imageDrop: true,
          imageResize: {}
        }
      },
      gradeFilter: "",
    }
  },

  computed: {
    pages () {
      if (this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) return 0
      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
    }
  },

  watch: {
    'pagination.page': {
      handler() {
        this.getQuestions(true)
      }
    }
  },

  mounted() {
    // var questions_data = require('~/static/questions.json');
    // console.log(questions_data);
    // this.questions = questions_data.data
    // this.pagination.rowsPerPage = 6
    // this.pagination.totalItems = this.questions.lengths
    this.$ga.event({
      eventCategory: 'Quiz',
      eventAction: 'add_quiz',
      eventLabel: 'Quiz',
      eventValue: 0
    });
    this.$gAnalytic.track({category: "Quiz", action: "add_quiz", label: "Quiz"})
    this.getRegion();
    if (this.$auth.$state.user.role == 'kkg') {
      this.getSchools()
    } else if (this.$auth.$state.user.role == 'pusat') {
      this.getProvince()
    }
    
    setInterval(() => {
      this.reRender();
    }, 1000);
  },

  methods: {
    reRender() {
      
      if(window.MathJax) {
          console.log('rendering mathjax');
          window.MathJax.Hub.Queue(["Typeset", window.MathJax.Hub], () => console.log('done'));
      }
    },
    check() {
      this.dialogQuestion = false
      console.log(this.questionsFilter);
      this.indexClasses = -1;
      this.indexQuest = -1;
    },

    addQuestion(item, data) {
      this.kode_soal_search = "",
      this.lesson = "",
      this.cogDomain = "",
      this.cogSubDomain = "",
      this.conDomain = "",
      this.conSubDomain = "",
      this.getQuestions(true);
      this.dialogQuestion = true
      this.indexClasses = this.classes.indexOf(item);
      this.indexQuest = this.classes[this.indexClasses].questions.indexOf(data);
      console.log(item.grade, data.groupName, this.indexClasses, this.indexQuest);
    },deleteQuestion(item, data, id) {
      this.indexClasses = this.classes.indexOf(item);
      this.indexQuest = this.classes[this.indexClasses].questions.indexOf(data);
      
      let index_soal = this.classes[this.indexClasses].questions[this.indexQuest].questionIds.indexOf(id);
      this.classes[this.indexClasses].questions[this.indexQuest].questionIds.splice(index_soal, 1);
      this.listQuest.splice(index_soal, 1)
    },

    validate(){
      if (this.isEdit){
        this.editQuiz()
      } else {
        this.submitQuiz()
      }
    },

    async getRegion() {
      this.loadingData = { state: true, message: 'Memuat Kuis...'}
      try {
        const req = await this.$region.getRegion();

        if (req.status) {
          this.loading = false;
          this.listRegion = req.data;
          this.getMetadata();
        }
      } catch(e){
        this.loadingData.state = false;
        console.log(e.message);
      }
    },

    async getMetadata() {
      try {
        const req = await this.$domain.getDomain();

        if (req.status) {
          for (const i in req.data) {
            if (req.data[i].type == "cognitive") {
              this.listCogDomain.push(req.data[i]);
              this.listCogDomainOne.push(req.data[i]);
            }

            if (req.data[i].type == "content") {
              this.listConDomain.push(req.data[i]);
              this.listConDomainOne.push(req.data[i]);
            }
          }

          let jsonBody = localStorage.getItem("quizEditData");
          if (jsonBody != null && jsonBody != "") {
            this.isEdit = true;
            let data = JSON.parse(jsonBody);
            for (const key in data.flowGroup) {
              if (data.flowGroup.hasOwnProperty(key)) {
                const flow = data.flowGroup[key];
                console.log("check flow", this.listFlow[key].flow.b)
                this.listFlow[key].flow.b = flow[0]
                this.listFlow[key].flow.m = flow[1]
                this.listFlow[key].flow.c = flow[2]
              }
            }
            
            this._id = data._id;
            this.classes = data.classes;
            for (const key in this.classes) {
              if (this.classes.hasOwnProperty(key)) {
                const data = this.classes[key];
                data.isExpand = true;
              }
            }
            if (this.classes.length <= 6) {
              for (let index = 0; index < 3; index++) {
                let grade = ""+(index + 7);
                this.classes.push({
                  grade: grade,
                  isExpand: true,
                  questions: [
                    {
                      groupName: "B1",
                      questionIds: []
                    },
                    {
                      groupName: "B2",
                      questionIds: []
                    },
                    {
                      groupName: "B3",
                      questionIds: []
                    },
                    {
                      groupName: "M1",
                      questionIds: []
                    },
                    {
                      groupName: "M2",
                      questionIds: []
                    },
                    {
                      groupName: "M3",
                      questionIds: []
                    },
                    {
                      groupName: "C1",
                      questionIds: []
                    },
                    {
                      groupName: "C2",
                      questionIds: []
                    },
                    {
                      groupName: "C3",
                      questionIds: []
                    },
                  ]
                })
              }
            }
            console.log("check data classes", this.classes);
            this.quiz_name = data.name;
            this.duration = data.duration
            this.published = data.published;
            this.province = data.restriction.provinces.length > 0 ? data.restriction.provinces[0] : "";
            this.city = data.restriction.cities.length > 0 ? data.restriction.cities[0] : "";
            this.subDistrict = data.restriction.subDistrict.length > 0 ? data.restriction.subDistrict[0] : "";
            this.rules = data.rules;
            this.quizType = data.type;
            this.subject = data.questionSubject;
            let dateStart = new Date(data.restriction.startDateTime)
            let dateEnd = new Date(data.restriction.endDateTime)
            var minuteStart, minuteEnd, hourStart, hourEnd;
            if (dateStart.getMinutes() < 10) {
              minuteStart = "0" + dateStart.getMinutes();
            } else {
              minuteStart = dateStart.getMinutes();
            }

            if (dateEnd.getMinutes() < 10) {
              minuteEnd = "0" + dateEnd.getMinutes();
            } else {
              minuteEnd = dateEnd.getMinutes();
            }

            if (dateEnd.getHours() < 10) {
              hourEnd = "0" + dateEnd.getHours();
            } else {
              hourEnd = dateEnd.getHours();
            }

            if (dateStart.getHours() < 10) {
              hourStart = "0" + dateStart.getHours();
            } else {
              hourStart = dateStart.getHours();
            }
            this.startDate.date = dateStart.toISOString().slice(0,10)
            this.startDate.time = hourStart+ ":" +minuteStart
            this.endDate.date = dateEnd.toISOString().slice(0,10)
            this.endDate.time = hourEnd+ ":" +minuteEnd

            if (this.province != "" || this.city != "" || this.subDistrict != ""){
              var filterCities = this.listRegion.filter(item => { return item._id == this.province })[0]
              this.listCities = filterCities.cities;
              var filterSubDistrict = this.listCities.filter(item => { return item._id == this.city })[0]
              console.log("check cities", filterSubDistrict)
              this.listSubDistrict = filterSubDistrict.subDistricts;
            }
            
          }

          this.loadingData.state = false;
        }

      } catch (error) {
        console.log(error.message);
        setTimeout(() => {
          this.loadingData.state = false;
        }, 500);
      }
    },

    onGradeSelected() {
      var listCon = this.listConDomainOne.filter(item => { return item.subject == this.lesson && item.grade == this.gradeFilter })
      if (listCon != null) {
        this.listConDomain = listCon;
        // this.listConSubDomain = listCon.subIds;
      }
      console.log(listCon, this.lesson, this.grade)
    },

    clickExpand(index) {
      this.classes[index].isExpand = !this.classes[index].isExpand
      console.log(this.classes[index].isExpand);
      // item.isExpand = !item.isExpand
    },

    async getDomain(type) {
      try {
        const req = await this.$question.getDomain({
          type: type
        });

        console.log(req);
      } catch (error) {
        console.log(error.message);
      }
    },

    selectedDomain(type) {
      if (type == "cognitive") {
        var list = this.listCogDomain.filter(item => { return item._id == this.cogDomain })[0]
        this.listCogSubDomain = list.subIds;
        console.log(this.listCogSubDomain);
      } else {
        var list = this.listConDomain.filter(item => { return item._id == this.conDomain })[0]
        this.listConSubDomain = list.subIds;
        console.log(this.listConSubDomain);
      }
      
    },

    async getProvince() {
      try {
        const req = await this.$region.getProvinces()
        this.provinces = req

      } catch (error) {
        console.log(error.response);
      }
    },

    async getCities() {
      this.cities = []
      try {
        for (const x in this.province) {
          if (this.province.hasOwnProperty(x)) {
            const element = this.province[x];
            const req = await this.$region.getCities({ provinceId: element })

            for (const y in req) {
              if (req.hasOwnProperty(y)) {
                const city = req[y];
                this.cities.push(city)
                
              }
            }
          }
        }

        console.log(this.cities);

      } catch (error) {
        console.log(error.response);
      }
    },

    async getSchools() {
      try {
        const req = await this.$institution.getSchool()
        console.log('institutions : ', req);
        this.schools = req.data

      } catch (error) {
        alert('Failed to get school')
        console.log(error.response);
      }
    },

    async getQuestions(reload) {
      this.questionLoading = true
      try {
        const req = await this.$question.getBankSoal({
          code: this.kode_soal_search,
          subject: this.lesson,
          cognitiveDomain: this.cogDomain,
          cognitiveSubDomain: this.cogSubDomain,
          contentDomain: this.conDomain,
          contentSubDomain: this.conSubDomain,
        })

        if (reload) {
          this.questions = req.data
        }
        
        this.questionsFilter = req.data
        this.pagination.rowsPerPage = 6
        this.pagination.totalItems = req.data.length

        setTimeout(() => {
          this.questionLoading = false
        }, 500);
      } catch (error) {
        console.log(error.response);
        setTimeout(() => {
          this.questionLoading = false
        }, 500);
      }
    },

    onProvinceSelect(){
      if (this.province != "" && this.province != null) {
        var list = this.listRegion.filter(item => { return item._id == this.province })[0]
        this.listCities = list.cities;
      } else {
        this.listCities = [];
      }
    },

    onCitySelect(){
      if (this.city != "" && this.city != null) {
        var list = this.listCities.filter(item => { return item._id == this.city })[0]
        this.listSubDistrict = list.subDistricts;
      } else {
        this.listSubDistrict = [];
      }
    },

    async submitQuiz() {
      this.loadingData = { state: true, message: 'Menambahkan Kuis...'}
      try {
        var listFlowGroup = []
        for (const key in this.listFlow) {
          if (this.listFlow.hasOwnProperty(key)) {
            const element = this.listFlow[key];
            
            if (element.flow.b != "" && element.flow.m != "" && element.flow.c != ""){
              var flow = [this.listFlow[key].flow.b, this.listFlow[key].flow.m, this.listFlow[key].flow.c] 
              listFlowGroup.push(flow);
            }
            
          }
        }

        // console.log(listFlowGroup);
        // delete this.classes['isExpand'];
        const req = await this.$quiz.addQuiz({
          name: this.quiz_name,
          classes: this.classes,
          duration: this.duration,
          published: this.published,
          flowGroup: listFlowGroup,
          startDateTime: this.startDate.date + 'T' + this.startDate.time+ ':00.000Z',
          endDateTime: this.endDate.date + 'T' + this.endDate.time+ ':00.000Z',
          provinces: this.province != "" ? [this.province] : [],
          cities: this.city != "" ? [this.city] : [],
          subDistrict: this.subDistrict != "" ? [this.subDistrict] : [],
          rules: this.rules,
          type: this.quizType,
          questionSubject: this.subject
        });

        this.loadingData.state = false
        this.$store.commit('openDialog', {
          class: 'success', 
          title: 'Berhasil', 
          message: 'Berhasil menambahkan Kuis', 
          target: '/quiz'
        })
      } catch (error) {
        console.log(error.message);
        setTimeout(() => {
            this.loadingData.state = false

            this.$store.commit('openDialog', {
                class: 'failed', 
                title: 'Gagal', 
                message: 'Gagal menambahkan Kuis', 
                target: '/quiz/add'
            })
        }, 500);
      }
    },

    async editQuiz() {
      this.loadingData = { state: true, message: 'Merubah Kuis...'}
      try {
        var listFlowGroup = []
        for (const key in this.listFlow) {
          if (this.listFlow.hasOwnProperty(key)) {
            const element = this.listFlow[key];
            
            if (element.flow.b != "" && element.flow.m != "" && element.flow.c != ""){
              var flow = [this.listFlow[key].flow.b, this.listFlow[key].flow.m, this.listFlow[key].flow.c] 
              listFlowGroup.push(flow);
            }
            
          }
        }

        // console.log(listFlowGroup);
        // delete this.classes['isExpand'];
        let restriction = {
          startDateTime: this.startDate.date + 'T' + this.startDate.time+ ':00.000Z',
          endDateTime: this.endDate.date + 'T' + this.endDate.time+ ':00.000Z',
          provinces: this.province != "" ? [this.province] : [],
          cities: this.city != "" ? [this.city] : [],
          subDistrict: this.subDistrict != "" ? [this.subDistrict] : [],
        }
        const req = await this.$quiz.editQuiz({
          _id: this._id,
          item: {
            name: this.quiz_name,
            classes: this.classes,
            duration: this.duration,
            published: this.published,
            flowGroup: listFlowGroup,
            restriction: restriction,
            rules: this.rules,
            type: this.quizType,
            questionSubject: this.subject
          },
        });

        this.loadingData.state = false
        this.$store.commit('openDialog', {
          class: 'success', 
          title: 'Berhasil', 
          message: 'Berhasil merubah Kuis', 
          target: '/quiz'
        })
      } catch (error) {
        console.log(error.message);
        setTimeout(() => {
            this.loadingData.state = false

            this.$store.commit('openDialog', {
                class: 'failed', 
                title: 'Gagal', 
                message: 'Gagal merubah Kuis', 
                target: '/quiz/add'
            })
        }, 500);
      }
    },

    async submit() {
      // console.log('province :', this.province);
      // console.log('school :', this.school);
      // console.log('city :', this.city);
      this.loading = true
      try {
        const req = await this.$quiz.createQuiz({
          name: this.quiz_name,
          questions: this.selectedQuestions,
          department: this.department,
          lesson: this.lesson,
          grade: this.grade,
          duration: this.duration * 60,
          type: this.quiz_type.value,
          startDateTime: this.startDate.date + 'T' + this.startDate.time + ':00+00:00',
          endDateTime: this.endDate.date + 'T' + this.endDate.time + ':00+00:00',
          allowedFor: {
            schools: this.school,
            cities: this.city,
            provinces: this.province
          }
        })

        if (req.meta.code == 200) {
          setTimeout(() => {
            this.loading = false  
          }, 500);

          this.$store.commit('openDialog', {
            title: 'Berhasil', 
            class: 'success',
            message: 'Berhasil menambahkan quiz '+ this.quiz_name, 
            target: '/quiz'
          })
        }
      } catch (error) {
        console.log(error.response);
        setTimeout(() => {
          this.loading = false  
        }, 500);
      }
    },

    changeSort (column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending
      } else {
        this.pagination.sortBy = column
        this.pagination.descending = false
      }
    },

    select(id) {
      this.classes[this.indexClasses].questions[this.indexQuest].questionIds.push(id);
      this.listQuest.push(id)
      console.log(this.questions);
      // this.selectedQuestions.push(id)
    },

    unselect(id) {
      // let index_soal = this.selectedQuestions.indexOf(id)
      let index_soal = this.classes[this.indexClasses].questions[this.indexQuest].questionIds.indexOf(id);
      this.classes[this.indexClasses].questions[this.indexQuest].questionIds.splice(index_soal, 1);
      this.listQuest.splice(index_soal, 1)
      // this.selectedQuestions.splice(index_soal, 1) 
    },

    async preview(data) {
      console.log(data);
      
      this.loading_preview = true
      try {
        // const req = await this.$question.getSIAPQuestionsById({
        //   kode_soal: data
        // })

        // this.$store.commit('pratinjau', {
        //   status: true,
        //   data: data
        // })
        localStorage.setItem('previewQuestion', JSON.stringify(data))
        let routeData = this.$router.resolve({path: '/banksoal/preview_question'});
        window.open(routeData.href, '_blank');

        setTimeout(() => {
          this.loading_preview = false
        }, 300);

        // this.questions_ready.push(req.data[0].soal[0])
      } catch (error) {
        console.log('element error : ', error);   
      }
    },
    
    handleImageAdded(file, Editor, cursorLocation, resetUploader) {
      console.log('file : ',file);
      console.log('Editor : ',Editor);
      console.log('cursorLocation : ',cursorLocation);
      console.log('resetUploader : ',resetUploader);

      if ((file.type == 'image/jpg' || file.type == 'image/jpeg') && file.size < 250000) {
        // alert(file.type == 'image/jpg' || file.type == 'image/jpeg' || file.size < 250000)
        var reader = new FileReader();
        var b64str

        reader.readAsDataURL(file);
        reader.onload = ()=> {
          // return reader.result
        };

        reader.onerror = (error)=> {
          console.log('Error: ', error);
        };

        reader.onloadend = () => {
          b64str = reader.result
          Editor.insertEmbed(cursorLocation, 'image', b64str);
        }

        console.log(this.soal[0]);
        resetUploader()
      } else {
        alert('Gambar harus JPG/JPEG, tidak boleh lebih dari 100KB')
        resetUploader()
      }
    },
  },
}
</script>