<template>
  <v-layout column class="pa-4">
    <v-layout class="py-4" row wrap>
      <v-flex xs12 sm6 class="d-flex">
        <p class="title font-weight-bold libre-franklin" style="margin: auto">Manajemen Kuis</p>
      </v-flex>
      <v-flex xs12 sm6>
        <v-layout justify-end>
          <v-btn v-if="($auth.$state.user.role == 'kkg' || $auth.$state.user.role == 'pusat') && quizes.length > 0" class="primary2 font-weight-bold f-btn white--text" @click="add">Tambah Kuis</v-btn>
          <div class="my-2 input-icon-container text-xs-right" style="height: 40px">
            <input type="text" v-model="search" placeholder="Pencarian" style="padding: 5px 15px; margin: auto; width: 250px; height: 40px; background: white"> 
            <v-icon class="ma-2">search</v-icon>
          </div>
        </v-layout>
      </v-flex>
    </v-layout>

    <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
      <v-progress-circular
        :size="55" class="ma-4"
        color="primary2"
        indeterminate
      ></v-progress-circular>
      {{loading.message}}
    </v-layout>

    <template v-else>
      <!-- <v-layout class="py-3" row wrap>
        <v-chip dark class="pointer primary2 white--text pt-sans font-weight-bold">
          Kuis Saya
        </v-chip>
        <v-chip class="pointer white pt-sans primary_light">
          Semua Kuis
        </v-chip>
      </v-layout> -->

      <v-layout column align-center justify-center style="height: 75vh" v-if="quizes.length == 0">
        <v-img src="illus-not-found.png" width="200" contain></v-img>
        <p class="my-4 title text-align-center font-weight-bold">Belum ada Data Kuis</p>
        <v-btn
          class="primary2--text font-weight-bold elevation-0" to="/banksoal/add" 
          
        >Tambah Soal</v-btn>
        <!-- v-if="$auth.$state.user.role == 'kkg' || $auth.$state.user.role == 'pusat'" -->
        <v-btn
          class="primary2 font-weight-bold white--text" to="/banksoal" 
          
        >Bank Soal</v-btn>
        <!-- v-if="$auth.$state.user.role == 'kkg' || $auth.$state.user.role == 'pusat'" -->
        <v-btn  class="mb-5 primary2 font-weight-bold f-btn white--text" @click="add">Tambah Kuis</v-btn>
        <!-- v-if="$auth.$state.user.role == 'kkg' || $auth.$state.user.role == 'pusat'" -->
      </v-layout>

      <v-flex xs12 sm8 md6 v-else>
        <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px">
          <v-card-title class="pt-4 px-4 pb-0">
            <p style="font-size: 16px;">
              Total Data : 
              <span class="font-weight-bold">{{quizes.length}}</span>
            </p>
            <v-spacer/>
            <v-btn
              class="primary2 font-weight-bold white--text" to="/banksoal"
            >Bank Soal</v-btn>
            <v-btn  class="primary2 font-weight-bold white--text" @click="add">Tambah Kuis</v-btn>
          </v-card-title>

          <v-data-table
            :headers="headers"
            :items="quizes"
            class="elevation-0"
            hide-actions
            :pagination.sync="pagination"
            sort-icon='sort'
          > 
            <template slot="headers" slot-scope="props">
              <tr>
                <th
                  v-for="header in props.headers"
                  :key="header.text"
                  :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                  @click="changeSort(header.value)"
                >
                  <v-layout align-start>
                    {{ header.text }} &nbsp;
                    <v-img src="/sort.png" width="16px" max-width="16px" height="16px" contain @click.stop ></v-img>
                  </v-layout>
                </th>
              </tr>
            </template>
            <template v-slot:items="props">
              <td class="">
                {{ !props.item.published ? "Ditutup" : "Dibuka" }}
                <!-- <v-btn v-if="!props.item.published" class="primary2 white--text" small  @click="openQuiz(props.item)">Buka</v-btn>
                <v-btn v-else class="error white--text" small  @click="closeQuiz(props.item)">Tutup</v-btn> -->
              </td>
              <td class="">{{ props.item.name }}</td>
              <!-- <td class="">{{ lessons[props.item.lesson] }}</td> -->
              <td class="">{{ props.item.duration ? props.item.duration + ' menit' : '-' }}</td>
              <td class="">
                <v-layout column align-center justify-center v-if="loading_preview">
                  <v-progress-circular
                    :size="16" class="ma-4"
                    color="primary2"
                    indeterminate
                  ></v-progress-circular>
                </v-layout>
                <v-menu bottom left v-else>
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                      <v-icon>more_vert</v-icon>
                    </v-btn>
                  </template>

                  <v-list dense>
                    <!-- <v-list-tile @click="getAllQuestions(props.item.questions)">
                      <v-list-tile-title>Preview</v-list-tile-title>
                    </v-list-tile> -->
                    <v-list-tile @click="{{ props.item.published ? closeQuiz(props.item) : openQuiz(props.item) }}">
                      <v-list-tile-title>{{ props.item.published ? "Tutup Kuis" : "Buka Kuis" }}</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile :disabled="props.item.published" @click="edit(props.item)">
                      <v-list-tile-title>Ubah Kuis</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="copyQuiz(props.item)">
                      <v-list-tile-title>Salin Kuis</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="$router.push('/result?id='+props.item._id+'&name='+props.item.name+'&type='+props.item.type)">
                      <v-list-tile-title>Hasil Kuis</v-list-tile-title>
                    </v-list-tile>

                    <v-divider></v-divider>
                    <v-list-tile @click="deleteQuiz(props.item)">
                      <v-list-tile-title class="error--text">Hapus Kuis</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </td>
            </template>
          </v-data-table>
          <div class="text-xs-center pt-2">
            <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
          </div>
        </v-card>
        <successDialog></successDialog>
        <previewDialog></previewDialog>
      </v-flex>
    </template>
  </v-layout>
</template>

<script>
import successDialog from '~/components/dialog.vue'
import previewDialog from '~/components/preview.vue'

export default {
  components: {
    successDialog,
    previewDialog
  },

  data() {
    return {
      search: '',

      headers: [
        { text: 'Status', align: 'left', value: 'published' },
        { text: 'Nama Kuis', align: 'left', value: 'name' },
        // { text: 'Jumlah Soal', align: 'left', value: 'question.length' },
        { text: 'Durasi', align: 'left', value: 'duration' },
        { text: 'Actions', align: 'left', value: 'actions', sortable: false },
      ],

      quizes: [],

      pagination: {},

      lessons: {
        'N': 'Numerasi',
        'L': 'Literasi'
      },

      loading: {
        state: true,
        message: 'Memuat data Kuis'
      },

      quiz_types: {
        fix: 'Fix Test',
        adaptive: 'Adaptive Test',
        pretest: 'Pretest',
      },

      loading_preview: false,
      questionCount: 0,
    }
  },

  computed: {
    pages () {
      if (this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) return 0
      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
    }
  },

  mounted() {
    this.$ga.event({
      eventCategory: 'Quiz',
      eventAction: 'get_quiz',
      eventLabel: 'Quiz',
      eventValue: 0
    });
    this.$gAnalytic.track({category: "Quiz", action: "get_quiz", label: "Quiz"})
    this.getQuizes()
  },

  methods: {
    async getQuizes() {
      this.loading.state = true
      try {
        const req = await this.$quiz.getQuizes(
          // {startDateTime: new Date().toISOString().slice(0,10)}
          )

        console.log('quizes : ', req);
        this.quizes = req.data

        setTimeout(() => {
          this.loading.state = false
        }, 500);
        
      } catch (error) {
        console.log(error.response);
        
        setTimeout(() => {
          this.loading.state = false
        }, 500);
      }
    },

    convertDate(jsonDate) {
      var date = new Date(jsonDate).toLocaleString('id-ID')
      var day =  new Date(jsonDate).getDay().toLocaleString('id-ID')
      const days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu']
      return days[day] + ', ' + date
    },

    changeSort (column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending
      } else {
        this.pagination.sortBy = column
        this.pagination.descending = false
      }
    },

    add() {
      localStorage.setItem('quizEditData', "")
      localStorage.removeItem('quizEditData')
      this.$router.push('/quiz/add')
    },

    edit(item) {
      localStorage.setItem('quizEditData', JSON.stringify(item))
      this.$router.push('/quiz/add')
    },

    async copyQuiz(item) {
      if (confirm('Apakah anda yakin akan menyalin kuis '+item.name+'?' )) {
        this.loadingData = { state: true, message: 'Menyalin Kuis...'}
        try {
          // console.log(listFlowGroup);
          // delete this.classes['isExpand'];
          const req = await this.$quiz.addQuiz({
            name: item.name + " Copy",
            classes: item.classes,
            duration: item.duration,
            published: false,
            flowGroup: item.flowGroup,
            startDateTime: item.restriction.startDateTime,
            endDateTime: item.restriction.endDateTime,
            provinces: item.restriction.provinces,
            cities: item.restriction.cities,
            subDistrict: item.restriction.subDistrict,
            rules: item.rules,
            type: item.type,
            questionSubject: item.questionSubject
          });

          this.loadingData.state = false
          this.$store.commit('openDialog', {
            class: 'success', 
            title: 'Berhasil', 
            message: 'Berhasil menambahkan Kuis', 
            target: '/quiz'
          })
          this.getQuizes()
        } catch (error) {
          console.log(error.message);
          setTimeout(() => {
              this.loadingData.state = false

              this.$store.commit('openDialog', {
                  class: 'failed', 
                  title: 'Gagal', 
                  message: 'Gagal menambahkan Kuis', 
                  target: '/quiz/add'
              })
          }, 500);
        }
      }
    },

    rearange(item) {
      localStorage.setItem('quizEditData', JSON.stringify(item))
      this.$router.push('/quiz/rearange')
    },
    
    async openQuiz(item) {
      try {
        item.published = true;
        console.log("request", item);
        const req = await this.$quiz.editQuiz({ _id: item._id, item: item })
        // alert('Berhasil Membuka Kuis')
        if (req.status) {
          this.getQuizes()
          this.$store.commit('openDialog', {
            class: 'success', 
            title: 'Berhasil', 
            message: 'Berhasil membuka quiz', 
            target: '/quiz'
          })
        }
      } catch (error) {
        console.log('open Quiz : ', error.response);
        // alert('Gagal Membuka Kuis')
        this.$store.commit('openDialog', {
          class: 'error', 
          title: 'Gagal', 
          message: 'Gagal membuka quiz', 
          target: '/quiz'
        })
      }
    }, async closeQuiz(item) {
      try {
        item.published = false;
        const req = await this.$quiz.editQuiz({ _id: item._id, item: item })
        // alert('Berhasil Membuka Kuis')
        if (req.status) {
          this.getQuizes()
          this.$store.commit('openDialog', {
            class: 'success', 
            title: 'Berhasil', 
            message: 'Berhasil menutup quiz', 
            target: '/quiz'
          })
        }
      } catch (error) {
        console.log('close Quiz : ', error.response); 
        // alert('Gagal Menutup Kuis')
        this.$store.commit('openDialog', {
          class: 'error', 
          title: 'Gagal', 
          message: 'Gagal menutup quiz', 
          target: '/quiz'
        })
      }
    },

    preview(data) {
      // this.$store.commit('pratinjauKuis', {
      //   status: true,
      //   data: data
      // })
      localStorage.setItem('previewQuestion', JSON.stringify(data))
      let routeData = this.$router.resolve({path: '/banksoal/preview_question'});
      window.open(routeData.href, '_blank');
    },

    async deleteQuiz(item) {
      if (confirm('Apakah anda yakin akan menghapus '+item.name+'?' )) {
        try {
          const req = await this.$quiz.deleteQuiz({_id: item._id})
  
          if (req.status) {
            this.$store.commit('openDialog', {
              class: 'success', 
              title: 'Berhasil', 
              message: 'Berhasil menghapus quiz '+item.name, 
              target: '/quiz'
            })
          }

          this.getQuizes()
        } catch (error) {
          console.log(error.response);
        }
      }
    },

    async getAllQuestions(ids) {
      this.loading_preview = true
      this.questions_ready = []
      for (const key in ids) {
        if (ids.hasOwnProperty(key)) {
          const element = ids[key];
          
          try {
            const req = await this.$question.getSIAPQuestionsById({
              kode_soal: element
            })

            this.questions_ready.push(req.data[0].soal[0])
          } catch (error) {
            console.log('element error : ', error);   
          }
        }
      }

      this.preview(this.questions_ready)
      setTimeout(() => {
        this.loading_preview = false
      }, 500);
    }
  },
}
</script>
