<template>
  <v-layout column class="pa-4">
    <v-layout class="py-4" row>
      <v-hover>
        <v-icon slot-scope="{hover}" :color="`${ hover ? 'primary' : 'grey'}`" class="pointer pr-4" @click="$router.go(-1)">
          keyboard_arrow_left
        </v-icon>
      </v-hover>
      <v-flex xs12 sm6 class="d-flex">
        <p class="title" style="margin: auto">Edit Soal</p>
      </v-flex>
    </v-layout>

    <v-card class="white" flat style="border-radius: 20px; padding: 20px">
      <!-- <v-card-title class="pa-0">
        <p style="font-size: 16px;">Jumlah Soal : <span class="font-weight-bold">{{soal.length}}</span></p>
        <v-spacer></v-spacer>
        <v-btn class="primary" flat @click="add">Tambah Soal <v-icon small right>add</v-icon></v-btn>
      </v-card-title> -->
      
      <v-card-text class="pa-0">
        <v-form v-model="valid" ref="form">
          <h3 class="pl-2 mb-2">Meta : </h3>

          <p class="pl-2 ma-0">Mata Pelajaran</p>
          <v-layout row wrap>
            <v-flex xs12 sm8 class="pl-2">
              <v-select
                :items="lessons"
                item-value="value" item-text="name"
                :rules="[v => !!v || 'Kelas harus diisi']"
                single-line solo flat
                background-color="lighten-3 grey"
                label="Mata Pelajaran"
                v-model="lesson"
                id="lesson"
              ></v-select>
            </v-flex>
          </v-layout>

          <p class="pl-2 ma-0">Kompetensi Dasar (KD)</p>
          <v-layout row wrap>
            <v-flex xs12 sm4 class="pl-2">
              <v-select
                :items="lesson == 'L' ? literasi.kd : numerasi.kd"
                return-object
                :rules="[v => !!v || 'KD harus diisi']"
                single-line solo flat
                background-color="lighten-3 grey"
                label="Kompetensi Dasar"
                v-model="kd.kode"
                id="kd_code" @change="kd.description = kd.kode.text"
              ></v-select>
              <!-- <v-text-field
                :rules="[v => !!v || 'Kode KD harus diisi']"
                single-line solo flat
                background-color="lighten-3 grey"
                label="Kode"
                v-model="kd.kode"
                id="kd_code"
                counter="7"
                mask="KD#####"
              ></v-text-field> -->
            </v-flex>
            <v-flex xs12 sm8 class="pl-2">
              <v-text-field
                :rules="[v => !!v || 'Deskripsi KD harus diisi']"
                single-line solo flat
                background-color="lighten-3 grey"
                label="Deskripsi"
                v-model="kd.description"
                id="kd_desc"
              ></v-text-field>
            </v-flex>
          </v-layout>
          
          <p class="pl-2 ma-0">Cakupan Materi</p>
          <v-layout row wrap>
            <v-flex xs12 sm4 class="pl-2">
              <v-select
                :items="lesson == 'L' ? literasi.cp : numerasi.cp"
                return-object
                :rules="[v => !!v || 'Cakupan Materi harus diisi']"
                single-line solo flat
                background-color="lighten-3 grey"
                label="Cakupan Materi"
                v-model="cakupan_materi.kode"
                id="cm_code" @change="cakupan_materi.description = cakupan_materi.kode.text"
              ></v-select>
              <!-- <v-text-field
                :rules="[v => !!v || 'Kode cakupan materi harus diisi']"
                single-line solo flat
                background-color="lighten-3 grey"
                label="Kode"
                v-model="cakupan_materi.kode"
                id="cm_code"
                counter="6"
                mask="CP####"
              ></v-text-field> -->
            </v-flex>
            <v-flex xs12 sm8 class="pl-2">
              <v-text-field
                :rules="[v => !!v || 'Deskripsi cakupan materi harus diisi']"
                single-line solo flat
                background-color="lighten-3 grey"
                label="Deskripsi"
                v-model="cakupan_materi.description"
                id="cm_desc"
              ></v-text-field>
            </v-flex>
          </v-layout>

          <p class="pl-2 ma-0">SKKI</p>
          <v-layout row wrap>
            <v-flex xs12 sm4 class="pl-2">
              <v-select
                :items="lesson == 'L' ? literasi.skki : numerasi.skki"
                return-object
                :rules="[v => !!v || 'SKKI harus diisi']"
                single-line solo flat
                background-color="lighten-3 grey"
                label="SKKI"
                v-model="skki.kode"
                id="skki_code" @change="skki.description = skki.kode.text"
              ></v-select>
              <!-- <v-text-field
                :rules="[v => !!v || 'Kode SKKI harus diisi']"
                single-line solo flat
                background-color="lighten-3 grey"
                label="Kode"
                v-model="skki.kode"
                id="skki_code"
                counter="8"
                mask="SKKI####"
              ></v-text-field> -->
            </v-flex>
            <v-flex xs12 sm8 class="pl-2">
              <v-text-field
                :rules="[v => !!v || 'Deskripsi SKKI harus diisi']"
                single-line solo flat
                background-color="lighten-3 grey"
                label="Deskripsi"
                v-model="skki.description"
                id="skki_desc"
              ></v-text-field>
            </v-flex>
          </v-layout>
          
          <v-layout row wrap>
            <v-flex xs12 sm4 class="pl-2">
              <p class="ma-0">Kelas</p>
              <v-select
                :items="$store.state.grades"
                :rules="[v => !!v || 'Kelas harus diisi']"
                single-line solo flat
                background-color="lighten-3 grey"
                label="Kelas"
                v-model="subkurikulum.kelas"
                id="kelas"
              ></v-select>
            </v-flex>
            <v-flex xs12 sm4 class="pl-2">
              <p class="ma-0">Tingkat</p>
              <v-select
                :items="$store.state.level"
                :rules="[v => !!v || 'Jenjang harus diisi']"
                single-line solo flat
                background-color="lighten-3 grey"
                label="Jenjang"
                v-model="subkurikulum.jenjang"
                id="jenjang"
              ></v-select>
            </v-flex>
            <v-flex xs12 sm4 class="pl-2">
              <p class="ma-0">ID Grup</p>
              <v-text-field
                :rules="[v => !!v || 'ID Grup harus diisi']"
                single-line solo flat
                background-color="lighten-3 grey"
                label="Id Grup"
                v-model="subkurikulum.grup"
                id="grup"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>

      <v-card-title class="pa-0">
        <v-spacer></v-spacer>
        <v-btn class="primary" flat @click="validate">Kirim<v-icon small right>send</v-icon></v-btn>
      </v-card-title>
    </v-card>

    <v-card v-for="(item, index) in soal" :key="index" class="my-3" flat style="border-radius: 20px; padding: 20px">
      <!-- <v-card-title class="pa-0">
        <h3 class="pl-2 mb-2">Soal ke-{{index+1}} </h3>
        <v-spacer/>
        <v-btn class="primary" flat @click="add">Tambah Soal <v-icon small right>add</v-icon></v-btn>
        <v-btn class="red darken-1 white--text" flat @click="del(index)">Hapus<v-icon small right>delete</v-icon></v-btn>
      </v-card-title> -->

      <v-card-text>
        <label :for="'type'+index">Tipe Soal</label>
        <v-select 
          :id="'type'+index" label="Tipe Soal"
          v-model="item.type" solo flat
          append-icon="expand_more"
          background-color="lighten-3 grey"
          :items="types" item-value="value" item-text="name"
          @change="item.correct_answer = ['']"
        ></v-select>

        <label :for="'descriptiopn'+index">Deskripsi Soal</label>
        <vue-editor useCustomImageHandler @image-added="handleImageAdded" :editorOptions="editorSettings" :id="'description'+index" v-model="item.description" class="mb-3"></vue-editor>

        <v-divider class="my-4" />

        <template v-if="item.type == 'PGK'">
          <label :for="'correct_answer'+index">Jawaban</label>
          <v-layout column v-for="(answer, indexAnswer) in item.pg_answers" :key="indexAnswer">
            <v-card-title class="px-0 py-1">
              <v-spacer/>
              <v-btn 
                small flat class="primary" 
                @click="addMultipleAnswer(index, indexAnswer)" 
                v-if="item.pg_answers.length < 10"
              >
                Tambah Jawaban<v-icon small right>add</v-icon>
              </v-btn>

              <v-btn 
                small flat class="error" 
                @click="delMultipleAnswer(index, indexAnswer, answer)" 
                v-if="item.pg_answers.length > 3 && indexAnswer == item.pg_answers.length - 1"
              >
                Hapus Jawaban<v-icon small right>delete</v-icon>
              </v-btn>
            </v-card-title>
            <v-card-text class="pa-1">
              <vue-editor useCustomImageHandler @image-added="handleImageAdded" :editorOptions="editorSettings" :placeholder="'Pilihan Jawaban ' + answer" v-model="item.answer[answer]" :id="'correct_answer'+indexAnswer" class="mt-2"></vue-editor>
            </v-card-text>
          </v-layout>

          <label :for="'correct_answer'+index">Jawaban Benar</label>
          <v-layout row>
            <v-checkbox v-for="(answer, correctAnswerIndex) in item.pg_answers" :key="correctAnswerIndex" :label="`Opsi ${answer}`" :value="answer" v-model="item.correct_answer[correctAnswerIndex]"></v-checkbox>
          </v-layout>
        </template>
        
        <template v-if="item.type == 'PG'">
          <label :for="'correct_answer'+index">Jawaban</label>

          <v-layout column v-for="(answer, indexAnswer) in item.pg_answers" :key="indexAnswer">
            <v-card-title class="px-0 py-1">
              <v-spacer/>
              <v-btn small class="primary" flat @click="addMultipleAnswer(index, indexAnswer)" v-if="item.pg_answers.length < 10">Tambah Jawaban<v-icon small right>add</v-icon></v-btn>
              <v-btn small class="error" flat @click="delMultipleAnswer(index, indexAnswer, answer)" v-if="item.pg_answers.length > 3 && indexAnswer == item.pg_answers.length - 1">Hapus Jawaban<v-icon small right>delete</v-icon></v-btn>
            </v-card-title>
            <v-card-text class="pa-1">
              <vue-editor useCustomImageHandler @image-added="handleImageAdded" :editorOptions="editorSettings" :placeholder="'Pilihan Jawaban ' + answer" v-model="item.answer[answer]" :id="'correct_answer'+indexAnswer" class="mt-2"></vue-editor>
            </v-card-text>
          </v-layout>

          <label :for="'correct_answer'+index">Jawaban benar soal no {{index+1}} </label>
          <v-radio-group v-model="item.correct_answer[0]" row>
            <v-radio
              v-for="(answer, correctAnswerIndex) in item.pg_answers" :key="correctAnswerIndex"
              :label="`Opsi ${answer}`"
              :value="answer"
            ></v-radio>
          </v-radio-group>
        </template>

        <template v-if="item.type == 'Mtch'">
          <label :for="'correct_answer'+index">Jawaban</label>

          <v-layout column v-for="(answer, indexAnswer) in item.pg_answers" :key="indexAnswer">
            <!-- {{index +'-'+ indexAnswer  +'-'+  answer}} -->
            <v-card-title class="px-0 py-1">
              <v-spacer/>
              <v-btn small class="primary" flat @click="addMultipleAnswer(index, indexAnswer)" v-if="item.pg_answers.length < 10">Tambah Jawaban<v-icon small right>add</v-icon></v-btn>
              <v-btn small class="error" flat @click="() => {delMultipleAnswer(index, indexAnswer, answer), delMtchCol(index, indexAnswer, answer)}" v-if="item.pg_answers.length > 3 && indexAnswer == item.pg_answers.length - 1">Hapus Jawaban<v-icon small right>delete</v-icon></v-btn>
            </v-card-title>
            <v-card-text class="pa-1">
              <v-layout row wrap>
                <v-flex xs12 sm6 class="pa-1">
                  <vue-editor useCustomImageHandler @image-added="handleImageAdded" :editorOptions="editorSettings" :placeholder="'Pilihan Jawaban ' + answer" v-model="item.answer[answer]" :id="'correct_answer'+indexAnswer" class="mt-2"></vue-editor>
                </v-flex>
                <v-flex xs12 sm6 class="pa-1"> <!-- {{indexAnswer+1}} -->
                  <vue-editor useCustomImageHandler @image-added="handleImageAdded" :editorOptions="editorSettings" :placeholder="'Pasangan Jawaban ' + answer" v-model="item.mtx_col[indexAnswer+1]" :id="'mtx_col'+indexAnswer" class="mt-2"></vue-editor>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-layout>
        </template>

        <!-- {{item.mtx_col}} -->

        <template v-if="item.type == 'Mtx'">
          <span class="title">Kolom</span> <!-- {{ item.mtx_col }} -->
          <v-layout column v-for="(answer, indexCol) in item.mtx_col_key" :key="indexCol">
            <!-- {{answer}}-{{indexCol}}-{{item.mtx_col_key.length}} 
            <br>
            {{item.mtx_col_key.length >= 3}}-{{indexCol == item.mtx_col_key.length}} -->
            <v-card-title class="px-0 py-1">
              <span>{{'Kolom '+(indexCol+1)}}</span>
              <v-spacer/>
              <v-btn 
                small class="primary" flat @click="addMtxCol(index, indexCol+1)" 
                v-if="item.mtx_col_key.length < 4"
              >Tambah Kolom<v-icon small right>add</v-icon></v-btn>
              <v-btn 
                small class="error" flat @click="delMtxCol(index, indexCol, indexCol+1)" 
                v-if="item.mtx_col_key.length > 2 && indexCol == item.mtx_col_key.length - 1"
              >Hapus Kolom<v-icon small right>delete</v-icon></v-btn>
            </v-card-title>
            <v-card-text class="pa-1">
              <!-- {{answer}} -->
              <vue-editor useCustomImageHandler @image-added="handleImageAdded" :editorOptions="editorSettings" :placeholder="'Kolom ' + (indexCol+1)" v-model="item.mtx_col[indexCol+1]" :id="'mtx_col'+indexCol" class="mt-2"></vue-editor>
            </v-card-text>
          </v-layout>

          <br>

          <span class="title">Jawaban</span>
          <v-layout column v-for="(answer, indexAnswer) in item.pg_answers" :key="'answer'+indexAnswer">
            <v-card-title class="px-0 py-1">
              <v-spacer/>
              <v-btn small class="primary" flat @click="addMultipleAnswer(index, indexAnswer)" v-if="item.pg_answers.length < 10">Tambah Jawaban<v-icon small right>add</v-icon></v-btn>
              <v-btn small class="error" flat @click="delMultipleAnswer(index, indexAnswer, answer)" v-if="item.pg_answers.length > 3 && indexAnswer == item.pg_answers.length - 1">Hapus Jawaban<v-icon small right>delete</v-icon></v-btn>
            </v-card-title>
            <v-card-text class="pa-1">
              <vue-editor useCustomImageHandler @image-added="handleImageAdded" :editorOptions="editorSettings" :placeholder="'Jawaban ' + answer" v-model="item.answer[answer]" :id="'correct_answer'+indexAnswer" class="mt-2"></vue-editor>
            </v-card-text>
          </v-layout>

          <label :for="'correct_answer'+index">Jawaban benar soal no {{index+1}} </label>
          <v-layout row v-for="(answer, correctAnswerIndex) in item.pg_answers" :key="'mat'+correctAnswerIndex">
            <v-checkbox v-for="(col, colIndex) in item.mtx_col" :key="colIndex" :label="'Opsi ' + answer + colIndex" :value="answer+''+colIndex" v-model="item.correct_answer" class="mr-4"></v-checkbox>
            <!-- {{item.mtx_answers[correctAnswerIndex+'-'+colIndex]}} -->
          </v-layout>
        </template>

        <template v-if="item.type == 'CPN' || item.type == 'CPS'">
          <label :for="'correct_answer'+index">Jawaban Benar</label>
          <v-layout column v-for="(answer, correct_answer_index) in item.correct_answer" :key="correct_answer_index">
            <v-card-title class="px-0 py-1">
              <v-spacer/>
              <v-btn small class="primary" flat @click="addCPAnswer(index)" v-if="item.correct_answer.length < 10">Tambah Jawaban<v-icon small right>add</v-icon></v-btn>
              <v-btn small class="error" flat @click="delCPAnswer(index, correct_answer_index)" v-if="correct_answer_index > 0">Hapus Jawaban<v-icon small right>delete</v-icon></v-btn>
            </v-card-title>
            <v-text-field
              single-line solo flat
              background-color="lighten-3 grey"
              label="Masukkan Jawaban Benar"
              v-model="item.correct_answer[correct_answer_index]"
              :id="'correct_answer'+index"
            ></v-text-field>
          </v-layout>
        </template>

        <template v-if="item.type == 'Ess'">
          <label :for="'correct_answer'+index">Pedoman Jawaban</label>
          <v-text-field
            single-line solo flat
            background-color="lighten-3 grey"
            label="Masukkan Pedoman Jawaban"
            v-model="item.correct_answer[0]"
            :id="'correct_answer'+index"
          ></v-text-field>

          <label :for="'max_scoring_essay'+index">Nilai Essay Maksimal</label>
          <v-select
            :items="scoring"
            single-line solo flat
            background-color="lighten-3 grey"
            label="Nilai Essay Maksimal"
            v-model="item.max_scoring_essay"
            :id="'max_scoring_essay'+index"
          ></v-select>
        </template>
        
        <label :for="'additional_data'+index">Data Tambahan</label>
        <v-text-field
          single-line solo flat
          background-color="lighten-3 grey"
          label="Data Tambahan"
          v-model="item.additional_data"
          :id="'additional_data'+index"
        ></v-text-field>
        <!-- {{item}} -->
      </v-card-text>
    </v-card>

    <v-card class="my-3 grey lighten-2" flat style="border-radius: 20px; padding: 20px">
      <v-card-title class="pa-0">
        <p style="font-size: 16px;">Jumlah Soal : <span class="font-weight-bold">{{soal.length}}</span></p>
        <v-spacer></v-spacer>
        <v-btn class="primary" flat @click="validate">Kirim<v-icon small right>send</v-icon></v-btn>
      </v-card-title>
    </v-card>

    <previewDialog></previewDialog>
    <successDialog></successDialog>
  </v-layout>
</template>

<script>
import successDialog from '~/components/dialog.vue'
import previewDialog from '~/components/preview.vue'

export default {
  components:{
    successDialog,
    previewDialog
  },

  data() {
    return {
      valid: false, 
      types: [
        { id: 0, token: '%MODELSOAL-PG%', name: 'Pilihan Ganda', value: "PG" }, 
        { id: 1, token: '%MODELSOAL-PGK%', name: 'Pilihan Ganda Kompleks', value: "PGK" }, 
        { id: 2, token: '%MODELSOAL-CPS%', name: 'Isian Singkat Kata', value: "CPS" }, 
        { id: 3, token: '%MODELSOAL-CPN%', name: 'Isian Singkat Angka', value: "CPN" }, 
        { id: 4, token: '%MODELSOAL-ES%', name: 'Essay', value: "Ess" },
        { id: 5, token: '%MODELSOAL-MTX%', name: 'Matrix', value: "Mtx" },
        { id: 6, token: '%MODELSOAL-MCH%', name: 'Menjodohkan', value: "Mtch" }
      ],

      scoring: [1, 2],
      pg_answer_list: [ "A", "B", "C", "D", "E", "F", "G", "H", "I", "J" ],

      lessons: [
        { name: 'Literasi', value: 'L' }, 
        { name: 'Numerasi', value: 'N'} 
      ],
      lesson: '',

      editorSettings: {
        modules: {
          imageDrop: true,
          imageResize: {}
        }
      },

      literasi: {
        kd: [
          { text: 'Akses', value: 'A' },
          { text: 'Interpretasi', value: 'I' },
          { text: 'Evaluasi dan Refleksi', value: 'E' },
        ],
        cp: [
          { text: 'Teks Sastra', value: 'S' },
          { text: 'Teks Informasi', value: 'F' }
        ],
        skki: [
          { text: 'Personal', value: 'Personal'},
          { text: 'Sosial Budaya', value: 'Sosial Budaya'},
          { text: 'Saintifik', value: 'Saintifik'}
        ]
      },
      numerasi: {
        cp: [
          { text: 'Bilangan', value: 'B' },
          { text: 'Aljabar', value: 'A' },
          { text: 'Geometri', value: 'G' },
          { text: 'Data', value: 'D' }
        ],
        kd: [
          { text: 'Knowing', value: 'K' },
          { text: 'Applying', value: 'A' },
          { text: 'Reasoning', value: 'R' },
        ],
        skki: [
          { text: 'Personal', value: 'Personal'},
          { text: 'Sosial Budaya', value: 'Sosial Budaya'},
          { text: 'Saintifik', value: 'Saintifik'}
        ]
      },

      kd: {
        kode: "",
        description: ""
      },
      cakupan_materi: {
        kode: "",
        description: ""
      },
      subkurikulum: {
        kelas: "2",
        jenjang: "SD"
      },
      skki: {
        kode: "",
        description: ""
      },
      soal: [
        {
          indikator: {
            id: this.uuidv4(),
            description: ""
          },
          token: this.uuidv4(),
          // kode: "",
          type: "",
          id: this.uuidv4(),
          soal_id: Math.floor(100000 + Math.random() * 900000),
          soal_type: 1,
          wacana_id: this.uuidv4(),
          word_index: "",
          description: "",
          additional_data: "",
          pg_answers: ['A', 'B', 'C', 'D'],
          mtx_answers: {},
          mtx_col: {
            '1': '',
            '2': '',
            '3': '',
            '4': '',
          },
          mtx_col_key: ['A', 'B', 'C', 'D'],
          cps_answer_length: 1,
          answer: {},
          correct_answer: [''],
          max_scoring_essay: 1,
          // contoh answer -> A (pilihan ganda) / A1%^%E%^%A3%^%E%^% (Pilihan ganda kompleks / radio)
          correct_index: 0,
        }
      ]
    }
  },

  mounted() {
    this.getQuestionByKodeSoal()
  },

  methods: {
    validate () {
      
      if (this.soal[0].type == 'Mtch') {
        for (const x in this.soal[0].answer) {
          if (this.soal[0].answer.hasOwnProperty(x)) {
            const element = this.soal[0].answer[x];
            this.soal[0].correct_answer[this.pg_answer_list.indexOf(x)] = x +''+ (this.pg_answer_list.indexOf(x)+1)
          }
        }
      }
      console.log('soal', this.soal);
      // console.log('lesson', this.lesson);
      // console.log('kd', this.kd);
      // console.log('cakupan_materi', this.cakupan_materi);
      // console.log('skki', this.skki);
      
      // if (this.$refs.form.validate()) {
      //   console.log(this.lesson);
        this.submit()
      // }
    },

    async getQuestionByKodeSoal() {
      try {
        const req = await this.$question.getSIAPQuestionsById({
          kode_soal: this.$route.params.id
        })
        console.log(req.data[0].soal[0]);
        console.log(this.soal[0]);

        let data = req.data[0]
        this.lesson = data.lesson
        this.kd = data.kd
        this.cakupan_materi = data.cakupan_materi
        this.skki = data.skki
        this.subkurikulum = data.subkurikulum
        this.soal[0].type = data.soal[0].type
        this.soal[0].answer = data.soal[0].answer
        this.soal[0].correct_answer = data.soal[0].correct_answer
        this.soal[0].additional_data = data.soal[0].additional_data
        this.soal[0].description = data.soal[0].description
        this.soal[0].max_scoring_essay = data.soal[0].max_scoring_essay
        this.soal[0].mtx_col = data.soal[0].column

        if (data.soal[0].type == "PGK" || data.soal[0].type == "PG") {
          this.soal[0].pg_answers = []
          for (const x in data.soal[0].answer) {
            if (data.soal[0].answer.hasOwnProperty(x)) {
              const element = data.soal[0].answer[x];
                this.soal[0].pg_answers.push(x)
            }
          }
        } if (data.soal[0].type == "Mtch") {
          this.soal[0].pg_answers = []
          for (const x in data.soal[0].column) {
            if (data.soal[0].column.hasOwnProperty(x)) {
              const element = data.soal[0].column[x];
              console.log('mtch edit :', this.pg_answer_list[x-1]);  
              this.soal[0].pg_answers.push(this.pg_answer_list[x-1])
            }
          }
        } if (data.soal[0].type == "Mtx") {
          this.soal[0].mtx_col_key = []
          for (const x in data.soal[0].column) {
            if (data.soal[0].column.hasOwnProperty(x)) {
              const element = data.soal[0].column[x];
              console.log('mtch edit :', this.pg_answer_list[x-1]);  
              this.soal[0].mtx_col_key.push(this.pg_answer_list[x-1])
            }
          }

          this.soal[0].pg_answers = []
          for (const x in data.soal[0].answer) {
            if (data.soal[0].answer.hasOwnProperty(x)) {
              const element = data.soal[0].answer[x];
                this.soal[0].pg_answers.push(x)
            }
          }
        }
      } catch (error) {
        console.log(error.response);
      }
    },

    addMultipleAnswer(index, answerIndex) {
      let letter = this.soal[index].pg_answers.length
      this.soal[index].pg_answers.push(this.pg_answer_list[letter])
    }, delMultipleAnswer(index, answerIndex, letter) {
      // console.log(index, answerIndex);
      delete this.soal[index].answer[letter]
      this.soal[index].pg_answers.splice(answerIndex, 1)
    },
    
    addCPAnswer(index) {
      this.soal[index].correct_answer.push('')
    }, delCPAnswer(index, answerIndex) {
      // console.log(this.soal[index].answer);
      this.soal[index].correct_answer.splice(answerIndex, 1)
    },

    handleImageAdded(file, Editor, cursorLocation, resetUploader) {
      console.log('file : ',file);
      console.log('Editor : ',Editor);
      console.log('cursorLocation : ',cursorLocation);
      console.log('resetUploader : ',resetUploader);

      if ((file.type == 'image/jpg' || file.type == 'image/jpeg') && file.size < 250000) {
        // alert(file.type == 'image/jpg' || file.type == 'image/jpeg' || file.size < 250000)
        var reader = new FileReader();
        var b64str

        reader.readAsDataURL(file);
        reader.onload = ()=> {
          // return reader.result
        };

        reader.onerror = (error)=> {
          console.log('Error: ', error);
        };

        reader.onloadend = () => {
          b64str = reader.result
          this.str64 = reader.result
          Editor.insertEmbed(cursorLocation, 'image', b64str);
        }

        console.log(this.soal[0]);
        resetUploader()
      } else {
        alert('Gambar harus JPG/JPEG, tidak boleh lebih dari 100KB')
        resetUploader()
      }
    },

    addMtchCol(index, colIndex) {
      let letter = this.soal[index].mtx_col_key.length
      this.soal[index].mtx_col_key.push(this.pg_answer_list[letter])
    }, delMtchCol(index, colIndex, letter) {
      let keys = Object.keys(this.soal[index].mtx_col)
      console.log(letter, colIndex, keys[colIndex]);
      if (letter == undefined) {
        delete this.soal[index].mtx_col[keys[colIndex]]
      } else {
        delete this.soal[index].mtx_col[colIndex+1]
      }
      this.soal[index].mtx_col_key.splice(colIndex, 1)
    },
    
    addMtxCol(index, colIndex) {
      let letter = this.soal[index].mtx_col_key.length
      this.soal[index].mtx_col_key.push(this.pg_answer_list[letter])
    }, delMtxCol(index, colIndex, letter) {
      console.log(index, colIndex, letter);
      delete this.soal[index].mtx_col[colIndex+1]
      this.soal[index].mtx_col_key.splice(colIndex, 1)
      // this.soal[index]
    },

    async submit() {
      try {
        const req = await this.$question.editQuestion({
          id: this.$route.params.id,
          data: {
            soal: [{
              indikator: this.soal[0].indikator,
              token: this.soal[0].token,
              kode: this.soal[0].kode,
              type: this.soal[0].type,
              id: this.soal[0].id,
              soal_id: this.soal[0].soal_id,
              soal_type: this.soal[0].soal_type,
              wacana_id: this.soal[0].wacana_id,
              word_index: this.soal[0].word_index,
              description: this.soal[0].description,
              additional_data: this.soal[0].additional_data,
              max_scoring_essay: this.soal[0].max_scoring_essay,
              answer: this.soal[0].answer,
              column: this.soal[0].mtx_col,
              correct_answer: this.soal[0].correct_answer,
              correct_index: this.soal[0].correct_index,
              last_updated: new Date()
            }],
            lesson: this.lesson,
            subkurikulum: this.subkurikulum,
            kd: { 
              kode: this.kd.kode.value ? this.kd.kode.value : this.kd.kode, 
              description: this.kd.description 
            },
            cakupan_materi: { 
              kode: this.cakupan_materi.kode.value ? this.cakupan_materi.kode.value : this.cakupan_materi.kode, 
              description: this.cakupan_materi.description 
            },
            skki: { 
              kode: this.skki.kode.value ? this.skki.kode.value : this.skki.kode, 
              description: this.skki.description 
            },
            // kd: this.kd,
            // cakupan_materi: this.cakupan_materi,
            // skki: this.skki,
          }
        }) 

        console.log(req);

        this.$store.commit('openDialog', {
          class: 'success',
          title: 'Berhasil', 
          message: 'Berhasil mengubah soal', 
          target: '/banksoal'
        })
        
      } catch (error) {
        console.log(error.response);

        this.$store.commit('openDialog', {
          class: 'error',
          title: 'Gagal', 
          message: 'Gagal mengubah soal, ' + error.response.data.meta.message, 
          target: '/banksoal'
        })
        
      }
    },

    preview(data) {
      this.$store.commit('pratinjau', {
        status: true,
        data: data
      })
    },

    uuidv4() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
      });
    },

    // changeToken(index, type) {
    //   this.soal[index].token = this.tokens[type]
    // },

    getRand() {
      return Math.floor(100000 + Math.random() * 900000)
    }
  },
}
</script>
