<template>
  <v-layout column class="pa-4">
    <v-layout class="py-4" row>
      <v-hover>
        <v-icon slot-scope="{hover}" :color="`${ hover ? 'primary' : 'grey'}`" class="pointer pr-4" @click="$router.go(-1)">
          keyboard_arrow_left
        </v-icon>
      </v-hover>
      <v-flex xs12 sm6 class="d-flex">
        <p class="title" style="margin: auto">{{ isEdit ? "Sunting Soal" : "Tambah Bank Soal"}}</p>
      </v-flex>
    </v-layout>

    <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
        <v-progress-circular
            :size="55" class="ma-4"
            color="primary2"
            indeterminate
        ></v-progress-circular>
        {{loading.message}}
    </v-layout>

    <template v-else>
      <v-flex xs12 sm8 md6>
        <v-card class="white" flat style="border-radius: 20px; padding: 20px">
          <v-card-title class="pa-0">
            <p style="font-size: 16px;">Jumlah Soal : <span class="font-weight-bold">{{soal.length}}</span></p>
            <v-spacer></v-spacer>
            <v-btn class="primary" flat @click="add">Tambah Soal <v-icon small right>add</v-icon></v-btn>
          </v-card-title>
          
          <v-card-text class="pa-0">
            <v-form v-model="valid" ref="form">
              <h3 class="pl-2 mb-2">Meta : </h3>

              <p class="pl-2 ma-0">Subjek</p>
              <v-layout row wrap>
                <v-flex xs12 sm12 class="pl-2">
                  <v-select
                    :items="lessons"
                    item-value="value" item-text="name"
                    :rules="[v => !!v || 'Subjek harus diisi']"
                    single-line solo flat
                    background-color="lighten-3 grey"
                    label="Subjek"
                    v-model="lesson"
                    id="lesson"
                    @change="getDomain('cognitive')"
                  ></v-select>
                </v-flex>
              </v-layout>

              <p class="pl-2 ma-0">Grade</p>
              <v-layout row wrap>
                <v-flex xs12 sm12 class="pl-2">
                  <v-select
                      single-line solo
                      background-color="lighten-3 grey"
                      label="Pilih Grade" flat
                      v-model="grade"
                      @change="onGradeSelected"
                      :items="listGrade"
                      item-value="name" item-text="name"
                      id="grade"
                  ></v-select>
                </v-flex>
              </v-layout>

              <p class="pl-2 ma-0">Kognitif Domain</p>
              <v-layout row wrap>
                <v-flex xs12 sm12 class="pl-2">
                  <v-select
                    :items="listCogDomain"
                    item-value="_id" item-text="name"
                    :rules="[v => !!v || 'Kognitif Domain harus diisi']"
                    single-line solo flat
                    background-color="lighten-3 grey"
                    label="Kognitif Domain"
                    v-model="cogDomain"
                    id="cog_domain"
                    @change="selectedDomain('cognitive')"
                  ></v-select>
                </v-flex>
              </v-layout>
              
              <p class="pl-2 ma-0">Kognitif Subdomain</p>
              <v-layout row wrap>
                <v-flex xs12 sm12 class="pl-2">
                  <v-select
                    :items="listCogSubDomain"
                    item-value="_id" item-text="name"
                    :rules="[v => !!v || 'Kognitif Subdomain harus diisi']"
                    single-line solo flat
                    background-color="lighten-3 grey"
                    label="Kognitif Subdomain"
                    v-model="cogSubDomain"
                    id="cog_subdomain"
                  ></v-select>
                </v-flex>
              </v-layout>

              <p class="pl-2 ma-0">Konten Domain</p>
              <v-layout row wrap>
                <v-flex xs12 sm12 class="pl-2">
                  <v-select
                    :items="listConDomain"
                    item-value="_id" item-text="name"
                    :rules="[v => !!v || 'Konten Domain harus diisi']"
                    single-line solo flat
                    background-color="lighten-3 grey"
                    label="Konten Domain"
                    v-model="conDomain"
                    id="con_domain"
                    @change="selectedDomain('content')"
                  ></v-select>
                </v-flex>
              </v-layout>
              
              <p class="pl-2 ma-0">Konten Subdomain</p>
              <v-layout row wrap>
                <v-flex xs12 sm12 class="pl-2">
                  <v-select
                    :items="listConSubDomain"
                    item-value="_id" item-text="name"
                    :rules="[v => !!v || 'Konten Subdomain harus diisi']"
                    single-line solo flat
                    background-color="lighten-3 grey"
                    label="Konten Subdomain"
                    v-model="conSubDomain"
                    id="con_subdomain"
                  ></v-select>
                </v-flex>
              </v-layout>

              <p class="pl-2 ma-0">Tingkat Kesulitan</p>
              <v-layout row wrap>
                <v-flex xs12 sm12 class="pl-2">
                  <v-select
                    :items="listDifficulty"
                    item-value="_id" item-text="name"
                    :rules="[v => !!v || 'Tingkat Kesulitan harus diisi']"
                    single-line solo flat
                    background-color="lighten-3 grey"
                    label="Tingkat Kesulitan"
                    v-model="difficulty"
                    id="difficulty"
                  ></v-select>
                </v-flex>
              </v-layout>

              <!-- <v-flex xs12 sm12 class="pl-2">
                <v-text-field
                  :rules="[v => !!v || 'Tingkat Kesulitan harus diisi']"
                  single-line solo flat
                  background-color="lighten-3 grey"
                  label="Masukkan Tingkat Kesulitan"
                  v-model="difficulty"
                  id="difficulty"
                ></v-text-field>
              </v-flex> -->

            </v-form>
          </v-card-text>

          <!-- <v-card-title class="pa-0">
            <v-spacer></v-spacer>
            <v-btn class="primary" flat @click="validate">Kirim<v-icon small right>send</v-icon></v-btn>
          </v-card-title> -->
        </v-card>
      </v-flex>

      <v-card v-for="(item, index) in soal" :key="index" class="my-3" flat style="border-radius: 20px; padding: 20px">
        <v-card-title class="pa-0">
          <h3 class="pl-2 mb-2">
            Soal ke-{{index+1}}
          </h3>
          <v-spacer/>
          <v-btn class="primary" flat @click="add">Tambah Soal <v-icon small right>add</v-icon></v-btn>
          <v-btn class="primary" flat @click="preview(item)">Preview</v-btn>
          <v-btn class="red darken-1 white--text" flat @click="del(index)">Hapus<v-icon small right>delete</v-icon></v-btn>
        </v-card-title>

        <v-card-text>
          <!-- <label :for="'kode'+index">Kode Soal</label>
          <v-text-field
            single-line solo flat
            background-color="lighten-3 grey"
            label="Kode Soal"
            v-model="item.kode"
            :id="'kode'+index"
          ></v-text-field> -->

          <label :for="'kode'+index">Kode Soal</label>
          <v-flex>
            <v-text-field
              :rules="[v => !!v || 'Kode Soal harus diisi']"
              single-line solo flat
              background-color="lighten-3 grey"
              label="Masukkan Kode Soal"
              v-model="item.kode"
              :id="'kode'+index"
            ></v-text-field>
          </v-flex>

          <label :for="'type'+index">Tipe Soal</label>
          <v-select 
            :id="'type'+index" label="Tipe Soal"
            v-model="item.type" solo flat
            append-icon="expand_more"
            background-color="lighten-3 grey"
            :items="types" item-value="value" item-text="name"
            @change="item.correct_answer = ['']"
          ></v-select>

          <label :for="'descriptiopn'+index">Deskripsi Soal</label>
          
          <vue-editor useCustomImageHandler @image-added="handleImageAdded" :editorOptions="editorSettings" :id="'description'+index" v-model="item.description" class="mb-3"></vue-editor>
          <!-- <div :key="latex" v-html="latex"></div> -->
          <v-divider class="my-4" />

          <template v-if="item.type == 'PGK'">
            <label :for="'correct_answer'+index">Jawaban</label>
            <v-layout column v-for="(answer, indexAnswer) in item.pg_answers" :key="indexAnswer">
              <v-card-title class="px-0 py-1">
                <v-spacer/>
                <v-btn small class="primary" flat @click="addMultipleAnswer(index, indexAnswer)" v-if="item.pg_answers.length < 5">Tambah Jawaban<v-icon small right>add</v-icon></v-btn>
                <v-btn small class="error" flat @click="delMultipleAnswer(index, indexAnswer, answer)" v-if="item.pg_answers.length > 2 && indexAnswer == item.pg_answers.length - 1">Hapus Jawaban<v-icon small right>delete</v-icon></v-btn>
              </v-card-title>
              <v-card-text class="pa-1">
                <vue-editor useCustomImageHandler @image-added="handleImageAdded" :editorOptions="editorSettings" :placeholder="'Pilihan Jawaban ' + answer" v-model="item.answer[answer]" :id="'correct_answer'+indexAnswer" class="mt-2"></vue-editor>
              </v-card-text>
            </v-layout>

            <label :for="'correct_answer'+index">Jawaban Benar</label>
            <v-layout row>
              <v-checkbox v-for="(answer, correctAnswerIndex) in item.pg_answers" :key="correctAnswerIndex" :label="`Opsi ${answer}`" :value="answer" v-model="item.correct_answer[correctAnswerIndex]"></v-checkbox>
            </v-layout>
          </template>
          
          <template v-if="item.type == 'PG'">
            <label :for="'correct_answer'+index">Jawaban</label>

            <v-layout column v-for="(answer, indexAnswer) in item.pg_answers" :key="indexAnswer">
              <v-card-title class="px-0 py-1">
                <v-spacer/>
                <v-btn small class="primary" flat @click="addMultipleAnswer(index, indexAnswer)" v-if="item.pg_answers.length < 5">Tambah Jawaban<v-icon small right>add</v-icon></v-btn>
                <v-btn small class="error" flat @click="delMultipleAnswer(index, indexAnswer, answer)" v-if="item.pg_answers.length > 2 && indexAnswer == item.pg_answers.length - 1">Hapus Jawaban<v-icon small right>delete</v-icon></v-btn>
              </v-card-title>
              <v-card-text class="pa-1">
                <vue-editor useCustomImageHandler @image-added="handleImageAdded" :editorOptions="editorSettings" :placeholder="'Pilihan Jawaban ' + answer" v-model="item.answer[answer]" :id="'correct_answer'+indexAnswer" class="mt-2"></vue-editor>
              </v-card-text>
            </v-layout>

            <label :for="'correct_answer'+index">Jawaban benar soal no {{index+1}} </label>
            <v-radio-group v-model="item.correct_answer[0]" row>
              <v-radio
                v-for="(answer, correctAnswerIndex) in item.pg_answers" :key="correctAnswerIndex"
                :label="`Opsi ${answer}`"
                :value="answer"
              ></v-radio>
            </v-radio-group>
          </template>
          
          <template v-if="item.type == 'Mtch'">
            <label :for="'correct_answer'+index">Jawaban</label>

            <v-layout column v-for="(answer, indexAnswer) in item.pg_answers" :key="indexAnswer">
              <v-card-title class="px-0 py-1">
                <v-spacer/>
                <v-btn small class="primary" flat @click="addMultipleAnswer(index, indexAnswer)" v-if="item.pg_answers.length < 5">Tambah Jawaban<v-icon small right>add</v-icon></v-btn>
                <v-btn small class="error" flat @click="delMultipleAnswer(index, indexAnswer, answer)" v-if="item.pg_answers.length > 2 && indexAnswer == item.pg_answers.length - 1">Hapus Jawaban<v-icon small right>delete</v-icon></v-btn>
              </v-card-title>
              <v-card-text class="pa-1">
                <v-layout row wrap>
                  <v-flex xs12 sm6 class="pa-1">
                    <vue-editor useCustomImageHandler @image-added="handleImageAdded" :editorOptions="editorSettings" :placeholder="'Pilihan Jawaban ' + answer" v-model="item.answer[answer]" :id="'correct_answer'+indexAnswer" class="mt-2"></vue-editor>
                  </v-flex>
                  <v-flex xs12 sm6 class="pa-1"> <!-- {{indexAnswer+1}} -->
                    <vue-editor useCustomImageHandler @image-added="handleImageAdded" :editorOptions="editorSettings" :placeholder="'Pasangan Jawaban ' + answer" v-model="item.mtx_col[indexAnswer+1]" :id="'mtx_col'+indexAnswer" class="mt-2"></vue-editor>
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-layout>
          </template>

          <template v-if="item.type == 'Mtx'">
            <span class="title">Kolom</span> <!-- {{ item.mtx_col }} -->
            <v-layout column v-for="(answer, indexCol) in item.mtx_col_key" :key="indexCol">
              <!-- {{answer}}-{{indexCol}}-{{item.mtx_col_key.length}} 
              <br>
              {{item.mtx_col_key.length >= 3}}-{{indexCol == item.mtx_col_key.length}} -->
              <v-card-title class="px-0 py-1">
                <span>{{'Kolom '+(indexCol+1)}}</span>
                <v-spacer/>
                <v-btn 
                  small class="primary" flat @click="addMtxCol(index, indexCol+1)" 
                  v-if="item.mtx_col_key.length < 4"
                >Tambah Kolom<v-icon small right>add</v-icon></v-btn>
                <v-btn 
                  small class="error" flat @click="delMtxCol(index, indexCol, indexCol+1)" 
                  v-if="item.mtx_col_key.length > 2 && indexCol == item.mtx_col_key.length - 1"
                >Hapus Kolom<v-icon small right>delete</v-icon></v-btn>
              </v-card-title>
              <v-card-text class="pa-1">
                <!-- {{answer}} -->
                <vue-editor useCustomImageHandler @image-added="handleImageAdded" :editorOptions="editorSettings" :placeholder="'Kolom ' + (indexCol+1)" v-model="item.mtx_col[indexCol+1]" :id="'mtx_col'+indexCol" class="mt-2"></vue-editor>
              </v-card-text>
            </v-layout>

            <br>

            <span class="title">Jawaban</span>
            <v-layout column v-for="(answer, indexAnswer) in item.pg_answers" :key="'answer'+indexAnswer">
              <v-card-title class="px-0 py-1">
                <v-spacer/>
                <v-btn small class="primary" flat @click="addMultipleAnswer(index, indexAnswer)" v-if="item.pg_answers.length < 5">Tambah Jawaban<v-icon small right>add</v-icon></v-btn>
                <v-btn small class="error" flat @click="delMultipleAnswer(index, indexAnswer, answer)" v-if="item.pg_answers.length > 2 && indexAnswer == item.pg_answers.length - 1">Hapus Jawaban<v-icon small right>delete</v-icon></v-btn>
              </v-card-title>
              <v-card-text class="pa-1">
                <vue-editor useCustomImageHandler @image-added="handleImageAdded" :editorOptions="editorSettings" :placeholder="'Jawaban ' + answer" v-model="item.answer[answer]" :id="'correct_answer'+indexAnswer" class="mt-2"></vue-editor>
              </v-card-text>
            </v-layout>

            <label :for="'correct_answer'+index">Jawaban benar soal no {{index+1}} </label>
            <v-layout row v-for="(answer, correctAnswerIndex) in item.pg_answers" :key="'mat'+correctAnswerIndex">
              <v-checkbox v-for="(col, colIndex) in item.mtx_col" :key="colIndex" :label="'Opsi ' + answer + colIndex" :value="answer+''+colIndex" v-model="item.correct_answer" class="mr-4"></v-checkbox>
              <!-- {{item.mtx_answers[correctAnswerIndex+'-'+colIndex]}} -->
            </v-layout>
          </template>

          <template v-if="item.type == 'CPN' || item.type == 'CPS'">
            <label :for="'correct_answer'+index">Jawaban Benar</label>
            <v-layout column v-for="(answer, correct_answer_index) in item.correct_answer" :key="correct_answer_index">
              <v-card-title class="px-0 py-1">
                <v-spacer/>
                <v-btn small class="primary" flat @click="addCPAnswer(index)" v-if="item.correct_answer.length < 5">Tambah Jawaban<v-icon small right>add</v-icon></v-btn>
                <v-btn small class="error" flat @click="delCPAnswer(index, correct_answer_index)" v-if="correct_answer_index > 0">Hapus Jawaban<v-icon small right>delete</v-icon></v-btn>
              </v-card-title>
              <v-text-field
                single-line solo flat
                background-color="lighten-3 grey"
                label="Masukkan Jawaban Benar"
                v-model="item.correct_answer[correct_answer_index]"
                :id="'correct_answer'+index"
              ></v-text-field>
            </v-layout>
          </template>

          <template v-if="item.type == 'Ess'">
            <label :for="'correct_answer'+index">Pedoman Jawaban</label>
            <v-text-field
              single-line solo flat
              background-color="lighten-3 grey"
              label="Masukkan Pedoman Jawaban"
              v-model="item.correct_answer[0]"
              :id="'correct_answer'+index"
            ></v-text-field>
            
            <label :for="'max_scoring_essay'+index">Nilai Essay Maksimal</label>
            <v-select
              :items="scoring"
              single-line solo flat
              background-color="lighten-3 grey"
              label="Nilai Essay Maksimal"
              v-model="item.max_scoring_essay"
              :id="'max_scoring_essay'+index"
            ></v-select>
          </template>
          
          <!-- <label :for="'additional_data'+index">Data Tambahan</label>
          <v-text-field
            single-line solo flat
            background-color="lighten-3 grey"
            label="Data Tambahan"
            v-model="item.additional_data"
            :id="'additional_data'+index"
          ></v-text-field> -->
          <!-- {{item}} -->
        </v-card-text>
      </v-card>

      <v-card class="my-3 grey lighten-2" flat style="border-radius: 20px; padding: 20px">
        <v-card-title class="pa-0">
          <p style="font-size: 16px;">Jumlah Soal : <span class="font-weight-bold">{{soal.length}}</span></p>
          <v-spacer></v-spacer>
          <v-btn class="primary" flat @click="validate">{{ isEdit ? "Sunting" : "Kirim"}}<v-icon small right>send</v-icon></v-btn>
        </v-card-title>
      </v-card>
    </template>

    <previewDialog></previewDialog>
    <successDialog></successDialog>
  </v-layout>
</template>

<script>
import successDialog from '~/components/dialog.vue'
import previewDialog from '~/components/preview.vue'

export default {
  components:{
    successDialog,
    previewDialog,
    // ckeditor: CKEditor.component,
    // 'vue-mathjax': VueMathjax
  },

  data() {
    return {
      formula: 'g(x)',
      keystroke: '',
      editorData: '',
      
      valid: false, 
      types: [
        { id: 0, token: '%MODELSOAL-PG%', name: 'Pilihan Ganda', value: "PG" }, 
        { id: 1, token: '%MODELSOAL-PGK%', name: 'Pilihan Ganda Kompleks', value: "PGK" }, 
        // { id: 2, token: '%MODELSOAL-CPS%', name: 'Isian Singkat Kata', value: "CPS" }, 
        // { id: 3, token: '%MODELSOAL-CPN%', name: 'Isian Singkat Angka', value: "CPN" }, 
        // { id: 4, token: '%MODELSOAL-ES%', name: 'Essay', value: "Ess" },
        // { id: 5, token: '%MODELSOAL-MTX%', name: 'Matrix', value: "Mtx" },
        // { id: 6, token: '%MODELSOAL-MCH%', name: 'Menjodohkan', value: "Mtch" }
      ],

      listDifficulty: [
        { name: 'Mudah', value: "Mudah"},
        { name: 'Sedang', value: "Sedang"},
        { name: 'Sulit', value: "Sulit"},
      ],

      scoring: [1, 2],
      pg_answer_list: [ "A", "B", "C", "D", "E", "F", "G", "H", "I", "J" ],

      lessons: [
        { name: 'Literasi', value: 'L' }, 
        { name: 'Numerasi', value: 'N'} 
      ],
      lesson: '',

      literasi: {
        kd: [
          { text: 'Akses', value: 'A' },
          { text: 'Interpretasi', value: 'I' },
          { text: 'Evaluasi dan Refleksi', value: 'E' },
        ],
        cp: [
          { text: 'Teks Sastra', value: 'S' },
          { text: 'Teks Informasi', value: 'F' }
        ],
        skki: [
          { text: 'Personal', value: 'Personal'},
          { text: 'Sosial Budaya', value: 'Sosial Budaya'},
          { text: 'Saintifik', value: 'Saintifik'}
        ]
      },
      numerasi: {
        cp: [
          { text: 'Bilangan', value: 'B' },
          { text: 'Aljabar', value: 'A' },
          { text: 'Geometri', value: 'G' },
          { text: 'Data', value: 'D' }
        ],
        kd: [
          { text: 'Knowing', value: 'K' },
          { text: 'Applying', value: 'A' },
          { text: 'Reasoning', value: 'R' },
        ],
        skki: [
          { text: 'Personal', value: 'Personal'},
          { text: 'Sosial Budaya', value: 'Sosial Budaya'},
          { text: 'Saintifik', value: 'Saintifik'}
        ]
      },

      editorSettings: {
        modules: {
          imageDrop: true,
          imageResize: {}
        }
      },

      kd: {
        kode: "",
        description: ""
      },
      cakupan_materi: {
        kode: "",
        description: ""
      },
      subkurikulum: {
        kelas: "2",
        jenjang: "SD"
      },
      skki: {
        kode: "",
        description: ""
      },
      latex: "<p> $$\\frac{a}{b}$$ </p>",
      soal: [
        {
          indikator: {
            id: this.uuidv4(),
            description: ""
          },
          token: this.uuidv4(),
          kode: "",
          type: "",
          id: this.uuidv4(),
          soal_id: Math.floor(100000 + Math.random() * 900000),
          soal_type: 1,
          wacana_id: this.uuidv4(),
          word_index: "",
          description: "",
          additional_data: "",
          pg_answers: ['A', 'B', 'C', 'D'],
          mtx_answers: {},
          mtx_col: {
            '1': '',
            '2': '',
            '3': '',
            '4': '',
          },
          mtx_col_key: ['A', 'B', 'C', 'D'],
          cps_answer_length: 1,
          answer: { "A": "" },
          correct_answer: [''],
          max_scoring_essay: 1,
          // contoh answer -> A (pilihan ganda) / A1%^%E%^%A3%^%E%^% (Pilihan ganda kompleks / radio)
          correct_index: 0,
        }
      ],

      loading: {
        state: false,
        message: '',
      },

      listCogDomain: [],
      listCogSubDomain: [],
      listConDomain: [],
      listConSubDomain: [],
      listCogDomainOne: [],
      listConDomainOne: [],
      subject: '',
      cogDomain: '',
      cogSubDomain: '',
      conDomain: '',
      conSubDomain: '',
      difficulty: '',
      question: [],
      _id: '',
      isEdit: false,
      listGrade: [
          {name: "1"},
          {name: "2"},
          {name: "3"},
          {name: "4"},
          {name: "5"},
          {name: "6"},
          {name: "7"},
          {name: "8"},
          {name: "9"},
          {name: "10"},
          {name: "11"},
          {name: "12"},
          // {name: "all"},
      ],
      grade: "",
    }
  },

  mounted() {
    this.$ga.event({
      eventCategory: 'ProblemBank',
      eventAction: 'add_question',
      eventLabel: 'ProblemBank',
      eventValue: 0
    });
    this.$gAnalytic.track({category: "ProblemBank", action: "add_question", label: "ProblemBank"})
    this.reRender();
    this.getMetadata();
  },

  watch: {
    // latex: function() {
    //   console.log('data changed');
    //   this.$nextTick().then(()=>{
    //     this.reRender();
    //   });
    // }
  },

  methods: {
    reRender() {
      if(window.MathJax) {
        console.log('rendering mathjax');
        window.MathJax.Hub.Queue(["Typeset", window.MathJax.Hub], () => console.log('done'));
      }
    },
    onGradeSelected() {
      var listCon = this.listConDomainOne.filter(item => { return item.subject == this.lesson && item.grade == this.grade })
      if (listCon != null) {
        this.listConDomain = listCon;
        // this.listConSubDomain = listCon.subIds;
      }
      console.log(listCon, this.lesson, this.grade)
    },

    async getMetadata() {
      this.loading = { state: true, message: 'Memuat Data' }
      try {
        const req = await this.$domain.getDomain();

        if (req.status) {
          this.loading.state = false;
          for (const i in req.data) {
            if (req.data[i].type == "cognitive") {
              this.listCogDomain.push(req.data[i]);
              this.listCogDomainOne.push(req.data[i]);
            }

            if (req.data[i].type == "content") {
              this.listConDomain.push(req.data[i]);
              this.listConDomainOne.push(req.data[i]);
            }
          }

          let jsonBody = localStorage.getItem("editQuestion");
          if (jsonBody != null && jsonBody != "") {
            let data = JSON.parse(jsonBody);
            var lengthAns = [];
            if (data.answers.E != null) {
              lengthAns = ['A', 'B', 'C', 'D', 'E'];
            } else {
              lengthAns = ['A', 'B', 'C', 'D']
            }
            this.isEdit = true;
            this.soal = [];
            this._id = data._id;
            this.lesson = data.subject
            this.cogDomain = data.cognitiveDomainDetail._id;
            this.cogSubDomain = data.cognitiveSubDomainDetail._id;
            this.conDomain = data.contentDomainDetail._id;
            this.conSubDomain = data.contentSubDomainDetail._id;
            this.difficulty = data.difficulty;
            this.grade = data.grade;
            
            this.soal.push({
              kode: data.code,
              type: data.type,
              description: data.question,
              answer: data.answers,
              correct_answer: data.correctAnswers,
              pg_answers: lengthAns,
              mtx_col_key: lengthAns
            });
            
            var listCog = this.listCogDomain.filter(item => { return item._id == this.cogDomain })[0]
            this.listCogSubDomain = listCog.subIds;
            var listCon = this.listConDomain.filter(item => { return item._id == this.conDomain })[0]
            this.listConSubDomain = listCon.subIds;
          }
        }

      } catch (error) {
        console.log(error.message);
        setTimeout(() => {
          this.loading.state = false;
        }, 500);
      }
    },

    selectedDomain(type) {
      if (type == "cognitive") {
        var list = this.listCogDomain.filter(item => { return item._id == this.cogDomain })[0]
        this.listCogSubDomain = list.subIds;
        console.log(this.listCogSubDomain);
      } else {
        var list = this.listConDomain.filter(item => { return item._id == this.conDomain })[0]
        this.listConSubDomain = list.subIds;
        console.log(this.listConSubDomain);
      }
      
    },

    validate () {
      console.log('soal', this.lesson, this.cogDomain, this.cogSubDomain, this.conDomain, this.conSubDomain);
      // this.kd.kode = this.kd.kode.text
      // this.cakupan_materi.kode = this.cakupan_materi.kode.text
      // this.skki.kode = this.skki.kode.text
      // console.log('kd', this.kd);
      // console.log('cakupan_materi', this.cakupan_materi);
      // console.log('skki', this.skki);
      // console.log('lesson', this.lesson);
      // if (this.$refs.form.validate()) {
      //   console.log(this.lesson);
      if (this.isEdit) {
        this.editQuestion();
      } else {
        this.submit() 
      }
      // }
    },

    setPad(index) {
      var str = "" + index
      var pad = "0000"
      var ans = pad.substring(0, pad.length - str.length) + str

      return ans
    },

    add() {
      this.soal.push({
        indikator: {
          id: this.uuidv4(),
          description: ""
        },
        token: this.uuidv4(),
        kode: "",
        type: "",
        id: this.uuidv4(),
        soal_id: Math.floor(100000 + Math.random() * 900000),
        soal_type: 1,
        wacana_id: this.uuidv4(),
        word_index: "",
        description: "",
        additional_data: null,
        pg_answers: ['A', 'B', 'C'],
        mtx_answers: {},
        mtx_col: {
          '1': '',
          '2': '',
          '3': '',
          '4': '',
        },
        mtx_col_key: ['A', 'B', 'C', 'D'],
        cps_answer_length: 1,
        answer: { "A": "" },
        correct_answer: [''],
        max_scoring_essay: 1,
        // contoh answer -> A (pilihan ganda) / A1%^%E%^%A3%^%E%^% (Pilihan ganda kompleks / radio)
        correct_index: 0,
      })
    }, del(index) {
      if (this.soal.length > 2) {
        this.soal.splice(index, 1)
      }
      
    },

    handleImageAdded(file, Editor, cursorLocation, resetUploader) {
      console.log('file : ',file);
      console.log('Editor : ',Editor);
      console.log('cursorLocation : ',cursorLocation);
      console.log('resetUploader : ',resetUploader);

      if ((file.type == 'image/jpg' || file.type == 'image/jpeg') && file.size < 250000) {
        // alert(file.type == 'image/jpg' || file.type == 'image/jpeg' || file.size < 250000)
        var reader = new FileReader();
        var b64str

        reader.readAsDataURL(file);
        reader.onload = ()=> {
          // return reader.result
        };

        reader.onerror = (error)=> {
          console.log('Error: ', error);
        };

        reader.onloadend = () => {
          b64str = reader.result
          Editor.insertEmbed(cursorLocation, 'image', b64str);
        }

        console.log(this.soal[0]);
        resetUploader()
      } else {
        alert('Gambar harus JPG/JPEG, tidak boleh lebih dari 100KB')
        resetUploader()
      }
    },
    
    addMtxCol(index, colIndex) {
      let letter = this.soal[index].mtx_col_key.length
      this.soal[index].mtx_col_key.push(this.pg_answer_list[letter])
    }, delMtxCol(index, colIndex, letter) {
      delete this.soal[index].mtx_col[letter]
      this.soal[index].mtx_col_key.splice(colIndex, 1)

      // this.soal[index]
    },

    addMultipleAnswer(index, answerIndex) {
      let letter = this.soal[index].pg_answers.length
      this.soal[index].pg_answers.push(this.pg_answer_list[letter])
    }, delMultipleAnswer(index, answerIndex, letter) {
      delete this.soal[index].answer[letter]
      this.soal[index].pg_answers.splice(answerIndex, 1)
    },
    
    addCPAnswer(index) {
      this.soal[index].correct_answer.push('')
    }, delCPAnswer(index, answerIndex) {
      console.log(this.soal[index]);
      this.soal[index].correct_answer.splice(answerIndex, 1)
    },

    async submit() {
      let group_id = this.uuidv4()
      for (const key in this.soal) {
        if (this.soal.hasOwnProperty(key)) {
          const element = this.soal[key];
          console.log(element);

          // if (element.type == 'Mtx') {
          //   element.correct_answer.shift()
          // } else if (element.type == 'Mtch') {
          //   for (const x in element.answer) {
          //     if (element.answer.hasOwnProperty(x)) {
          //       element.correct_answer[this.pg_answer_list.indexOf(x)] = x +''+ (this.pg_answer_list.indexOf(x)+1)
          //     }
          //   }
          // }

          try {
            console.log("answer", element.answer, element.correct_answer)
            const req = await this.$question.addQuestion({
              code: element.kode,
              type: element.type,
              subject: this.lesson,
              question: element.description,
              cognitiveDomain: this.cogDomain,
              cognitiveSubDomain: this.cogSubDomain,
              contentDomain: this.conDomain,
              contentSubDomain: this.conSubDomain,
              difficulty: this.difficulty,
              answers: element.answer,
              correctAnswers: element.correct_answer,
              grade: this.grade,
            });

            // const req = await this.$question.createQuestion({
            //   soal: [{
            //     indikator: element.indikator,
            //     token: element.token,
            //     // kode: (this.lesson == 'BI' ? 'L' : 'N') + '_' + 'K'+ this.subkurikulum.kelas + '_' + this.cakupan_materi.kode.value + '_' + this.kd.kode.value + '_' + this.setPad((key*1)+1),
            //     type: element.type,
            //     id: element.id,
            //     soal_id: element.soal_id,
            //     soal_type: element.soal_type,
            //     wacana_id: element.wacana_id,
            //     word_index: element.word_index,
            //     description: element.description,
            //     additional_data: element.additional_data,
            //     answer: element.answer,
            //     column: element.mtx_col,
            //     correct_answer: element.correct_answer,
            //     correct_index: element.correct_index,
            //     max_scoring_essay: element.max_scoring_essay,
            //     last_updated: new Date()
            //   }],
            //   lesson: this.lesson,
            //   subkurikulum: { kelas: this.subkurikulum.kelas, jenjang: this.subkurikulum.jenjang, grup: group_id },
            //   kd: { kode: this.kd.kode.value, description: this.kd.description },
            //   cakupan_materi: { kode: this.cakupan_materi.kode.value, description: this.cakupan_materi.description },
            //   skki: { kode: this.skki.kode.value, description: this.skki.description },
            // }) 

            console.log(req);
           
          } catch (error) {
            alert('Failed to create question no-'+ (key*1+1))
            console.log(error);
            
          }
        }
      }

      this.$store.commit('openDialog', {
        class: 'success', 
        title: 'Berhasil', 
        message: 'Berhasil menambahkan soal', 
        target: '/banksoal'
      })
    },

    async editQuestion() {
      let group_id = this.uuidv4()
      var index = 0;
      for (const key in this.soal) {
        if (this.soal.hasOwnProperty(key)) {
          const element = this.soal[key];
          console.log(element);

          try {
            console.log("answer", element.answer, element.correct_answer)
            const req = await this.$question.editQuestion({
              _id: this._id,
              data: {
                code: element.kode,
                type: element.type,
                subject: this.lesson,
                question: element.description,
                cognitiveDomain: this.cogDomain,
                cognitiveSubDomain: this.cogSubDomain,
                contentDomain: this.conDomain,
                contentSubDomain: this.conSubDomain,
                difficulty: this.difficulty,
                answers: element.answer,
                correctAnswers: element.correct_answer,
                grade: this.grade,
              }
            });

            if (req.status) {
              index++;
            }

            console.log(req);
           
          } catch (error) {
            alert('Failed to edit question no-'+ (key*1+1))
            console.log(error);
            
          }
        }
      }

      if (index == this.soal.length) {
        localStorage.removeItem('editQuestion');
        this.$store.commit('openDialog', {
          class: 'success', 
          title: 'Berhasil', 
          message: 'Berhasil sunting soal', 
          target: '/banksoal'
        })
      } else {
        this.$store.commit('openDialog', {
          class: 'failed', 
          title: 'Gagal', 
          message: 'Gagal sunting soal, silahkan coba lagi', 
          target: '/banksoal/add'
        })
      }
      
    },

    preview(data) {
      var quest = {
        code: data.kode,
        type: data.type,
        subject: this.lesson,
        question: data.description,
        cognitiveDomain: this.cogDomain,
        cognitiveSubDomain: this.cogSubDomain,
        contentDomain: this.conDomain,
        contentSubDomain: this.conSubDomain,
        difficulty: this.difficulty,
        answers: data.answer,
        correctAnswers: data.correct_answer
      }
      localStorage.setItem('previewQuestion', JSON.stringify(quest))
      // this.$router.push('/banksoal/preview_question')
      let routeData = this.$router.resolve({path: '/banksoal/preview_question'});
      window.open(routeData.href, '_blank');
      // console.log("question ", data)
      // this.$store.commit('pratinjau', {
      //   status: true,
      //   data: quest
      // })
    },

    uuidv4() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
      });
    },

    // changeToken(index, type) {
    //   this.soal[index].token = this.tokens[type]
    // },

    getRand() {
      return Math.floor(100000 + Math.random() * 900000)
    },

    async getDomain(type) {
      try {
        const req = await this.$question.getDomain({
          type: type
        });

        var listCog = this.listCogDomainOne.filter(item => { return item.subject == this.lesson })
      
        if (listCog != null) {
          this.listCogDomain = listCog;
          // this.listCogSubDomain = listCog.subIds;
        }

        console.log(req);
      } catch (error) {
        console.log(error.message);
      }
    }
  },
}
</script>
