<template>
  <v-layout column class="pa-4">
    <v-layout class="py-4" row>
      <!-- <v-hover>
        <v-icon slot-scope="{hover}" :color="`${ hover ? 'primary' : 'grey'}`" class="pointer pr-4" @click="$router.go(-1)">
          keyboard_arrow_left
        </v-icon>
      </v-hover> -->
      <v-flex xs12 sm6 class="d-flex">
        <p class="title" style="margin: auto">Bank Soal</p>
      </v-flex>
    </v-layout>

    <v-flex xs12 sm8 md6>
      <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px">
        <v-card-title class="pt-4 px-4 pb-0">
          <p style="font-size: 16px;">Total Soal : <span class="font-weight-bold">{{questions.length}}</span></p>
            <v-spacer/>
            
            <v-btn 
              class="primary2 font-weight-bold white--text" 
              @click="addQuestion"
            >
              <h3>
                Tambah Soal
              </h3>
            </v-btn>
        </v-card-title>

        <v-card-text class="py-0">
          <v-layout column wrap>
            
            <v-flex  xs12 sm4 class="px-2 pt-0">
              <label for="kode_soal">Kode Soal</label>
              <v-text-field
                single-line solo flat
                background-color="lighten-3 grey"
                label="Kode Soal"
                v-model="kode_soal"
                clearable
                id="kode_soal"
                append-icon="search"
                v-on:keyup.enter="getQuestions()"
                @click:append="getQuestions()"
              ></v-text-field>
            </v-flex>
            <v-layout row wrap>
              <v-flex  xs12 sm6 class="px-2 pt-0">
                <label for="kode_soal">Subjek</label>
                <v-select
                  :items="lessons_search"
                  item-value="value" item-text="name"
                  single-line solo flat
                  background-color="lighten-3 grey"
                  label="Subjek"
                  v-model="lesson"
                  id="lesson"
                  clearable
                ></v-select>
              </v-flex>
              <v-flex  xs12 sm6 class="px-2 pt-0">
                <label for="grade">Grade</label>
                <v-select
                  :items="listGrade"
                  item-value="name" item-text="name"
                  single-line solo flat
                  background-color="lighten-3 grey"
                  label="Grade"
                  v-model="grade"
                  id="grade"
                  @change="onGradeSelected"
                  clearable
                ></v-select>
              </v-flex>
            </v-layout>

            <v-layout row wrap>
              <v-flex  xs12 sm6 class="px-2 pt-0">
                <label for="cog_domain">Kognitif Domain</label>
                <v-select
                    :items="listCogDomain"
                    item-value="_id" item-text="name"
                    :rules="[v => !!v || 'Kognitif Domain harus diisi']"
                    single-line solo flat
                    background-color="lighten-3 grey"
                    label="Kognitif Domain"
                    v-model="cogDomain"
                    id="cog_domain"
                    @change="selectedDomain('cognitive')"
                    clearable></v-select>
              </v-flex>
              <v-flex  xs12 sm6 class="px-2 pt-0">
                <label for="cog_subdomain">Kognitif Subdomain</label>
                <v-select
                  :items="listCogSubDomain"
                  item-value="_id" item-text="name"
                  :rules="[v => !!v || 'Kognitif Subdomain harus diisi']"
                  single-line solo flat
                  background-color="lighten-3 grey"
                  label="Kognitif Subdomain"
                  v-model="cogSubDomain"
                  id="cog_subdomain"
                  clearable
                ></v-select>
              </v-flex>
            </v-layout>

            <v-layout row wrap>
              <v-flex  xs12 sm6 class="px-2 pt-0">
                <label for="con_domain">Konten Domain</label>
                <v-select
                  :items="listConDomain"
                  item-value="_id" item-text="name"
                  :rules="[v => !!v || 'Konten Domain harus diisi']"
                  single-line solo flat
                  background-color="lighten-3 grey"
                  label="Konten Domain"
                  v-model="conDomain"
                  id="con_domain"
                  @change="selectedDomain('content')"
                  clearable
                ></v-select>
              </v-flex>
              <v-flex  xs12 sm6 class="px-2 pt-0">
                <label for="con_subdomain">Konten Subdomain</label>
                <v-select
                  :items="listConSubDomain"
                  item-value="_id" item-text="name"
                  :rules="[v => !!v || 'Konten Subdomain harus diisi']"
                  single-line solo flat
                  background-color="lighten-3 grey"
                  label="Konten Subdomain"
                  v-model="conSubDomain"
                  id="con_subdomain"
                  clearable
                ></v-select>
              </v-flex>
            </v-layout>
          </v-layout>
        </v-card-text>

        <v-card-title class="px-4 pb-2">
          <v-spacer></v-spacer>
          <v-btn class="primary" flat @click="getQuestions">Filter</v-btn>
        </v-card-title>

        <v-data-table
          :headers="headers"
          :items="questions"
          class="elevation-0"
          :pagination.sync="pagination"
          :loading="questionLoading"
          
          item-key="kode_soal"
          :no-data-text="questionLoading ? 'Memuat soal...' : 'Tidak ada soal.'"
          hide-actions
        > 
          <template slot="headers" slot-scope="props">
            <tr>
              <th
                v-for="header in props.headers"
                :key="header.text"
                :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                @click="changeSort(header.value)"
              >
                <v-layout align-start>
                  {{ header.text }} &nbsp;
                  <v-img src="/sort.png" width="16px" max-width="16px" height="16px" contain @click.stop ></v-img>
                </v-layout>
              </th>
            </tr>
          </template>
          <template v-slot:items="props">
            <td class="">{{props.item.code}}</td>
            <td class="" v-if="props.item.type">{{props.item.type}}</td>
            <td class="" v-if="props.item.subject">{{props.item.subject == "L" ? "Literasi" : "Numerasi"}}</td>
            <td class="" v-if="props.item.cognitiveDomainDetail.name">{{ props.item.cognitiveDomainDetail.name }}</td>
            <td class="" v-if="props.item.cognitiveSubDomainDetail.name">{{ props.item.cognitiveSubDomainDetail.name }}</td>
            <td class="" v-if="props.item.contentDomainDetail.name">{{ props.item.contentDomainDetail.name }}</td>
            <td class="" v-if="props.item.contentSubDomainDetail.name">{{ props.item.contentSubDomainDetail.name }}</td>
            <td class="" v-if="props.item.difficulty">{{ props.item.difficulty }}</td>
            <td class="">
              <v-layout row>
                <v-btn class="primary2 white--text" small :loading="loading_preview" @click="preview(props.item)">Preview</v-btn>
                <!-- :disabled="$auth.user.role != 'pusat'" -->
                <v-menu bottom left >
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                      <v-icon>more_vert</v-icon>
                    </v-btn>
                  </template>

                  <v-list dense>
                    <v-list-tile @click="edit(props.item)">
                      <v-list-tile-title>Sunting Soal</v-list-tile-title>
                    </v-list-tile>

                    <v-divider></v-divider>
                    <v-list-tile @click="deleteQuestion(props.item)">
                      <v-list-tile-title class="error--text">Hapus Soal</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </v-layout>
            </td>
          </template>
        </v-data-table>

        <div class="text-xs-center pt-2">
          <v-pagination :total-visible="10" v-model="pagination.page" :length="pages"></v-pagination>
        </div>
      </v-card>
    </v-flex>

    <!-- <v-dialog max-width="390px" v-model="previewDialog.status">
      <v-card class="grey lighten-3">
        <v-card-title class="pb-0">
          <span class="font-weight-bold">
            Preview Soal Ujian
          </span>
          <v-spacer></v-spacer>
          <v-btn class="transparent" icon flat @click="previewDialog.status = false">
            <v-icon small>close</v-icon>
          </v-btn>
        </v-card-title>

        <v-card-text>
          <v-card class="white lighten-4 pa-0 pb-4" flat>
            <v-system-bar status color="primary">
              <v-spacer></v-spacer>
              <v-icon>network_wifi</v-icon>
              <v-icon>signal_cellular_null</v-icon>
              <v-icon>battery_full</v-icon>
              <span>12:30</span>
            </v-system-bar>

            <v-card-text class="px-2 py-3">
              <span class="grey--text font-weight-bold caption">Soal 1</span>
              <div v-html="previewDialog.data.question"></div>
            </v-card-text>

            <v-card-text class="px-2 py-3">
              <template v-if="previewDialog.data.type == 'essay'">
                <v-btn block large class="primary"> Tulis Jawaban
                  <v-spacer></v-spacer>
                  <v-icon right>keyboard_arrow_right</v-icon>
                </v-btn>
                <p class="text-xs-center ma-3 font-weight-medium">Atau</p>
                <v-btn block large class="primary"> Rekam Suara
                  <v-spacer></v-spacer>
                  <v-icon right>keyboard_voice</v-icon>
                </v-btn>
              </template>

              <template v-if="previewDialog.data.type == 'basic'">
                <v-text-field solo outline label="Tulis jawabanmu.."></v-text-field>
              </template>

              <template v-if="previewDialog.data.type == 'multipleAnswer'">
                <v-layout row wrap>
                  <v-flex xs6 v-for="(answer, index) in previewDialog.data.answers[0]" :key="index" class="pa-2">
                    <v-chip label class="grey lighten-3 px-2" style="height: 40px; width: 100%;"> {{answer}} </v-chip>
                  </v-flex>
                </v-layout>
              </template>
            </v-card-text>
            <v-divider></v-divider>

            <v-card-actions>
              <v-btn block large> Lewati </v-btn>
              <v-btn block large class="primary"> Jawab </v-btn>
            </v-card-actions>
          </v-card>
        </v-card-text>
      </v-card>
    </v-dialog> -->
    <previewDialog></previewDialog>
  </v-layout>
</template>

<script>
import previewDialog from '~/components/preview.vue'

export default {
  components: {
    previewDialog
  },

  head: {
    titleTemplate: (titleChunk) => {
      // If undefined or blank then we don't need the hyphen
      return titleChunk ? `Bank Soal - ${titleChunk}` : 'Bank Soal';
    },
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },

      // hid is used as unique identifier. Do not use `vmid` for it as it will not work
      // { hid: 'description', name: 'description', content: 'Meta description' }
    ]
  },

  data() {
    return {
      search: '',
      lesson: '',
      loading_preview: false,
      lessons_search: [
        { name: 'Literasi', value: 'L' }, 
        { name: 'Numerasi', value: 'N'} 
      ],

       kd: {
        kode: "KD",
        description: ""
      },
      cakupan_materi: {
        kode: "CP",
        description: ""
      },
      subkurikulum: {
        kelas: "2",
        jenjang: "SD"
      },
      skki: {
        kode: "SKKI",
        description: ""
      },
      lesson_search: 'N',

      headers: [
        { text: 'Kode Soal', align: 'left', value: 'kode_soal' },
        { text: 'Type', align: 'left', value: 'kd.kode' },
        { text: 'Subject', align: 'left', value: 'cakupan_materi.kode' },
        { text: 'Kognitif Domain', align: 'left', value: 'subkurikulum.kelas' },
        { text: 'Kognitif Subdomain', align: 'left', value: 'skki.kode' },
        { text: 'Konten Domain', align: 'left', value: 'soal.type' },
        { text: 'Konten Subdomain', align: 'left', value: 'lesson' },
        { text: 'Kesulitan', align: 'left', value: 'subkurikulum.grup' },
        // { text: 'Status', align: 'left', value: '', sortable: false },
        { text: 'Aksi', align: 'left', value: '', sortable: false },
      ],

      types: {
        'PGK': 'Pilihan Ganda Kompleks',
        'PG': 'Pilihan Ganda',
        'Ess': 'Essay',
        'CPN': 'Isian Singkat Angka',
        'CPS': 'Isian Singkat Kata',
        'Mtx': 'Matrix',
        'Mtch': 'Menjodohkan'
      },

      lessons: {
        'N': 'Numerasi',
        'L': 'Literasi'
      },

      selectedQuestions: [],

      questionLoading: false,
      questions: [],
      
      loading: false,
      pagination: {},

      kelas: '2',
      jenjang: 'SD',

      kode_soal: '',
      group_id: '',

      metadata: [],
      listGrade: [
          {name: "1"},
          {name: "2"},
          {name: "3"},
          {name: "4"},
          {name: "5"},
          {name: "6"},
          {name: "7"},
          {name: "8"},
          {name: "9"},
          {name: "10"},
          {name: "11"},
          {name: "12"},
          {name: "all"}
      ],
      grade: "",
      listCogDomain: [],
      listCogSubDomain: [],
      listConDomain: [],
      listConSubDomain: [],
      listCogDomainOne: [],
      listConDomainOne: [],
      cogDomain: '',
      cogSubDomain: '',
      conDomain: '',
      conSubDomain: '',
    }
  },

  watch: {
    'pagination.page': {
      handler() {
        this.getQuestions()
      }
    }
  },

  computed: {
    pages () {
      if (this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) return 0

      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
    }
  },

  mounted() {
    this.$ga.event({
      eventCategory: 'ProblemBank',
      eventAction: 'get_question',
      eventLabel: 'ProblemBank',
      eventValue: 0
    });
    this.$gAnalytic.track({category: "ProblemBank", action: "get_problem_bank", label: "ProblemBank"})
    this.getDomain()
  },

  methods: {
    addQuestion(){
      localStorage.removeItem('editQuestion');
      this.$router.push('/banksoal/add')
    },

    convertDate(jsonDate) {
      var date = new Date(jsonDate).toLocaleString('id-ID')
      var day =  new Date(jsonDate).getDay().toLocaleString('id-ID')
      const days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu']
      return days[day] + ', ' + date
    },

    onGradeSelected() {
      var listCon;
      if(this.lesson == "") {
        listCon = this.listConDomainOne.filter(item => { return item.grade == this.grade })
      } else if(this.grade == "") {
        listCon = this.listConDomainOne.filter(item => { return item.subject == this.lesson })
      } else {
        listCon = this.listConDomainOne.filter(item => { return item.subject == this.lesson && item.grade == this.grade })
      }
      
      if (listCon != null) {
        this.listConDomain = listCon;
        // this.listConSubDomain = listCon.subIds;
      }
      console.log(listCon, this.lesson, this.grade)
    },

    async getDomain() {
        this.questionLoading = true
        try {
            const req = await this.$domain.getDomain();

            if (req.status) {
                console.log(req.data);
                this.metadata = req.data
                for (const i in req.data) {
                  if (req.data[i].type == "cognitive") {
                    this.listCogDomain.push(req.data[i]);
                    this.listCogDomainOne.push(req.data[i]);
                  }

                  if (req.data[i].type == "content") {
                    this.listConDomain.push(req.data[i]);
                    this.listConDomainOne.push(req.data[i]);
                  }
                }
            }

            setTimeout(() => {
                this.questionLoading = false
            }, 500);
            
        } catch (error) {
            console.log(error.message);
            setTimeout(() => {
                this.questionLoading = false
            }, 500);
        }
    },

    selectedDomain(type) {
      if (type == "cognitive") {
        var list = this.listCogDomain.filter(item => { return item._id == this.cogDomain })[0]
        this.listCogSubDomain = list.subIds;
        console.log(this.listCogSubDomain);
      } else {
        var list = this.listConDomain.filter(item => { return item._id == this.conDomain })[0]
        this.listConSubDomain = list.subIds;
        console.log(this.listConSubDomain);
      }
      
    },

    async getQuestions(page) {
      this.questionLoading = true
      try {
        // var req;
        // if (this.kode_soal != "") {
        //   req = await this.$question.getBankSoal({
        //     code: this.kode_soal,
        //   })
        // } else {
        //   req = await this.$question.getBankSoal({})
        // }

        const req = await this.$question.getBankSoal({
          code:this.kode_soal,
          subject: this.lesson,
          grade: this.grade,
          cognitiveDomain: this.cogDomain,
          cognitiveSubDomain: this.cogSubDomain,
          contentDomain: this.conDomain,
          contentSubDomain: this.conSubDomain,
        });
        

        this.questions = req.data
        this.pagination.rowsPerPage = 10
        this.pagination.totalItems = req.data.length

        setTimeout(() => {
          this.questionLoading = false
        }, 500);
      } catch (error) {
        console.log(error.response);
        setTimeout(() => {
          this.questionLoading = false
        }, 500);
      }
    },
    edit(item) {
      localStorage.setItem('editQuestion', JSON.stringify(item))
      this.$router.push('/banksoal/add')
    },
    
    select(kode_soal) {
      this.selectedQuestions.push(kode_soal)
    },

    unselect(kode_soal) {
      let index_soal = this.selectedQuestions.indexOf(kode_soal)
      this.selectedQuestions.splice(index_soal, 1) 
    },

    async preview(data) {
      console.log(data);
      
      this.loading_preview = true
      try {
        // const req = await this.$question.getSIAPQuestionsById({
        //   kode_soal: data
        // })

        // this.$store.commit('pratinjau', {
        //   status: true,
        //   data: data
        // })
        localStorage.setItem('previewQuestion', JSON.stringify(data))
        let routeData = this.$router.resolve({path: '/banksoal/preview_question'});
        window.open(routeData.href, '_blank');

        setTimeout(() => {
          this.loading_preview = false
        }, 300);

        // this.questions_ready.push(req.data[0].soal[0])
      } catch (error) {
        console.log('element error : ', error);   
      }
    },
    
    changeSort (column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending
      } else {
        this.pagination.sortBy = column
        this.pagination.descending = false
      }
    },

    async deleteQuestion(item) {
      console.log("id delete", item._id)
      if (confirm("Apakah anda yakin akan menghapus pertanyaan ini? " + item.code)) {
        try {
          const req = await this.$question.deleteQuestion({
            _id: item._id
          })

          alert('Berhasil menghapus pertanyaan')
          this.getQuestions()
        } catch (error) {
          console.log(error.response);
          alert('Gagal menghapus pertanyaan')
        }
      }
    }
  },
}
</script>
