<template>
  <v-layout column class="pa-4" row align-center justify-space-between>

    <v-card class="grey lighten-3" style="max-width: 450px;">
      <v-card-title class="pb-0">
        <v-layout class="py-4" row>
            <v-hover>
                <v-icon slot-scope="{hover}" :color="`${ hover ? 'primary' : 'grey'}`" class="pointer pr-4" @click="$router.go(-1)">
                keyboard_arrow_left
                </v-icon>
            </v-hover>
            <v-flex xs12 sm6 class="d-flex">
                <p  style="margin: auto">Preview Soal Ujian</p>
            </v-flex>
        </v-layout>
        <!-- <span class="font-weight-bold">
          
        </span> -->
        <v-spacer></v-spacer>
        <!-- <v-btn class="transparent" icon flat @click="$store.commit('pratinjau', {status: false, data: {}})">
          <v-icon small>close</v-icon>
        </v-btn> -->
      </v-card-title>

      <v-card-text v-if="soal.question" style="overflow-y: scroll; max-height: 80vh">
        <v-card class="white lighten-4 pa-0 pb-4" flat>
          <v-system-bar status color="secondary">
            <v-spacer></v-spacer>
            <v-icon color="white">network_wifi</v-icon>
            <v-icon color="white">signal_cellular_null</v-icon>
            <v-icon color="white">battery_full</v-icon>
            <span class="white--text">12:30</span>
          </v-system-bar>

          <v-card class="secondary" flat style="border-bottom-left-radius: 25px; border-bottom-right-radius: 25px; max-height: 16vh; height: 16vh;"> 
            <v-layout row>
              <v-card-text>
                <v-layout column wrap>
                    <h1><font color="white">{{ soal.subject == "L" ? "Literasi" : "Numerasi" }}</font></h1>
                    <h3><font color="white">Soal {{ soal.subject == "L" ? "Literasi" : "Numerasi" }} untuk siswa</font></h3>
                </v-layout>
              </v-card-text>
              <v-layout row justify-end>
                <v-card class="primary" flat style="border-bottom-left-radius: 20px; border-top-left-radius: 20px; width: 100px; height: 40px; margin-top: 30px;">
                  <v-layout style="border: 3px solid white; border-radius: 15px; width: 30px; height: 30px; margin-left: 5px; margin-top: 5px;">
                    <v-layout style="border: 3px solid white; border-radius: 5px; width: 1px; height: 14px; margin: 4.5px;"></v-layout>
                  </v-layout>
                </v-card>
              </v-layout>
            </v-layout>
          </v-card>

          <v-card-text class="px-2 py-3">
            <!-- <span class="grey--text font-weight-bold caption">Soal {{$store.state.preview.selected + 1}}</span> -  -->
            <span class="grey--text font-weight-bold caption">{{ soal.type }}</span>
          </v-card-text>
          <v-card-text class="px-2 py-3">
            <!-- <div v-html="$store.state.preview.data[$store.state.preview.selected].question">
            </div> -->
            <div :key="latex" v-html="soal.question"></div>
          </v-card-text>

          <v-card-text class="px-2 py-3">

            <template v-if="soal.type == 'PGK'">
              <v-layout row wrap v-if="soal.answers">
                <v-flex xs12 v-for="(answer, index) in soal.answers" :key="index">
                  <v-flex xs12 class="mb-2 pa-2 text-xs-center" style="border: 2px solid grey; border-radius: 20px;" v-if="answer != null"> 
                    <v-layout style="cursor: pointer" row align-center justify-space-between>
                      <div v-html="answer"></div>
                      <div>
                        <v-checkbox v-model="checkbox[index]" color='green darken-2'></v-checkbox>
                      </div>
                    </v-layout>
                  </v-flex>
                </v-flex>
                
              </v-layout>
            </template>
            
            <template v-if="soal.type == 'PG'">
              <v-layout row wrap v-if="soal.answers">
                <v-flex xs12 class="pa-1" style="cursor: pointer" @click="select(index)"
                  v-for="(answer, index) in soal.answers" :key="index"
                > 
                  <div class="pa-2 text-xs-center" v-if="answer != null" :style="selected != index ? 'border: 2px solid grey; border-radius: 20px;' : 'border: 2px solid #2fb45c; background: #cbecd6; border-radius: 20px;'" v-html="answer"></div> 
                </v-flex>
              </v-layout>
            </template>

            <!-- <pre>
              {{$store.state.preview.custom_matrix[0]}}
            </pre> -->

            
          </v-card-text>
          <v-divider></v-divider>

          <!-- <v-card-actions>
            <v-btn flat block large style="border: 2px solid grey" class="mr-2"
              @click="$store.state.preview.selected > 0 ? $store.commit('prev') : ''"
            > Sebelumnya </v-btn>
            <v-btn flat block large class="secondary white--text ml-2"
              @click="$store.state.preview.selected < ($store.state.preview.data.length - 1) ? $store.commit('next') : ''"
            > Selanjutnya </v-btn>
          </v-card-actions> -->

        </v-card>

        <v-card class="mt-2">
          <v-card-text class="pa-2">
            <p class="mb-2">
              {{ soal.type == 'Ess' ? 'Pedoman Jawaban :' : 'Kunci Jawaban :' }}
            </p>

            <div class="mb-1 ml-3 font-weight-medium" v-for="(item, index) in soal.correctAnswers" :key="index">
              <div :key="latex" v-html="item"></div>
            </div>

          </v-card-text>
        </v-card>
      </v-card-text>
    </v-card>
  </v-layout>
</template>
<style scoped>
  .ql-align-center{
    text-align: center !important;
  }
</style>
<script>

export default {
    data() {
        return {
            soal: {},
            types: {
                'PGK': 'Pilihan Ganda Kompleks',
                'PG': 'Pilihan Ganda',
                'Ess': 'Essay',
                'CPN': 'Isian Singkat Angka',
                'CPS': 'Isian Singkat Kata',
                'Mtx': 'Matrix',
                'Mtch': 'Menjodohkan',
            },
            latex: '',

            checkbox: [],
            istrue: true,
            isfalse: false,

            selected: 'F',

            letter: [ "A", "B", "C", "D", "E", "F", "G", "H", "I", "J"]
        }
    },

    mounted() {
        let jsonBody = localStorage.getItem("previewQuestion");
        
        if (jsonBody != null && jsonBody != "") {
            let data = JSON.parse(jsonBody);
            this.soal = data;
            var answer = [data.answers.A, data.answers.B, data.answers.C, data.answers.D, data.answers.E];
            console.log(answer)
            this.soal.answers = answer;
        }

        setTimeout(() => {
            this.reRender();    
        }, 500);
        
    },

    methods: {
        reRender() {
          window.MathJax.Hub.Config({
            tex2jax: {
              inlineMath: [ ['$','$'], ["\\(","\\)"] ],
              processEscapes: true
            }
          });
          if(window.MathJax) {
              console.log('rendering mathjax');
              window.MathJax.Hub.Queue(["Typeset", window.MathJax.Hub], () => console.log('done'));
          }
        },
        select(index) {
          this.selected = index
        }
    },
}
</script>