<template>
    <v-layout column class="pa-4">
        <v-layout class="py-4" row wrap>
            <v-flex xs12 sm6 class="d-flex">
                <p class="title font-weight-bold libre-franklin" style="margin: auto">Register Pegawai</p>
            </v-flex>
        </v-layout>

        <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
            <v-progress-circular
                :size="55" class="ma-4"
                color="primary2"
                indeterminate
            ></v-progress-circular>
            {{loading.message}}
        </v-layout>

        <template v-else>
            <v-flex xs12 sm8 md6>
                <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px">
                    <v-card-title class="headline">Data Pegawai</v-card-title>
                    <v-card-text>
                        <label for="type">Nama</label>
                        <v-text-field
                            single-line solo autofocus
                            background-color="lighten-3 grey"
                            placeholder="Masukkan Nama Lengkap" flat
                            v-model="name"
                            :loading="loading.state"
                            id="name" required
                        >
                        </v-text-field>

                        <label for="type">Email</label>
                        <v-text-field
                            single-line solo autofocus
                            background-color="lighten-3 grey"
                            placeholder="Masukkan Email" flat
                            v-model="email"
                            :loading="loading.state"
                            id="email" required
                            type="email"
                        >
                        </v-text-field>

                        <label for="subject">Username</label>
                        <v-text-field
                            single-line solo autofocus
                            background-color="lighten-3 grey"
                            placeholder="Masukkan Username" flat
                            v-model="username"
                            :loading="loading.state"
                            id="username" required
                        >
                        </v-text-field>

                        <label for="type">Password</label>
                        <v-text-field
                            single-line solo autofocus
                            background-color="lighten-3 grey"
                            placeholder="Masukkan Password" flat
                            v-model="password"
                            type="password"
                            :loading="loading.state"
                            id="password"
                        ></v-text-field>

                        <label for="workUnit">Unit Kerja</label>
                        <v-select
                            :items="listWorkUnit"
                            item-value="_id" item-text="name"
                            single-line solo flat
                            clearable
                            background-color="lighten-3 grey"
                            label="Unit Kerja"
                            v-model="workUnitId"
                            id="workUnit"
                        ></v-select>

                        <label for="type">Twitter Id</label>
                        <v-text-field
                            single-line solo autofocus
                            background-color="lighten-3 grey"
                            placeholder="Masukkan Twitter ID" flat
                            v-model="twitterId"
                            :loading="loading.state"
                            id="twitterId"
                        ></v-text-field>

                        <label for="type">Facebook Id</label>
                        <v-text-field
                            single-line solo autofocus
                            background-color="lighten-3 grey"
                            placeholder="Masukkan Facebook ID" flat
                            v-model="facebookId"
                            :loading="loading.state"
                            id="facebookId"
                        ></v-text-field>
                        
                        <label for="type">Instagram Id</label>
                        <v-text-field
                            single-line solo autofocus
                            background-color="lighten-3 grey"
                            placeholder="Masukkan Instagram ID" flat
                            v-model="igId"
                            :loading="loading.state"
                            id="igId"
                        ></v-text-field>
                    </v-card-text>
                </v-card>
                <v-layout row class="pa-4">
                    <v-spacer />
                    <v-btn 
                        class="primary2 font-weight-bold white--text" 
                        style="margin-start: 16px;"
                        @click="register"
                    
                    >
                        <h4>
                            Registrasi
                        </h4>
                    </v-btn>
                </v-layout>
            </v-flex>
        </template>
        <successDialog></successDialog>
    </v-layout>
</template>

<script>
import Logo from '~/components/Logo.vue'
import successDialog from '~/components/dialog.vue'
export default {
    components: {
        Logo,
        successDialog,
    },

    auth: false,
    
    data() {
        return {
            loading: {
                state: false,
                message: 'Memuat Data...'  
            },
            email: '',
            name: '',
            twitterId: '',
            facebookId: '',
            igId: '',
            username: '',
            password: '',
            listWorkUnit: '',
            workUnitId: '',
        }
    },

    mounted() {
      this.getWorkUnit();  
    },

    methods: {
        async getWorkUnit() {
            this.loading = { state: true, message: 'Memuat data Unit Kerja'}
            try {
                const req = await this.$workunit.getWorkUnit({limit: "", page: ""})

                console.log('users : ', req.data);
                this.listWorkUnit = req.data

                setTimeout(() => {
                this.loading.state = false
                }, 500);
                
            } catch (error) {
                console.log(error);
                
                setTimeout(() => {
                this.loading.state = false
                }, 500);
            }
        },

        async register() {
            this.loading.state = true;
            try {
                const req = await this.$user.register({
                    name: this.name,
                    email: this.email,
                    workUnitId: this.workUnitId,
                    username: this.username,
                    password: this.password,
                    twitterId: this.twitterId,
                    facebookId: this.facebookId,
                    facebookToken: "",
                    instagramId: this.igId,
                    instagramToken: "",
                });

                // this.$auth.strategy.token.set(req.token);
                this.login();
            } catch (error) {
                console.log(error);

                setTimeout(() => {
                    this.loading.state = false;
                }, 500);
            }
        },

        async updateProfile() {
            try {
                const req = await this.$user.updateProfile({
                    twitterId: this.twitterId,
                    facebookId: this.facebookId,
                    facebookToken: "",
                    instagramId: this.igId,
                    instagramToken: "",
                    name: this.name,
                    email: this.email,
                })

                // this.login();
            } catch (error) {
                console.log(error);

                setTimeout(() => {
                    this.loading.state = false
                }, 500);
            }
        }, 

        async login() {
            try {
                const request = await this.$auth.loginWith('local1', {
                    data: {
                        username: this.username,
                        password: this.password
                    },
                });
                

                console.log(request);
                setTimeout(() => {
                    // window.location.reload()
                    // this.updateProfile();
                    this.progressBar = false
                    this.$router.push('/')
                }, 300)
            } catch (error) {
                console.log(error);
            }
        }
    },
}
</script>