<template>
    <v-layout column class="pa-4">
        <v-layout class="py-4" row wrap>
            <v-hover>
                <v-icon slot-scope="{hover}" :color="`${ hover ? 'primary' : 'grey'}`" class="pointer pr-4" @click="$router.go(-1)">
                keyboard_arrow_left
                </v-icon>
            </v-hover>
            <v-flex xs12 sm6 class="d-flex">
                <p class="title font-weight-bold libre-franklin" style="margin: auto">Impor Admin</p>
            </v-flex>
        </v-layout>

        <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
            <v-progress-circular
                :size="55" class="ma-4"
                color="primary2"
                indeterminate
            ></v-progress-circular>
            {{loading.message}}
        </v-layout>

        <template v-else>
            <v-flex xs12 sm8 md6>
                <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px">
                    <v-card-title class="pt-4 px-4 pb-0">
                        <p style="font-size: 16px;">Total Data : <span class="font-weight-bold">{{admins.length}}</span></p>
                        <v-spacer/>
                    </v-card-title>
                    <v-data-table
                        :headers="headers"
                        :items="admins"
                        class="elevation-0"
                        hide-actions
                        :pagination.sync="pagination"
                        sort-icon='sort'
                    > 
                        <template slot="headers" slot-scope="props">
                        <tr>
                            <th
                            v-for="header in props.headers"
                            :key="header.text"
                            :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                            @click="changeSort(header.value)"
                            >
                            <v-layout align-start>
                                {{ header.text }} &nbsp;
                                <v-img src="/sort.png" width="16px" max-width="16px" height="16px" contain @click.stop></v-img>
                            </v-layout>
                            </th>
                        </tr>
                        </template>
                        <template v-slot:items="props">
                            <td class="">{{props.item.no_telp}}</td>
                            <td class="">{{props.item.nama}}</td>
                            <td class="">
                                <v-menu bottom left>
                                <template v-slot:activator="{ on }">
                                    <v-btn icon v-on="on">
                                    <v-icon>more_vert</v-icon>
                                    </v-btn>
                                </template>

                                <v-list dense>
                                    <!-- <v-list-tile @click="edit(props.item)">
                                    <v-list-tile-title>Ubah Admin</v-list-tile-title>
                                    </v-list-tile>

                                    <v-divider></v-divider> -->
                                    <v-list-tile @click="deleteAdmin(props.item)">
                                    <v-list-tile-title class="error--text">Hapus Admin</v-list-tile-title>
                                    </v-list-tile>
                                </v-list>
                                </v-menu>
                            </td>
                        </template>
                    </v-data-table>
                    <div class="text-xs-center pt-2">
                        <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
                    </div>
                    <v-layout row class="pa-4">
                        <input type="file" id="xlsx_admin" name="myfile" @change="fileSelected" hidden accept=".xlsx">
                        <v-btn 
                            class="primary2 font-weight-bold white--text" 
                            style="margin-start: 16px;"
                            @click="filePick"
                        
                        >
                            <h4>
                                Pilih File
                            </h4>
                        </v-btn>
                        <v-spacer/>
                        <v-btn 
                            class="primary2 font-weight-bold white--text" 
                            style="margin-start: 16px;"
                            @click="addAdmin"
                        
                        >
                            <h4>
                                Kirim
                            </h4>
                        </v-btn>
                    </v-layout>
                    
                </v-card>
            </v-flex>
        </template>

        <successDialog></successDialog>
    </v-layout>
</template>
<script>
import Logo from '~/components/Logo.vue'
import successDialog from '~/components/dialog.vue'
import TextReader from '~/components/FileReader';
import XLSX from 'xlsx'
export default {
    components:{
        Logo,
        successDialog
    },
    data(){
        return {
            headers: [
                { text: 'Telp', align: 'left', value: 'phone' },
                { text: 'Nama', align: 'left', value: 'nama_admin' },
                { text: 'Action', align: 'left', value: 'action' },
            ],

            admins: [],
            loading: {
                state: false,
                message: ''
            },
            date: new Date(),
            pagination: {},
        }
    },

    computed: {
        pages () {
        if (this.pagination.rowsPerPage == null ||
            this.pagination.totalItems == null
        ) return 0
        return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }
    },

    mounted() {
        this.$ga.event({
            eventCategory: 'Admin',
            eventAction: 'add_xlsx_admin',
            eventLabel: 'Admin',
            eventValue: 0
        });
        this.$gAnalytic.track({category: "Admin", action: "add_xlsx_admin", label: "Admin"})
    },

    methods: {
        filePick() {
            document.getElementById("xlsx_admin").click();
        },

        async fileSelected(e) {
            this.admins = [];
            var file = e.target.files[0]
            var filename = file.name.split(".")[0]
            this.filename = file.name
            var reader = new FileReader();
            var result = {}
            var temp = []
            var _sheetName = ''
            console.log(filename);

            reader.onload = (e) => {
                var data = e.target.result
                console.log(e);
                data = new Uint8Array(data)

                var workbook = XLSX.read(data, {
                    type: 'array'
                });
                console.log("onload workbook = " + workbook)

                result = {}

                workbook.SheetNames.forEach(function(sheetName){
                    console.log("SheetName: " + sheetName);

                });
            }

            reader.onloadend = (e) => {
                var data = e.target.result
                console.log(e);
                data = new Uint8Array(data)

                var workbook = XLSX.read(data, {
                    type: 'array'
                });
                console.log("onloadend workbook = " + workbook)

                result = {}

                workbook.SheetNames.forEach((sheetName) => {
                    console.log("SheetName: " + sheetName);
                    _sheetName = sheetName;

                    var sheetToJson = XLSX.utils.sheet_to_json(workbook.Sheets[sheetName], 
                        {raw: true, defval:null}
                    );

                    for (const i in sheetToJson) {
                        if (sheetToJson[i].NIK == '') {
                            sheetToJson.splice(i, 1);
                        } 
                    }
                    console.log("admins "+JSON.stringify(sheetToJson));
                    this.admins = sheetToJson;
                    this.pagination.totalItems = sheetToJson.length;
                    console.log("admins ", this.admins);
                });
            }

            reader.readAsArrayBuffer(file);
        },

        async addAdmin() {
            this.loading = { state: true, message: 'Menambahkan Admin...'}
            try {
                var count = 0;
                var fail = 0;
                for(const i in this.admins) {
                    var phone = ""
                    if (this.admins[i].no_telp.includes("+62")) {
                        phone = this.admins[i].no_telp
                    } else {
                        this.admins[i].no_telp = this.admins[i].no_telp.slice(0, 0) + this.admins[i].no_telp.slice(1);
                        phone = "+62"+this.admins[i].no_telp
                    }

                    const req = this.$admin.addAdmin({
                        phoneNumber: phone,
                        fullName: this.admins[i].nama
                    })

                    console.log(req);
                    if (req != null) {
                        if (req.status) {
                            count++;
                        } else {
                            fail++;
                        }
                    } else {
                        fail++;
                    }
                }

                this.$store.commit('openDialog', {
                    class: 'success', 
                    title: 'Berhasil', 
                    message: 'Berhasil menambahkan admin', 
                    target: '/admin'
                })
                console.log("count", count, fail, this.admins.length)
                // if (count == this.admins.length) {
                //     this.loading.state = false

                //     this.$store.commit('openDialog', {
                //         class: 'success', 
                //         title: 'Berhasil', 
                //         message: 'Berhasil menambahkan ' +count+ ' admin', 
                //         target: '/admin'
                //     })
                // } else if (fail < this.admins.length) {
                //     let total = this.admins.length
                //     this.loading.state = false
                //     this.$store.commit('openDialog', {
                //         class: 'success', 
                //         title: 'Berhasil', 
                //         message: 'Berhasil menambahkan ' +count+ ' dari ' +total+ ' admin', 
                //         target: '/admin'
                //     })
                // } else {
                //     this.loading.state = false

                //     this.$store.commit('openDialog', {
                //         class: 'failed', 
                //         title: 'Gagal', 
                //         message: 'Gagal menambahkan admin, No Telepon sudah ada', 
                //         target: '/add-xlsx'
                //     })
                // }
            } catch (e) {
                console.log(e.message);
                setTimeout(() => {
                    this.loading.state = false

                    this.$store.commit('openDialog', {
                        class: 'failed', 
                        title: 'Gagal', 
                        message: 'Gagal menambahkan admin, No Telepon sudah ada', 
                        target: '/admin/add-xlsx'
                    })
                }, 500);
            }
        },

        async edit(e) {

        },

        async deleteAdmin(item) {
            if (confirm('Apakah anda yakin akan menghapus Admin '+item.nama+'?' )) {
                console.log(item);
                this.admins.splice(this.admins.indexOf(item.no_telp), 1);
            }
        },

        changeSort (column) {
            if (this.pagination.sortBy === column) {
                this.pagination.descending = !this.pagination.descending
            } else {
                this.pagination.sortBy = column
                this.pagination.descending = false
            }
        },
   },
}
</script>