<template>
    <v-layout column class="pa-4">
        <v-layout class="py-4" row wrap>
            <v-hover>
                <v-icon slot-scope="{hover}" :color="`${ hover ? 'primary' : 'grey'}`" class="pointer pr-4" @click="$router.go(-1)">
                keyboard_arrow_left
                </v-icon>
            </v-hover>
            <v-flex xs12 sm6 class="d-flex">
                <p class="title font-weight-bold libre-franklin" style="margin: auto">{{isEdit ? "Sunting Admin" : "Tambah Admin"}}</p>
            </v-flex>
        </v-layout>

        <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
            <v-progress-circular
                :size="55" class="ma-4"
                color="primary2"
                indeterminate
            ></v-progress-circular>
            {{loading.message}}
        </v-layout>

        <template v-else>
            <v-flex xs12 sm8 md6>
                <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px">
                    <v-card-title class="headline">Data Admin</v-card-title>
                    <v-card-text>
                        <label for="type">No Telp</label>
                        <v-text-field
                            single-line solo autofocus
                            background-color="lighten-3 grey"
                            placeholder="Masukkan No Telepon" flat
                            type="number"
                            v-model="phoneNumber"
                            :loading="loading.state"
                            id="phoneNumber"
                        ></v-text-field>

                        <label for="type">Nama Admin</label>
                        <v-text-field
                            single-line solo autofocus
                            background-color="lighten-3 grey"
                            placeholder="Masukkan Nama Admin" flat
                            v-model="fullName"
                            :loading="loading.state"
                            id="fullName"
                        ></v-text-field>

                    </v-card-text>
                </v-card>

                <v-layout row class="pa-4">
                    <v-spacer/>
                        <v-btn 
                            class="primary2 font-weight-bold white--text" 
                            style="margin-start: 16px;"
                            @click="{{isEdit ? editAdmin() : addAdmin()}}"
                        >
                            <h4>
                                {{isEdit ? "Sunting Admin" : "Tambah Admin"}}
                            </h4>
                        </v-btn>
                </v-layout>
            </v-flex>
        </template>

        <successDialog></successDialog>
    </v-layout>
</template>
<script>
import Logo from '~/components/Logo.vue'
import successDialog from '~/components/dialog.vue'

export default {
    components:{
        Logo,
        successDialog
    },

    data() {
        return {
            phoneNumber: '',
            fullName: '',
            loading: {
                state: false,
                message: ''
            },
            isEdit: false,
            _id: ''
        }
    },

    mounted() {
        this.$ga.event({
            eventCategory: 'Admin',
            eventAction: 'add_admin',
            eventLabel: 'Admin',
            eventValue: 0
        });
        this.$gAnalytic.track({category: "Admin", action: "add_admin", label: "Admin"})
        let jsonBody = localStorage.getItem('adminEditData');
        if (jsonBody != null && jsonBody != "") {
            this.isEdit = true;
            let admin = JSON.parse(jsonBody);
            this._id = admin._id;
            this.phoneNumber = admin.phoneNumber;
            this.fullName = admin.fullName;
        }
    },

    methods: {
        async addAdmin() {
            this.loading = { state: true, message: 'Menambahkan Admin...'}
            try {
                var phone = ""
                if (this.phoneNumber.includes("+62")) {
                    phone = this.phoneNumber
                } else {
                    this.phoneNumber = this.phoneNumber.slice(0, 0) + this.phoneNumber.slice(1);
                    phone = "+62"+this.phoneNumber
                }
                const req = this.$admin.addAdmin({
                    phoneNumber: phone,
                    fullName: this.fullName
                })

                this.loading.state = false

                this.$store.commit('openDialog', {
                    class: 'success', 
                    title: 'Berhasil', 
                    message: 'Berhasil menambahkan Admin', 
                    target: '/admin'
                })
            } catch (error) {
                console.log(error, this.phoneNumber.includes("+62"))
                setTimeout(() => {
                    this.loading.state = false

                    this.$store.commit('openDialog', {
                        class: 'failed', 
                        title: 'Gagal', 
                        message: 'Gagal menambahkan Admin', 
                        target: '/admin/add'
                    })
                }, 500);
            }
        },

        async editAdmin() {
            this.loading = { state: true, message: 'Merubah data Admin...'}
            try {
                var phone = ""
                if (this.phoneNumber.includes("+62")) {
                    phone = this.phoneNumber
                } else {
                    this.phoneNumber = this.phoneNumber.slice(0, 0) + this.phoneNumber.slice(1);
                    phone = "+62"+this.phoneNumber
                }
                const req = this.$admin.updateAdmin({
                    _id: this._id,
                    data: {
                        phoneNumber: phone,
                        fullName: this.fullName
                    }
                })

                this.loading.state = false

                this.$store.commit('openDialog', {
                    class: 'success', 
                    title: 'Berhasil', 
                    message: 'Berhasil merubah data Admin', 
                    target: '/admin'
                })
            } catch (error) {
                console.log(error)
                setTimeout(() => {
                    this.loading.state = false

                    this.$store.commit('openDialog', {
                        class: 'failed', 
                        title: 'Gagal', 
                        message: 'Gagal merubah data Admin', 
                        target: '/admin/add'
                    })
                }, 500);
            }
        }
    }
}
</script>