<template>
  <v-layout column class="pa-4">
    <v-layout class="py-4" row wrap>
      <v-flex xs12 sm6 class="d-flex">
        <p class="title font-weight-bold libre-franklin" style="margin: auto">Manajemen Admin</p>
      </v-flex>
      <v-flex xs12 sm6>
        <v-layout justify-end>
          <!-- <v-btn v-if="users.length > 0" class="primary2 font-weight-bold f-btn white--text" :to="'/institution/user-add?id='+$route.query.id+'&name='+$route.query.name+'&type='+$route.query.type">Tambah User</v-btn> -->
          <div class="my-2 input-icon-container text-xs-right" style="height: 40px">
            <input type="text" v-model="search" placeholder="Pencarian" style="padding: 5px 15px; margin: auto; width: 250px; height: 40px; background: white">
            <v-icon class="ma-2">search</v-icon>
          </div>
        </v-layout>
      </v-flex>
    </v-layout>

    <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
      <v-progress-circular
        :size="55" class="ma-4"
        color="primary2"
        indeterminate
      ></v-progress-circular>
      {{loading.message}}
    </v-layout>

    <template v-else>
      <!-- <v-layout column align-center justify-center style="height: 75vh" v-if="institutions.length == 0">
        <v-img src="/illus-not-found.png" width="200" contain></v-img>
        <p class="my-4 title text-xs-center font-weight-bold">Belum ada Data Institusi</p>
        <v-btn
          class="primary2 font-weight-bold f-btn white--text" to="/institution/school-unclaimed" 
          v-if="$auth.$state.user.role == 'kkg'"
        >Klaim Sekolah</v-btn>
      </v-layout> -->

      <v-flex xs12 sm8 md6>
        <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px">
          <v-card-title class="pt-4 px-4 pb-0">
            <p style="font-size: 16px;">Total Data : <span class="font-weight-bold">{{listAdmin.length}}</span></p>
            <v-spacer/>
            
            <v-btn 
              class="primary2 font-weight-bold white--text" 
              @click="addAdmin"
            >
              <h3>
                Tambah Admin
              </h3>
            </v-btn>

            <!-- <v-btn 
              class="primary2 font-weight-bold white--text" 
              to="/admin/add-xlsx"
            >
              <h3>
                Unggah XLSX
              </h3>
            </v-btn> -->
          </v-card-title>

          <v-data-table
              :headers="headers"
              :items="listAdmin"
              class="elevation-0"
              hide-actions
              :pagination.sync="pagination"
              sort-icon='sort'
          > 
              <template slot="headers" slot-scope="props">
              <tr>
                  <th
                  v-for="header in props.headers"
                  :key="header.text"
                  :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                  @click="changeSort(header.value)"
                  >
                  <v-layout align-start>
                      {{ header.text }} &nbsp;
                      <v-img src="/sort.png" width="16px" max-width="16px" height="16px" contain @click.stop></v-img>
                  </v-layout>
                  </th>
              </tr>
              </template>
              <template v-slot:items="props">
                  <td class="">{{props.item.phoneNumber}}</td>
                  <td class="">{{props.item.fullName}}</td>
                  <td class="">
                      <v-menu bottom left>
                      <template v-slot:activator="{ on }">
                          <v-btn icon v-on="on">
                          <v-icon>more_vert</v-icon>
                          </v-btn>
                      </template>

                      <v-list dense>
                          <v-list-tile @click="edit(props.item)">
                          <v-list-tile-title>Sunting Admin</v-list-tile-title>
                          </v-list-tile>

                          <v-divider></v-divider>
                          <v-list-tile @click="deleteAdmin(props.item)">
                          <v-list-tile-title class="error--text">Hapus Admin</v-list-tile-title>
                          </v-list-tile>
                      </v-list>
                      </v-menu>
                  </td>
              </template>
          </v-data-table>
          <div class="text-xs-center pt-2">
            <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
          </div>
        </v-card>
      </v-flex>
    </template>

    <successDialog></successDialog>
  </v-layout>
</template>

<script>
import Logo from '~/components/Logo.vue'
import successDialog from '~/components/dialog.vue'

export default {
  components: {
    Logo,
    successDialog
  },

  data() {
    return {
      search: '',

      headers: [
        { text: 'No Telepon', align: 'left', value: 'phone_number' },
        { text: 'Nama', align: 'left', value: 'nama_admin' },
        { text: 'Action', align: 'left', value: 'action' }
      ],

      listAdmin: [],
      institutions: [],
      institution: '',

      pagination: {},

      loading: {
        state: true,
        message: ''  
      }
    }
  },

  computed: {
    pages () {
      if (this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) return 0
      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
    }
  },

  mounted() {
    this.$ga.event({
      eventCategory: 'Admin',
      eventAction: 'get_admin',
      eventLabel: 'Admin',
      eventValue: 0
    });
    this.$gAnalytic.track({category: "Admin", action: "get_admin", label: "Admin"})
    this.getAdmin()
  },

  methods: {
    async getInstitutions() {
      this.loading = { state: true, message: 'Memuat data Institusi'}
      try {
        if (this.$auth.$state.user.role == 'kkg') {
          const req = await this.$institution.getSchool()
          console.log('institutions : ', req);
          this.institutions = req.data
          this.institution = req.data[0].id
        } else {
          const req = await this.$institution.getInstitutions()
          console.log('institutions : ', req);
          this.institutions = req.data
          this.institution = req.data[0].id
        }

        this.loading.state = false
        this.getAdmin()
        
      } catch (error) {
        this.loading.state = false
        console.log(error.response);
      }
    },

    addAdmin() {
      localStorage.setItem('adminEditData', "")
      this.$router.push('/admin/add')
    },

    async getAdmin() {
      this.loading = { state: true, message: 'Memuat data Admin'}
      try {
        const req = await this.$admin.getAdmin()

        console.log('admin : ', req.data);
        this.listAdmin = req.data
        for (const key in this.listAdmin) {
          if (this.listAdmin.hasOwnProperty(key)) {
            const data = this.listAdmin[key];
            data.phoneNumber = data.phoneNumber.replace("+62", "0")
          }
        }
        this.pagination.totalItems = req.data.length

        setTimeout(() => {
          this.loading.state = false
        }, 500);
        
      } catch (error) {
        console.log(error);
        
        setTimeout(() => {
          this.loading.state = false
        }, 500);
      }
    },

    async approve(username) {
      try {
        const req = await this.$user.approve({ username: username })

        console.log(req);
        alert('Success Approve')
        this.getAdmin()
        
      } catch (error) {
        alert(error.response.data.meta.message)
        console.log(error.response);
      }
    },

    convertDate(jsonDate) {
      var date = new Date(jsonDate).toLocaleString('id-ID')
      var day =  new Date(jsonDate).getDay().toLocaleString('id-ID')
      const days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu']
      return days[day] + ', ' + date
    },

    changeSort (column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending
      } else {
        this.pagination.sortBy = column
        this.pagination.descending = false
      }
    },

    edit(item) {
      localStorage.setItem('adminEditData', JSON.stringify(item))
      this.$router.push('/admin/add')
    },

    async deleteAdmin(item) {
      if (confirm('Apakah anda yakin akan menghapus Admin '+item.fullName+'?' )) {
        try {
          const req = await this.$admin.deleteAdmin({_id: item._id})
  
          if (req.status) {
            this.$store.commit('openDialog', {
              class: 'success', 
              title: 'Berhasil', 
              message: 'Berhasil menghapus Admin '+item.fullName, 
              target: '/admin'
            })
          }

          this.getAdmin()
        } catch (error) {
          console.log(error.message);
        }
      }
    }
  },
}
</script>
