<template>
    <v-layout column class="pa-4">
        <v-layout class="py-4" row wrap>
            <v-hover>
                <v-icon slot-scope="{hover}" :color="`${ hover ? 'primary' : 'grey'}`" class="pointer pr-4" @click="$router.go(-1)">
                keyboard_arrow_left
                </v-icon>
            </v-hover>
            <v-flex xs12 sm6 class="d-flex">
                <p class="title font-weight-bold libre-franklin" style="margin: auto">{{isEdit ? "Sunting Hashtag" : "Tambah Hashtag"}}</p>
            </v-flex>
        </v-layout>

        <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
            <v-progress-circular
                :size="55" class="ma-4"
                color="primary2"
                indeterminate
            ></v-progress-circular>
            {{loading.message}}
        </v-layout>

        <template v-else>
            <v-flex xs12 sm8 md6>
                <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px">
                    <v-card-title class="headline">Data Hashtag</v-card-title>
                    <v-card-text>
                        <label for="type">Hashtag</label>
                        <v-text-field
                            single-line solo autofocus
                            background-color="lighten-3 grey"
                            placeholder="Masukan hashtag tanpa tanda pagar '#'" flat
                            v-model="name"
                            :loading="loading.state"
                            id="name" required
                        ></v-text-field>
                        
                    </v-card-text>
                </v-card>

                <v-layout row class="pa-4">
                    <v-spacer/>
                        <v-btn 
                            class="primary2 font-weight-bold white--text" 
                            style="margin-start: 16px;"
                            @click="{{isEdit ? editHashtag() : addHashtag()}}"
                        
                        >
                            <h4>
                                {{isEdit ? "Sunting Hashtag" : "Tambah Hashtag"}}
                            </h4>
                        </v-btn>
                </v-layout>
            </v-flex>
        </template>

        <successDialog></successDialog>
    </v-layout>
</template>
<script>
import Logo from '~/components/Logo.vue'
import successDialog from '~/components/dialog.vue'

export default {
    components:{
        Logo,
        successDialog
    },

    auth: false,

    data() {
        return {
            name: '',
            dialogDate: false,
            _id: '',
            date: new Date(),
            loading: {
                state: false,
                message: ''
            },
            isEdit: false,
        }
    },

    mounted(){
        let jsonBody = localStorage.getItem('hashtagEditData');
        if (jsonBody != null && jsonBody != "") {
            let hashtag = JSON.parse(jsonBody);
            console.log(hashtag);
            this._id = hashtag._id;
            this.isEdit = true;
            this.name = hashtag.hashtag;
        }
    },

    methods: { 
        async addHashtag() {
            localStorage.removeItem('hashtagEditData');
            this.loading = { state: true, message: 'Menambahkan Hashtag...'}
            try {
                const req = await this.$hashtag.addHashtag({
                    hashtag: this.name,
                })

                if (req.hashtag == this.name) {
                    // const stat = await this.$topchart.flushData();
                    // if (stat.status == "ok") {
                    //     await this.$topchart.pullData();
                    // }

                    this.loading.state = false

                    this.$store.commit('openDialog', {
                        class: 'success', 
                        title: 'Berhasil', 
                        message: 'Berhasil menambahkan Hashtag', 
                        target: '/hashtag'
                    })
                }
            } catch (error) {
                console.log(error.message);
                setTimeout(() => {
                    this.loading.state = false

                    this.$store.commit('openDialog', {
                        class: 'failed', 
                        title: 'Gagal', 
                        message: 'Gagal menambahkan Hashtag', 
                        target: '/hashtag/add'
                    })
                }, 500);
            }
            
        },

        async editHashtag() {
            
            this.loading = { state: true, message: 'Merubah Data Hashtag...'}
            try {
                const req = await this.$hashtag.updateHashtag({
                    _id: this._id,
                    data: {
                        hashtag: this.name
                    }
                })

                if (req.hashtag == this.name) {
                    localStorage.removeItem('hashtagEditData');
                    // const stat = await this.$topchart.flushData();
                    // if (stat.status == "ok") {
                    //     await this.$topchart.pullData();
                    // }

                    this.loading.state = false

                    this.$store.commit('openDialog', {
                        class: 'success', 
                        title: 'Berhasil', 
                        message: 'Berhasil merubah data Hashtag', 
                        target: '/hashtag'
                    })
                }
            } catch (error) {
                console.log(error.message);
                setTimeout(() => {
                    this.loading.state = false

                    this.$store.commit('openDialog', {
                        class: 'failed', 
                        title: 'Gagal', 
                        message: 'Gagal merubah data Hashtag', 
                        target: '/hashtag/add'
                    })
                }, 500);
            }
        }
    }
}
</script>