<template>
  <v-dialog v-model="$store.state.dialog.display" max-width="320px" persistent>
    <v-card>
      <!--  :class="$store.state.dialog.class" -->
      <!-- <v-card-title class="pa-1 pl-3 font-weight-bold">
        <v-spacer/>
        <v-btn class="transparent" small flat icon @click="$store.commit('closeDialog')">
          <v-icon color="error" small>close</v-icon>
        </v-btn>
      </v-card-title> -->
      <v-card-text class="text-xs-center">
        <v-img :src="$store.state.dialog.class == 'success' ? '/ok.png' : '/failed.png'" width="100%" contain height="45px" center style="margin: 43px 0 26px 0"></v-img>
        <p class="font-weight-bold title pt-sans">
          {{$store.state.dialog.title}}
        </p>
        <p class="libre-franklin ma-0">
          {{$store.state.dialog.message}}
        </p>
      </v-card-text>

      <v-card-actions style="padding-bottom: 36px">
        <v-spacer/>
        <v-btn large
          class="primary2 white--text elevation-0" 
          @click="close"
        >Kembali</v-btn>
        <v-spacer/>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  methods: {
    close() {
      if (this.$store.state.dialog.reload) {
        this.$store.commit('closeDialog')
        location.reload()
      } else {
        this.$router.push(this.$store.state.dialog.target)
        this.$store.commit('closeDialog')
      }
    }
  },
}
</script>