<template>
  <div class="mb-2">
    <v-layout align-start justify-start>
      <v-img src="/logokemendikbud.png" contain position="left" height="72px"></v-img>
      <p class="mb-0">
      </p>
    </v-layout>
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="180" height="36" viewBox="0 0 180 36">
      <g fill="none" fill-rule="evenodd">
        <rect width="36" height="36" fill="#2865CA" rx="2.25"/>
        <text fill="#FFF" font-family="LibreFranklin-Bold, Libre Franklin" font-size="9" font-weight="bold">
          <tspan x="6.912" y="21.375">AKM</tspan>
        </text>
        <text fill="#FFF" font-family="LibreFranklin-Bold, Libre Franklin" font-size="14" font-weight="bold">
          <tspan x="48" y="20">AKM E-Learning</tspan>
        </text>
      </g>
    </svg> -->
  </div>
</template>

<style>