<template>
  <div class="mb-2" style="width: 192px">
    <v-layout row align-center>
      <v-img src="/logokemendikbud.png" contain height="72px"></v-img>
      <p class="mb-0">
      </p>
    </v-layout>
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="192" height="48" viewBox="0 0 192 48">
      <g fill="none" fill-rule="evenodd">
        <rect width="48" height="48" fill="#2865CA" rx="3"/>
        <text fill="#FFF" font-family="LibreFranklin-Bold, Libre Franklin" font-size="12" font-weight="bold">
          <tspan x= "9.216" y="28.5">AKM</tspan>
        </text>
        <text fill="#151515" font-family="LibreFranklin-Bold, Libre Franklin" font-size="16" font-weight="bold">
          <tspan x="64" y="27">AKM E-Learning</tspan>
        </text>
      </g>
    </svg> -->
  </div>
</template>

<style>