<template>
  <v-dialog max-width="390px" v-model="$store.state.preview.status" persistent>
    <!-- <pre>{{$store.state.preview.data}}</pre> -->
    <v-card class="grey lighten-3">
      <v-card-title class="pb-0">
        <span class="font-weight-bold">
          Preview Soal Ujian
        </span>
        <v-spacer></v-spacer>
        <v-btn class="transparent" icon flat @click="$store.commit('pratinjau', {status: false, data: {}})">
          <v-icon small>close</v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text v-if="$store.state.preview.data[$store.state.preview.selected]" style="overflow-y: scroll; max-height: 80vh">
        <v-card class="white lighten-4 pa-0 pb-4" flat>
          <v-system-bar status color="secondary">
            <v-spacer></v-spacer>
            <v-icon color="white">network_wifi</v-icon>
            <v-icon color="white">signal_cellular_null</v-icon>
            <v-icon color="white">battery_full</v-icon>
            <span class="white--text">12:30</span>
          </v-system-bar>

          <v-card class="secondary" flat style="border-bottom-left-radius: 25px; border-bottom-right-radius: 25px; max-height: 16vh; height: 16vh;"> 
            <v-layout row>
              <v-card-text>
                <v-layout column wrap>
                    <h1><font color="white">{{ $store.state.preview.data[$store.state.preview.selected].subject == "L" ? "Literasi" : "Numerasi" }}</font></h1>
                    <h3><font color="white">Soal {{ $store.state.preview.data[$store.state.preview.selected].subject == "L" ? "Literasi" : "Numerasi" }} untuk siswa</font></h3>
                </v-layout>
              </v-card-text>
              <v-layout row justify-end>
                <v-card class="primary" flat style="border-bottom-left-radius: 20px; border-top-left-radius: 20px; width: 100px; height: 40px; margin-top: 30px;">
                  <v-layout style="border: 3px solid white; border-radius: 15px; width: 30px; height: 30px; margin-left: 5px; margin-top: 5px;">
                    <v-layout style="border: 3px solid white; border-radius: 5px; width: 1px; height: 14px; margin: 4.5px;"></v-layout>
                  </v-layout>
                </v-card>
              </v-layout>
            </v-layout>
          </v-card>

          <v-card-text class="px-2 py-3">
            <span class="grey--text font-weight-bold caption">Soal {{$store.state.preview.selected + 1}}</span> - 
            <span class="grey--text font-weight-bold caption">{{ types[$store.state.preview.data[$store.state.preview.selected].type] }}</span>
          </v-card-text>
          <v-card-text class="px-2 py-3">
            <div v-html="$store.state.preview.data[$store.state.preview.selected].question">
            </div>
            <!-- <div :key="latex" v-html="$store.state.preview.data[$store.state.preview.selected].question"></div> -->
          </v-card-text>

          <v-card-text class="px-2 py-3">
            <template v-if="$store.state.preview.data[$store.state.preview.selected].type == 'Ess'">
              <v-btn block large class="grey darken-2 grey-darken2--text" outline> Tulis Jawaban
                <v-spacer></v-spacer>
                <v-icon right>keyboard_arrow_right</v-icon>
              </v-btn>
              <p class="text-xs-center ma-3 font-weight-medium">Atau</p>
              <v-btn block large class="grey darken-2 grey-darken2--text" outline> Rekam Suara
                <v-spacer></v-spacer>
                <v-icon right>keyboard_voice</v-icon>
              </v-btn>
            </template>

            <template v-if="$store.state.preview.data[$store.state.preview.selected].type == 'CPN' || $store.state.preview.data[$store.state.preview.selected].type == 'CPS'">
              <v-text-field outline single-line label="Tulis jawabanmu.."></v-text-field>
            </template>

            <template v-if="$store.state.preview.data[$store.state.preview.selected].type == 'PGK'">
              <v-layout row wrap v-if="$store.state.preview.data[$store.state.preview.selected].answers">
                <v-flex xs12 class="mb-2 pa-2 text-xs-center" style="border: 2px solid grey; border-radius: 20px;"
                  v-for="(answer, index) in $store.state.preview.data[$store.state.preview.selected].answers" :key="index"
                > 
                  <v-layout style="cursor: pointer" row align-center justify-space-between>
                    <div v-html="answer"></div>
                    <div>
                      <v-checkbox v-model="checkbox[index]" color='green darken-2'></v-checkbox>
                    </div>
                  </v-layout>
                </v-flex>
              </v-layout>
            </template>
            
            <template v-if="$store.state.preview.data[$store.state.preview.selected].type == 'PG'">
              <v-layout row wrap v-if="$store.state.preview.data[$store.state.preview.selected].answers">
                <v-flex xs12 class="pa-1" style="cursor: pointer" @click="select(index)"
                  v-for="(answer, index) in $store.state.preview.data[$store.state.preview.selected].answers" :key="index"
                > 
                  <div class="pa-2 text-xs-center" :style="selected != index ? 'border: 2px solid grey; border-radius: 20px;' : 'border: 2px solid #2fb45c; background: #cbecd6; border-radius: 20px;'" v-html="answer"></div> 
                </v-flex>
              </v-layout>
            </template>

            <!-- <pre>
              {{$store.state.preview.custom_matrix[0]}}
            </pre> -->

            <template v-if="$store.state.preview.data[$store.state.preview.selected].type == 'Mtx'">
              <v-layout column v-if="$store.state.preview.data[$store.state.preview.selected].answer">
                <v-flex xs2 class="mb-2 pa-2"
                  v-for="(answer, index) in $store.state.preview.data[$store.state.preview.selected].answer" :key="index"
                > 
                  <v-layout>
                    <v-flex>
                      <div v-html="answer"></div>
                    </v-flex>
                    <template v-if="$store.state.preview.custom_matrix[$store.state.preview.selected][0] != null">
                      <div class="pa-2 ma-1" style="border-radius: 8px; border: 1px solid grey" v-for="(ctm, ctm_index) in $store.state.preview.custom_matrix[$store.state.preview.selected]" :key="ctm_index">
                        <div v-html="$store.state.preview.custom_matrix[$store.state.preview.selected][ctm_index][letter.indexOf(index)]"></div>
                      </div>
                    </template>
                    <v-flex v-else class="pa-2 ma-1" style="border-radius: 8px; border: 1px solid grey"
                      v-for="(col, indexCol) in $store.state.preview.data[$store.state.preview.selected].column" :key="indexCol"
                    >
                      <div v-html="col"></div>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </template>

            <template v-if="$store.state.preview.data[$store.state.preview.selected].type == 'Mtch'">
              <v-layout row wrap v-if="$store.state.preview.data[$store.state.preview.selected].answer">
                <v-flex xs6>
                  <v-flex class="pb-2 text-xs-center"
                    v-for="(answer, index) in $store.state.preview.data[$store.state.preview.selected].answer" :key="index"
                  > 
                    <v-layout style="cursor: pointer" row align-center justify-space-between>
                      <div v-html="answer" class="ma-1 pa-2" style="border: 2px solid grey;"></div>
                      <!-- <div>
                        <v-checkbox v-model="checkbox[index]" color='green darken-2'></v-checkbox>
                      </div> -->
                    </v-layout>
                  </v-flex>
                </v-flex>
                <v-flex xs6>
                  <v-flex :key="indexCol"
                    v-for="(col, indexCol) in $store.state.preview.data[$store.state.preview.selected].column" 
                  >
                    <div v-html="col" class="pa-2 ma-1" style="border-radius: 8px; border: 1px solid grey"></div>
                  </v-flex>
                </v-flex>
              </v-layout>
            </template>
          </v-card-text>
          <v-divider></v-divider>

          <v-card-actions>
            <v-btn flat block large style="border: 2px solid grey" class="mr-2"
              @click="$store.state.preview.selected > 0 ? $store.commit('prev') : ''"
            > Sebelumnya </v-btn>
            <v-btn flat block large class="secondary white--text ml-2"
              @click="$store.state.preview.selected < ($store.state.preview.data.length - 1) ? $store.commit('next') : ''"
            > Selanjutnya </v-btn>
          </v-card-actions>

        </v-card>

        <v-card class="mt-2">
          <v-card-text class="pa-2">
            <p class="mb-2">
              {{ $store.state.preview.data[$store.state.preview.selected].type == 'Ess' ? 'Pedoman Jawaban :' : 'Kunci Jawaban :' }}
            </p>

            <p class="mb-1 ml-3 font-weight-medium" v-for="(item, index) in $store.state.preview.data[$store.state.preview.selected].correctAnswers" :key="index">
              {{item}}
            </p>

          </v-card-text>
        </v-card>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<style scoped>
  .ql-align-center{
    text-align: center !important;
  }
</style>

<script>
export default {
  data() {
    return {
      questions: [],
      types: {
        'PGK': 'Pilihan Ganda Kompleks',
        'PG': 'Pilihan Ganda',
        'Ess': 'Essay',
        'CPN': 'Isian Singkat Angka',
        'CPS': 'Isian Singkat Kata',
        'Mtx': 'Matrix',
        'Mtch': 'Menjodohkan',
      },
      latex: '',

      checkbox: [],
      istrue: true,
      isfalse: false,

      selected: '',

      letter: [ "A", "B", "C", "D", "E", "F", "G", "H", "I", "J"]
    }
  },

  mounted() {
    this.reRender();    
    setInterval(() => {
      
    }, 200);
  },

  watch: {
    '$store.state.preview.data': {
      handler() {
        this.questions = this.$store.state.preview.data
        console.log(this.questions);
        this.reRender();

        // this.questionIndex = this.$store.state.preview.selected
        // if (this.questions) {
        //   console.log('col :', this.questions.column);
        // } else {
        //   console.log('nada');
        // }
      }
    }
  },

  methods: {
    reRender() {
      if(window.MathJax) {
        console.log('rendering mathjax');
        window.MathJax.Hub.Queue(["Typeset", window.MathJax.Hub], () => console.log('done'));
      }
    },
    select(index) {
      this.selected = index
    }
  },
}
</script>