<template>
    <v-layout column class="pa-4">
        <v-layout class="py-4" row wrap>
            <v-hover>
                <v-icon slot-scope="{hover}" :color="`${ hover ? 'primary' : 'grey'}`" class="pointer pr-4" @click="$router.go(-1)">
                keyboard_arrow_left
                </v-icon>
            </v-hover>
            <v-flex xs12 sm6 class="d-flex">
                <p class="title font-weight-bold libre-franklin" style="margin: auto">{{isEdit ? "Sunting User" : "Tambah User"}}</p>
            </v-flex>
        </v-layout>

        <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
            <v-progress-circular
                :size="55" class="ma-4"
                color="primary2"
                indeterminate
            ></v-progress-circular>
            {{loading.message}}
        </v-layout>

        <template v-else>
            <v-flex xs12 sm8 md6>
                <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px">
                    <v-card-title class="headline">Data User</v-card-title>
                    <v-card-text>
                        <label for="type">Nama</label>
                        <v-text-field
                            single-line solo autofocus
                            background-color="lighten-3 grey"
                            placeholder="Masukkan Nama" flat
                            v-model="name"
                            :loading="loading.state"
                            id="name" required
                        ></v-text-field>

                        <label for="type">Email</label>
                        <v-text-field
                            single-line solo autofocus
                            background-color="lighten-3 grey"
                            placeholder="Masukkan Email" flat
                            v-model="email"
                            :loading="loading.state"
                            id="email" required
                            type="email"
                        >
                        </v-text-field>

                        <label for="type">Username</label>
                        <v-text-field
                            single-line solo autofocus
                            background-color="lighten-3 grey"
                            placeholder="Masukkan Username" flat
                            v-model="username"
                            :loading="loading.state"
                            id="username"
                        ></v-text-field>

                        <label for="type">Password</label>
                        <v-text-field
                            single-line solo autofocus
                            background-color="lighten-3 grey"
                            placeholder="Masukkan Password" flat
                            v-model="password"
                            type="password"
                            :loading="loading.state"
                            id="password"
                        ></v-text-field>

                        <label for="workUnit">Unit Kerja</label>
                        <v-select
                            :items="listWorkUnit"
                            item-value="_id" item-text="name"
                            single-line solo flat
                            clearable
                            background-color="lighten-3 grey"
                            label="Unit Kerja"
                            v-model="workUnitId"
                            id="workUnit"
                        ></v-select>

                        <label for="type">Twitter Id</label>
                        <v-text-field
                            single-line solo autofocus
                            background-color="lighten-3 grey"
                            placeholder="Masukkan Twitter ID" flat
                            v-model="twitterId"
                            :loading="loading.state"
                            id="twitterId"
                        ></v-text-field>

                        <label for="type">Facebook Id</label>
                        <v-text-field
                            single-line solo autofocus
                            background-color="lighten-3 grey"
                            placeholder="Masukkan Facebook ID" flat
                            v-model="facebookId"
                            :loading="loading.state"
                            id="facebookId"
                        ></v-text-field>
                        
                        <label for="type">Instagram Id</label>
                        <v-text-field
                            single-line solo autofocus
                            background-color="lighten-3 grey"
                            placeholder="Masukkan Instagram ID" flat
                            v-model="igId"
                            :loading="loading.state"
                            id="igId"
                        ></v-text-field>

                        
                    </v-card-text>
                </v-card>

                <v-layout row class="pa-4">
                    <v-spacer/>
                        <v-btn 
                            class="primary2 font-weight-bold white--text" 
                            style="margin-start: 16px;"
                            @click="{{isEdit ? editUser() : addUser()}}"
                        
                        >
                            <h4>
                                {{isEdit ? "Sunting User" : "Tambah User"}}
                            </h4>
                        </v-btn>
                </v-layout>
            </v-flex>
        </template>

        <successDialog></successDialog>
    </v-layout>
</template>
<script>
import Logo from '~/components/Logo.vue'
import successDialog from '~/components/dialog.vue'

export default {
    components:{
        Logo,
        successDialog
    },

    // auth: false,

    data() {
        return {
            name: '',
            email: '',
            twitterId: '',
            facebookId: '',
            igId: '',
            username: '',
            password: '',
            dialogDate: false,
            _id: '',
            date: new Date(),
            loading: {
                state: false,
                message: ''
            },
            isEdit: false,
            listWorkUnit: [],
            workUnitId: "",
        }
    },

    mounted(){
        this.getWorkUnit();
        let jsonBody = localStorage.getItem('userEditData');
        if (jsonBody != null && jsonBody != "") {
            let user = JSON.parse(jsonBody);
            console.log(user);
            this.isEdit = true;
            this._id = user._id;
            this.name = user.name;
            this.email = user.email;
            this.username = user.username;
            this.password = user.password;
            this.twitterId = user.twitterId;
            this.facebookId = user.facebookId;
            this.igId = user.instagramId;
            if (user.workUnit != null) {
                this.workUnitId = user.workUnit._id;
            }
            
        }
    },

    methods: { 
        async getWorkUnit() {
            this.loading = { state: true, message: 'Memuat data Unit Kerja'}
            try {
                const req = await this.$workunit.getWorkUnit({limit: "", page: ""})

                console.log('users : ', req.data);
                this.listWorkUnit = req.data

                setTimeout(() => {
                this.loading.state = false
                }, 500);
                
            } catch (error) {
                console.log(error);
                
                setTimeout(() => {
                this.loading.state = false
                }, 500);
            }
        },

        async addUser() {
            localStorage.removeItem('userEditData');
            this.loading = { state: true, message: 'Menambahkan User...'}
            try {
                const req = await this.$user.addUser({
                    name: this.name,
                    email: this.email,
                    username: this.username,
                    password: this.password,
                    workUnitId: this.workUnitId,
                    twitterId: this.twitterId,
                    facebookId: this.facebookId,
                    instagramId: this.igId
                })

                if (req.name == this.name) {
                    this.sendEmail(req._id)
                    this.loading.state = false

                    this.$store.commit('openDialog', {
                        class: 'success', 
                        title: 'Berhasil', 
                        message: 'Berhasil menambahkan User', 
                        target: '/user'
                    })
                }
            } catch (error) {
                console.log(error.message);
                setTimeout(() => {
                    this.loading.state = false

                    this.$store.commit('openDialog', {
                        class: 'failed', 
                        title: 'Gagal', 
                        message: 'Gagal menambahkan User', 
                        target: '/user/add-user'
                    })
                }, 500);
            }
            
        },

        async editUser() {
            this.loading = { state: true, message: 'Merubah data User...'}
            try {
                const req = await this.$user.updateUser({
                    _id: this._id,
                    data: {
                        name: this.name,
                        email: this.email,
                        username: this.username,
                        password: this.password,
                        workUnitId: this.workUnitId,
                        twitterId: this.twitterId,
                        facebookId: this.facebookId,
                        instagramId: this.igId
                    }
                });

                // if (req.) {
                    this.loading.state = false
                    localStorage.removeItem('userEditData');

                    this.$store.commit('openDialog', {
                        class: 'success', 
                        title: 'Berhasil', 
                        message: 'Berhasil merubah data '+ this.name, 
                        target: '/user'
                    })
                // }
            } catch(error) {
                console.log(error.message);
                setTimeout(() => {
                    this.loading.state = false

                    this.$store.commit('openDialog', {
                        class: 'failed', 
                        title: 'Gagal', 
                        message: 'Gagal merubah data '+ this.name, 
                        target: '/user/add-user'
                    })
                }, 500);
            }
        },

        async sendEmail(_id) {
          try {
            const req = await this.$user.sendEmail({
              _id: _id
            })
          } catch (error) {
            console.log(error);
          }
        }
    }
}
</script>