<template>
  <v-layout column class="pa-4">
    <v-layout class="py-4" row wrap>
      <v-flex xs12 sm6 class="d-flex">
        <p class="title font-weight-bold libre-franklin" style="margin: auto">Manajemen User</p>
      </v-flex>
      <v-flex xs12 sm6>
        <v-layout justify-end>
          <div class="my-2 input-icon-container text-xs-right" style="height: 40px">
          </div>
        </v-layout>
      </v-flex>
    </v-layout>

    <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
      <v-progress-circular
        :size="55" class="ma-4"
        color="primary2"
        indeterminate
      ></v-progress-circular>
      {{loading.message}}
    </v-layout>

    <template v-else>

      <v-flex xs12 sm8 md6>
        <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px">
          <v-card-title class="pt-4 px-4 pb-0">
            <p style="font-size: 16px;">Total Data : <span class="font-weight-bold">{{pagination.totalItems}}</span></p>
            <v-spacer/>
            
            
            <v-btn 
              class="primary2 font-weight-bold white--text" 
              @click="getUsers(true)"
            >
              <h3>
                Kirim Email
              </h3>
            </v-btn>
            <v-btn 
              class="primary2 font-weight-bold white--text" 
              to="/user/user-xlsx"
            >
              <h3>
                Unggah XLSX
              </h3>
            </v-btn>
            <v-btn 
              class="primary2 font-weight-bold white--text" 
              @click="addUser"
            >
              <h3>
                Tambah User
              </h3>
            </v-btn>
          </v-card-title>

          <v-data-table
              :headers="headers"
              :items="users"
              class="elevation-0"
              hide-actions
              :pagination.sync="pagination"
              sort-icon='sort'
              :total-items="pagination.totalItems"
          > 
              <template slot="headers" slot-scope="props">
              <tr>
                  <th
                  v-for="header in props.headers"
                  :key="header.text"
                  :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                  @click="changeSort(header.value)"
                  >
                  <v-layout align-start>
                      {{ header.text }} &nbsp;
                      <v-img src="/sort.png" width="16px" max-width="16px" height="16px" contain @click.stop></v-img>
                  </v-layout>
                  </th>
              </tr>
              </template>
              <template v-slot:items="props">
                  <td class="">{{props.item.name}}</td>
                  <td class="">{{props.item.email}}</td>
                  <td class="">{{props.item.workUnit != null ? props.item.workUnit.name : ""}}</td>
                  <td class="">{{props.item.twitterId}}</td>
                  <td class="">{{props.item.facebookId}}</td>
                  <td class="">{{props.item.instagramId}}</td>
                  <td class="">
                      <v-menu bottom left>
                      <template v-slot:activator="{ on }">
                          <v-btn icon v-on="on">
                          <v-icon>more_vert</v-icon>
                          </v-btn>
                      </template>

                      <v-list dense>
                          <v-list-tile @click="edit(props.item)">
                          <v-list-tile-title>Sunting User</v-list-tile-title>
                          </v-list-tile>

                          <v-divider></v-divider>
                          <v-list-tile @click="deleteUser(props.item)">
                          <v-list-tile-title class="error--text">Hapus User</v-list-tile-title>
                          </v-list-tile>
                      </v-list>
                      </v-menu>
                  </td>
              </template>
          </v-data-table>

          <div class="text-xs-center pt-2">
            <v-pagination :total-visible="10" v-model="pagination.page" :length="pages"></v-pagination>
          </div>
        </v-card>
      </v-flex>
    </template>

    <template>
        <v-dialog v-model="dialogEmail" persistent>
            <v-card>
                <v-card-title class="pt-4 px-4 pb-0">
                  <p style="font-size: 16px;">Total Data : <span class="font-weight-bold">{{pageemail.totalItems}}</span></p>
                  <v-spacer/>
                </v-card-title>
                <v-card-text class="text-xs-center" >
                    <v-data-table
                      :headers="headers"
                      :items="usersEmail"
                      class="elevation-0"
                      hide-actions
                      :pagination.sync="pageemail"
                      sort-icon='sort'
                      :total-items="pageemail.totalItems"
                    > 
                      <template slot="headers" slot-scope="props">
                      <tr>
                          <th
                          v-for="header in props.headers"
                          :key="header.text"
                          :class="['column sortable', pageemail.descending ? 'desc' : 'asc', header.value === pageemail.sortBy ? 'active' : '']"
                          @click="changeSortEmail(header.value)"
                          >
                          <v-layout align-start>
                              {{ header.text }} &nbsp;
                              <v-img src="/sort.png" width="16px" max-width="16px" height="16px" contain @click.stop></v-img>
                          </v-layout>
                          </th>
                      </tr>
                      </template>
                      <template v-slot:items="props" align-start>
                          <td class="" style="text-align: start;">{{props.item.name}}</td>
                          <td class="" style="text-align: start;">{{props.item.email}}</td>
                          <td class="" style="text-align: start;">{{props.item.workUnit != null ? props.item.workUnit.name : ""}}</td>
                          <td class="" style="text-align: start;">{{props.item.twitterId}}</td>
                          <td class="" style="text-align: start;">{{props.item.facebookId}}</td>
                          <td class="" style="text-align: start;">{{props.item.instagramId}}</td>
                          <td class="" style="align: start;">
                            <v-btn small
                                class="primary2 white--text elevation-0" 
                                @click="select(props.item._id)" v-if="idSelected.indexOf(props.item._id) == -1">Pilih</v-btn>
                            <v-btn small
                                class="red white--text elevation-0" 
                                @click="unselect(props.item._id)" v-else>Batal</v-btn>
                          </td>
                      </template>
                  </v-data-table>

                  <div class="text-xs-center pt-2">
                    <v-pagination :total-visible="10" v-model="pageemail.page" :length="pagesEmail"></v-pagination>
                  </div>
                </v-card-text>

                <v-card-actions style="padding-bottom: 36px">
                    <v-spacer/>
                    <v-btn medium
                        class="primary2 white--text elevation-0" 
                        @click="closeDialogEmail"
                    >Kembali</v-btn>
                    <v-btn medium
                        class="primary2 white--text elevation-0" 
                        @click="sendEmail(true)"
                    >Kirim Email ke semua user</v-btn>
                    <v-btn medium
                        :disabled="idSelected.length == 0"
                        class="primary2 white--text elevation-0" 
                        @click="sendEmail(false)"
                    >Kirim Email ({{idSelected.length}})</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
      </template>
    <successDialog></successDialog>
  </v-layout>
</template>

<script>
import Logo from '~/components/Logo.vue'
import successDialog from '~/components/dialog.vue'

export default {
  components: {
    Logo,
    successDialog
  },

  data() {
    return {
      search: '',

      headers: [
        { text: 'Nama', align: 'left', value: 'nama_user' },
        { text: 'Email', align: 'left', value: 'email' },
        { text: 'Unit Kerja', align: 'left', value: 'work_unit' },
        { text: 'Twitter', align: 'left', value: 'twitter' },
        { text: 'Facebook', align: 'left', value: 'facebook' },
        { text: 'Instagram', align: 'left', value: 'instagram' },
        { text: 'Aksi', align: 'start', value: 'action' },
      ],

      users: [],
      usersEmail: [],
      institutions: [],
      institution: '',

      pagination: {},
      pageemail: {},

      idSelected: [],

      loading: {
        state: true,
        message: ''  
      },
      dialogEmail: false,
    }
  },

  watch: {
    'pagination.page': {
      handler() {
        this.getUsers(false)
      }
    },

    'pageemail.page': {
      handler() {
        if (this.dialogEmail) {
          this.getUsers(true)
        }
      }
    }
  },

  computed: {
    pages () {
      
      if (this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) return 0
      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
    },

    pagesEmail () {
      if (this.pageemail.rowsPerPage == null ||
        this.pageemail.totalItems == null
      ) return 0
      return Math.ceil(this.pageemail.totalItems / this.pageemail.rowsPerPage)
    }
  },

  

  mounted() {
    // this.$ga.event({
    //   eventCategory: 'User',
    //   eventAction: 'get_user',
    //   eventLabel: 'User',
    //   eventValue: 0
    // });
    // this.$gAnalytic.track({category: "User", action: "get_user", label: "User"})
    this.getUsers(false)
  },

  methods: {

    addUser() {
      localStorage.setItem('userEditData', "")
      this.$router.push('/user/add-user')
    },

    async getUsers(isEmail) {
      this.loading = { state: true, message: 'Memuat data Pengguna'}
      try {
        const req = await this.$user.getUsers({limit: 10, page: isEmail ? this.pageemail.page : this.pagination.page})

        console.log('users : ', req.data);
        
        if(isEmail) {
          this.usersEmail = req.data
          this.pageemail.rowsPerPage = 10
          this.pageemail.totalItems = req.meta.totalDocs
          setTimeout(() => {
            this.dialogEmail = true;  
          }, 1500);
          
        } else {
          this.users = req.data
          this.pagination.rowsPerPage = 10
          this.pagination.totalItems = req.meta.totalDocs
        }
        

        setTimeout(() => {
          this.loading.state = false
        }, 500);
        
      } catch (error) {
        console.log(error);
        
        setTimeout(() => {
          this.loading.state = false
        }, 500);
      }
    },

    convertDate(jsonDate) {
      var date = new Date(jsonDate).toLocaleString('id-ID')
      var day =  new Date(jsonDate).getDay().toLocaleString('id-ID')
      const days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu']
      return days[day] + ', ' + date
    },

    changeSort (column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending
      } else {
        this.pagination.sortBy = column
        this.pagination.descending = false
      }
    },

    changeSortEmail (column) {
      if (this.pageemail.sortBy === column) {
        this.pageemail.descending = !this.pageemail.descending
      } else {
        this.pageemail.sortBy = column
        this.pageemail.descending = false
      }
    },

    edit(item) {
      localStorage.setItem('userEditData', JSON.stringify(item))
      this.$router.push('/user/add-user')
    },

    async deleteUser(item) {
      if (confirm('Apakah anda yakin akan menghapus user '+item.name+'?' )) {
        try {
          const req = await this.$user.deleteUser({_id: item._id})
  
          if (req.name == item.name) {
            this.$store.commit('openDialog', {
              class: 'success', 
              title: 'Berhasil', 
              message: 'Berhasil menghapus User '+item.name, 
              target: '/user'
            })
          }

          this.getUsers(false)
        } catch (error) {
          console.log(error.message);
        }
      }
    },

    async sendEmail(all) {
      this.loading.state = true;
      try {
        var ids = null;
        for (const key in this.idSelected) {
          if (Object.hasOwnProperty.call(this.idSelected, key)) {
            const data = this.idSelected[key];
            if (ids != null) {
              ids = ids + "," + data
            } else {
              ids = data
            }
            
          }
        }

        console.log(ids);
        const req = await this.$user.sendEmail({
          _ids: ids,
          all: all
        })
        this.closeDialogEmail()
        this.$store.commit('openDialog', {
          class: 'success', 
          title: 'Berhasil', 
          message: 'Email berhasil terkirim', 
          target: '/user'
        })
        this.getUsers(false)
      } catch (error) {
        console.log(error)
        setTimeout(() => {
          this.loading.state = false  
        }, 500);
        
      }
    },

    select(id) {
      this.idSelected.push(id)
    },

    unselect(id) {
      let index = this.idSelected.indexOf(id)
      this.idSelected.splice(index, 1)
    },

    closeDialogEmail() {
      this.dialogEmail = false;
      this.idSelected = [];
    }
  },
}
</script>
