<template>
    <v-layout column class="pa-4">
        <v-layout class="py-4" row wrap>
            <v-hover>
                <v-icon slot-scope="{hover}" :color="`${ hover ? 'primary' : 'grey'}`" class="pointer pr-4" @click="$router.go(-1)">
                keyboard_arrow_left
                </v-icon>
            </v-hover>
            <v-flex xs12 sm6 class="d-flex">
                <p class="title font-weight-bold libre-franklin" style="margin: auto">Impor User</p>
            </v-flex>
        </v-layout>

        <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
            <v-progress-circular
                :size="55" class="ma-4"
                color="primary2"
                indeterminate
            ></v-progress-circular>
            {{loading.message}}
        </v-layout>

        <template v-else>
            <v-flex xs12 sm8 md6>
                <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px">
                    <v-card-title class="pt-4 px-4 pb-0">
                        <p style="font-size: 16px;">Total Data : <span class="font-weight-bold">{{users.length}}</span></p>
                        <v-spacer/>
                    </v-card-title>
                    <v-data-table
                        :headers="headers"
                        :items="users"
                        class="elevation-0"
                        hide-actions
                        :pagination.sync="pagination"
                        sort-icon='sort'
                    > 
                        <template slot="headers" slot-scope="props">
                        <tr>
                            <th
                            v-for="header in props.headers"
                            :key="header.text"
                            :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                            @click="changeSort(header.value)"
                            >
                            <v-layout align-start>
                                {{ header.text }} &nbsp;
                                <v-img src="/sort.png" width="16px" max-width="16px" height="16px" contain @click.stop></v-img>
                            </v-layout>
                            </th>
                        </tr>
                        </template>
                        <template v-slot:items="props">
                            <td class="">{{props.item.nama}}</td>
                            <td class="">{{props.item.email}}</td>
                            <td class="">{{props.item.workUnitName}}</td>
                            <td class="">{{props.item.twitter}}</td>
                            <td class="">{{props.item.facebook}}</td>
                            <td class="">{{props.item.instagram}}</td>
                            <td class="text-xs-center">
                                <v-menu bottom left>
                                <template v-slot:activator="{ on }">
                                    <v-btn icon v-on="on">
                                    <v-icon>more_vert</v-icon>
                                    </v-btn>
                                </template>

                                <v-list dense>
                                    <!-- <v-list-tile @click="edit(props.item)">
                                    <v-list-tile-title>Ubah User</v-list-tile-title>
                                    </v-list-tile>

                                    <v-divider></v-divider> -->
                                    <v-list-tile @click="deleteUser(props.item)">
                                    <v-list-tile-title class="error--text">Hapus User</v-list-tile-title>
                                    </v-list-tile>
                                </v-list>
                                </v-menu>
                            </td>
                        </template>
                    </v-data-table>
                    <div class="text-xs-center pt-2">
                        <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
                    </div>
                    <v-layout row class="pa-4">
                        <input type="file" id="xlsx_user" name="myfile" @change="fileSelected" hidden accept=".xlsx">
                        <v-btn 
                            class="primary2 font-weight-bold white--text" 
                            style="margin-start: 16px;"
                            @click="filePick"
                        
                        >
                            <h4>
                                Pilih File
                            </h4>
                        </v-btn>
                        <v-spacer/>
                        <v-btn 
                            class="primary2 font-weight-bold white--text" 
                            style="margin-start: 16px;"
                            @click="addUser"
                        
                        >
                            <h4>
                                Kirim
                            </h4>
                        </v-btn>
                    </v-layout>
                    
                </v-card>
            </v-flex>
        </template>

        <successDialog></successDialog>
    </v-layout>
</template>
<script>
import Logo from '~/components/Logo.vue'
import successDialog from '~/components/dialog.vue'
import TextReader from '~/components/FileReader';
import XLSX from 'xlsx'
export default {
    components:{
        Logo,
        successDialog
    },
    data(){
        return {
            headers: [
                { text: 'Nama', align: 'left', value: 'nama_user' },
                { text: 'Email', align: 'left', value: 'email' },
                { text: 'Unit Kerja', align: 'left', value: 'work_unit' },
                { text: 'Twitter', align: 'left', value: 'twitter' },
                { text: 'Facebook', align: 'left', value: 'facebook' },
                { text: 'Instagram', align: 'left', value: 'instagram' },
                { text: 'Aksi', align: 'start', value: 'action' },
            ],

            users: [],
            loading: {
                state: false,
                message: ''
            },
            date: new Date(),
            pagination: {},
            listWorkUnit: [],
        }
    },

    computed: {
        pages () {
        if (this.pagination.rowsPerPage == null ||
            this.pagination.totalItems == null
        ) return 0
        return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }
    },

    mounted() {
      this.getWorkUnit();
        this.$ga.event({
            eventCategory: 'User',
            eventAction: 'add_xlsx_user',
            eventLabel: 'User',
            eventValue: 0
        });
        this.$gAnalytic.track({category: "User", action: "add_xlsx_user", label: "User"})
    },

    methods: {
      async getWorkUnit() {
        this.loading = { state: true, message: 'Memuat data Unit Kerja'}
        try {
            const req = await this.$workunit.getWorkUnit({limit: "", page: ""})

            console.log('users : ', req.data);
            this.listWorkUnit = req.data

            setTimeout(() => {
            this.loading.state = false
            }, 500);
            
        } catch (error) {
            console.log(error);
            
            setTimeout(() => {
            this.loading.state = false
            }, 500);
        }
      },
      
      filePick() {
          document.getElementById("xlsx_user").click();
      },

      async fileSelected(e) {
          this.users = [];
          var file = e.target.files[0]
          var filename = file.name.split(".")[0]
          this.filename = file.name
          var reader = new FileReader();
          var result = {}
          var temp = []
          var _sheetName = ''
          console.log(filename);

          reader.onload = (e) => {
              var data = e.target.result
              console.log(e);
              data = new Uint8Array(data)

              var workbook = XLSX.read(data, {
                  type: 'array'
              });
              console.log("onload workbook = " + workbook)

              result = {}

              workbook.SheetNames.forEach(function(sheetName){
                  console.log("SheetName: " + sheetName);

              });
          }

          reader.onloadend = (e) => {
              var data = e.target.result
              console.log(e);
              data = new Uint8Array(data)

              var workbook = XLSX.read(data, {
                  type: 'array'
              });
              console.log("onloadend workbook = " + workbook)

              result = {}

              workbook.SheetNames.forEach((sheetName) => {
                  console.log("SheetName: " + sheetName);
                  _sheetName = sheetName;

                  var sheetToJson = XLSX.utils.sheet_to_json(workbook.Sheets[sheetName], 
                      {raw: true, defval:null}
                  );

                  for (const i in sheetToJson) {
                    let workUnitId = this.listWorkUnit.filter(data => { return data.name == 'Sekretariat'})[0]._id;
                    this.users.push({
                      nama: sheetToJson[i].nama,
                      username: sheetToJson[i].username,
                      email: sheetToJson[i].email,
                      workUnitId: workUnitId,
                      workUnitName: sheetToJson[i].unit_kerja,
                      twitter: sheetToJson[i].twitter,
                      facebook: sheetToJson[i].facebook,
                      instagram: sheetToJson[i].instagram
                    })
                  }
                  console.log("users "+JSON.stringify(sheetToJson));
                  // this.users = sheetToJson;
                  this.pagination.totalItems = sheetToJson.length;
                  console.log("users ", this.users);
              });
          }

          reader.readAsArrayBuffer(file);
      },

      async addUser() {
          this.loading = { state: true, message: 'Menambahkan Siswa...'}
          try {
              var count = 0;
              var fail = 0;
              for(const i in this.users) {
                  
                  console.log(i);
                  const req = await this.$user.addUser({
                      name: this.users[i].nama,
                      email: this.users[i].email,
                      username: this.users[i].username,
                      password: this.users[i].username,
                      workUnitId: this.users[i].workUnitId,
                      twitterId: this.users[i].twitter,
                      facebookId: this.users[i].facebook,
                      instagramId: this.users[i].instagram
                  })

                  console.log(req);
                  if (req != null) {
                      if (req.status) {
                          count++;
                      } else {
                          fail++;
                      }
                  } else {
                      fail++;
                  }
              }

              console.log("count", count, fail, this.users.length)
              if (count == this.users.length) {
                  this.loading.state = false

                  this.$store.commit('openDialog', {
                      class: 'success', 
                      title: 'Berhasil', 
                      message: 'Berhasil menambahkan ' +count+ ' user', 
                      target: '/user'
                  })
              } else if (fail < this.users.length) {
                  let total = this.users.length
                  this.loading.state = false
                  this.$store.commit('openDialog', {
                      class: 'success', 
                      title: 'Berhasil', 
                      message: 'Berhasil menambahkan ' +count+ ' dari ' +total+ ' user', 
                      target: '/user'
                  })
              } else {
                  this.loading.state = false

                  this.$store.commit('openDialog', {
                      class: 'failed', 
                      title: 'Gagal', 
                      message: 'Gagal menambahkan user, No Telepon sudah ada', 
                      target: '/user-xlsx'
                  })
              }
          } catch (e) {
              console.log(e.message);
              setTimeout(() => {
                  this.loading.state = false

                  this.$store.commit('openDialog', {
                      class: 'failed', 
                      title: 'Gagal', 
                      message: 'Gagal menambahkan user, No Telepon sudah ada', 
                      target: '/user/user-xlsx'
                  })
              }, 500);
          }
      },

      async edit(e) {

      },

      async deleteUser(item) {
          if (confirm('Apakah anda yakin akan menghapus user '+item.nama+'?' )) {
              console.log(item);
              this.users.splice(this.users.indexOf(item.nama), 1);
          }
      },

      changeSort (column) {
          if (this.pagination.sortBy === column) {
              this.pagination.descending = !this.pagination.descending
          } else {
              this.pagination.sortBy = column
              this.pagination.descending = false
          }
      },
   },
}
</script>