<template>
    <v-layout column class="pa-4">
        <v-layout class="py-4" row wrap>
            <v-hover>
                <v-icon slot-scope="{hover}" :color="`${ hover ? 'primary' : 'grey'}`" class="pointer pr-4" @click="$router.go(-1)">
                    keyboard_arrow_left
                </v-icon>
            </v-hover>
            <v-flex xs12 sm6 class="d-flex">
                <p class="title font-weight-bold libre-franklin" style="margin: auto">{{isEdit ? "Sunting Domain" : "Tambah Domain"}}</p>
            </v-flex>
        </v-layout>

        <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
            <v-progress-circular
                :size="55" class="ma-4"
                color="primary2"
                indeterminate
            ></v-progress-circular>
            {{loading.message}}
        </v-layout>

        <template v-else>
            <v-flex xs12 sm8 md6>
                <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px">
                    <v-card-title class="headline">Data Domain</v-card-title>
                    <v-card-text>
                        <label for="type">Nama Domain</label>
                        <v-text-field
                            single-line solo autofocus
                            background-color="lighten-3 grey"
                            placeholder="Masukkan Nama Domain" flat
                            v-model="domainName"
                            :loading="loading.state"
                            id="domainName" required
                        >
                        </v-text-field>

                        <label for="subject">Subjek</label>
                        <v-select
                            :items="listSubject"
                            item-value="value" item-text="name"
                            :rules="[v => !!v || 'Subjek harus diisi']"
                            single-line solo flat
                            background-color="lighten-3 grey"
                            append-icon="expand_more"
                            label="Subjek"
                            v-model="subject"
                            id="lesson"
                        ></v-select>

                        <label for="lesson">Grade</label>
                        <v-select
                            single-line solo
                            background-color="lighten-3 grey"
                            placeholder="Pilih Grade" flat
                            v-model="grade"
                            append-icon="expand_more"
                            :items="listGrade"
                            item-value="name" item-text="name"
                            id="grade"
                        ></v-select>

                        <label for="type">Tipe</label>
                        <v-select
                            :items="typeList"
                            item-value="value" item-text="name"
                            single-line solo flat
                            background-color="lighten-3 grey"
                            append-icon="expand_more"
                            label="Tipe"
                            v-model="type"
                            id="type"
                            @change="getType()"
                        ></v-select>
                    </v-card-text>
                </v-card>

                <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px; margin-top: 20px;">
                    <v-card-title class="headline">Data Subdomain</v-card-title>
                    <v-card-text v-for="(item, index) in listSubdomain" :key="index" class="my-3" flat style="border-radius: 20px; padding: 20px">
                        <label for="type">Nama Subdomain ke-{{index+1}}</label>
                        <v-text-field
                            single-line solo autofocus
                            background-color="lighten-3 grey"
                            placeholder="Masukkan Nama Domain" flat
                            v-model="item.name"
                            :disabled="isEdit"
                            :loading="loading.state"
                            :id="'subDomain'+index" required
                        >
                        </v-text-field>
                        <v-spacer/>
                        <v-btn class="primary" v-if="!isEdit" flat @click="add">Tambah Subdomain <v-icon small right>add</v-icon></v-btn>
                        <v-btn class="red darken-1 white--text" v-if="!isEdit" flat @click="del(index)">Hapus<v-icon small right>delete</v-icon></v-btn>
                    </v-card-text>                    
                </v-card>
                <v-layout row class="pa-4">
                    <v-spacer />
                    <v-btn 
                        class="primary2 font-weight-bold white--text" 
                        style="margin-start: 16px;"
                        @click="{{isEdit ? editDomain() : addDomain()}}"
                    
                    >
                        <h4>
                            {{isEdit ? "Sunting Domain" : "Tambah Domain"}}
                        </h4>
                    </v-btn>
                </v-layout>
            </v-flex>
        </template>
        <successDialog></successDialog>
    </v-layout>
</template>
<script>
import Logo from '~/components/Logo.vue'
import successDialog from '~/components/dialog.vue'
export default {
    components: {
        Logo,
        successDialog
    },

    data() {
        return {
            domainName: '',
            type: '',
            isEdit: false,
            _id: '',
            typeList: [
                { name: "Kognitif", value: "cognitive" },
                { name: "Konten", value: "content" },
            ],
            listSubdomain: [
                {
                    name: "",
                }    
            ],
            loading: {
                state: false,
                message: ''  
            },
            listGrade: [
                {name: "1"},
                {name: "2"},
                {name: "3"},
                {name: "4"},
                {name: "5"},
                {name: "6"},
                {name: "7"},
                {name: "8"},
                {name: "9"},
                {name: "10"},
                {name: "11"},
                {name: "12"},
                {name: "all"}
            ],
            subject: "",
            listSubject: [
                { name: 'Literasi', value: 'L' }, 
                { name: 'Numerasi', value: 'N'} 
            ],
            grade: "",
        }
    },

    mounted() {
        this.$ga.event({
            eventCategory: 'Metadata',
            eventAction: 'add_metadata',
            eventLabel: 'Metadata',
            eventValue: 0
        });
        this.$gAnalytic.track({category: "Metadata", action: "add_metadata", label: "Metadata"})
        let jsonBody = localStorage.getItem('metadataEditData');
        if (jsonBody != null && jsonBody != "") {
            this.isEdit = true;
            this.listSubdomain = [];
            let domain = JSON.parse(jsonBody);
            this.domainName = domain.name;
            this._id = domain._id;
            this.grade = domain.grade;
            this.subject = domain.subject;
            setTimeout(() => {
                this.type = domain.type;    
            }, 500);
            
            for (var i in domain.subIds) {
                this.listSubdomain.push({name: domain.subIds[i].name});
            }
        }
   },

    methods: {
        getType() {

        },

        add() {
            this.listSubdomain.push({
                name: ""
            });
        }, del(index) {
            this.listSubdomain.splice(index, 1)
        },

        async addDomain() {
            localStorage.removeItem('metadataEditData');
            this.loading = { state: true, message: "Menambahkan Domain..."}
            try {
                const req = await this.$domain.addDomain({
                    name: this.domainName,
                    type: this.type,
                    grade: this.grade,
                    subject: this.subject,
                    data: this.listSubdomain
                })

                if (req.status) {
                    this.loading.state = false;

                    this.$store.commit('openDialog', {
                        class: 'success', 
                        title: 'Berhasil', 
                        message: 'Berhasil menambahkan Domain', 
                        target: '/metadata'
                    })
                }
            } catch (error) {
                console.log(error.message);
                setTimeout(() => {
                    this.loading.state = false;
                }, 500);
            }
        },

        async editDomain() {
            this.loading = { state: true, message: "Sunting Domain..."}
            try {
                const req = await this.$domain.updateDomain({
                    _id: this._id,
                    name: this.domainName,
                    type: this.type,
                    grade: this.grade,
                    subject: this.subject,
                    data: this.listSubdomain
                })

                if (req.status) {
                    localStorage.removeItem('metadataEditData');
                    this.loading.state = false;

                    this.$store.commit('openDialog', {
                        class: 'success', 
                        title: 'Berhasil', 
                        message: 'Berhasil Sunting data Domain', 
                        target: '/metadata'
                    })
                }
            } catch (error) {
                console.log(error.message);
                setTimeout(() => {
                    this.loading.state = false;
                }, 500);
            }
        }, 
    }
}
</script>