<template>
    <v-layout column class="pa-4">
        <v-layout class="py-4" row wrap>
            <v-hover>
                <v-icon slot-scope="{hover}" :color="`${ hover ? 'primary' : 'grey'}`" class="pointer pr-4" @click="$router.go(-1)">
                    keyboard_arrow_left
                </v-icon>
            </v-hover>
            <v-flex xs12 sm6 class="d-flex">
                <p class="title font-weight-bold libre-franklin" style="margin: auto">{{isEdit ? "Sunting Subdomain" : "Tambah Subdomain"}}</p>
            </v-flex>
        </v-layout>

        <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
            <v-progress-circular
                :size="55" class="ma-4"
                color="primary2"
                indeterminate
            ></v-progress-circular>
            {{loading.message}}
        </v-layout>

        <template v-else>
            <v-flex xs12 sm8 md6>
                <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px; margin-top: 20px;">
                    <v-card-title class="headline">Data Subdomain</v-card-title>

                    <h3 for="type" style="margin-left: 20px; margin-top: 20px;">Nama Domain : {{domainName}}</h3>
                    <v-card-text v-for="(item, index) in listSubdomain" :key="index" class="my-3" flat style="border-radius: 20px; padding: 20px">
                        
                        <label for="type">Nama Subdomain ke-{{index+1}}</label>
                        <v-text-field
                            single-line solo autofocus
                            background-color="lighten-3 grey"
                            placeholder="Masukkan Nama Domain" flat
                            v-model="item.name"
                            :loading="loading.state"
                            :id="'subDomain'+index" required
                        >
                        </v-text-field>
                        <v-spacer/>
                        <v-btn class="primary" v-if="!isEdit" flat @click="add">Tambah<v-icon small right>add</v-icon></v-btn>
                        <v-btn class="red darken-1 white--text" flat @click="{{ isEdit ? removeSubdomain(item) : del(index) }}">Hapus<v-icon small right>delete</v-icon></v-btn>
                    </v-card-text>                    
                </v-card>
                <v-layout row class="pa-4">
                    <v-spacer />
                    <v-btn 
                        class="primary2 font-weight-bold white--text" 
                        style="margin-start: 16px;"
                        @click="{{isEdit ? editSubdomain() : addSubDomain() }}"
                    
                    >
                        <h4>
                            {{ isEdit ? "Sunting Subdomain" : "Tambah Subdomain" }}
                        </h4>
                    </v-btn>
                </v-layout>
            </v-flex>
        </template>
        <successDialog></successDialog>
    </v-layout>
</template>
<script>
import Logo from '~/components/Logo.vue'
import successDialog from '~/components/dialog.vue'
export default {
    components: {
        Logo,
        successDialog
    },   

    data() {
        return {
            listSubdomain: [
                {
                    name: "",
                }    
            ],
            loading: {
                state: false,
                message: ''  
            },
            domainName: '',
            _id: '',
            isEdit: false,
        }
    },

    mounted() {
        this.$ga.event({
            eventCategory: 'Metadata',
            eventAction: 'add_subdomain',
            eventLabel: 'Metadata',
            eventValue: 0
        });
        this.$gAnalytic.track({category: "Metadata", action: "add_subdomain", label: "Metadata"})
        let jsonBody = localStorage.getItem('metadataAddSubdomain');
        this.isEdit = (localStorage.getItem('isEditSubdomain') == "true");
        console.log("isEdit", localStorage.getItem('isEditSubdomain'));
        if (jsonBody != null && jsonBody != "") {
            let domain = JSON.parse(jsonBody);
            this.domainName = domain.name;
            this._id = domain._id;
            if (this.isEdit) {
                this.listSubdomain = domain.subIds;
                console.log(domain.subIds)
            }
        }
    },
    
    methods: {
        add() {
            this.listSubdomain.push({
                name: ""
            });
        }, del(index) {
            this.listSubdomain.splice(index, 1)
        },
        async addSubDomain() {
            this.loading = { state: true, message: "Menambahkan Subdomain..."}
            try {
                const req = await this.$domain.addSubdomain({
                    _id: this._id,
                    subs: this.listSubdomain
                })
                if (req.status) {
                    this.loading.state = false;

                    this.$store.commit('openDialog', {
                        class: 'success', 
                        title: 'Berhasil', 
                        message: 'Berhasil menambahkan Subdomain', 
                        target: '/metadata'
                    })
                }
            } catch (error) {
                console.log(error.message);
                setTimeout(() => {
                    this.loading.state = false;
                }, 500);
                this.$store.commit('openDialog', {
                    class: 'error', 
                    title: 'Gagal', 
                    message: 'Gagal menambahkan Subdomain', 
                    target: '/metadata/add_subdomain'
                })
            }
        },

        async editSubdomain() {
            this.loading = { state: true, message: "Mensunting Subdomain..."}
            try {
                var count = 0;
                for (const key in this.listSubdomain) {
                    if (this.listSubdomain.hasOwnProperty(key)) {
                        const data = this.listSubdomain[key];
                        const req = await this.$domain.updateDomain({
                            _id: data._id,
                            name: data.name
                        });
                        if (req.status) {
                            count++;
                        }
                    }
                }

                if (count == this.listSubdomain.length) {
                    this.loading.state = false;

                    this.$store.commit('openDialog', {
                        class: 'success', 
                        title: 'Berhasil', 
                        message: 'Berhasil merubah Subdomain', 
                        target: '/metadata'
                    })
                }
            } catch (error) {
                print(error);
                setTimeout(() => {
                    this.loading.state = false;
                }, 500);
                this.$store.commit('openDialog', {
                    class: 'error', 
                    title: 'Gagal', 
                    message: 'Gagal menambahkan Subdomain', 
                    target: '/metadata/add_subdomain'
                })
            }
        },

        async removeSubdomain(item) {
            if (confirm('Apakah anda yakin akan menghapus Domain '+item.name+'?' )) {
                this.loading = { state: true, message: "Menghapus Subdomain..."}
                try {
                    const req = await this.$domain.deleteDomain({_id: item._id})
            
                    if (req.status) {
                        this.$store.commit('openDialog', {
                        class: 'success', 
                        title: 'Berhasil', 
                        message: 'Berhasil menghapus Domain '+item.name, 
                        target: '/metadata'
                        })
                    }
                } catch (error) {
                    console.log(error.message);
                    setTimeout(() => {
                        this.loading.state = false;
                    }, 500);
                    this.$store.commit('openDialog', {
                        class: 'error', 
                        title: 'Gagal', 
                        message: 'Gagal menghapus Subdomain', 
                        target: '/metadata/add_subdomain'
                    })
                }
            }
            
        }
    },
}
</script>