<template>
    <v-layout column class="pa-4">
        <v-layout class="py-4" row wrap>
            <v-flex xs12 sm6 class="d-flex">
                <p class="title font-weight-bold libre-franklin" style="margin: auto">Metadata</p>
            </v-flex>

            <v-flex xs12 sm6>
                <v-layout justify-end>
                <!-- <v-btn v-if="users.length > 0" class="primary2 font-weight-bold f-btn white--text" :to="'/institution/user-add?id='+$route.query.id+'&name='+$route.query.name+'&type='+$route.query.type">Tambah User</v-btn> -->
                <div class="my-2 input-icon-container text-xs-right" style="height: 40px">
                    <input type="text" v-model="search" placeholder="Pencarian" style="padding: 5px 15px; margin: auto; width: 250px; height: 40px; background: white">
                    <v-icon class="ma-2">search</v-icon>
                </div>
                </v-layout>
            </v-flex>
        </v-layout>

        <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
            <v-progress-circular
                :size="55" class="ma-4"
                color="primary2"
                indeterminate
            ></v-progress-circular>
            {{loading.message}}
        </v-layout>

        <template v-else>
            <v-flex xs12 sm8 md6>
                <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px;">
                    <v-card-title class="pt-4 px-4 pb-0">
                        <p style="font-size: 16px;">Total Data : <span class="font-weight-bold">{{metadata.length}}</span></p>
                        <v-spacer/>

                        <v-btn 
                            class="primary2 font-weight-bold white--text" 
                            @click="addDomain"
                            >
                            <h3>
                                Tambah Domain
                            </h3>
                        </v-btn>
                    </v-card-title>

                    <v-data-table
                        :headers="headers"
                        :items="metadata"
                        class="elevation-0"
                        hide-actions
                        :pagination.sync="pagination"
                        sort-icon='sort'
                        expand
                        item-key="_id"
                    >
                        <template slot="headers" slot-scope="props">
                            <tr>
                                <th
                                    v-for="header in props.headers"
                                    :key="header.text"
                                    :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                                    @click="changeSort(header.value)"
                                >
                                    <v-layout align-start>
                                        {{ header.text }} &nbsp;
                                        <v-img src="/sort.png" width="16px" max-width="16px" height="16px" contain @click.stop></v-img>
                                    </v-layout>
                                </th>
                            </tr>
                        </template>
                        <template v-slot:items="props">
                            <td class="">{{ props.item.name }}</td>
                            <td class="">{{ props.item.type == "cognitive" ? "Kognitif" : "Konten"}}</td>
                            <td class="">{{ props.item.grade }}</td>
                            <td class="">{{ props.item.subIds.length }}</td>
                            <td class="text-xs-start">
                                <v-btn icon @click="props.expanded = !props.expanded">
                                    <v-icon>{{!props.expanded ? "expand_more" : "expand_less"}}</v-icon>
                                </v-btn>
                            </td>
                        </template>
                        <template v-slot:expand="props">
                            <v-card flat>
                                <v-card-text style="padding-left: 20px;">
                                    <v-layout align-start style="margin-bottom: 10px;">
                                        <span class="font-weight-bold">Subdomain</span>
                                    </v-layout>
                                    <div>
                                        <li class="mb-1" v-for="(subdomain, index) in props.item.subIds" :key="index">
                                            {{subdomain.name}} 
                                        </li>
                                    </div>
                                    
                                </v-card-text>
                                <v-layout row class="pa-4">
                                    <v-spacer />
                                    <v-btn 
                                        class="primary2 white--text" 
                                        @click="editDomain(props.item)"
                                        >
                                        <h4>
                                            Sunting Domain
                                        </h4>
                                    </v-btn>
                                    <v-btn 
                                        class="primary2 white--text" 
                                        @click="deleteDomain(props.item)"
                                        >
                                        <h4 style="text-color: red;">
                                            Hapus Domain
                                        </h4>
                                    </v-btn>
                                    <v-btn 
                                        class="primary2 white--text" 
                                        @click="addSubdomain(props.item)"
                                        >
                                        <h4>
                                            Tambah Subdomain
                                        </h4>
                                    </v-btn>
                                    <v-btn 
                                        class="primary2 white--text" 
                                        @click="editSubdomain(props.item)"
                                        >
                                        <h4>
                                            Sunting Subdomain
                                        </h4>
                                    </v-btn>
                                </v-layout>
                                
                            </v-card>
                        </template>
                    </v-data-table>
                     <div class="text-xs-center pt-2">
                        <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
                    </div>
                </v-card>
            </v-flex>
        </template>
        <successDialog></successDialog>
    </v-layout>
</template>
<script>
import Logo from '~/components/Logo.vue'
import successDialog from '~/components/dialog.vue'
export default {
    components: {
        Logo,
        successDialog
    },

    data() {
        return {
            search: '',
            headers: [
                { text: 'Nama', align: 'left', value: 'Name' },
                { text: 'Tipe', align: 'left', value: 'Tipe' },
                { text: 'Grade', align: 'left', value: 'Grade' },
                { text: 'Jumlah Subdomain', align: 'left', value: 'Subdomain' },
                { text: 'Action', align: 'right', value: 'actions', sortable: false },
            ],
            metadata: [],
            pagination: {},

            loading: {
                state: false,
                message: ''  
            }
        }
    },

    computed: {
        pages () {
        if (this.pagination.rowsPerPage == null ||
            this.pagination.totalItems == null
        ) return 0
        return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }
    },

    mounted() {
        this.$ga.event({
            eventCategory: 'Metadata',
            eventAction: 'get_metadata',
            eventLabel: 'Metadata',
            eventValue: 0
        });
        this.$gAnalytic.track({category: "Metadata", action: "get_metadata", label: "Metadata"})
        this.getDomain();
    },

    methods: {

        async getDomain() {
            this.loading = { state: true, message: "Memuat data..." }
            try {
                const req = await this.$domain.getDomain();

                if (req.status) {
                    console.log(req.data);
                    this.metadata = req.data
                    this.pagination.totalItems = req.data.length;
                }

                setTimeout(() => {
                    this.loading.state = false;
                }, 500);
                
            } catch (error) {
                console.log(error.message);
                setTimeout(() => {
                    this.loading.state = false;
                }, 500);
            }
        },

        addSubdomain(item) {
            localStorage.setItem('isEditSubdomain', false)
            localStorage.setItem('metadataAddSubdomain', JSON.stringify(item))
            this.$router.push('/metadata/add_subdomain')
        },

        addDomain() {
            localStorage.setItem('metadataEditData', "");
            this.$router.push('/metadata/add');
        },

        editDomain(item) {
            localStorage.setItem('metadataEditData', JSON.stringify(item))
            this.$router.push('/metadata/add')
        },

        editSubdomain(item) {
            localStorage.setItem('isEditSubdomain', true)
            localStorage.setItem('metadataAddSubdomain', JSON.stringify(item))
            this.$router.push('/metadata/add_subdomain')
        },

        async deleteDomain(item) {
            if (confirm('Apakah anda yakin akan menghapus Domain '+item.name+'?' )) {
                try {
                    const req = await this.$domain.deleteDomain({_id: item._id})
            
                    if (req.status) {
                        this.$store.commit('openDialog', {
                        class: 'success', 
                        title: 'Berhasil', 
                        message: 'Berhasil menghapus Domain '+item.fullName, 
                        target: '/metadata'
                        })
                    }

                    this.getDomain()
                } catch (error) {
                    console.log(error.message);
                }
            }
        }

    }
}
</script>