<template style="background: #E5E5E5;">
    <v-layout column class="pa-4" style="background: #E5E5E5; height: 100%; width: 100%;">
        <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
            <v-progress-circular
                :size="55" class="ma-4"
                color="primary2"
                indeterminate
            ></v-progress-circular>
                {{loading.message}}
        </v-layout>

        <template v-else>
          <v-flex xs12 sm8 md6 style="margin: 40px; ">
            <p class="title libre-franklin" style="margin: auto">Selamat Datang, <b>{{ name }}</b></p>
            <p class="libre-franklin" style="margin: auto; font-size: 16px;">Silakan mengedit profile dan akun sosial media</p>
            <v-layout row wrap>
                <v-flex xs12 sm2 style="margin-right: 60px; margin-top: 40px;">
                  <v-card flat style="border-radius: 20px; padding: 0px">
                      <v-img src="/icon_profile_empty.png" contain position="left" />
                  </v-card>
                </v-flex>
                <v-flex xs12 sm9 style="margin-top: 40px;">
                  <v-layout column>
                      <label for="type">Nama</label>
                      <v-text-field
                          single-line solo autofocus
                          background-color="lighten-3 grey"
                          placeholder="Masukkan Nama" flat
                          v-model="name"
                          :loading="loading.state"
                          id="name" required
                      ></v-text-field>

                      <label for="workUnit">Satuan Kerja</label>
                      <v-text-field
                          single-line solo autofocus
                          background-color="lighten-3 grey"
                          placeholder="Masukkan Satuan Kerja" flat
                          v-model="workUnitId.name"
                          :loading="loading.state"
                          id="workUnitId" required
                      ></v-text-field>
                      
                  </v-layout>
                </v-flex>
            </v-layout>
            <v-layout row wrap align-center style="margin-top: 20px;">
                <v-flex xs12 sm2 style="margin-top: 40px; margin-right: 60px;">
                  <v-card class="white pa-0 pb-0" flat style="border-radius: 20px; padding: 30px; height: 175px; width: 175px;">
                      <v-card-title>
                          <v-layout align-center justify-space style="padding: 8px; padding-top: 10px;">
                              <v-img src="/ig_logo.png" contain position="center" height="130px" width="130px"/>
                          </v-layout>
                          
                      </v-card-title>
                  </v-card>
                </v-flex>
                
                <v-flex xs12 sm4 style="margin-top: 40px;">
                  <v-card class="white pa-0 pb-0" flat style="border-radius: 20px; padding: 0px; width: 300px; height: 175px;">
                      <v-card-text>
                          <v-layout align-center justify-space-between row fill-height>
                              <p style="font-size: 16px;"><span class="font-weight-bold black--text">Instagram</span></p>
                              <p><span></span></p>
                          </v-layout>
                          <v-layout align-center justify-space-between row fill-height>
                              <p><span class="font-weight black--text">Username</span></p>
                              <p><span>{{ instagramId }}</span></p>
                          </v-layout>
                          <v-layout align-center justify-space-between row fill-height>
                              <p><span class="black--text">Post</span></p>
                              <p><span>{{ mediaCount }}</span></p>
                          </v-layout>
                          <v-layout align-center justify-space-between row fill-height>
                              <p><span class="black--text">Tipe Akun</span></p>
                              <p><span>{{ accountType }}</span></p>
                          </v-layout>
                      </v-card-text>
                  </v-card>
                </v-flex>
               
                <v-flex xs12 sm5 style="margin-top: 40px;" fill-height>
                  <v-btn 
                    :class="liveToken != '' ? 'white font-weight-bold' : 'ig_color font-weight-bold'" 
                    @click="{{liveToken != '' ? disconnectIg() : authIg()}}"
                    v-show="true"
                  >
                    <h3>
                      <span :class="liveToken != '' ? 'ig_color--text' : 'white--text'">{{ liveToken != "" ? "Disconnect from Instagram" : "Login with Instagram"}}</span>
                    </h3>
                  </v-btn>
                </v-flex>
            </v-layout>

            <v-layout row wrap align-center style="margin-top: 20px;">
                <v-flex xs12 sm2 style="margin-top: 40px; margin-right: 60px;">
                  <v-card class="white pa-0 pb-0" flat style="border-radius: 20px; padding: 30px; height: 175px; width: 175px;">
                      <v-card-title>
                          <v-layout align-center justify-space style="padding: 20px; padding-top: 28px;">
                              <v-img src="/fb_logo.png" contain position="center" height="90px" width="90px"/>
                          </v-layout>
                          
                      </v-card-title>
                  </v-card>
                </v-flex>
                
                <v-flex xs12 sm4 style="margin-top: 40px;">
                  <v-card class="white pa-0 pb-0" flat style="border-radius: 20px; padding: 0px; width: 300px; height: 175px;">
                      <v-card-text>
                          <v-layout align-center justify-space-between row fill-height>
                              <p style="font-size: 16px;"><span class="font-weight-bold black--text">Facebook</span></p>
                              <p><span></span></p>
                          </v-layout>
                          <v-layout align-center justify-space-between row fill-height>
                              <p><span class="font-weight black--text">Username</span></p>
                              <p><span>{{ facebookId }}</span></p>
                          </v-layout>
                          <v-layout align-center justify-space-between row fill-height>
                              <p><span class="black--text">Post</span></p>
                              <p><span>{{ fbMediaCount }}</span></p>
                          </v-layout>
                          <v-layout align-center justify-space-between row fill-height>
                              <p><span class="black--text">Tipe Akun</span></p>
                              <p><span>{{ accountType }}</span></p>
                          </v-layout>
                      </v-card-text>
                  </v-card>
                </v-flex>

                <v-flex xs12 sm5 fill-height style="margin-top: 40px;">
                  <v-layout column style=" margin-top: 8px; width: 250px;">
                    <div v-if="fbToken != ''">
                      <p style="margin-left: 10px; margin-top: 14px;">
                        Untuk memutuskan koneksi akun <br>
                        Facebook atau mengganti akun<br>
                        Facebook yang terkoneksi, silahkan <br>
                        klik tombol dibawah ini <br>
                        
                      </p>
                    </div>
                    <div v-else>
                      <p style="margin-left: 10px;">
                        Employnalytics akan mengakses <br>profile, foto profile, post, like, 
                        dan <br>comment untuk mengumpulkan data <br>
                        sesuai kampanye yang sedang <br>
                        dijalankan atau seperti tercantum <br>
                        dalam Perjanjian Penggunaan
                        
                      </p>
                    </div>
                    
                    <v-btn 
                      :class="fbToken != '' ? 'white font-weight-bold' : 'fb_color font-weight-bold'" 
                      style="width: 250px;"
                      @click="{{fbToken != '' ? disconnectFb() : authFb()}}"
                      v-show="true"
                    >
                      <h3>
                        <span :class="fbToken != '' ? 'fb_color--text' : 'white--text'">{{ fbToken != "" ? "Disconnect from Facebook" : "Connect with Facebook"}}</span>
                      </h3>
                    </v-btn>
                  </v-layout>
                </v-flex>
            </v-layout>

            <v-layout row style="margin-top: 40px;" v-show="false">
                <v-card class="white" flat style="border-radius: 20px;">
                    <!-- <v-card-title> -->
                    <v-img src="/tw_logo.png" contain position="center" height="80px" width="80px" style="margin: 35px;"/>
                    <!-- </v-card-title> -->
                </v-card>
                
                <v-layout column style="margin-left: 75px;">
                    <label for="type">Twitter Id</label>
                    <v-text-field
                        single-line solo autofocus
                        background-color="lighten-3 grey"
                        placeholder="Masukkan Twitter Id" flat
                        v-model="twitterId"
                        :loading="loading.state"
                        id="twitterId" required
                        style="min-width: 400px;"
                    ></v-text-field>

                    <v-btn 
                        class="primary2 font-weight-bold white--text"
                        @click="authTwit"
                        style="width: 120px;"
                        >
                        <h4>
                            Autorisasi
                        </h4>
                    </v-btn>
                </v-layout>
            </v-layout>
            
        </v-flex>
        </template>
        
        <successDialog></successDialog>
        <template>
            <v-dialog v-model="successDialog" max-width="400px" persistent>
                <v-card>
                    
                    <v-card-text class="text-xs-center">
                        <v-img src="/icon_dialogue_connected.png" width="100%" contain height="100px" center style="margin: 43px 0 26px 0"></v-img>
                        <p class="font-weight-bold title pt-sans">
                        Selamat anda sudah terhubung dengan Employnalytics
                        </p>
                        <p class="libre-franklin ma-0">
                        Silahkan melakukan posting di aplikasi sosial media yang anda miliki
                        </p>
                    </v-card-text>

                    <v-card-actions style="padding-bottom: 36px">
                        <v-spacer/>
                        <v-btn medium
                            class="primary2 white--text elevation-0" 
                            @click="closeDialog"
                        >Kembali</v-btn>
                        <v-spacer/>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            </template>
    </v-layout>
</template>
<script>
import Logo from '~/components/Logo.vue'
import successDialog from '~/components/dialog.vue'
import { jsonp } from 'vue-jsonp'
const axios = require('axios');
const oauth = require('axios-oauth-client');
const tokenProvider = require('axios-token-interceptor');
const url = process.env.urlIG
const urlIgGraph = process.env.urlIgGraph
const client_id = process.env.igClientId
const client_secret = process.env.igClientSecret
const redirect_uri = process.env.redirect_uri

export default {
    components: {
        Logo,
        successDialog,
        jsonp
    },

    data() {
        return {
            code: "",
            name: "",
            workUnitId: {
                _id: "",
                name: ""
            },
            instagramId: "-",
            facebookId: "",
            twitterId: "",
            listWorkUnit: [],
            loading: {
                state: false,
                message: 'Memuat data Profile'
            },
            accessToken: "",
            liveToken: "",
            listCaption: [],
            mediaCount: "0",
            accountType: "-",
            isPresent: false,
            fbToken: "",
            successDialog: false,
            fbMe: {},
            fbMediaCount: 0,
        }
    },

    mounted() {
        this.getWorkUnit();
        // this.updateToken();
        console.log(this.$auth.$state.user)
        setTimeout(() => {
            this.loading = { state: true, message: 'Memuat Data'}
            this.getProfile();    
        }, 1000);
    },

    methods: {
        closeDialog() {
            this.successDialog = false;
            this.$router.push('/')
        },
        async getProfile() {
            try {
              let vm = this;
              const req = await this.$user.getProfile();
              this.name = req.name;
              this.instagramId = req.instagramId != "" ? req.instagramId : "-";
              this.facebookId = req.facebookId;
              this.twitterId = req.twitterId;
              if (req.workUnit != null) {
                  this.workUnitId = req.workUnit;
              }
              
              this.liveToken = req.instagramToken;
              this.fbToken = req.facebookToken;
              const queryString = window.location.search;
              const urlParams = new URLSearchParams(queryString);

              this.code = urlParams.get('code');
              console.log("url :", this.code);
              if (this.code != "" && this.code != null) {
                  this.getTokenIg();
              }

              window.FB.getLoginStatus(function (response) {
                console.log(response)
                if (response.status === "connected") {
                  window.FB.api('/me', 'GET', {'fields': 'name,email,posts'}, (data) => {
                    vm.fbMediaCount = data.posts.data.length
                  })
                }
              });

              setTimeout(() => {
                  this.loading.state = false;
              }, 300);
            } catch (error) {
                this.loading.state = false;
                this.$store.commit('openDialog', {
                    class: 'failed', 
                    title: 'Gagal', 
                    message: 'Gagal memuat data, silahkan coba lagi', 
                    target: '/profile'
                })
            }
        },

        async getTokenIg() {
            try {
              jsonp(url + "/oauth/access_token", {
                grant_type: "authorization_code",
                code: this.code,
                client_id: client_id,
                client_secret: client_secret,
                redirect_uri: redirect_uri
              })
                // const getAuthorizationCode = oauth.client(axios.create(), {
                //     url: url + "/oauth/access_token",
                //     grant_type: "authorization_code",
                //     code: this.code,
                //     client_id: client_id,
                //     client_secret: client_secret,
                //     redirect_uri: redirect_uri
                // });
                // const req = await getAuthorizationCode();

                // this.accessToken = req.access_token
                // console.log("axios oauth", req.access_token);
                // this.getLiveToken();
            } catch (error) {
                console.log(error);
            }
        },

        async getLiveToken() {
            try {
                const request = oauth.client(axios.create(), {
                    url: urlIgGraph + '/access_token',
                    grant_type: "ig_exchange_token",
                    client_secret: client_secret,
                    access_token: this.accessToken
                })
                const instance = axios.create();
                instance.interceptors.request.use(
                    oauth.interceptor(tokenProvider, request)
                );
                const req = await this.$authIG.getLiveToken({
                    access_token: this.accessToken
                })

                this.liveToken = req.access_token;
                this.getProfileMedia();
                console.log(req)
            } catch (error) {
                console.log(error);
            }
        },

        async updateToken() {
            this.loading = { state: true, message: 'Merubah data'}
            try {
                const req = await this.$user.updateProfile({
                    twitterId: this.twitterId,
                    facebookId: this.facebookId,
                    facebookToken: this.fbToken,
                    instagramId: this.instagramId,
                    instagramToken: this.liveToken
                })

                localStorage.setItem('liveTokenFb', req.facebookToken);
                this.pullData();
            } catch (error) {
                console.log(error);
                this.loading.state = false;
            }
        },

        async deleteToken() {
            this.loading = { state: true, message: 'Menghapus data'}
            try {
                const req = await this.$user.updateProfile({
                    twitterId: this.twitterId,
                    facebookId: this.facebookId,
                    facebookToken: this.fbToken,
                    instagramId: this.instagramId,
                    instagramToken: this.liveToken
                })

                localStorage.setItem('liveTokenFb', req.facebookToken);
                document.location.reload();
                this.loading.state = false;
            } catch (error) {
                console.log(error);
                this.loading.state = false;
            }
        },

        async pullData(){
          try {
            const req = await this.$topchart.pullData();

            setTimeout(() => {
                this.loading.state = false;
            }, 500);
            this.successDialog = true;
          } catch (error) {
            console.log(error);
            this.loading.state = false;
          }
        },

        async getProfileMedia() {
            this.loading = { state: true, message: 'Loading Data...'}
            try {
                const request = oauth.client(axios.create(), {
                    url: urlIgGraph + '/me',
                    fields: "username,media_count,account_type,media.caption",
                    access_token: this.liveToken
                })
                const instance = axios.create();
                instance.interceptors.request.use(
                    oauth.interceptor(tokenProvider, request)
                );
                const req = await this.$authIG.getProfileMedia({
                    access_token: this.liveToken
                })

                this.accountType = req.account_type;
                this.listCaption = req.media.data;
                this.mediaCount = req.media_count;
                this.instagramId = "@" + req.username;

                this.updateToken();

                this.isPresent = true;

                console.log("profile", req);

                this.loading.state = false;
            } catch (error) {
                this.isPresent = false;
                this.loading.state = false;
                console.log(error);
            }
        },

        async getWorkUnit() {
            this.loading = { state: true, message: 'Memuat data'}
            try {
                const req = await this.$workunit.getWorkUnit({limit: "", page: ""})

                console.log('users : ', req.data);
                this.listWorkUnit = req.data

                setTimeout(() => {
                this.loading.state = false
                }, 500);
                
            } catch (error) {
                console.log(error);
                
                setTimeout(() => {
                this.loading.state = false
                }, 500);
            }
        },

        async authIg() {    
            const url = process.env.urlIG
            const client_id = process.env.igClientId
            const client_secret = process.env.igClientSecret
            const redirect_uri = process.env.redirect_uri

            // console.log(this.$auth.strategy.token.get());
            window.location = url + "/oauth/authorize/?client_id="+client_id+"&redirect_uri="+redirect_uri+"&response_type=code&scope=user_profile,user_media&state=1"
        },

        authFb(){
            let vm = this
            this.progressBar = true
            const client_id = process.env.clientId
            const client_secret = process.env.clientSecret
            window.FB.getLoginStatus(function (response) {
                console.log(response)
                if (response.status === "connected") {
                    window.FB.api('/oauth/access_token', 'GET', {'grant_type': 'fb_exchange_token', 'client_id': client_id, 'client_secret': client_secret, 'fb_exchange_token': response.authResponse.accessToken}, (res) => {
                        vm.fbToken = res.access_token
                        window.FB.api('/me', 'GET', {'fields': 'name,email,posts'}, (data) => {
                          vm.fbMediaCount = data.posts.length
                          vm.facebookId = data.email
                        })
                            
                        vm.updateToken();
                    });
                } else {
                    window.FB.login(function(response) {
                        console.log(response)
                        if (response.authResponse) {
                            window.FB.api('/oauth/access_token', 'GET', {'grant_type': 'fb_exchange_token', 'client_id': client_id, 'client_secret': client_secret, 'fb_exchange_token': response.authResponse.accessToken}, (res) => {
                                vm.fbToken = res.access_token
                                window.FB.api('/me', 'GET', {'fields': 'name,email,posts'}, (data) => {
                                  vm.fbMediaCount = data.posts.length
                                  vm.facebookId = data.email
                                })
                                
                                vm.updateToken();
                            });
                        
                        } else {
                            this.$store.commit('openDialog', {
                                class: 'failed', 
                                title: 'Gagal', 
                                message: 'Gagal memuat data, silahkan coba lagi', 
                                target: '/profile'
                            })
                        }
                    }, {
                        scope: 'user_posts,email',//'user_likes,user_posts,email,pages_show_list,public_profile',//instagram_basic,pages_show_list,pages_read_engagement,
                        auth_type: 'rerequest'
                    })
                }
            })
        },

        disconnectFb() {
          let vm = this;
          window.FB.getLoginStatus(function(response) {
            if (response && response.status === 'connected') {
                console.log('logout');
                window.FB.api('/me/permissions', 'DELETE');
                window.FB.logout(function(response) {
                  console.log(response);
                  
                  vm.fbToken = ""
                  vm.facebookId = ""
                  vm.deleteToken();
                });
            } else {
              
              vm.fbToken = ""
              vm.facebookId = ""
              vm.deleteToken();
            }
          });
        },

        disconnectIg() {
          this.liveToken = ""
          this.deleteToken()
        },

        async getHashtagId() {
            let vm = this
            this.loading.stete = true;
            try {
                for (const key in this.listHashtag) {
                    if (Object.hasOwnProperty.call(this.listHashtag, key)) {
                        const dataHashtag = this.listHashtag[key];
                        console.log("data hashtag", dataHashtag);
                        window.FB.getLoginStatus((response) => {
                            if (response.status === "connected") {
                                let a = vm
                                window.FB.api('me', {"fields": "accounts"}, (me) => {
                                    console.log("me", me)
                                    let s = a
                                    
                                })
                            }
                        })
                    }
                }
            } catch (error) {
                console.log(error)
            }
        },

        authTwit(){

        }
    },
}
</script>