<template>
  <v-app>
    <v-navigation-drawer
      class="primary"
      v-model="drawer" width="240"
      fixed app :mini-variant="mini" 
      v-if="$store.state.auth.loggedIn"  
    >
      <div style="height: 72px; margin: 24px 24px 40px 24px;" class="d-flex pointer" @click="$router.push('/')">
        <LogoBlack></LogoBlack>
        
      </div>
      <v-card class="white" flat style="border-radius: 20px; padding: 0px; margin: 8px;" v-if="igMe != null">
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 sm3 style="margin-top: 8px;">
                <v-img :src="igMe.picture.data.url" contain position="left" :height="igMe.picture.data.height" :width="igMe.picture.data.width"/>
              </v-flex>

              <v-flex column xs12 sm6 style="margin-left: 4px;">
                <b>{{ igMe.name }}</b><br>
                <v-flex row>
                  <font style="font-size: 12px;">Email : {{ igMe.email }}</font>
                </v-flex>
                
                <v-flex row>
                  <font style="font-size: 12px;">Media Count : {{ igMe.posts.data.length }}</font>
                </v-flex>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      <v-list style="margin: auto" v-if="$store.state.auth.user.username == null">
        <template v-for="(item, i) in items">
          <v-list-tile            
            :key="i"
            :to="item.to"
            router
            :class="isActivePage(item.pathname) ? 'white' : 'primary'"
          >

            <v-list-tile-action v-if="$route.name">
              <template v-if="item.pathname == 'hashtag'">
                <i style="vertical-align:text-bottom; font-weight:bold; margin-left: 4px; margin-bottom: 8px;" :class="isActivePage(item.pathname) ? 'material-icons primary--text' : 'material-icons white--text'">#</i>
              </template>
              <template v-else>
                <v-icon :color="isActivePage(item.pathname) ? 'primary' : 'white'">{{item.icon}}</v-icon>
              </template>
              
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                <span :class="isActivePage(item.pathname) ? 'primary--text' : 'white--text'">
                  {{item.title}}
                </span>
              </v-list-tile-title>
              <!-- {{$route.name}} {{$route.name.includes(item.pathname)}} {{item.pathname}} -->
            </v-list-tile-content>
          </v-list-tile>
        </template>
        <v-divider style="margin: 10px 0"></v-divider>
        <v-list-tile
          v-for="(item) in items2"
          :key="item.icon"
          :to="item.to"
          router
          exact
          :class="isActivePage(item.pathname) ? 'white' : 'primary'"
        >
          <v-list-tile-action>
            <!-- <v-img contain height="24px" width="24px" :src="'/'+item.icon+'.png'"></v-img> -->
            <template v-if="item.title == 'Logout'">
              <v-icon color='red'>{{ item.icon }}</v-icon>
            </template>
            <template v-if="item.title != 'Logout'">
              <v-icon :color="isActivePage(item.pathname) ? 'primary' : 'white'">{{item.icon}}</v-icon>
            </template>
            <!-- <v-icon >{{ item.icon }}</v-icon> -->
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              <span :class="isActivePage(item.pathname) ? 'primary--text' : 'white--text'">
                {{item.title}}
              </span>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="mini = !mini">
          <v-list-tile-action>
            <v-img contain height="24px" width="24px">
              <center>
                <v-icon color="white">{{mini ? 'chevron_right' : 'chevron_left'}}</v-icon>
              </center>
            </v-img>
          </v-list-tile-action>
          
        </v-list-tile>
      </v-list>

      <v-list style="margin: auto" v-else>
        <template v-for="(item, i) in itemsEmployee">
          <v-list-tile            
            :key="i"
            :to="item.to"
            router
            :class="isActivePage(item.pathname) ? 'white' : 'primary'"
          >

            <v-list-tile-action v-if="$route.name">
              <template v-if="item.pathname == 'hashtag'">
                <i style="vertical-align:text-bottom; font-weight:bold; margin-left: 4px; margin-bottom: 8px;" :class="isActivePage(item.pathname) ? 'material-icons primary--text' : 'material-icons white--text'">#</i>
              </template>
              <template v-else>
                <v-icon :color="isActivePage(item.pathname) ? 'primary' : 'white'">{{item.icon}}</v-icon>
              </template>
              
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                <span :class="isActivePage(item.pathname) ? 'primary--text' : 'white--text'">
                  {{item.title}}
                </span>
              </v-list-tile-title>
              <!-- {{$route.name}} {{$route.name.includes(item.pathname)}} {{item.pathname}} -->
            </v-list-tile-content>
          </v-list-tile>
        </template>
        <v-divider style="margin: 10px 0"></v-divider>
        <v-list-tile
          v-for="(item) in items2Employee"
          :key="item.icon"
          :to="item.to"
          router
          exact
          :class="isActivePage(item.pathname) ? 'white' : 'primary'"
        >
          <v-list-tile-action>
            <!-- <v-img contain height="24px" width="24px" :src="'/'+item.icon+'.png'"></v-img> -->
            <template v-if="item.title == 'Logout'">
              <v-icon color='red'>{{ item.icon }}</v-icon>
            </template>
            <template v-if="item.title != 'Logout'">
              <v-icon :color="isActivePage(item.pathname) ? 'primary' : 'white'">{{item.icon}}</v-icon>
            </template>
            <!-- <v-icon >{{ item.icon }}</v-icon> -->
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              <span :class="isActivePage(item.pathname) ? 'primary--text' : 'white--text'">
                {{item.title}}
              </span>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="mini = !mini">
          <v-list-tile-action>
            <v-img contain height="24px" width="24px">
              <center>
                <v-icon color="white">{{mini ? 'chevron_right' : 'chevron_left'}}</v-icon>
              </center>
            </v-img>
          </v-list-tile-action>
          
        </v-list-tile>
      </v-list>
      <v-img src="/bg_nav_drawer.png" contain height="190px" width="240px" />
    </v-navigation-drawer>

    <v-content style="background: #f9fafb">
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
// import('static/main.css')
import LogoBlack from '~/components/LogoBlack.vue'
export default {  
  components: {
    LogoBlack,
  },

  data() {
    return {
      drawer: true,
      mini: false,

      itemsEmployee: [
        {
          icon: 'insert_chart',
          title: 'Dashboard',
          pathname: '',
          to: '/',
          role: ['pusat', 'provinsi', 'kokab', 'kkg', 'sekolah']
        },
      ],
      items: [
        {
          icon: 'insert_chart',
          title: 'Dashboard',
          pathname: '',
          to: '/',
          role: ['pusat', 'provinsi', 'kokab', 'kkg', 'sekolah']
        },
        {
          icon: 'beenhere',
          title: 'Manajemen Hashtag',
          pathname: 'hashtag',
          to: '/hashtag',
          role: ['admin']
        },
        {
          icon: 'view_list',
          title: 'Unit Kerja',
          pathname: 'workunit',
          to: '/workunit'
        },
        {
          icon: 'group',
          title: 'Manajemen User',
          pathname: 'user',
          to: '/user',
          role: ['pusat', 'provinsi', 'kokab', 'kkg', 'sekolah']
        },
        {
          icon: 'analytics',
          title: 'Laporan',
          pathname: 'report',
          to: '/report',
          role: ['kkg', 'pusat']
        },
        
    
      ],

      items2: [
        
        {
          icon: 'exit_to_app',
          title: 'Logout',
          to: '/logout'
        },
      ],
      items2Employee: [
        {
          icon: 'person',
          title: 'Profile',
          pathname: 'profile',
          to: '/profile'
        },
        {
          icon: 'exit_to_app',
          title: 'Logout',
          to: '/logout'
        },
      ],
      title: 'Social-Analytics',
      igMe: null,
    }
  },

  watch: {
    '$route.name': {
      handler() {
        if (this.$route.name == 'login') {
          this.drawer = false
        } else {
          this.drawer = true
          
        }
      }
    }
  },

  mounted() {
    console.log(this.$route);
    let status = false;
    setInterval(() => {
      let isLoggedIn = this.$auth.$state.loggedIn;
      if (!status) {
        
        if (isLoggedIn) {
          if (this.$auth.$state.user.username != null ){
            
              console.log('default role',this.$auth.$state.user.username)
              this.getProfile();  
              status = true; 
            // if (this.$auth.$state.user.role == "admin") {
            //   this.items.splice(1, 1)
            // }
          }
        }
      } else {
        if (!isLoggedIn) {
          status = false;
        }
      }
    }, 2000);
    
  },

  methods: {
    isActivePage(pathname) {
      var str = this.$route.path.split('/')
      return str[1] == pathname
    },

    async getProfile() {
      const post = await this.$topchart.getEmpPost();
      let vm = this
      window.FB.getLoginStatus((response) => {
        if (response.status === "connected") {
          let a = vm
          window.FB.api('me', {"fields": "email,name,picture,posts,feed"}, (me) => {
            console.log("meIndex", me)
            let s = a
            s.igMe = me
            
            // s.igMe.fbPost = post.facebookCount;
          });
        }
      });
    },

    async pullData(){
      try {
        const req = await this.$topchart.pullData();
      } catch (error) {
        console.log(error);
      }
    },

  },
}
</script>
