<template>
  <v-layout column class="pa-4">
    <v-layout class="py-4" row>
      <v-hover>
        <v-icon slot-scope="{hover}" :color="`${ hover ? 'primary' : 'grey'}`" class="pointer pr-4" @click="$router.go(-1)">
          keyboard_arrow_left
        </v-icon>
      </v-hover>
      <v-flex xs12 sm6 class="d-flex">
        <p class="title" style="margin: auto">Tambah Data</p>
      </v-flex>
    </v-layout>

    <v-card class="white" flat style="border-radius: 20px; padding: 20px">
      <v-layout row wrap>
        <!-- data institusi -->
        <v-flex xs12 sm6>
          <v-card-title class="headline">Data Institusi</v-card-title>
          <v-card-text>
            <label for="type">Tipe Institusi</label>
            <v-autocomplete
              :items="$store.state.types" :disabled="$auth.$state.user.role != 'pusat'"
              item-value="value" item-text="text"
              id="type" placeholder="Tipe Institusi"
              v-model="type"
              single-line solo flat
              append-icon="expand_more"
              background-color="lighten-3 grey"
            ></v-autocomplete>

            <label for="institution_name">Nama Institusi</label>
            <v-text-field
              single-line solo autofocus
              background-color="lighten-3 grey"
              placeholder="Masukkan nama institusi" flat
              v-model="institution_name"
              id="institution_name"
            ></v-text-field>
          </v-card-text>
        </v-flex>

        <!-- data alamat -->
        <v-flex xs12 sm6>
          <v-card-title class="headline">Data Alamat</v-card-title>
          <v-card-text>
            <label for="province">Provinsi</label>
            <v-autocomplete
              :items="provinces"
              return-object item-text="name"
              id="province" placeholder="Pilih Provinsi"
              v-model="province"
              single-line solo flat
              append-icon="expand_more"
              background-color="lighten-3 grey"
              @change="() => {getCities(), generateName()}"
            ></v-autocomplete>

            <template v-if="type != 'provinsi'">
              <label for="city">Kota/Kabupaten</label>
              <v-autocomplete
                :items="cities" :disabled="!province"
                return-object item-text="name"
                id="city" placeholder="Pilih Kota/Kabupaten"
                v-model="city"
                single-line solo flat
                append-icon="expand_more"
                background-color="lighten-3 grey"
                @change="() => {generateName()}"
              ></v-autocomplete>
                <!-- @change="getDistricts" -->
            </template>
          </v-card-text>
        </v-flex>
      </v-layout>

      <v-card-text>
        <v-btn class="primary" large @click="submit" :loading="loading">Simpan</v-btn>
        <v-btn class="primary--text transparent" large flat @click="$router.push('/institution')">Batal</v-btn>
      </v-card-text>
    </v-card>

    <successDialog></successDialog>
  </v-layout>
</template>

<script>
import successDialog from '~/components/dialog.vue'

export default {
  components:{
    successDialog
  },

  data() {
    return {
      institution_name: '',
      phone: '',
      email: '',
      address: '',
      type: 'provinsi',
      province: {},
      city: {},
      district: '',
      village: '',
      entrant: 100,

      provinces: [],
      cities: [],
      districts: [],
      villages: [],

      director: {
        name: '',
        ktp_number: 0,
        hp: '',
        email: ''
      },

      dialog: {
        state: true,
        message: 'This is the message'
      },

      loading: false
    }
  },

  mounted() {
    this.getProvince()  
    console.log(this.$store.state.types);

    console.log(this.$auth.$state);
    

    if (this.$auth.$state.user.role == 'pusat') {
      this.type = 'provinsi'
    } else if (this.$auth.$state.user.role == 'provinsi') {
      this.type = 'kokab'
    } else if (this.$auth.$state.user.role == 'kokab') {
      this.type = 'kkg'
    } else if (this.$auth.$state.user.role == 'kkg') {
      this.type = 'sekolah'
    }
    
  },

  methods: {
    async getProvince() {
      try {
        const req = await this.$region.getProvinces()
        this.provinces = req

      } catch (error) {
        console.log(error.response);
      }
    },

    async getCities() {
      try {
        const req = await this.$region.getCities({ provinceId: this.province.id })
        this.cities = req

      } catch (error) {
        console.log(error.response);
      }
    },

    async getDistricts() {
      try {
        const req = await this.$region.getDistricts({ cityId: this.city })
        this.districts = req

      } catch (error) {
        console.log(error.response);
      }
    },

    async getVillages() {
      try {
        const req = await this.$region.getVillages({ districtId: this.district })
        this.villages = req

      } catch (error) {
        console.log(error.response);
      }
    },

    generateName() {
      if (this.type == 'kkg') {
        this.institution_name = ''
        console.log('institution_name', this.institution_name)
      } else if (this.type == 'provinsi') {
        this.institution_name = 'Dinas Pendidikan Provinsi ' + this.province.name
        console.log('institution_name', this.institution_name)
      } else if (this.type == 'kokab') {
        this.institution_name = 'Dinas Pendidikan ' + this.city.name
        console.log('institution_name', this.institution_name)
      } else {
        this.institution_name = ''
        console.log('institution_name', this.institution_name)
      }
    },

    async submit() {
      this.loading = true
      try {
        const req = await this.$institution.createInstitution({
          name: this.institution_name,
          type: this.type,
          province: this.province.id,
          city: this.city.id,
        })

        if (req.meta.code == 200) {
          setTimeout(() => {
            this.loading = false  
          }, 500);

          this.$store.commit('openDialog', {
            title: 'Berhasil', 
            class: 'success',
            message: 'Berhasil menambahkan institusi '+this.type, 
            target: '/institution'
          })
        }
      } catch (error) {
        console.log(error.response);
        setTimeout(() => {
          this.loading = false  
        }, 500);
      }
    }
    
  },
}
</script>
