<template>
  <v-layout column class="pa-4">
    <v-layout class="py-4" row>
      <v-hover>
        <v-icon slot-scope="{hover}" :color="`${ hover ? 'primary' : 'grey'}`" class="pointer pr-4" @click="$router.go(-1)">
          keyboard_arrow_left
        </v-icon>
      </v-hover>
      <v-flex xs12 sm6 class="d-flex">
        <p class="title" style="margin: auto; text-transform: capitalize">Ubah Data Institusi {{type}}</p>
      </v-flex>
    </v-layout>

    <v-card class="white" flat style="border-radius: 20px; padding: 20px">
      <v-layout row wrap>
        <!-- data institusi -->
        <v-flex xs12 sm6>
          <v-card-title class="headline">Data Institusi</v-card-title>
          <v-card-text>
            <label for="type">Tipe Institusi</label>
            <v-autocomplete
              :items="$store.state.types" :disabled="$auth.$state.user.role != 'pusat'"
              item-value="value" item-text="text"
              id="type" placeholder="Tipe Institusi"
              v-model="type"
              single-line solo flat
              append-icon="expand_more"
              background-color="lighten-3 grey"
            ></v-autocomplete>

            <label for="institution_name">Nama Institusi</label>
            <v-text-field
              single-line solo autofocus
              background-color="lighten-3 grey"
              placeholder="Masukkan nama institusi" flat
              v-model="institution_name"
              id="institution_name"
            ></v-text-field>
          </v-card-text>
        </v-flex>

        <!-- data alamat -->
        <!-- <v-flex xs12 sm6>
          <v-card-title class="headline">Data Alamat</v-card-title>
          <v-card-text>
            <label for="province">Provinsi</label>
            <v-autocomplete
              :items="provinces"
              item-value="id" item-text="name"
              id="province" placeholder="Pilih Provinsi"
              v-model="province"
              single-line solo flat
              append-icon="expand_more"
              background-color="lighten-3 grey"
              @change="getCities"
            ></v-autocomplete>

            <template v-if="type != 'provinsi'">
              <label for="city">Kota/Kabupaten</label>
              <v-autocomplete
                :items="cities" :disabled="!province"
                item-value="id" item-text="name"
                id="city" placeholder="Pilih Kota/Kabupaten"
                v-model="city"
                single-line solo flat
                append-icon="expand_more"
                background-color="lighten-3 grey"
              ></v-autocomplete>
            </template>
          </v-card-text>
        </v-flex> -->
      </v-layout>

      <v-card-text>
        <v-btn class="primary" large @click="submit" :loading="loading">Simpan</v-btn>
        <v-btn class="primary--text transparent" large flat @click="$router.push('/institution')">Batal</v-btn>
      </v-card-text>
    </v-card>

    <successDialog></successDialog>
  </v-layout>
</template>

<script>
import successDialog from '~/components/dialog.vue'

export default {
  components:{
    successDialog
  },

  data() {
    return {
      institution_name: '',
      phone: '',
      email: '',
      address: '',
      type: 'provinsi',
      province: '',
      city: '',
      district: '',
      village: '',
      entrant: 100,
      id: '',

      provinces: [],
      cities: [],
      districts: [],
      villages: [],

      director: {
        name: '',
        ktp_number: 0,
        hp: '',
        email: ''
      },

      loading: false,

      dialog: {
        state: true,
        message: 'This is the message'
      }
    }
  },

  mounted() {
    let institution = JSON.parse(localStorage.getItem('institutionEditData'))
    this.type = institution.type
    this.id = institution.id
    this.institution_name = institution.name
  },

  methods: {
    async submit() {
      this.loading = true
      try {
        const req = await this.$institution.updateInstitution({
          name: this.institution_name,
          id: this.id
        })

        if (req.meta.code == 200) {
          setTimeout(() => {
            this.loading = false
          }, 500);

          this.$store.commit('openDialog', {
            class: 'success', 
            title: 'Berhasil', 
            message: 'Berhasil mengubah institusi '+this.institution_name, 
            target: '/institution'
          })
        }
      } catch (error) {
        console.log(error.response);
        setTimeout(() => {
          this.loading = false
        }, 500);
      }
    }
    
  },
}
</script>
