<template>
  <v-layout column class="pa-4">
    <v-layout class="py-4" row wrap>
      <v-flex xs12 sm6 class="d-flex">
        <p class="title font-weight-bold libre-franklin" style="margin: auto">Manajemen Institusi</p>
      </v-flex>
      <v-flex xs12 sm6>
        <v-layout justify-end>
          <v-btn v-if="$auth.$state.user.role != 'kkg' && institutions.length > 0" class="primary2 font-weight-bold f-btn white--text" to="/institution/add">Tambah Institusi</v-btn>
          <div class="my-2 input-icon-container text-xs-right" style="height: 40px">
            <input type="text" v-model="search" placeholder="Pencarian" style="padding: 5px 15px; margin: auto; width: 250px; height: 40px; background: white">
            <v-icon class="ma-2">search</v-icon>
          </div>
        </v-layout>
      </v-flex>
    </v-layout>

    <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
      <v-progress-circular
        :size="55" class="ma-4"
        color="primary2"
        indeterminate
      ></v-progress-circular>
      {{loading.message}}
    </v-layout>

    <template v-else>
      <v-layout column align-center justify-center style="height: 75vh" v-if="institutions.length == 0">
        <v-img src="illus-not-found.png" width="200" contain></v-img>
        <p class="my-4 title text-align-center font-weight-bold">Belum ada Data Institusi</p>
        <v-btn flat
          class="primary2--text font-weight-bold f-btn white--text" to="/institution/school-add" 
          v-if="$auth.$state.user.role == 'kokab'"
        >Tambah Sekolah</v-btn>
        <v-btn
          class="primary2 font-weight-bold f-btn white--text" to="/institution/school-unclaimed" 
          v-if="$auth.$state.user.role == 'kkg'"
        >Klaim Sekolah</v-btn>
        <v-btn v-if="$auth.$state.user.role != 'kkg'" class="mb-5 primary2 font-weight-bold f-btn white--text" to="/institution/add">Tambah Institusi</v-btn>
      </v-layout>

      <v-flex xs12 sm8 md6 v-else>
        <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px">
          <v-card-title class="pt-4 px-4 pb-0">
            <p style="font-size: 16px;">
              Total Data : 
              <span class="font-weight-bold">{{institutions.length}}</span>
            </p>
            <v-spacer/>
            <v-btn flat
              class="primary2--text font-weight-bold f-btn white--text" to="/institution/school-add" 
              v-if="$auth.$state.user.role == 'kokab'"
            >Tambah Sekolah</v-btn>
            <v-btn flat
              class="primary2--text font-weight-bold f-btn white--text" to="/institution/school-unclaimed" 
              v-if="$auth.$state.user.role == 'kkg'"
            >Klaim Sekolah</v-btn>
          </v-card-title>

          <v-data-table
            :headers="headers"
            :items="institutions"
            class="elevation-0"
            hide-actions
            :pagination.sync="pagination"
            sort-icon='sort'
            :search="search"
          > 
            <template slot="headers" slot-scope="props">
              <tr>
                <th
                  v-for="header in props.headers"
                  :key="header.text"
                  :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                  @click="changeSort(header.value)"
                >
                  <v-layout align-start>
                    {{ header.text }} &nbsp;
                    <v-img src="sort.png" width="16px" max-width="16px" height="16px" contain @click.stop ></v-img>
                  </v-layout>
                </th>
              </tr>
            </template>
            <template v-slot:items="props">
              <td class="">{{ props.item.name }}</td>
              <td class="" style="text-transform: capitalize">{{ props.item.type }}</td>
              <td class="">
                <v-btn v-if="props.item.type == 'sekolah' && $auth.user.role == 'kkg'" class="primary2 elevation-0 white--text" @click="unclaimSchool(props.item.id)">
                  <span style="font-size: 12px !important">Batal Klaim</span>
                </v-btn>
                <!-- <span>Sudah Diklaim</span> -->
              </td>
              <td class="">{{ props.item.counter }}</td>
              <td class="text-xs-center">
                <v-menu bottom left>
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                      <v-icon>more_vert</v-icon>
                    </v-btn>
                  </template>

                  <v-list dense>
                    <v-list-tile 
                      :to="
                        props.item.type != 'provinsi' ?
                        '/institution/users?id='+props.item.id+'&name='+props.item.name+'&type='+props.item.type+'&city='+props.item.city+'&province='+props.item.province+'&counter='+props.item.counter : '/institution/users?id='+props.item.id+'&name='+props.item.name+'&type='+props.item.type+'&province='+props.item.province+'&counter='+props.item.counter
                      "
                    >
                      <v-list-tile-title>Daftar User</v-list-tile-title>
                    </v-list-tile>
                    <!-- :to="'/institution/user-add?id='+props.item.id+'&name='+props.item.name+'&type='+props.item.type" -->
                    <v-list-tile 
                      :to="
                        props.item.type != 'provinsi' ?
                        '/institution/user-add?id='+props.item.id+'&name='+props.item.name+'&type='+props.item.type+'&city='+props.item.city+'&province='+props.item.province+'&counter='+props.item.counter : '/institution/user-add?id='+props.item.id+'&name='+props.item.name+'&type='+props.item.type+'&province='+props.item.province+'&counter='+props.item.counter
                      ">
                      <v-list-tile-title>Tambah User Institusi</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="edit(props.item)">
                      <v-list-tile-title>Ubah Institusi</v-list-tile-title>
                    </v-list-tile>

                    <v-divider></v-divider>
                    <v-list-tile @click="deleteInstitution(props.item)">
                      <v-list-tile-title class="error--text">Hapus Institusi</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </td>
            </template>
          </v-data-table>
          <div class="text-xs-center pt-2">
            <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
          </div>
        </v-card>
        <successDialog></successDialog>
      </v-flex>
    </template>
  </v-layout>
</template>

<script>
import successDialog from '~/components/dialog.vue'

export default {
  components: {
    successDialog
  },

  data() {
    return {
      search: '',

      headers: [
        { text: 'Nama Institusi', align: 'left', value: 'name' },
        // { text: 'Provinsi', align: 'left', value: 'province.name' },
        // { text: 'Kota/Kabupaten', align: 'left', value: 'city.name' },
        { text: 'Tipe', align: 'left', value: 'type' },
        // { text: 'Nomor Telepon', align: 'left', value: 'phone' },
        { text: 'Keterangan', align: 'left', value: '', sortable: false },
        // { text: 'Kepsek/Pemilik', align: 'left', value: 'owner' },
        { text: 'Counter', align: 'left', value: 'counter', width: '50' },
        { text: 'Actions', align: 'left', value: 'actions', sortable: false },
      ],

      institutions: [],
      unclaimed_institutions: [],

      pagination: {},

      loading: {
        state: true,
        message: 'Memuat data Institusi'
      }
    }
  },

  computed: {
    pages () {
      if (this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) return 0
      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
    }
  },

  mounted() {
    this.getInstitutions()
  },

  methods: {
    async getInstitutions() {
      this.loading.state = true
      try {
        if (this.$auth.$state.user.role == 'kkg') {
          const req = await this.$institution.getSchool()
          console.log('institutions : ', req);
          this.institutions = req.data
        } else {
          const req = await this.$institution.getInstitutions()
          console.log('institutions : ', req);
          this.institutions = req.data
        }

        setTimeout(() => {
          this.loading.state = false
        }, 500);
        
      } catch (error) {
        console.log(error.response);
        
        setTimeout(() => {
          this.loading.state = false
        }, 500);
      }
    },

    convertDate(jsonDate) {
      var date = new Date(jsonDate).toLocaleString('id-ID')
      var day =  new Date(jsonDate).getDay().toLocaleString('id-ID')
      const days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu']
      return days[day] + ', ' + date
    },

    changeSort (column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending
      } else {
        this.pagination.sortBy = column
        this.pagination.descending = false
      }
    },

    edit(item) {
      localStorage.setItem('institutionEditData', JSON.stringify(item))
      this.$router.push('/institution/edit')
    },

    async deleteInstitution(item) {
      if (confirm('Apakah anda yakin akan menghapus institusi '+item.name+'?' )) {
        try {
          const req = await this.$institution.deleteInstitution({id: item.id})
  
          if (req.meta.code == 200) {
            this.$store.commit('openDialog', {
              class: 'delete', 
              title: 'Berhasil', 
              message: 'Berhasil menghapus institusi '+item.name, 
              target: '/institution'
            })
          }

          this.getInstitutions()
        } catch (error) {
          console.log(error.response);
        }
      }
    },

    async unclaimSchool(id) {
      try {
        const req = await this.$institution.unclaimSchool({institution: id})

        // console.log(req);
        alert('Success unclaim')
        this.getInstitutions()
        
      } catch (error) {
        alert(error.response.data.meta.message)
        console.log(error.response);
      }
    },
  },
}
</script>
