<template>
  <v-layout column class="pa-4">
    <v-layout class="py-4" row>
      <v-hover>
        <v-icon slot-scope="{hover}" :color="`${ hover ? 'primary' : 'grey'}`" class="pointer pr-4" @click="$router.go(-1)">
          keyboard_arrow_left
        </v-icon>
      </v-hover>
      <v-flex xs12 sm6 class="d-flex">
        <p class="title" style="margin: auto">Tambah Sekolah</p>
      </v-flex>
    </v-layout>

    <v-card class="white" flat style="border-radius: 20px; padding: 20px">
      <v-layout row wrap>
        <!-- Cek NPSN -->
        <v-flex xs12 sm8>
          <v-card-title class="headline">Data Sekolah</v-card-title>
          <v-card-text>

            <template v-for="(item, index) in npsns">
              <div :key="index">
                <label for="npsn">NPSN - {{index+1}}</label>
                <v-layout row>
                  <v-text-field
                    single-line solo autofocus
                    background-color="lighten-3 grey"
                    :placeholder="'Masukkan NPSN ke-'+(index+1)" flat
                    v-model="npsns[index]"
                    id="npsn"
                  ></v-text-field>
                  <v-btn flat icon @click="npsns.push('')"><v-icon color="primary">add</v-icon></v-btn>
                  <v-btn v-if="index > 0" flat icon @click="npsns.splice(index, 1)"><v-icon color="error">delete</v-icon></v-btn>
                </v-layout>
                <div class="pa-2 my-2 grey lighten-2 pt-sans" v-if="schools[index]">
                  <p>Nama Sekolah : <span class="font-weight-bold">{{schools[index].nama}}</span></p>
                  <p>Provinsi : <span class="font-weight-bold">{{schools[index].provinsi}}</span></p>
                  <p>Kota / Kabupaten : <span class="font-weight-bold">{{schools[index].kabupaten}}</span></p>
                  <p>Status : <span class="font-weight-bold">{{schools[index].status_sekolah}}</span></p>
                  <p>Alamat : <span class="font-weight-bold">{{schools[index].alamat_jalan}}</span></p>
                </div>
              </div>
            </template>
            <v-layout justify-end>
              <v-btn :loading="btnloading" :disabled="btnloading" class="primary2 white--text" large @click="cekNPSN">Cek NPSN</v-btn>
            </v-layout>
          </v-card-text>
        </v-flex>
      </v-layout>

      <v-card-text>
        <v-btn class="primary" large @click="submit" :loading="loading">Simpan</v-btn>
        <v-btn class="primary--text transparent" large flat @click="$router.push('/institution')">Batal</v-btn>
      </v-card-text>
    </v-card>

    <successDialog></successDialog>
  </v-layout>
</template>

<script>
import successDialog from '~/components/dialog.vue'

export default {
  components:{
    successDialog
  },

  data() {
    return {
      npsns: [ "" ],
      schools: [],

      btnloading: false,
      loading: false
    }
  },

  mounted() {
    
  },

  methods: {
    async cekNPSN() {
      this.btnloading = true
      try {
        const req = await this.$institution.cekNPSN({ npsn: this.npsns })

        console.log(req);
        this.schools = req.data

        setTimeout(() => {
          this.btnloading = false
        }, 500);
      } catch (error) {
        alert(error.response.data.meta.message)
        console.log(error.response);
        setTimeout(() => {
          this.btnloading = false
        }, 500);
      }
    },
    
    async submit() {
      this.loading = true

      for (const key in this.npsns) {
        if (this.npsns.hasOwnProperty(key)) {
          const element = this.npsns[key];
          console.log('el : ', element);

          await this.createSchool(element)
        }
      }

      setTimeout(() => {
        this.loading = false  
        
        this.$store.commit('openDialog', {
          class: 'success', 
          title: 'Berhasil', 
          message: 'Berhasil menambahkan institusi sekolah', 
          target: '/institution'
        })
      }, 500);

    },

    async createSchool(npsn) {
      try {
        const req = await this.$institution.createSchool({
          npsn: npsn,
        })
      } catch (error) {
        console.log(error.response);
        alert('Gagal mendaftarkan institusi', npsn)
      }
    }
  },
}
</script>
