<template>
  <v-layout column class="pa-4">
    <v-layout class="py-4" row wrap>
      <v-flex xs12 sm6 class="d-flex">
        <v-layout class="py-4" row>
          <v-hover>
            <v-icon slot-scope="{hover}" :color="`${ hover ? 'primary' : 'grey'}`" class="pointer pr-4" @click="$router.go(-1)">
              keyboard_arrow_left
            </v-icon>
          </v-hover>
          <v-flex xs12 sm6 class="d-flex">
            <p class="title font-weight-bold libre-franklin" style="margin: auto">Klaim Sekolah</p>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs12 sm6>
        <!-- <v-layout justify-end>
          <div class="my-2 input-icon-container text-xs-right" style="height: 40px">
            <input type="text" v-model="search" placeholder="Pencarian" style="padding: 5px 15px; margin: auto; width: 250px; height: 40px; background: white">
            <v-icon class="ma-2">search</v-icon>
          </div>
        </v-layout> -->
      </v-flex>
    </v-layout>

    <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
      <v-progress-circular
        :size="55" class="ma-4"
        color="primary2"
        indeterminate
      ></v-progress-circular>
      {{loading.message}}
    </v-layout>

    <template v-else>
      <v-layout column align-center justify-center style="height: 75vh" v-if="institutions.length == 0">
        <v-img src="/illus-not-found.png" width="200" contain></v-img>
        <p class="my-4 title text-xs-center font-weight-bold">Belum ada Data Institusi <br> yang bisa diklaim</p>
        <v-btn class="primary2 font-weight-bold f-btn white--text" @click="$router.go(-1)">Kembali</v-btn>
      </v-layout>

      <v-flex xs12 sm8 md6 v-else>
        <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px">
          <v-card-title class="pt-4 px-4 pb-0">
            <p style="font-size: 16px;">
              Total Data : 
              <span class="font-weight-bold">{{institutions.length}} (Belum Diklaim)</span>
            </p>
            <v-spacer/>
            <v-btn flat
              class="primary2--text font-weight-bold f-btn white--text" to="/institution/school-add" 
              v-if="$auth.$state.user.role == 'kokab'"
            >Tambah Sekolah</v-btn>
          </v-card-title>

          <v-data-table
            :headers="headers"
            :items="institutions"
            class="elevation-0"
            hide-actions
            :pagination.sync="pagination"
            sort-icon='sort'
          > 
            <template slot="headers" slot-scope="props">
              <tr>
                <th
                  v-for="header in props.headers"
                  :key="header.text"
                  :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                  @click="changeSort(header.value)"
                >
                  <v-layout align-start>
                    {{ header.text }} &nbsp;
                    <v-img src="sort.png" width="16px" max-width="16px" height="16px" contain @click.stop ></v-img>
                  </v-layout>
                </th>
              </tr>
            </template>
            <template v-slot:items="props">
              <td class="">{{ props.item.name }}</td>
              <td class="">
                {{ props.item.province ? props.item.province.name : '-' }}
              </td>
              <td class="">
                {{ props.item.city ? props.item.city.name : '-' }}
              </td>
              <td class="" style="text-transform: capitalize">{{ props.item.type }}</td>
              <td class="">
                <span v-if="props.item.type == 'sekolah' && props.item.claimed_by_institution != null">Sudah Diklaim</span>
                <span v-else-if="props.item.type == 'sekolah' && props.item.claimed_by_institution == null">Belum Diklaim</span>
              </td>
              <td class="text-xs-center">
                <v-btn class="primary2 elevation-0 white--text" @click="claimSchool(props.item.id)">
                  <span style="font-size: 12px !important">Klaim</span>
                </v-btn>
              </td>
            </template>
          </v-data-table>
          <div class="text-xs-center pt-2">
            <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
          </div>
        </v-card>
      </v-flex>
    </template>

  </v-layout>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
  components: {
    Logo,
    VuetifyLogo
  },

  data() {
    return {
      search: '',

      headers: [
        { text: 'Nama Institusi', align: 'left', value: 'name' },
        { text: 'Provinsi', align: 'left', value: 'province.name' },
        { text: 'Kota/Kabupaten', align: 'left', value: 'city.name' },
        { text: 'Tipe', align: 'left', value: 'type' },
        // { text: 'Nomor Telepon', align: 'left', value: 'phone' },
        { text: 'Keterangan', align: 'left', value: '', sortable: false },
        // { text: 'Kepsek/Pemilik', align: 'left', value: 'owner' },
        { text: 'Actions', align: 'left', value: 'actions', sortable: false },
      ],

      institutions: [],
      unclaimed_institutions: [],

      pagination: {},

      loading: {
        state: true,
        message: 'Memuat data Sekolah'
      }
    }
  },

  computed: {
    pages () {
      if (this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) return 0
      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
    }
  },

  mounted() {
    if (this.$auth.$state.user.role == 'kkg') {
      this.getUnclaimed()
      // this.getInstitutions()
    }
  },

  methods: {
    async getUnclaimed() {
      this.loading.state = true
      try {
        const req = await this.$institution.getUnclaimed()

        // console.log('institution : ', req);
        this.institutions = req.data

        setTimeout(() => {
          this.loading.state = false
        }, 500);

      } catch (error) {
        alert(error.response.data.meta.message)
        // console.log(error.response);
        setTimeout(() => {
          this.loading.state = false
        }, 500);

      }
    },

    async claimSchool(id) {
      try {
        const req = await this.$institution.claimSchool({institution: id})

        // console.log(req);
        alert('Success claim')
        this.getUnclaimed()
        
      } catch (error) {
        alert(error.response.data.meta.message)
        console.log(error.response);
      }
    },

    convertDate(jsonDate) {
      var date = new Date(jsonDate).toLocaleString('id-ID')
      var day =  new Date(jsonDate).getDay().toLocaleString('id-ID')
      const days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu']
      return days[day] + ', ' + date
    },

    changeSort (column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending
      } else {
        this.pagination.sortBy = column
        this.pagination.descending = false
      }
    }
  },
}
</script>
