<template>
  <v-layout column class="pa-4">
    <v-layout class="py-4" row>
      <v-hover>
        <v-icon slot-scope="{hover}" :color="`${ hover ? 'primary' : 'grey'}`" class="pointer pr-4" @click="$router.go(-1)">
          keyboard_arrow_left
        </v-icon>
      </v-hover>
      <v-flex xs12 class="d-flex">
        <p class="title" style="margin: auto">Tambah Data User {{$route.query.name}}</p>
      </v-flex>
    </v-layout>

    <v-card class="white" flat style="border-radius: 20px; padding: 20px">
      <v-layout row wrap>
        <!-- data institusi -->
        <v-flex xs12 sm8>
          <v-card-title class="headline">Data User</v-card-title>
          <v-card-text>
            <label for="type">Role User</label>
            <v-autocomplete
              :items="$store.state.types" :disabled="true"
              item-value="value" item-text="text"
              id="type" placeholder="Role"
              v-model="role"
              single-line solo flat
              append-icon="expand_more"
              background-color="lighten-3 grey"
            ></v-autocomplete>

            <label for="username">Username</label>
            <v-text-field
              single-line solo autofocus
              background-color="lighten-3 grey"
              placeholder="Masukkan username" flat
              v-model="username"
              :loading="loading"
              id="username"
            ></v-text-field>
            <label for="password">Password</label>
            <v-text-field
              type="text"
              single-line solo
              background-color="lighten-3 grey"
              placeholder="Masukkan password" flat
              v-model="password"
              :loading="loading"
              id="password"
            ></v-text-field>
            <label for="email">Email</label>
            <v-text-field
              single-line solo
              background-color="lighten-3 grey"
              placeholder="Masukkan email" flat
              v-model="email"
              :loading="loading"
              id="email"
            ></v-text-field>
            <label for="display_name">Nama Lengkap</label>
            <v-text-field
              single-line solo
              background-color="lighten-3 grey"
              placeholder="Masukkan nama lengkap" flat
              v-model="display_name"
              :loading="loading"
              id="display_name"
            ></v-text-field>
            <!-- <template v-if="role == 'provinsi' || role == 'kokab'">
              <label for="position">Jabatan</label>
              <v-text-field
                single-line solo
                background-color="lighten-3 grey"
                placeholder="Masukkan jabatan" flat
                v-model="position"
                id="position"
              ></v-text-field>
            </template> -->
            <!-- <label for="phone">No. Telepon</label>
            <v-text-field
              single-line solo
              background-color="lighten-3 grey"
              placeholder="Masukkan No. Telepon" flat
              v-model="phone"
              id="phone"
            ></v-text-field> -->

            <!-- <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :nudge-right="40"
              :return-value.sync="birth_date"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="birth_date"
                  label="Tanggal Lahir"
                  append-icon="event"
                
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="birth_date" no-title scrollable>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                <v-btn flat color="primary" @click="$refs.menu.save(birth_date)">OK</v-btn>
              </v-date-picker>
            </v-menu> -->

            <!-- <v-radio-group v-model="gender" row>
              <v-radio label="Laki-laki" value="male"></v-radio>
              <v-radio label="Perempuan" value="female"></v-radio>
            </v-radio-group> -->

          </v-card-text>
        </v-flex>
      </v-layout>

      <v-card-text>
        <v-btn class="primary" large @click="submit" :loading="loading">Simpan</v-btn>
        <v-btn class="primary--text transparent" large flat @click="$router.push('/institution')">Batal</v-btn>
      </v-card-text>
    </v-card>

    <successDialog></successDialog>
  </v-layout>
</template>

<script>
import successDialog from '~/components/dialog.vue'

export default {
  components:{
    successDialog
  },

  data() {
    return {
      username: '',
      password: '123456789',
      email: '',
      display_name: '',
      phone: '',
      birth_date: new Date().toISOString().slice(0,10),
      gender: 'male',
      role: '',
      institution: '',
      position: '',

      users: [],
      counter: '0',
      kkg_counter: '01',
      school_counter: '0001',

      loading: false,

      keys: [
        'A', 'B', 'C', 'D', 'E',
        'F', 'G', 'H', 'I', 'J',
        'K', 'L', 'M', 'N', 'O',
        'P', 'Q', 'R', 'S', 'T',
        'U', 'V', 'W', 'X', 'Y',
        'Z'
      ]
    }
  },

  mounted() {
    console.log(this.$store.state.types);
    this.role = this.$route.query.type

    this.getUsers()

    this.password = Math.floor(100000 + Math.random() * 900000)
    this.phone = Math.floor(1000000 + Math.random() * 9999999)

    this.validate()
  },

  methods: {
    validate() {
      if (this.$route.query.type == 'provinsi') {
        this.username = 'D' + this.$route.query.province.slice(0,2) + '' + this.keys[this.counter]
        this.display_name = 'Admin ' + this.$route.query.name

      } else if (this.$route.query.type == 'kokab') {
        this.username = 'D' + this.$route.query.city.slice(0,4) + '' + this.keys[this.counter]
        this.display_name = 'Admin ' + this.$route.query.name

      } else if (this.$route.query.type == 'kkg') {
        this.kkg_counter = this.$route.query.counter == 'undefined' ? '01' : this.$route.query.counter
        var str = "" + this.kkg_counter
        var pad = "00"
        var ans = pad.substring(0, pad.length - str.length) + str
        this.username = 'D' + this.$route.query.city.slice(0,4) + ans + this.keys[this.counter]
        this.display_name = 'Admin ' + this.keys[this.counter] + ' ' + this.$route.query.name

      } else if (this.$route.query.type == 'sekolah') {
        this.school_counter = this.$route.query.counter == 'undefined' ? '01' : this.$route.query.counter
        var str = "" + this.school_counter
        var pad = "0000"
        var ans = pad.substring(0, pad.length - str.length) + str

        this.username = 'D' + this.$route.query.city.slice(0,4) + ans + this.keys[this.counter]
        this.role = 'guru'
        this.display_name = 'Guru AKM'
      }

      this.email = this.username + '@akm.id'
      // this.display_name = this.role + ' ' + this.$route.query.name
    },

    async getUsers() {
      this.loading = true
      try {
        const req = await this.$user.getUsers({ id: this.$route.query.id })

        console.log('users : ', req);
        this.users = req.data
        this.counter = req.meta.length
        this.validate()

        setTimeout(() => {
          this.loading = false
        }, 500);        
      } catch (error) {
        setTimeout(() => {
          this.loading = false
        }, 500);

        console.log(error.response);
      }
    },

    async submit() {
      this.loading = true
      try {
        const req = await this.$user.register({
          username: this.username,
          password: this.password,
          email: this.email,
          display_name: this.display_name,
          phone: this.phone,
          birth_date: this.birth_date,
          gender: this.gender,
          role: this.role,
          institution: this.$route.query.id,
          position: this.position
        })

        if (req.meta.code == 200) {
          setTimeout(() => {
            this.loading = false
          }, 500);

          this.$store.commit('openDialog', {
            class: 'success', 
            title: 'Berhasil', 
            message: 'Berhasil menambahkan user ke institusi '+ this.$route.query.name, 
            target: '/institution'
          })
        }
      } catch (error) {
        console.log(error.response);
        setTimeout(() => {
          this.loading = false
        }, 500);
      }
    }
    
  },
}
</script>
