/* @import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,500,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap'); */

table, th, td {
  border: none !important;
} tr {
  border: none !important;
} tr:nth-child(even) {
  background: #f5f5f5;
} th {
  background: #f5f5f5;
  font-weight: bold !important;
}

  div.container {
    margin: 0 !important;
    min-width: 100% !important;
    padding: 0;
  } main.v-content {
    /* padding-top: 0 !important; */
    padding: 5%
  }

.libre-franklin {
  font-family: 'Libre Franklin', sans-serif !important;
}

.pt-sans {
  font-family: 'PT Sans', sans-serif !important;
}

.login-body {
  height: 100vh;
  /* background: blue; */
}

.active-tab {
  width: 32%; height: 5px; cursor: pointer; background: teal;
} .tab {
  width: 32%; height: 5px; cursor: pointer; background: grey;
}

.f-table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white !important;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 1px 4px;
}

.v-input {
  font-family: 'Libre Franklin', sans-serif !important;
  font-size: 10pt !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #151515;
  box-shadow: none !important
}

.v-text-field.v-text-field--enclosed .v-text-field__details, .v-text-field.v-text-field--enclosed > .v-input__control > .v-input__slot {
  margin: 0 !important;
}

div.v-text-field__details {
  padding: 0 !important
} div.v-input__slot {
  margin:0 !important;
}


.input-icon-container {
  font-family: 'Libre Franklin', sans-serif !important;
  font-size: 14px;
  background: white; display: flex; flex-direction: row;
} .input-icon {
  flex-grow:2; height:40px; padding: 0 16px;
}

.v-list__tile--active {
  border-right: 3px solid #1976d2 !important;
}

.v-btn {
  text-transform: none !important;
  border-radius: 7px !important;
  letter-spacing: 1px;
  /* height: 40px; */
} .f-btn {
  padding: 14px 29px;
  height: 48px;
  font-family: 'Libre Franklin', sans-serif !important;
}

.pointer {
  cursor: pointer;
}

/* head {
  content: url("mathlive/dist/fonts/KaTeX_Main-Regular.woff2")
    url("mathlive/dist/fonts/KaTeX_Caligraphic-Regular.woff");
} */