<template >
    <v-layout column class="primary" style="height: 100%">
        <Logo style="margin-left: 250px; margin-top: 25px;"></Logo>
        
        <v-layout row>
            <v-flex column>
                <img src="/bg_ig.png" position="right" width="190px" height="190px" style="margin-left: 100px;">
                <img src="/bg_twit.png" position="left" width="180px" height="180px" style="margin-left: 0px; margin-top: 32px;">
                <img src="/bg_fb.png" position="right" width="180px" height="180px" style="margin-left: 100px; margin-top: 32px;">
            </v-flex>
            
            <v-card class="pa-0 pb-4" flat style="height: 100%; border-radius: 20px 0 0 0; padding-left: 20px; padding-top: 20px; padding-right: 20px; margin-left: -50px; margin-right: 0px; margin-top: 25px; margin-bottom: 0px; background: #E5E5E5;">
                <v-img
                src="/bg_agreement.png"
                class="black--text"
                position="right"
                height="85vh"
                style="padding: 20px;"
                contain
                >
                    <v-card-title><span style="font-size: 18px;">Perjanjian Penggunaan</span></v-card-title>
                    <v-card-title><span class="font-weight-bold" style="font-size: 12px;">Term of service / Syarat dan ketentuan</span></v-card-title>
                    <v-card-title style="font-size: 12px;">Pendahuluan<br>Terima kasih sudah menggunakan layanan ini, Employee Analytics merupakan platform Analisa social media user yang dikembangkan oleh DJIKP. Para pihak dinyatakan tunduk pada perjanjian serta aturannya. 
                        Perjanjian ini adalah perjanjian baku yang ditetapkan oleh pihak DJIKP (Employee Analytics ) untuk menjamin  keamanan dan kenyamanan  penggunaan 
                        Apabila ada pertentangan  mengenai syarat dan ketentuan  dalam dokumen ini, silahkan untuk menghubungi kami untuk penjelasan lebih lanjut
                        <br><br>
                        Penggunaan Layanan
                        <br>
                        1.	Akses layanan. Untuk dapat menggunakan layanan yang disediakan DJIKP, pelanggan  mungkin memerlukan  perangkat  dan sistem  yang kompatibel<br>
                        2.	Batasan usia. Segala bentuk  produk dan layanan  dari DJIKP  tunduk terhadap aturan hukum pidana dan perdata  serta aturan turunannya, termasuk batasan  usia pihak<br>
                        3.	Pembaruan layanan. DJIKP berupaya  untuk memberikan  layanan  dan produk berkualitas kepada pelanggan. DJIKP akan melakukan  pembaruan system baik dengan memberikan notifikasi maupun secara otomatis dilakukan.<br>
                        <br>
                        Hak Atas Kekayaan Intelektual
                        <br>
                        Kepemilikan fitur, fungsi (termasuk data, teks, tampilan, gambar, audio, video, desain dan lainnya) adalah milik DJIKP. Kepemilikan materi gambar, audio, video yang diunggah ke dalam social media adalah sepenuhnya milik pihak pengunggah.<br>
                        <br>
                        Pelanggaran dan Tindakan
                        <br>
                        1.	Etika pemakaian. Pengguna wajib  memahami etika pemakaian layanan Employee Analytics . Pemakaian melewati batas pemakaian wajar merupakan pelanggaran  terhadap  etika pemakaian layanan<br>
                        2.	Akses tidak sah. Setiap kegiatan yang berpotensi  merusak dan/atau mengambil data, informasi dari server Employee Analytics  adalah tindakan illegal dan tidak sah<br>
                        <br>
                        Kebijakan konten
                        <br>
                        Pemilik konten wajib bertanggungjawab terhadap konten yang diunggah dalam pada akun social media dan membebaskan DJIKP dari segala tuntutan jika terjadi perselisihan terkait konten yang diunggah<br>
                        <br>
                        Force Majeure
                        <br>
                        Adalah keadaan memaksa  dan berada di luar kendali  serta kemampuan  manusia. Force Majeure  meliputi bencana alam, kebakaran,  keadaan darurat,  serta kondisi lain yang diatur oleh  undang-undang dan atau aturan turunan lainnya 
                        Kebijkan Force Majeure ini juga termasuk meliputi segala jenis serangan dan gangguan dari pihak luar dengan tujuan perusakan, akses tidak sah hingga penghancuran data 
                        Kesalahan system yang mengakibatkan gangguan atau terhambatnya layanan Employee Analytics  tidak bisa dituntut ganti rugi  hingga pihak kedua bisa  membuktikan hal tersebut  bukanlah force majeure dalam persidangan.
                    </v-card-title>
                </v-img>
            </v-card>
        </v-layout>
    </v-layout>
</template>
<script>
import Logo from '~/components/Logo.vue'
export default {
    components: {
        Logo
    },
    data() {
        return {
            
        }
    },

    auth: false,
}
</script>