<template style="background: #C4C4C4;">
  <v-layout column class="pa-4" style="background: #C4C4C4;" v-if="isEmployee">
    <v-layout class="py-4" row wrap>
      <v-flex xs12 sm6 class="d-flex">
        <p class="title font-weight-bold libre-franklin" style="margin: auto; text-transform: capitalize">Dashboard</p>
      </v-flex>
      <v-flex xs12 sm6 class="d-flex">
        <v-layout>
          <span class="pr-2 libre-franklin accent--text" style="margin: auto">
            {{ convertDate(new Date()) }}
          </span>
          <div>
              <tr style="text-align: start; background: #C4C4C4; padding-right: 16px; margin-top: 16px;">
                <td style="background: #4267B2; margin-top: 0px; padding: 0; height: 10px; width: 40px;">
                </td>
                <td><img src="/fblogo.png"  height="20px" style="margin-left: 1px; vertical-align: bottom;"/></td>
                <td><font color="#C4C4C4">and</font></td>

                <td style="background: #FD1D1D; margin-top: 0px; padding-left: 0; height: 10px; width: 40px;">
                </td>
                <td> <img src="/iglogo.png"  height="20px" style="margin-left: 0px; vertical-align: bottom"/></td>
                <td><font color="#C4C4C4">and</font></td>

                <td style="background: #1DA1F2; margin-top: 0px; padding-left: 0; height: 10px; width: 40px;">
                </td>
                <td> <img src="/twitterlogo.png"  height="20px" style="margin-left: 0px; vertical-align: bottom"/></td>
              </tr>
          </div>
        </v-layout>
      </v-flex>
    </v-layout>

    <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
      <v-progress-circular
        :size="55" class="ma-4"
        color="primary2"
        indeterminate
      ></v-progress-circular>
      {{loading.message}}
    </v-layout>

    <v-layout row wrap align-center justify-center style="padding-right: 23px;" v-if="loading.state == false">
      <v-flex xs12 sm3 md4 style="padding-left: 0px; padding-right: 16px;">
        <v-card class="white" flat style="border-radius: 20px; padding: 8px; margin-top: 16px;">
          <center><p style="font-size: 20px; font-weight: bold; margin-bottom: 0px; margin-top: 0px; padding: 0px;"><span class="primary--text">#1 User Post</span></p></center>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 sm4 md3>
                <v-img :src="'/'+topUserUsername+'.jpg'" contain position="left" height="80px" width="80px"/>
              </v-flex>

              <v-flex column xs12 sm7 style="margin-left: 32px;">
                <b>{{ listTopUser[0].name }}</b><br>
                <v-flex row>
                  <img src="/iglogo.png"  height="16px" position="center" style="margin-left: 0px; vertical-align: bottom;"/>
                  {{ topUserIg }}
                </v-flex>
                
                <v-flex row>
                  <img src="/twitterlogo.png"  height="16px" style="margin-left: 0px; vertical-align: bottom;"/>
                  {{ topUserTwit }}
                </v-flex>

                <v-flex row>
                  <img src="/fblogo.png"  height="16px" style="margin-left: 0px; vertical-align: bottom;"/>
                  {{ topUserFb }}
                </v-flex>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 sm3 md4 style="padding-left: 16px; padding-right: 16px;">
        <v-card class="white" flat style="border-radius: 20px; padding: 8px; margin-top: 16px;">
          <center><p style="font-size: 20px; font-weight: bold; margin-bottom: 0px; margin-top: 0px; padding: 0px;"><span class="primary--text">#1 User Engagement</span></p></center>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 sm3>
                <v-img :src="'/'+topEngageUsername+'.jpg'" contain position="left" height="80px" width="80px"/>
              </v-flex>
              <v-flex column xs12 sm7 style="margin-left: 32px;">
                <b>{{ listTopEngage[0].name }}</b><br>
                <v-flex row>
                  <img src="/iglogo.png"  height="16px" position="center" style="margin-left: 0px; vertical-align: bottom;"/>
                  {{ topEngageIg }}
                </v-flex>
                
                <v-flex row>
                  <img src="/twitterlogo.png"  height="16px" style="margin-left: 0px; vertical-align: bottom;"/>
                  {{ topEngageTwit }}
                </v-flex>

                <v-flex row>
                  <img src="/fblogo.png"  height="16px" style="margin-left: 0px; vertical-align: bottom;"/>
                  {{ topEngageFb }}
                </v-flex>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 sm3 md4 style="padding-left: 16px; padding-right: 0px;">
        <v-card class="white" flat style="border-radius: 20px; padding: 8px; margin-top: 16px;">
          <center><p style="font-size: 20px; font-weight: bold; margin-bottom: 0px; margin-top: 0px; padding: 0px;"><span class="primary--text">#1 Overall</span></p></center>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 sm3>
                <v-img :src="'/'+topAllUsername+'.jpg'" contain position="left" height="80px" width="80px"/>
              </v-flex>
              <v-flex column xs12 sm7 style="margin-left: 32px;">
                <b>{{ listOverall[0].name }}</b><br>
                <v-flex row>
                  <img src="/iglogo.png"  height="16px" position="center" style="margin-left: 0px; vertical-align: bottom;"/>
                  {{ topAllIg }}
                </v-flex>
                
                <v-flex row>
                  <img src="/twitterlogo.png"  height="16px" style="margin-left: 0px; vertical-align: bottom;"/>
                  {{ topAllTwit }}
                </v-flex>

                <v-flex row>
                  <img src="/fblogo.png"  height="16px" style="margin-left: 0px; vertical-align: bottom;"/>
                  {{ topAllFb }}
                </v-flex>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>  
    <v-layout row wrap v-if="loading.state == false">
      <v-flex column xs12 sm9>   

        <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 8px; margin-bottom: 20px; margin-top: 20px; height: 400px;">
          <v-layout column style="margin-top: 8px;">

            <template v-if="isUserChart">
              <horizontal-bar-chart :data="barChartData" :options="userChartOptions" :plugins="userPlugin" style="min-height:80px; margin: 20px;" :height="350" />
            </template>
            

          </v-layout>
          
        </v-card>

        <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 8px; margin-bottom: 20px; margin-top: 20px; height: 400px;">
          <template v-if="isEnggageChart">
            <div>
              <horizontal-bar-chart :data="enggageData" :options="engageChartOptions" style="min-height:80px; margin: 20px;" :height="350"/>
            </div>
          </template>
        </v-card>
      </v-flex>
      <v-flex column xs12 sm3 style="padding-left: 0px;">
        
        

        <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px; margin: 20px; height: 270px;">
          <center><p style="font-size: 20px; font-weight: bold; margin-bottom: 0px; padding-top: 16px;"><span class="primary--text">Jumlah Post</span></p></center>
          <template v-if="isPostChart">
            <div>
                <doughnut-chart :data="postAllData" :options="postDoughOptions" style="min-height:100px; padding-top: 20px;" :height="190" />
            </div>
          </template>
        </v-card>
        
        <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px; margin: 20px; height: 270px;">
          <center><p style="font-size: 20px; font-weight: bold; margin-bottom: 0px; padding-top: 16px;"><span class="primary--text">User Aktif</span></p></center>
          <template v-if="isPostChart">
            <div>
                <doughnut-chart :data="userActiveData" :options="postDoughOptions" style="min-height:100px; padding-top: 20px;" :height="190" />
            </div>
          </template>
        </v-card>

        <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px; margin: 20px; height: 240px;">
          <center><p style="font-size: 20px; font-weight: bold; margin-bottom: 16px; padding-top: 16px;"><span class="primary--text">Hashtag</span></p>
            <v-layout column>
              <v-layout row v-show="false">
                <v-text-field id="phone"
                  single-line solo autofocus
                  type="text"
                  background-color="lighten-3 grey"
                  placeholder="Masukkan Hashtag" flat
                  v-model="hashtag"
                ></v-text-field>

                <v-btn class="md-icon-button" @click="addHashtag" style="margin-top: 8px; margin-left: 4px; margin-right: 4px;">
                  <v-icon>add</v-icon>
                </v-btn>
              </v-layout>
              
              <v-layout v-for="(data, index) in listHashtag" :key="index" style="padding-left: 30px;">
                #{{data.hashtag}}
                
              </v-layout>
            </v-layout>
          </center>
        </v-card>
        
      </v-flex>

      

       
    </v-layout>

    <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px" v-show="true">
      <v-layout column>

        <template v-if="isPostChart">
          <div>
            <line-chart :chartdata="postData" :options="postChartOptions" style="min-height:110px;" />
          </div>
        </template>

        <!-- <center>
          <p style="font-size: 20px; font-weight: bold; margin-bottom: 24px; margin-top: 24px; padding: 0px;"><span class="black--text"></span></p>
          <tr style="text-align: start; background: white; padding: 0; margin-top: 16px;">
            <td style="background: #FD1D1D; margin-top: 0px; padding: 0; height: 10px; width: 40px;">
              
            </td>
            <td><img src="/iglogo.png"  height="20px" style="margin-left: 0px; vertical-align: bottom;"/></td>
            <td><font color="white">and</font></td>
            <td style="background: #1DA1F2; margin-top: 0px; padding-left: 0; height: 10px; width: 40px;">
            </td>
            <td> <img src="/twitterlogo.png"  height="20px" style="margin-left: 0px; vertical-align: bottom"/></td>
          </tr>
        </center> -->
      </v-layout>
      
    </v-card>
    
  </v-layout>

  <v-layout column class="pa-4" style="background: #C4C4C4; height: 120vh;" v-else>
    <v-layout column v-if="loading.state == false">
      <v-layout class="py-4" row wrap>
        <v-flex xs12 sm6 class="d-flex">
          <p class="title font-weight-bold libre-franklin" style="margin: auto; text-transform: capitalize">Dashboard</p>
        </v-flex>
        <v-flex xs12 sm6 class="d-flex">
          <v-layout>
            <span class="pr-2 libre-franklin accent--text" style="margin: auto">
              {{ convertDate(new Date()) }}
            </span>
            <div>
                <tr style="text-align: start; background: #C4C4C4; padding-right: 16px; margin-top: 16px;">
                  <td style="background: #4267B2; margin-top: 0px; padding: 0; height: 10px; width: 40px;">
                  </td>
                  <td><img src="/fblogo.png"  height="20px" style="margin-left: 1px; vertical-align: bottom;"/></td>
                  <td><font color="#C4C4C4">and</font></td>

                  <td style="background: #FD1D1D; margin-top: 0px; padding-left: 0; height: 10px; width: 40px;">
                  </td>
                  <td> <img src="/iglogo.png"  height="20px" style="margin-left: 0px; vertical-align: bottom"/></td>
                  <td><font color="#C4C4C4">and</font></td>

                  <td style="background: #1DA1F2; margin-top: 0px; padding-left: 0; height: 10px; width: 40px;">
                  </td>
                  <td> <img src="/twitterlogo.png"  height="20px" style="margin-left: 0px; vertical-align: bottom"/></td>
                </tr>
            </div>
          </v-layout>
        </v-flex>
      </v-layout>

      <v-layout row wrap>
        <v-flex xs12 sm4>
          <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px; margin-left: 20px; margin-right: 20px; height: 270px;">
            <center><p style="font-size: 20px; font-weight: bold; margin-bottom: 0px; padding-top: 16px;"><span class="primary--text">Total Post</span></p></center>
            <template v-if="isPostChart">
              <div>
                  <doughnut-chart :data="postAllData" :options="postDoughOptions" style="min-height:100px; padding-top: 20px;" :height="190" />
              </div>
            </template>
          </v-card>
        </v-flex>
        
        <v-flex xs12 sm4>
          <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; margin-left: 20px; margin-right: 20px; height: 270px;">
            <center><p style="font-size: 20px; font-weight: bold; margin-bottom: 0px; padding-top: 16px;"><span class="primary--text">Total Engagement</span></p></center>
            <template v-if="isPostChart">
              <div>
                  <doughnut-chart :data="userActiveData" :options="postDoughOptions" style="min-height:100px; padding-top: 20px;" :height="190" />
              </div>
            </template>
          </v-card>
        </v-flex>

        <v-flex xs12 sm4 v-show="true">
          <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; margin-left: 20px; margin-right: 20px; height: 270px;">
            <center>
              <v-layout column>
                <p style="font-size: 20px; font-weight: bold; margin-top: 16px; margin-bottom: 0; margin-left: 70px; margin-right: 70px;"><span class="primary--text">Hashtag</span></p>
                <v-layout column align-start v-for="(data, index) in listHashtag" :key="index" style="padding-left: 16px; margin-bottom: 2px;">
                  #{{data.hashtag}}
                  <!-- <div v-show="!isEmployee">Jumlah Post : {{data.posts}}</div>
                  <div v-show="!isEmployee">Jumlah Comment : {{data.commentsCount}}</div>
                  <div v-show="!isEmployee">Jumlah Like : {{data.likeCount}}</div> -->
                </v-layout>
              </v-layout>
            </center>
          </v-card>
        </v-flex>
      </v-layout>

      <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px; height: 460px; margin-left: 16px; margin-right: 16px;" v-show="true">
        <v-layout column >
          <!-- <center><p style="font-size: 20px; font-weight: bold; margin-bottom: 0px; padding-top: 16px;"><span class="primary--text">Jumlah Post berdasarkan Hashtag</span></p></center> -->
          <v-layout row style="margin-top: 24px; margin-left: 32px;" v-if="postTime.length != 0">
            <v-flex xs12 sm1>
              <v-img :src="igMe.picture.data.url" contain position="left" :height="igMe.picture.data.height" :width="igMe.picture.data.width"/>
            </v-flex>
            <v-layout column xs12 sm1>
              <div>{{igMe.name}}</div>
              <div style="font-size: 11px;">{{convertDate(postTime[0].data.created_time)}}</div>
            </v-layout>
            
          </v-layout>
          <!-- <p style="font-size: 20px; margin: 32px;" v-if="postTime.length != 0"><span class="black--text">{{postTime[0].data.message}}</span></p>
          <v-layout row v-if="postTime.length != 0">
            <table style="width: 25%; margin-left: 40px;">
              <tr style="background: transparent">
                
                <td style="width: 13px !important">
                  <v-img width="15" height="15" contain src="/fb_like_icon.png"></v-img>
                </td>
                <td>
                  <p style="font-size: 12px" class="ma-0 font-weight-bold">{{postTime[0].data.reactions.summary.total_count}}</p>
                </td>
                <td style="width: 13px !important">
                  <v-img width="15" height="15" contain src="/ig_comment_icon.png"></v-img>
                </td>
                <td>
                  <p style="font-size: 12px" class="ma-0 font-weight-bold">{{postTime[0].data.comments.summary.total_count}}</p>
                </td>
                <td style="width: 13px !important">
                  <v-img width="16" height="16" contain src="/fb_share_icon.png"></v-img>
                </td>
                <td>
                  <p style="font-size: 12px" class="ma-0 font-weight-bold">{{postTime[0].data.shares != null ? postTime[0].data.shares.count : 0}}</p>
                </td>
              </tr>
            </table>
          </v-layout> -->
          <template v-if="isPostChart">
            <div>
              <line-chart :chartdata="postData" :options="postChartOptions" style="min-height:110px;" />
            </div>
          </template>
        </v-layout>
      </v-card>
    </v-layout>

    <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
      <v-progress-circular
        :size="55" class="ma-4"
        color="primary2"
        indeterminate
      ></v-progress-circular>
      {{loading.message}}
    </v-layout>
  </v-layout>
</template>
<script>
import Logo from '~/components/Logo.vue';
import VuetifyLogo from '~/components/VuetifyLogo.vue';
import HorizontalBarChart from '~/components/HorizontalBarChart.js';
import DoughnutChart from '~/components/DoughnutChart.js';
import ChartDataLabels from 'chartjs-plugin-datalabels';
import LineChart from '~/components/LineChart.js';

export default {
  components: {
    Logo,
    VuetifyLogo,
    HorizontalBarChart,
    DoughnutChart,
    ChartDataLabels,
    LineChart
  },

  // if you access this page without login
  // auth: false,

  data() {
    return {
      search: '',
      monthNames: ["Januari", "Februari", "Maret", "April", "Mei", "Juni","Juli", "Agustus", "September", "Oktober", "November", "Desember"],
      school_statistic: '0',
      teacher_statistic: '0',
      student_statistic: '0',
      quiz_statistic: '0',
      result_statistic: '0',
      topUserIg: '-',
      topUserTwit: '-',
      topUserFb: '-',

      topUserUsername: '',
      topEngageUsername: '',
      topAllUsername: '',

      postFb: [],

      topEngageIg: '-',
      topEngageTwit: '-',
      topEngageFb: '-',

      topAllIg: '-',
      topAllTwit: '-',
      topAllFb: '-',
      hashtag: "",
      isEnggageChart: false,
      isUserChart: false,
      isPostChart: false,
      isEmployee: false,
      isFbAuth: false,
      isIgAuth: false,
      loading: {
        state: false,
        message: 'Memuat data dashboard'
      },
      listTopUser: [],
      listTopEngage: [],
      listOverall: [],
      listHashtag: [],
      igMe: {},

      postAllData: {
          labels: ["Instagram", "Twitter", "Facebook"],
          datasets: [
              {
                  label: 'Total Post',
                  data: [0,0,0],
                  backgroundColor: ["#FD1D1D", "#1DA1F2", "#4267B2"],
              }
          ]
      },

      userActiveData: {
          labels: ["Instagram", "Twitter", "Facebook"],
          datasets: [
              {
                  label: 'User Aktif',
                  data: [0,0,0],
                  backgroundColor: ["#FD1D1D", "#1DA1F2", "#4267B2"],
              }
          ]
      },

      postData: {
        labels: [],
        datasets: [
          {
            label: 'Instagram',
            data: [],
            fill: false,
            backgroundColor: "#FD1D1D",
            borderColor: "#FD1D1D"
          },
          {
            label: 'Twitter',
            data: [],
            fill: false,
            backgroundColor: "#1DA1F2",
            borderColor: "#1DA1F2"
          },
          {
            label: 'Facebook',
            data: [],
            fill: false,
            backgroundColor: "#4267B2",
            borderColor: "#4267B2"
          },
        ]
      },
      barChartData: {
        labels: [],
        datasets: [
          {
            label: 'Instagram',
            data: [],
            backgroundColor: '#FD1D1D'
          },
          {
            label: 'Twitter',
            data: [],
            backgroundColor: '#1DA1F2'
          },
          {
            label: 'Facebook',
            data: [],
            backgroundColor: '#4267B2'
          },
        ]
      },

      enggageData: {
        labels: [
        ],
        datasets: [
          {
            label: 'Instagram',
            data: [],
            backgroundColor: '#FD1D1D'
          },
          {
            label: 'Twitter',
            data: [],
            backgroundColor: '#1DA1F2'
          },
          {
            label: 'Facebook',
            data: [],
            backgroundColor: '#4267B2'
          },
        ]
      },

      userPlugin: [ChartDataLabels],

      userChartOptions: {
        maintainAspectRatio: false,
        responsive: true,
        plugins: {
            // Change options for ALL labels of THIS CHART
            datalabels: {
                color: '#ffffff',
                font: {
                  weight: 'bold',
                  size: 15
                }
            }
        },
        legend: {
          display: false,
        },
        title: {
          display: true,
          text: 'Top User',
          fontSize: 20,
          fontColor: '#000000',
          padding: 40,
        },
        tooltips: {
          backgroundColor: '#17BF62'
        },
        scales: {
          categoryPercentage: 0.1,
          barPercentage: 0.7,
          xAxes: [{
            ticks: {
              beginAtZero: true,
              display: false
            },
              gridLines: {
                display: false,
                zeroLineColor: 'transparent',
                
              },
          }],
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
                
              },
              gridLines: {
                display: false
              }
            }
          ]
        }
      },

      engageChartOptions: {
        maintainAspectRatio: false,
        responsive: true,
        plugins: {
            // Change options for ALL labels of THIS CHART
            datalabels: {
                color: '#ffffff',
                font: {
                  weight: 'bold',
                  size: 15
                }
            }
        },
        legend: {
          display: false
        },
        title: {
          display: true,
          text: 'Top Engagement',
          fontSize: 20,
          fontColor: '#000000',
          padding: 40
        },
        tooltips: {
          backgroundColor: '#17BF62'
        },
        scales: {
          categoryPercentage: 0.7,
          barPercentage: 0.7,
          xAxes: [
            {
              ticks: {
                beginAtZero: true,
                display: false
              },
              gridLines: {
                display: false
              }
            }
          ],
          yAxes: [
            {
              ticks: {
                beginAtZero: true
              },
              gridLines: {
                display: false
              }
            }
          ]
        }
      },

      postChartOptions: {
        maintainAspectRatio: false,
        responsive: true,
        plugins: {
            // Change options for ALL labels of THIS CHART
            datalabels: {
              display: false,
            }
        },
        legend: {
          position: 'bottom',
          display: false
        },
        title: {
          display: true,
          text: 'Jumlah Post berdasarkan Hashtag',
          fontSize: 20,
          fontColor: '#0100cc',
          padding: 40
        },
        tooltips: {
          backgroundColor: '#17BF62'
        },
        scales: {
          xAxes: [
            {
              ticks: {
                beginAtZero: true,
                display: true
              },
              gridLines: {
                color: "transparent",
                display: true,
                drawBorder: false,
                zeroLineColor: "#000000",
                zeroLineWidth: 1
              }
            }
          ],
          yAxes: [
            {
              
              ticks: {
                beginAtZero: true,
                display: true,
                userCallback: function(label, index, labels) {
                  // when the floored value is the same as the value we have a whole number
                  if (Math.floor(label) === label) {
                      return label;
                  }

                }
              },
              gridLines: {
                color: "transparent",
                display: true,
                drawBorder: false,
                zeroLineColor: "#000000",
                zeroLineWidth: 1
              }
            }
          ]
        }
      }, 
      
      postDoughOptions: {
          maintainAspectRatio: false,
          responsive: true,
          plugins: {
              // Change options for ALL labels of THIS CHART
              datalabels: {
                  display: function(context) {
                      return context.dataset.data[context.dataIndex] !== 0; // or >= 1 or ...
                  },
                  color: '#ffffff',
                  font: {
                      weight: 'bold',
                      size: 15
                  }
              }
          },
          legend: {
              position: 'bottom',
              display: false
          },
          title: {
              display: false,
          },
          tooltips: {
              backgroundColor: '#17BF62'
          },
          scales: {
          xAxes: [
              {
                  ticks: {
                      beginAtZero: true,
                      display: false
                  },
                  gridLines: {
                      display: false
                  }
              }
          ],
          yAxes: [
              {
              
                  ticks: {
                      beginAtZero: true,
                      display: false
                  },
                  gridLines: {
                      display: false
                  }
              }
          ]
          }
      },
      
      counter: 0,
      date: new Date(),
      postTime: [],
    }
  },

  mounted() {
    console.log("auth", this.$store.state.auth)
    if (this.$store.state.auth.user.username != null) {
      this.isEmployee = false;
      
      this.getProfile();
      this.getHashtag(true);
      // this.$router.push('/profile')
    } else {
      
      this.isEmployee = true;
      this.getHashtag(false);
    }
  },

  methods: {
    countUp() {
      this.counter += 1
    },

    async getHashtagId() {
      let vm = this
      this.loading.stete = true;
      try {
        for (const key in this.listHashtag) {
          if (Object.hasOwnProperty.call(this.listHashtag, key)) {
            const dataHashtag = this.listHashtag[key];
            console.log("data hashtag", dataHashtag);
            window.FB.getLoginStatus((response) => {
              if (response.status === "connected") {
                let a = vm
                window.FB.api('me', {"fields": "accounts"}, (me) => {
                  console.log("me", me)
                  let s = a
                  window.FB.api(me.accounts.data[0].id, 'GET', {'fields': 'instagram_business_account'}, (data) => {
                    let win = s
                    console.log("igId", data);
                    window.FB.api(data.instagram_business_account.id, 'GET', {"fields": "name,followers_count,media_count,profile_picture_url,username"}, (profile) => {
                      console.log("profile", profile)
                      vm.igMe = profile
                    });
                    window.FB.api('/ig_hashtag_search', 'GET', {'user_id': data.instagram_business_account.id, "q": dataHashtag.hashtag}, (ig) => {
                      let b = win
                      console.log("media", ig)
                      window.FB.api(ig.data[0].id+ '/top_media', 'GET', {'user_id': data.instagram_business_account.id, "fields": "id,media_type,comments_count,like_count,timestamp,media_url"}, (recent) => {
                        let v = b
                        if (recent != null) {
                          console.log('top_media', recent.data);
                          // v.addPost(recent.data)  
                        }
                        
                        for (const key in recent.data) {
                          if (Object.hasOwnProperty.call(recent.data, key)) {
                            const data = recent.data[key];
                            window.FB.api(data.id, 'GET', {'fields': 'caption,owner,username'}, (dataMedia) => {
                              // if (dataMedia.error == null) {
                                console.log("datamedia", dataMedia.username);
                              // }
                              
                            })
                          }
                        }
                        
                      }); 
                    });
                  })
                })
              }
            })
          }
        }
      } catch (error) {
        console.log(error)
      }
      
      
      this.loading.stete = false;
      this.getPost();
      this.getPostDay();
      this.getTopEnggage();
    },

    async addPost(recent) {
      
      try {
        if (recent.length > 0) {
          for (const key in recent) {
            if (Object.hasOwnProperty.call(recent, key)) {
              const data = recent[key];
              const req = await this.$hashtag.addPost({
                id: data.id,
                user: "603344cebc478d12f8de567a", 
                urlMedia: data.media_url, 
                type: "instagram", 
                commentCount: data.comments_count, 
                likeCount: data.like_count, 
                shareCount: 0,
                timestamp: data.timestamp
              })
            }
          }
        }

      } catch (error) {
        console.log(error);
      }
    },

    async getHashtag(isEmployee) {
      this.loading = { state: true, message: 'Memuat data...'}
      try {
        const req = await this.$hashtag.getHashtag({limit: "", page: ""})

        console.log('users : ', req.data);
        for (const key in req.data) {
          if (Object.hasOwnProperty.call(req.data, key)) {
            const data = req.data[key];
            this.listHashtag.push({
              hashtag: data.hashtag,
              posts: 0,
              commentsCount: 0,
              likeCount: 0,
              created_time: "",
            })    
          }
        }
        
        
        if (isEmployee) {
          // this.getProfileFB();
          this.getEmpPost();
          this.getEmpEnggage();
        } else {
          this.getHashtagId();
        }
        

        setTimeout(() => {
          this.loading.state = false
        }, 500);
        
      } catch (error) {
        console.log(error);
        
        setTimeout(() => {
          this.loading.state = false
        }, 500);
      }
    },

    async getPost() {
        this.loading.state = true;
        try {
            const req = await this.$topchart.getTotalPost();
            this.postAllData.datasets[0].data[0] = req.instagramTotalCount;
            this.postAllData.datasets[0].data[1] = req.twitterTotalCount;
            this.postAllData.datasets[0].data[2] = req.facebookTotalCount;
            
            // console.log("postdata ", this.postAllData)
        } catch (error) {
            console.log(error);
            this.isPostDoughnut = true;
            setTimeout(() => {
                this.loading.state = false
            }, 500);
        }
    },

    async getPostDay() {
      this.loading.state = true;
      try {
        var date = new Date();
        var month = Number(date.getMonth() + 1);
        var lastDate = new Date(date.getFullYear(), month, date.getDate());
        var ig = 0;
        var twit = 0;
        var fb = 0;
        console.log("lastdate ", lastDate.getDate())
        if (month < 10) {
          month = "0"+month;
        }
        
        for(var i = 1; i <= date.getDate(); i++) {
          var day = i;
          if (day < 10) {
            day = "0"+day;
          }
          this.postData.labels.push(day+"-"+this.monthNames[date.getMonth()]);
          const req = await this.$topchart.getTotalPostDay({date: date.getFullYear() + '-' +month+ '-' +day});  
          this.postData.datasets[0].data.push({x: i, y: req.instagramTotalCount});
          this.postData.datasets[1].data.push({x: i, y: req.twitterTotalCount});
          this.postData.datasets[2].data.push({x: i, y: req.facebookTotalCount});

          ig = ig + req.instagramTotalCount;
          twit = twit + req.twitterTotalCount;
          fb = fb + req.facebookTotalCount;
          
        }

        this.postAllData.datasets[0].data[0] = ig;
        this.postAllData.datasets[0].data[1] = twit;
        this.postAllData.datasets[0].data[2] = fb;
        
        console.log(this.postData)
        this.isPostChart = true
      } catch (error) {
        console.log(error);
        this.isPostChart = true
        setTimeout(() => {
          this.loading.state = false
        }, 500);
      }
    },

    async getUserById(data) {
      try {
        
        if (data == 'topUser') {
          const req = await this.$user.getUserById({userId: this.listTopUser[0]._id})
          this.topUserUsername = req.instagramId;
          this.topUserIg = req.instagramId == '' ? '-' : req.instagramId;
          this.topUserTwit = req.twitterId == '' ? '-' : req.twitterId;
          this.topUserFb = req.facebookId == '' ? '-' : req.facebookId;
        }
        if (data == 'topEngage'){
          const req = await this.$user.getUserById({userId: this.listTopEngage[0]._id})
          this.topEngageUsername = req.instagramId;
          this.topEngageIg = req.instagramId == '' ? '-' : req.instagramId;
          this.topEngageTwit = req.twitterId == '' ? '-' : req.twitterId;
          this.topEngageFb = req.facebookId == '' ? '-' : req.facebookId;
        }
        if (data == 'overall') {
          const req = await this.$user.getUserById({userId: this.listOverall[0]._id})
          this.topAllUsername = req.instagramId;
          this.topAllIg = req.instagramId == '' ? '-' : req.instagramId;
          this.topAllTwit = req.twitterId == '' ? '-' : req.twitterId;
          this.topAllFb = req.facebookId == '' ? '-' : req.facebookId;
        }
        
      } catch (error) {
        console.log(error);
      }
    },

    async getTopEnggage() {
      try {
        let day = this.date.getDate();
        let month = Number(this.date.getMonth() + 1)
        if (day < 10) {
          day = '0' +day
        }
        if (month < 10) {
          month = '0' +month;
        }
        let startDate = this.date.getFullYear()+ '-' +month+ '-01T00:00:00Z'
        let endDate = this.date.getFullYear()+ '-' +month+ '-' +day+ 'T24:00:00Z'
        
        const req = await this.$topchart.getTopEnggagement({startAt: startDate, endAt: endDate})
        req.sort((a, b) => (a.name.toUpperCase() < b.name.toUpperCase()) ? 1 : -1);
        req.sort((a, b) => (Number((a.instagram.likeCount + a.instagram.commentCount + a.instagram.shareCount) + 
        (a.twitter.likeCount + a.twitter.commentCount + a.twitter.shareCount) + (a.facebook.likeCount + a.facebook.commentCount + b.facebook.shareCount)) < 
        Number((b.instagram.likeCount + b.instagram.commentCount + b.instagram.shareCount) + (b.twitter.likeCount + b.twitter.commentCount + b.twitter.shareCount) + 
        (b.facebook.likeCount + b.facebook.commentCount + b.facebook.shareCount))) ? 1 : -1);

        var list = req.slice(0, 5);
        var listTopUser = req;
        listTopUser.sort((a, b) => (a.name.toUpperCase() < b.name.toUpperCase()) ? 1 : -1);
        listTopUser.sort((a, b) => (Number((a.instagram.postCount + a.twitter.postCount + a.facebook.postCount)) < 
        Number((b.instagram.postCount + b.twitter.postCount + b.facebook.postCount))) ? 1 : -1);

        this.topUser(listTopUser)

        for (const key in req) {
          if (Object.hasOwnProperty.call(req, key)) {
            const data = req[key];
            if (data.name != "") {
              let twitCount = Number(data.twitter.likeCount + data.twitter.commentCount + data.twitter.shareCount)
              let fbCount = Number(data.facebook.likeCount + data.facebook.commentCount + data.facebook.shareCount)
              let igCount = Number(data.instagram.likeCount + data.instagram.commentCount + data.instagram.shareCount)
              let total = Number(twitCount + fbCount + igCount);

              let twitPost = data.twitter.postCount
              let fbPost = data.facebook.postCount
              let igPost = data.instagram.postCount
              let overall = Number(((twitPost + fbPost + igPost) * 5) + total)

              this.listTopEngage.push({
                _id: data._id,
                name: data.name,
                total: total
              })

              this.listOverall.push({
                _id: data._id,
                name: data.name,
                overall: overall
              })
            }
            
          }
        }

        for (const key in list) {
          if (Object.hasOwnProperty.call(list, key)) {
            const data = list[key];
            
            this.enggageData.labels[key] = data.name;
            this.enggageData.datasets[0].data[key] = Number(data.instagram.likeCount + data.instagram.commentCount + data.instagram.shareCount)
            this.enggageData.datasets[1].data[key] = Number(data.twitter.likeCount + data.twitter.commentCount + data.twitter.shareCount)
            this.enggageData.datasets[2].data[key] = Number(data.facebook.likeCount + data.facebook.commentCount + data.facebook.shareCount)
            
          }
        }

        this.isEnggageChart = true
        this.listTopEngage.sort((a, b) => (a.name.toUpperCase() < b.name.toUpperCase()) ? 1 : -1);
        this.listOverall.sort((a, b) => (a.name.toUpperCase() < b.name.toUpperCase()) ? 1 : -1);
        console.log(this.listTopEngage, this.listOverall);
        this.listTopEngage.sort((a, b) => (a.total < b.total) ? 1 : -1)
        this.listOverall.sort((a, b) => (a.overall < b.overall) ? 1 : -1)
        this.getUserById('topEngage');
        this.getUserById('overall');
        setTimeout(() => {
          this.loading.state = false
          
        }, 500);
      } catch (error) {
        console.log(error);
        this.isEnggageChart = true
        setTimeout(() => {
          this.loading.state = false
        }, 500);
      }
    },

    topUser(listTopUser){
      var list = listTopUser.slice(0, 5);
      var igCount = 0
      var twitCount = 0;
      var fbCount = 0;

      for (const key in listTopUser) {
        if (Object.hasOwnProperty.call(listTopUser, key)) {
          const data = listTopUser[key];
          if (data.name != null) {
            if (data.instagram.postCount > 0) {
              igCount = Number(igCount + 1);
            }
            if (data.twitter.postCount > 0) {
              twitCount = Number(twitCount + 1);
            }

            if (data.facebook.postCount > 0) {
              fbCount = Number(fbCount + 1);
            }
            
            this.listTopUser.push({
              _id: data._id,
              name: data.name,
              total: Number(Number(data.instagram.postCount) + Number(data.facebook.postCount) + Number(data.twitter.postCount))
            })
          }
        }
      }

      this.userActiveData.datasets[0].data[0] = igCount;
      this.userActiveData.datasets[0].data[1] = twitCount;
      this.userActiveData.datasets[0].data[2] = fbCount;

      for (const key in list) {
        if (Object.hasOwnProperty.call(list, key)) {
          const data = list[key];
          
          if (typeof(data.name) !== 'undefined' || data.name !== null) {
            console.log("data name", data.name)
            this.barChartData.labels[key] = data.name;
            this.barChartData.datasets[0].data[key] = data.instagram.postCount
            this.barChartData.datasets[1].data[key] = data.twitter.postCount
            this.barChartData.datasets[2].data[key] = data.facebook.postCount
            
          }
        }
      }

      this.listTopUser.sort((a, b) => (a.name.toUpperCase() < b.name.toUpperCase()) ? 1 : -1);
      this.listTopUser.sort((a, b) => (a.total < b.total) ? 1 : -1)
      this.isUserChart = true;
      this.getUserById('topUser');
    },

    convertDate(jsonDate) {
      const options = { year: 'numeric', month: 'long', day: 'numeric' };
      var date = new Date(jsonDate).toLocaleDateString('id-ID', options)
      var day =  new Date(jsonDate).getDay().toLocaleString('id-ID')
      const days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu']
      return date
    },

    async getTokenIg() {
      try {
        const req = await this.$authIG.getToken();
        console.log('token ig : ', req);
      } catch (error) {
        console.log(error);
      }
    }, 

    async addHashtag() {
      console.log('test')
    },

    async getProfile() {
      this.loading.state = true;
      try {
        const req = await this.$user.getProfile();
        let vm = this;
        const client_id = process.env.clientId
        const client_secret = process.env.clientSecret

        for (const key in req.posts) {
          if (Object.hasOwnProperty.call(req.posts, key)) {
            const data = req.posts[key];
            if (data.type == 'facebook') {
              this.postFb.push(data);
            }
          }
        }
        if (req.facebookToken == "") {
          this.$router.push('/profile')
        }
        
        window.FB.getLoginStatus((response) => {
          if (response.status !== "connected") {
            // this.$router.push('/profile')
          } else {
            window.FB.api('/oauth/access_token', 'GET', {'grant_type': 'fb_exchange_token', 'client_id': client_id, 'client_secret': client_secret, 'fb_exchange_token': response.authResponse.accessToken}, (res) => {
                window.FB.api('/me', 'GET', {'fields': 'id,name,email'}, (data) => {
                  vm.updateToken(data.name, data.email, res.access_token);  
                })
            });
          }
        })
        
      } catch (error) {
        this.loading.state = false;
        console.log(error);
      }
    },

    async updateToken(employeeName,fbId,fbToken) {
        try {
            const req = await this.$user.updateProfile({
              name: employeeName,
              facebookId: fbId,
              facebookToken: fbToken,
            })

        } catch (error) {
            console.log(error);
            this.loading.state = false;
        }
    },

    async getProfileFB() {
      let vm = this
      window.FB.getLoginStatus((response) => {
        if (response.status === "connected") {
          let a = vm
          window.FB.api('me', {"fields": "email,name,picture,posts,feed"}, (me) => {
            let s = a
            s.igMe = me
          });
          window.FB.api('me/feed', {"fields": "comments.summary(true),message,reactions.summary(true),shares.summary(true),created_time"}, (me) => {
            console.log("meIndex", me)
            let s = a
            let fbCount = 0;
            let fbEngage = 0;
            
            // hashtag.posts = 0;
            // hashtag.likeCount = 0;
            // hashtag.commentsCount = 0;
            
            for (const key in me.data) {
              if (Object.hasOwnProperty.call(me.data, key)) {
                const data = me.data[key];
                let postDate = new Date(data.created_time);
                console.log('date', postDate.getMonth());
                fbCount = fbCount + 1;
                if (Number(this.date.getMonth() + 1) == Number(postDate.getMonth() + 1) && this.date.getFullYear() == postDate.getFullYear()) {
                  let share = 0;
                  if (data.shares != null) {
                    share = data.shares.count;
                  }
                  let totalEngage = data.reactions.summary.total_count + data.comments.summary.total_count + share;
                  data.engage = totalEngage;
                  
                  this.postTime.push({
                    data,
                    post: fbCount
                  })
                  
                  fbEngage = fbEngage + totalEngage;
                }
                
                // hashtag.posts = hashtag.posts + 1;
                // hashtag.likeCount = hashtag.likeCount + data.reactions.summary.total_count;
                // hashtag.commentsCount = hashtag.commentsCount + data.comments.summary.total_count;
                // hashtag.created_time = postTime
                // if (data.message.indexOf(hashtag.hashtag) > -1) {
                  
                  
                // }
                // console.log('engage', s.listHashtag)
              }
            }
            // for (const idx in s.listHashtag) {
            //   if (Object.hasOwnProperty.call(s.listHashtag, idx)) {
            //     const hashtag = s.listHashtag[idx];
                
            //   }
            // }
            this.postTime.sort((a, b) => (a.engage < b.engage) ? 1 : -1);

            this.postAllData.datasets[0].data[0] = 0;
            this.postAllData.datasets[0].data[1] = 0;
            this.postAllData.datasets[0].data[2] = fbCount;

            this.userActiveData.datasets[0].data[0] = 0;
            this.userActiveData.datasets[0].data[1] = 0;
            this.userActiveData.datasets[0].data[2] = fbEngage;

            console.log("postTime", this.postTime)
            var date = new Date();
            var month = Number(date.getMonth() + 1);
            var lastDate = new Date(date.getFullYear(), month, date.getDate());
            if (month < 10) {
              month = "0"+month;
            }
            
            for(var i = 1; i <= lastDate.getDate(); i++) {
              var day = i;
              if (day < 10) {
                day = "0"+day;
              }

              this.postData.labels.push(day+"-"+this.monthNames[date.getMonth()]);
              this.postData.datasets[0].data.push({x: i, y: 0});
              this.postData.datasets[1].data.push({x: i, y: 0});
              this.postData.datasets[2].data.push({x: i, y: 0});
              // for (const key in postTime) {
              //   if (Object.hasOwnProperty.call(postTime, key)) {
              //     const data = postTime[key];
              //     var postDate = new Date(data.time)
                  
              //     if (date.getMonth() == postDate.getMonth() && i == postDate.getDate()) {
              //       console.log("compare_date", data.post)
              //       this.postData.datasets[2].data[i-1].y = data.post;
              //     }
              //   }
              // }
            }

            this.isPostChart = true
          });
        }
      });
    },

    async getEmpPost() {
      this.loading.state = true;
      try {
        this.loading.state = true;
        try {
          var date = new Date();
          var month = Number(date.getMonth() + 1);
          var lastDate = new Date(date.getFullYear(), month, date.getDate());
          var ig = 0;
          var twit = 0;
          var fb = 0;
          console.log("lastdate ", lastDate.getDate())
          if (month < 10) {
            month = "0"+month;
          }
          
          for(var i = 1; i <= lastDate.getDate(); i++) {
            var day = i;
            if (day < 10) {
              day = "0"+day;
            }
            this.postData.labels.push(day+"-"+this.monthNames[date.getMonth()]);
            const req = await this.$topchart.getEmpTotalPostDay({date: date.getFullYear() + '-' +month+ '-' +day});  
            this.postData.datasets[0].data.push({x: i, y: req.instagramTotalCount});
            this.postData.datasets[1].data.push({x: i, y: req.twitterTotalCount});
            this.postData.datasets[2].data.push({x: i, y: req.facebookTotalCount});

            ig = ig + req.instagramTotalCount;
            twit = twit + req.twitterTotalCount;
            fb = fb + req.facebookTotalCount;
            
          }

          this.postAllData.datasets[0].data[0] = ig;
          this.postAllData.datasets[0].data[1] = twit;
          this.postAllData.datasets[0].data[2] = fb;
          
          console.log(this.postData)
          this.isPostChart = true
          this.loading.state = false;
        } catch (error) {
          console.log(error);
          this.isPostChart = true
          setTimeout(() => {
            this.loading.state = false
          }, 500);
        }
      } catch (error) {
        console.log(error);
        this.loading.state = false;
      }
    },

    async getEmpEnggage() {
      try {
        const req = await this.$topchart.getEmpEnggagement({filter: "", limit: ""})
        // await this.$topchart.getTotalUser();
        this.userActiveData.datasets[0].data[0] = req.instagram.engagementScore;
        this.userActiveData.datasets[0].data[1] = req.twitter.engagementScore;
        this.userActiveData.datasets[0].data[2] = req.facebook.engagementScore;
        
      } catch (error) {
        this.loading.state = false;
      }
    },

    async flushData(){
      try {
        const req = await this.$topchart.flushData();

      } catch (error) {
        
      }
    },
  },
}
</script>

