<template>
  <v-layout>
    <!-- <v-flex text-xs-center>
      <img
        src="/v.png"
        alt="Vuetify.js"
        class="mb-5"
      >
      <blockquote class="blockquote">
        &#8220;First, solve the problem. Then, write the code.&#8221;
        <footer>
          <small>
            <em>&mdash;John Johnson</em>
          </small>
        </footer>
      </blockquote>
    </v-flex> -->
    <div>
      <div class='drop-zone' @drop='onDrop($event, 1)' @dragover.prevent @dragenter.prevent>
        <div 
          class='drag-el' 
          v-for='item in listOne' 
          :key='item.title' 
          draggable
          @dragstart='startDrag($event, item)'
        > {{ item.title }} </div>
      </div>
      <div class='drop-zone' @drop='onDrop($event, 2)' @dragover.prevent @dragenter.prevent>
        <div 
          class='drag-el' 
          v-for='item in listTwo' 
          :key='item.title' 
          draggable
          @dragstart='startDrag($event, item)'
        > {{ item.title }} </div>
      </div>
    </div>
  </v-layout>
</template>

<style scoped>
  .drop-zone {
    background-color: #eee;
    margin-bottom: 10px;
    padding: 10px;
  }

  .drag-el {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 5px;
  }
  
</style>

<script>
export default {
  data() {
    return {
      items: [
        {
          id: 0,
          title: 'Item A',
          list: 1
        },
        {
          id: 1,
          title: 'Item B',
          list: 1
        },
        {
          id: 2,
          title: 'Item C',
          list: 2
        }
      ]
    }
  },

  computed: {
    listOne () {
      console.log(this.items);
      
      return this.items.filter(item => item.list === 1)
    },
    listTwo () {
      console.log(this.items);
      return this.items.filter(item => item.list === 2)
    }
  },

  methods: {
    startDrag: (evt, item) => {
      evt.dataTransfer.dropEffect = 'move'
      evt.dataTransfer.effectAllowed = 'move'
      evt.dataTransfer.setData('itemID', item.id)
    },

    onDrop (evt, list) {
      const itemID = evt.dataTransfer.getData('itemID')
      const item = this.items.find(item => item.id == itemID)
      item.list = list
    }
  },
}
</script>
