<template>
  <v-layout row wrap style="width: 100%; margin: 0;" class="login-body">

    <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
      <v-progress-circular
        :size="55" class="ma-4"
        color="primary2"
        indeterminate
      ></v-progress-circular>
      {{loading.message}}
    </v-layout>
    <v-flex style="padding: 16px; height: 100%; top: 0;" class="primary" v-if="loading.state == false">

      <v-layout row wrap style="max-width: 440px; margin: auto; margin-top: 48px; margin-bottom: 48px">

        <v-flex xs6>
          <Logo></Logo>
        </v-flex>
        
        <v-flex xs6>
          <p class="white--text font-weight-bold text-xs-right ma-2">Butuh Bantuan?</p>
        </v-flex>

        <v-flex xs12>
          
          <v-card max-width="440px" style="margin: auto; padding: 8% 12%" class="elevation-12">
            <v-card-text>
              <p class="mb-3 title font-weight-bold libre-franklin">
                Selamat Datang di <span class="font-weight-black">Social Analytics</span>.
              </p>
              <p class="libre-franklin">
                Silahkan masukan <span class="font-weight-black">NIP</span>. untuk masuk ke aplikasi Social Analytics.
              </p>

              <label for="number">NIP</label>
              <v-text-field id="phone"
                single-line solo autofocus
                type="text"
                background-color="lighten-3 grey"
                placeholder="Masukkan NIP" flat
                v-model="username" required
              ></v-text-field>

              <label for="number">Password</label>
              <v-text-field id="phone"
                single-line solo autofocus
                type="password"
                background-color="lighten-3 grey"
                placeholder="Masukkan Password" flat
                v-model="password" required
              ></v-text-field>

              <p class="libre-franklin; font-size: 10px;">
                Dengan menggunakan aplikasi ini berarti saya sudah menyetujui <span class="primary--text font-weight-bold" @click="toAgreement">Syarat dan Ketentuan</span>
                serta <span class="primary--text font-weight-bold" @click="toPrivacy">Kebijakan Privasi</span>
              </p>
            </v-card-text>
            <v-card-actions class="ma-0 pa-3">
              <v-btn 
                class="primary" 
                style="height: 48px; width:100%;"
                @click="login"
                :disabled="password.length == 0"
              >
                <h3>
                  Masuk
                </h3>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>

      </v-layout>

    </v-flex>

    <v-dialog v-model="register_dialog" persistent max-width="480px">
      <v-card>
        <v-card-title>
          <span class="title">
            Buat Akun Baru
          </span>
          <v-spacer></v-spacer>
          <v-btn icon small @click="register_dialog = false">
            <v-icon>close</v-icon>
          </v-btn>
        </v-card-title>

        <v-card-text>
          <v-layout row>
            <template v-for="(tab, index) in tabs">
              <v-hover :key="index">
                <div 
                  slot-scope="{hover}" class="mr-1" 
                  :class="`${ hover || active_tab == tab.slug ? 'active-tab' : 'tab'}`" 
                  @click="active_tab = tab.slug"
                ></div>
              </v-hover>
            </template>
          </v-layout>

          <v-tabs-items v-model="active_tab">
            <v-tab-item value="langkah-1" class="py-4">
              <p class="font-weight-bold">Langkah 1</p>
              <p>Pilih jenis akun sesuai dengan status kamu.</p>

              <v-layout row wrap>
                <v-flex xs12 sm6 class="pa-2">
                  <v-hover>
                    <v-card 
                      height="230" slot-scope="{hover}" 
                      :class="`${ hover || role == 'guru' ? 'elevation-5 primary pointer white--text' : 'elevation-1' }`" 
                      @click="role = 'guru'"
                    >
                      <v-card-text class="text-xs-center">
                        <v-icon x-large>
                          account_circle
                        </v-icon>
                      </v-card-text>
                      <v-card-text class="text-xs-center">
                        <span>Sebagai Guru</span>
                      </v-card-text>
                    </v-card>
                  </v-hover>
                </v-flex>
                <v-flex xs12 sm6 class="pa-2">
                  <v-hover>
                    <v-card 
                      height="230" slot-scope="{hover}" 
                      :class="`${ hover || role == 'murid' ? 'elevation-5 primary pointer white--text' : 'elevation-1' }`" 
                      @click="role = 'murid'"
                    >
                      <v-card-text class="text-xs-center">
                        <v-icon x-large>
                          group
                        </v-icon>
                      </v-card-text>
                      <v-card-text class="text-xs-center">
                        <span>Sebagai Siswa</span>
                      </v-card-text>
                    </v-card>
                  </v-hover>
                </v-flex>
              </v-layout>

              <v-btn class="primary" @click="active_tab = 'langkah-2'">Selanjutnya</v-btn>
              <v-btn class="transparent" flat @click="register_dialog = false">Batal</v-btn>
            </v-tab-item>

            <v-tab-item value="langkah-2" class="py-4">
              <p class="font-weight-bold">Langkah 2</p>
              <p>Isikan data kamu dengan benar.</p>

              <v-text-field
                label="Buat username"
                solo flat
                background-color="lighten-3 grey"
                v-model="reg_username"
              ></v-text-field>
              <v-text-field
                label="Masukkan nama lengkap"
                solo flat
                background-color="lighten-3 grey"
                v-model="fullname"
              ></v-text-field>
              <v-text-field
                label="Masukkan email"
                solo flat
                background-color="lighten-3 grey"
                v-model="email"
              ></v-text-field>
              <v-text-field
                label="Masukkan nomor telepon"
                solo flat
                background-color="lighten-3 grey"
                v-model="phone"
              ></v-text-field>
              <v-text-field
                type="password"
                label="Buat password"
                solo flat
                background-color="lighten-3 grey"
                v-model="reg_password"
              ></v-text-field>

              <v-btn class="primary" @click="active_tab = 'langkah-3'">Selanjutnya</v-btn>
              <v-btn class="transparent" flat @click="active_tab = 'langkah-1'">Kembali</v-btn>
            </v-tab-item>

            <v-tab-item value="langkah-3" class="py-4">
              <p class="font-weight-bold">Langkah 3</p>
              <p>Isikan data institusi dengan benar.</p>

              <v-text-field
                label="Nama Institusi"
                solo flat background-color="lighten-3 grey"
                v-model="institution.name"
              ></v-text-field>
              <v-text-field
                label="Alamat"
                solo flat background-color="lighten-3 grey"
                v-model="institution.address"
              ></v-text-field>
              <v-text-field
                label="Sebagai Guru"
                solo flat background-color="lighten-3 grey"
                v-model="institution.as_role"
              ></v-text-field>

              <v-checkbox
                v-model="institution.agreement"
                label="Saya telah memasukkan data dengan benar dan menyetujui syarat dan peraturan yang berlaku di website AKM"
              ></v-checkbox>

              <v-btn class="primary" @click="register">Kirim</v-btn>
              <v-btn class="transparent" flat @click="active_tab = 'langkah-2'">Kembali</v-btn>
            </v-tab-item>
          </v-tabs-items>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog v-model="success_dialog" persistent max-width="420px">
      <v-card>
        <v-card-title>
          <v-spacer></v-spacer>
          <v-btn icon small @click="success_dialog = false">
            <v-icon>close</v-icon>
          </v-btn>
        </v-card-title>

        <v-card-title>
          <v-spacer></v-spacer>
          <div style="width: 120px; height: 120px; border-radius: 50%; background: grey;" class="ma-0"></div>
          <v-spacer></v-spacer>
        </v-card-title>
        <v-card-text class="text-xs-center">
          <span class="title">
            Pendaftaran Akun Baru Berhasil
          </span>

          <p>
            Data pendaftaran akun baru kamu sudah berhasil dikirim. Selanjutnya silahkan lakukan verifikasi melalui petunjuk yang kami kirimkan ke email kamu.
          </p>

          <p>
            Tidak mendapatkan petunjuk verifikasi?
          </p>

          <v-btn class="primary" @click="success_dialog = false">
            Kirim Ulang
          </v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog persistent max-width="425px" v-model="otpDialog">
      <v-card style="background: #FFFFFF; border: 1px solid #DDDDDD; border-radius: 8px; width: 100%;" class="elevation-0">
        <v-card-title class="pa-0">
          <v-spacer></v-spacer>
          <v-btn @click="otpDialog = false" icon flat>
            <v-icon color="#7e7e7e">close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-title style="padding: 0 16px 24px 16px" justify-center align-center >
          <p style="font-size: 20px; margin: auto;" class="text-truncate">
            <span>
              Verifikasi Nomor Ponsel
            </span>
          </p>
          
          <br>
          <br>
          <span style="margin:auto; text-align:center; font-size:12px">
          Masukkan kode rahasia yang sudah kami kirimkan ke nomor ponsel {{ phone }}
          </span>
        </v-card-title>
        <v-card-text style="padding: 0 24px 0 17px">
          
          <v-text-field id="otp"
            single-line solo flat
            
            placeholder="Kode OTP"
            v-model="otp"
            data-vv-name="otp"
          ></v-text-field>
          
          <v-btn block class="f-button" color="primary" style="margin-bottom: 20px;" depressed @click="verifyOTP">
            <span style="color: white;">Konfirmasi</span>
          </v-btn>
          <div id="recaptcha-container"></div>
        </v-card-text>
      </v-card>
      </v-dialog>

      <v-dialog max-width="450px" v-model="errdialog">
        <v-card :color="`${errtitle == 'Success' ? 'success' : 'error'}`" class="white--text" style="background: #FFFFFF; border: 1px solid #DDDDDD; border-radius: 6px; width: 100%;">
          <v-card-title class="title">{{ errtitle }}</v-card-title>
          <v-card-text class="subheading">
            {{ errmessage }}
          </v-card-text>
        </v-card>
      </v-dialog>
    
  </v-layout>
</template>

<style>
  
</style>

<script>
  import Logo from '~/components/Logo.vue'
  import firebase from 'firebase/app'
  import 'firebase/auth'
  import { ValidationProvider } from 'vee-validate';

  export default {
    // $_veeValidate: {
    //   validator: 'new'
    // },

    components: {
      Logo,
      ValidationProvider
    },

    auth: false,

    data() {
      return {
        page: 'login',
        active_tab: 'langkah-1',
        tabs: [
          { id: '00', text: 'Langkah 1', slug: 'langkah-1' },
          { id: '01', text: 'Langkah 2', slug: 'langkah-2' },
          { id: '02', text: 'Langkah 3', slug: 'langkah-3' }
        ],

        phone: '',
        username: '',
        password: '', 
        otp:'',
        password_peek: false,

        register_dialog: false,
        success_dialog: false,
        otpDialog: false,

        reg_username: '',
        fullname: '',
        email: '',
        phone: '',
        reg_password: '',
        role: 'murid',

        errmessage: '',
        errtitle: '',
        errdialog: false,

        institution: {
          name: '',
          address: '',
          as_role: '',
          agreement: '',
        },

        loading: {
          state: false,
          message: 'Loading...'
        },

        dictionary: {
          attributes: {
            phone: 'No Telp',
          },
          custom: {
            phone: {
              required: () => 'No Telp tidak boleh kosong',
            },
          }
        },
        
        token: "",

      }
    }, 

    mounted(){
      this.$ga.event({
        eventCategory: 'Login',
        eventAction: 'do_login',
        eventLabel: 'Login',
        eventValue: 0
      });
      this.$gAnalytic.track({category: "Login", action: "do_login", label: "Login"})
      window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container', {
        'size': 'invisible',
        'callback': function(response) {
          // reCAPTCHA solved, allow signInWithPhoneNumber.
          self.sendSMS();
        },
        'expired-callback': function() {
          // Response expired. Ask user to solve reCAPTCHA again.
          grecaptcha.reset(window.recaptchaWidgetId);
        }
      });
    },

    methods: {
      toAgreement() {
        this.$router.push('/agreement')
      },
      toPrivacy() {
        this.$router.push('/privacy_policy')
      },
      loggedIn() {
        // this.loading.state = true;
        if (this.username == "admin" && this.password == "sobatkom2021") {
          this.sendOTP();
        } else {
          this.errtitle = "Error"
          this.errdialog = true
          this.errmessage = "Username atau password salah"
          // this.loading.state = false;
        }
        
      },

      async register() {
        try {
          const req = await this.$user.register({
            username: this.reg_username,
            password: this.reg_password,
            email: this.email,
            display_name: this.fullname,
            role: this.role,
            phone: this.phone,
            institution: this.institution.name
          })

          console.log(req);
          
        } catch (error) {
          console.log(error.response);
        }
      },

      // async login() {

      // }

      async login() {
        this.progressBar = true;
        try {
            const request = await this.$auth.loginWith('local2', {
              data: {
                username: this.username,
                password: this.password
              },
            });

            console.log(request);
            // this.$mixpanel.trackLogin(this.username)

            setTimeout(() => {
              // window.location.reload()
              this.progressBar = false
              this.$router.push('/')
            }, 300)
        } catch (error) {
          this.errtitle = "Error"
          this.errdialog = true
          this.errmessage = "Username atau password salah"
          console.log(error.response);
        }
      },

      sendOTP() {
        this.phone = "082218095004";
        if (this.phone.length < 10) {
          this.errtitle = "Error";
          this.errmessage = "Username atau password salah";
          this.errdialog = true;
          // this.loading.state = false;
        } else {
          let appVerifier = window.recaptchaVerifier;
          var phoneNumber = "+62"+this.phone.substr(1);
          firebase.auth().signInWithPhoneNumber(phoneNumber, appVerifier)
            .then(confirmationResult => {
              window.confirmationResult = confirmationResult;
            })
            .then(
              // this.errtitle = "Success",
              // this.errdialog = true,
              // this.errmessage = 'SMS Dikirim. Periksa SMS kode otp pada ponsel anda.',
              setTimeout(() => {
                this.errdialog = false,
                // this.otpDialog = true
                this.verifyOTP()
              }, 300)
            )
            .catch(err => {
              this.errtitle = "Error"
              this.errdialog = true
              this.errmessage = err.message
              // this.loading.state = false;
              console.log(err.message)
            })
        }
      },

      verifyOTP() {
        this.otp = "123123";
        if(this.otp.length === 0) {
          this.errtitle = "Error"
          this.errdialog = true
          this.errmessage = "Masukkan Kode OTP"
          // this.loading.state = false;
        }else{
          let vm = this
          let code = this.otp
          // setTimeout(() => {
            window.confirmationResult.confirm(code)
            .then(function (result) {
              console.log(result.user)
              // vm.login(result.user.ya)
              vm.token = result.user.ya
              // this.loading.state = false;
            })  
            .catch(err => {
              this.errtitle = "Error"
              this.errdialog = true
              this.errmessage = err.message
              // this.loading.state = false;
              console.log(err.message);
              this.verifyOTP();
            });
          // }, 500);
          
        }
      },
    },
  }
</script>
