<template>
  <v-layout row wrap style="width: 100%; margin: 0; height: 100vh" class="login-body">

    <v-layout column align-center justify-center style="height: 100vh" v-if="loading.state == true">
      <v-progress-circular
        :size="55" class="ma-4"
        color="primary2"
        indeterminate
      ></v-progress-circular>
      {{loading.message}}
    </v-layout>

    <v-flex style="padding: 16px; height: 100%; top: 0;" class="primary" v-if="loading.state == false">

      <v-layout row wrap style="max-width: 440px; margin: auto; margin-top: 24px; margin-bottom: 48px">

        <v-flex xs6>
          <Logo></Logo>
        </v-flex>
        
        <v-flex xs6>
          <p class="white--text font-weight-bold text-xs-right ma-2">Belum memiliki akun ? </p>
          <p class="white--text font-weight-bold text-xs-right ma-2" @click="toRegister">Daftar</p>
        </v-flex>

        <v-flex xs12>
          
          <v-card max-width="440px" style="margin: auto; padding: 8% 12%" class="elevation-12">
            <v-card-text>
              <p class="mb-3 title font-weight-bold libre-franklin">
                Selamat Datang di <span class="font-weight-black">Social Analytics</span>.
              </p>
              <p class="libre-franklin">
                Silahkan masukan <span class="font-weight-black">NIP</span>. untuk masuk ke aplikasi Social Analytics.
              </p>

              <label for="number">NIP</label>
              <v-text-field id="phone"
                single-line solo autofocus
                type="text"
                background-color="lighten-3 grey"
                placeholder="Masukkan NIP" flat
                v-model="username" required
              ></v-text-field>

              <label for="number">Password</label>
              <v-text-field id="phone"
                single-line solo autofocus
                type="password"
                background-color="lighten-3 grey"
                placeholder="Masukkan Password" flat
                v-model="password" required
              ></v-text-field>

              <p class="libre-franklin; font-size: 10px;">
                Dengan menggunakan aplikasi ini berarti saya sudah menyetujui <span class="primary--text font-weight-bold" @click="toAgreement">Syarat dan Ketentuan</span>
                serta <span class="primary--text font-weight-bold" @click="toPrivacy">Kebijakan Privasi</span>
              </p>
            </v-card-text>
            <v-card-actions>
              <v-layout column>
                <v-btn 
                  class="primary" 
                  style="height: 48px; width:100%;"
                  @click="login"
                  :disabled="password.length == 0"
                >
                  <h3>
                    Masuk
                  </h3>
                </v-btn>

                <!-- <center>
                  <p style="font-size: 16px; margin-top: 16px;">
                    <span class="black--text">Atau</span>
                  </p>    
                </center>  

                <v-btn 
                  class="fb_color" 
                  style="height: 48px; width:100%; margin-left: 0px;"
                  @click="authFb"
                  v-show="true"
                >
                  <h3>
                    <span class="white--text">Login with Facebook</span>
                  </h3>
                </v-btn> -->
              </v-layout>
            </v-card-actions>
          </v-card>
        </v-flex>

      </v-layout>

    </v-flex>
    <v-dialog max-width="450px" v-model="errdialog">
      <v-card :color="`${errtitle == 'Success' ? 'success' : 'error'}`" class="white--text" style="background: #FFFFFF; border: 1px solid #DDDDDD; border-radius: 6px; width: 100%;">
        <v-card-title class="title">{{ errtitle }}</v-card-title>
        <v-card-text class="subheading">
          {{ errmessage }}
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<style>
  
</style>

<script>
  import Logo from '~/components/Logo.vue'
  import firebase from 'firebase/app'
  import 'firebase/auth'
  import { ValidationProvider } from 'vee-validate';

  export default {
    // $_veeValidate: {
    //   validator: 'new'
    // },

    components: {
      Logo,
      ValidationProvider
    },

    data() {
      return {
        page: 'login',
        active_tab: 'langkah-1',
        tabs: [
          { id: '00', text: 'Langkah 1', slug: 'langkah-1' },
          { id: '01', text: 'Langkah 2', slug: 'langkah-2' },
          { id: '02', text: 'Langkah 3', slug: 'langkah-3' }
        ],

        phone: '',
        username: '',
        password: '', 
        otp:'',
        password_peek: false,

        register_dialog: false,
        success_dialog: false,
        otpDialog: false,

        reg_username: '',
        fullname: '',
        email: '',
        phone: '',
        reg_password: '',
        role: 'murid',

        errmessage: '',
        errtitle: '',
        errdialog: false,

        institution: {
          name: '',
          address: '',
          as_role: '',
          agreement: '',
        },

        loading: {
          state: false,
          message: 'Loading...'
        },

        dictionary: {
          attributes: {
            phone: 'No Telp',
          },
          custom: {
            phone: {
              required: () => 'No Telp tidak boleh kosong',
            },
          }
        },
        
        token: "",
        fbName: "",
        facebookId: "",
        fbToken: "",

      }
    }, 

    mounted(){
      if (this.$route.query.username && this.$route.query.password) {
        // this.loading.state = true
        // alert(this.$route.query.username)
        this.username = this.$route.query.username
        this.password = this.$route.query.password
        this.login()
      }
      localStorage.setItem('liveTokenFb', '');
      window.FB.getLoginStatus(function(response) {
        if (response && response.status === 'connected') {
            console.log('logout');
            window.FB.api('/me/permissions', 'DELETE');
            window.FB.logout(function(response) {
              console.log(response);
                document.location.reload();
            });
        }
      });
      this.$ga.event({
        eventCategory: 'Login',
        eventAction: 'do_login',
        eventLabel: 'Login',
        eventValue: 0
      });
      this.$gAnalytic.track({category: "Login", action: "do_login", label: "Login"})
    },

    methods: {
      toAgreement() {
        this.$router.push('/agreement')
      },
      toPrivacy() {
        this.$router.push('/privacy_policy')
      },

      async register() {
        try {
          const req = await this.$user.register({
            username: this.reg_username,
            password: this.reg_password,
            email: this.email,
            display_name: this.fullname,
            role: this.role,
            phone: this.phone,
            institution: this.institution.name
          })

          console.log(req);
          
        } catch (error) {
          console.log(error.response);
        }
      },

      async login() {
        this.progressBar = true;
        try {
            const request = await this.$auth.loginWith('local1', {
              data: {
                username: this.username,
                password: this.password
              },
            });

            console.log(request);
            // this.$mixpanel.trackLogin(this.username)
            setTimeout(() => {
              // window.location.reload()
              this.progressBar = false
            }, 300)
        } catch (error) {
          this.errtitle = "Error"
          this.errdialog = true
          this.errmessage = "Username atau password salah"
          console.log(error.response);
        }
      },

      toRegister() {
        this.$router.push('/register')
      },

      authFb() {
        let vm = this
        this.progressBar = true
        const client_id = process.env.clientId
        const client_secret = process.env.clientSecret
        
        window.FB.getLoginStatus(function (response) {
          console.log(response)
          if (response.status === "connected") {
            window.FB.api('/oauth/access_token', 'GET', {'grant_type': 'fb_exchange_token', 'client_id': client_id, 'client_secret': client_secret, 'fb_exchange_token': response.authResponse.accessToken}, (res) => {
              console.log("long_live_token", res)
              this.fbToken = res.access_token;
              FB.api('/me', (response) => {
                vm.loginEmployee();
              });
            });
          } else {
            
            window.FB.login(function(response) {
                console.log(response)
                if (response.authResponse) {
                  window.FB.api('/oauth/access_token', 'GET', {'grant_type': 'fb_exchange_token', 'client_id': client_id, 'client_secret': client_secret, 'fb_exchange_token': response.authResponse.accessToken}, (res) => {
                    console.log("long_live_token", res)
                    this.fbToken = res.access_token;
                    FB.api('/me', (response) => {
                      vm.loginEmployee();
                    });
                  });
                  
                } else {
                    window.FB.logout(function(response) {
                    });
                    this.errtitle = "Error"
                    this.errdialog = true
                    this.errmessage = "Login gagal silahkan coba lagi"
                }
            }, {
              scope: 'user_posts,email',//'instagram_basic,pages_show_list,pages_read_engagement',
              auth_type: 'rerequest'
            });
          }
        })
      },

      async loginEmployee(){
        this.progressBar = true;
        try {
            const request = await this.$auth.loginWith('local1', {
              data: {
                username: "employnalytics",
                password: "test-5758"
              },
            });

            console.log(request);
            setTimeout(() => {
              this.progressBar = false
            }, 300)
        } catch (error) {
          this.errtitle = "Error"
          this.errdialog = true
          this.errmessage = "Login gagal, silahkan coba lagi"
          console.log(error.response);
        }
      },

      async loginAdmin() {
        try {
          const request = await this.$auth.loginWith('local2', {
            data: {
              username: "admin",
              password: "sobatkom2021"
            },
          });

          console.log(request);
          // this.$mixpanel.trackLogin(this.username)

          setTimeout(() => {
            // window.location.reload()
            this.loading.state = false;
            this.progressBar = false
            this.$router.push('/')
          }, 300)
        } catch (error) {
          this.loading.state = false;
          this.errtitle = "Error"
          this.errdialog = true
          this.errmessage = "Login gagal, silahkan coba lagi"
        }
      },

      async updateToken() {
          try {
              const req = await this.$user.updateProfile({
                  name: this.fbName,
                  facebookId: this.facebookId,
                  facebookToken: this.fbToken,
              })

              localStorage.setItem('liveTokenFb', req.facebookToken);
              // this.pullData();
          } catch (error) {
              console.log(error);
              this.loading.state = false;
          }
      },
    },
  }
</script>
