<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-flex
      xs12
      sm8
      md6
    >
    </v-flex>
  </v-layout>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
  components: {
    Logo,
    VuetifyLogo
  },

  mounted() {
    this.logout()
  },

  methods: {
    async logout() {
      await this.$auth.logout();
      setTimeout(function(){ 
        window.location.reload(); 
      }, 500);
    },
  },
}
</script>
