<template >
    <v-layout column class="primary" style="height: 100%">
        <Logo style="margin-left: 250px; margin-top: 25px;"></Logo>
        
        <v-layout row>
            <v-flex column>
                <img src="/bg_ig.png" position="right" width="190px" height="190px" style="margin-left: 100px;">
                <img src="/bg_twit.png" position="left" width="180px" height="180px" style="margin-left: 0px; margin-top: 32px;">
                <img src="/bg_fb.png" position="right" width="180px" height="180px" style="margin-left: 100px; margin-top: 32px;">
            </v-flex>
            
            <v-card class="pa-0 pb-4" flat style="height: 100%; border-radius: 20px 0 0 0; padding-left: 20px; padding-top: 20px; padding-right: 20px; margin-left: -50px; margin-right: 0px; margin-top: 25px; margin-bottom: 0px; background: #E5E5E5;">
                <v-img
                src="/bg_agreement.png"
                class="black--text"
                position="right"
                height="95vh"
                style="padding: 20px;"
                contain
                >
                    <v-card-title><span style="font-size: 18px;">Perjanjian Penggunaan</span></v-card-title>
                    <v-card-title style="font-size: 12px;">
                        Regulasi dan Penyelesaian Sengketa<br>
                        Semua layanan dan produk Employee Analytics  dilaksanakan berdasarkan UU ITE, perlindungan konsumen dan peratutan perundangan lainnya yang berlaku.
                        Para pihak akan menempuh penyelesaian musyawarah dan mufakat sebelum membawa ke ranah pengadilan<br><br>

                        Perubahan Syarat dan ketentuan
                        DJIKP berhak mengubah, menambah, mengurangi dan menghapus ketentuan dalam terms of service dengan atau tanpa melakukan pemebritahuan kepada pelanggan<br><br><br>
                        
                        <span class="font-weight-bold" style="font-size: 12px;">Privacy Policy / Kebijakan Pengguna</span>
                        <br>Pendahuluan<br>Terima kasih sudah menggunakan layanan ini, Employee Analytics merupakan platform Analisa social media user yang dikembangkan oleh DJIKP. Para pihak dinyatakan tunduk pada perjanjian serta aturannya. 
                        Perjanjian ini adalah perjanjian baku yang ditetapkan oleh pihak DJIKP (Employee Analytics ) untuk menjamin  keamanan dan kenyamanan  penggunaan 
                        Apabila ada pertentangan  mengenai syarat dan ketentuan  dalam dokumen ini, silahkan untuk menghubungi kami untuk penjelasan lebih lanjut
                        <br><br>
                        
                        DJIKP menjamin  keamanan data pribadi  di bawah Undang-undang  dan moral kebijakan privasi.  Segala bentuk akses  terhadap produk, layanan serta pembayaran  wajib memakai data dan informasi asli dari pengguna.
                        <br>Berikut syarat dan ketentuan kebijakan privasi yang wajib dipenuhi :
                        <br>
                        1.	Pengguna wajib memberikan data pribadi berupa nama lengkap, satuan kerja, alamat, nomor telepon, email aktif , akun sosial media dan informasi pribadi  lain yang mungkin dibutuhkan  untuk memakai layanan ini.<br>
                        2.	Pengguna wajib memberikan akses kepada social media pengguna untuk pengambilan data yang diperlukan dalam penyusunan analisa dalam platform ini.<br>
                        3.	Segala bentuk pengubahan wajib diupdate dalam platform atau memberitahukan secara tertulis kepada DJIKP.<br>
                        4.	DJIKP berhak mengirimkan pemberitahuan, newsletter, dan notifikasi melalui saluran informasi baik email ataupun media lainnya.<br>
                        5.	DJIKP memiliki akses kontrol terhadap dashboard dan client area untuk memeriksa apakah pengguna menggunakan layanan sesuai syarat dan ketentuan berlaku.<br>
                        <br>
                        Regulasi dan Penyelesaian Sengketa
                        <br>
                        Semua layanan dan produk Employee Analytics  dilaksanakan berdasarkan UU ITE, perlindungan konsumen dan peratutan perundangan lainnya yang berlaku.
                        Para pihak akan menempuh penyelesaian musyawarah dan mufakat sebelum membawa ke ranah pengadilan<br>
                        <br>
                        Perubahan Syarat dan ketentuan DJIKP berhak mengubah, menambah, mengurangi dan menghapus ketentuan dalam terms of service dengan atau tanpa melakukan pemebritahuan kepada pelanggan<br>
                        <br>
                        Penutup
                        <br>
                        Dengan membaca  seluruh pasal dan syarat dalam perjanjian penggunaan ini, para pihak  dianggap mengerti dan  memahami  setiap akibat hokum yang terjadi  bilamana terjadi  pelanggaran dan atau kondisi di luar kesepakatan. Pengguna wajib menyetujui seluruh isi perjanjian penggunaan ini untuk bisa menggunakan layanan Employee Analytics.<br>
                        </v-card-title>
                </v-img>
            </v-card>
        </v-layout>
    </v-layout>
</template>
<script>
import Logo from '~/components/Logo.vue'
export default {
    components: {
        Logo
    },
    data() {
        return {
            
        }
    },

    auth: false,
}
</script>