<template>
  <v-layout column class="pa-4">
    <v-layout class="py-4" row wrap>
      <v-flex xs12 sm6 class="d-flex">
        <p class="title font-weight-bold libre-franklin" style="margin: auto">Manajemen Unit Kerja</p>
      </v-flex>
      <v-flex xs12 sm6>
        <v-layout justify-end>
          <div class="my-2 input-icon-container text-xs-right" style="height: 40px">
            <!-- <input type="text" v-model="search" placeholder="Pencarian" style="padding: 5px 15px; margin: auto; width: 250px; height: 40px; background: white">
            <v-icon class="ma-2">search</v-icon> -->
          </div>
        </v-layout>
      </v-flex>
    </v-layout>

    <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
      <v-progress-circular
        :size="55" class="ma-4"
        color="primary2"
        indeterminate
      ></v-progress-circular>
      {{loading.message}}
    </v-layout>

    <template v-else>

      <v-flex xs12 sm8 md6>
        <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px">
          <v-card-title class="pt-4 px-4 pb-0">
            <p style="font-size: 16px;">Total Data : <span class="font-weight-bold">{{listWorkUnit.length}}</span></p>
            <v-spacer/>
            
            <v-btn 
              class="primary2 font-weight-bold white--text" 
              @click="addWorkUnit"
            >
              <h3>
                Tambah Unit Kerja
              </h3>
            </v-btn>
          </v-card-title>

          <v-data-table
              :headers="headers"
              :items="listWorkUnit"
              class="elevation-0"
              hide-actions
              :pagination.sync="pagination"
              sort-icon='sort'
              :total-items="pagination.totalItems"
          > 
              <template slot="headers" slot-scope="props">
              <tr>
                  <th
                  v-for="header in props.headers"
                  :key="header.text"
                  :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                  @click="changeSort(header.value)"
                  >
                  <v-layout align-start>
                      {{ header.text }} &nbsp;
                      <v-img src="/sort.png" width="16px" max-width="16px" height="16px" contain @click.stop></v-img>
                  </v-layout>
                  </th>
              </tr>
              </template>
              <template v-slot:items="props">
                  <td class="">{{props.item.name}}</td>
                  <td class="">
                      <v-menu bottom left>
                      <template v-slot:activator="{ on }">
                          <v-btn icon v-on="on">
                          <v-icon>more_vert</v-icon>
                          </v-btn>
                      </template>

                      <v-list dense>
                          <v-list-tile @click="edit(props.item)">
                          <v-list-tile-title>Sunting Unit Kerja</v-list-tile-title>
                          </v-list-tile>

                          <v-divider></v-divider>
                          <v-list-tile @click="deleteWorkUnit(props.item)">
                          <v-list-tile-title class="error--text">Hapus Unit Kerja</v-list-tile-title>
                          </v-list-tile>
                      </v-list>
                      </v-menu>
                  </td>
              </template>
          </v-data-table>
          <div class="text-xs-center pt-2">
            <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
          </div>
        </v-card>
      </v-flex>
    </template>

    <successDialog></successDialog>
  </v-layout>
</template>

<script>
import Logo from '~/components/Logo.vue'
import successDialog from '~/components/dialog.vue'

export default {
  components: {
    Logo,
    successDialog
  },

  auth: false,

  data() {
    return {
      search: '',

      headers: [
        { text: 'Unit Kerja', align: 'left', value: 'workUnit' },
        { text: 'Aksi', align: 'left', value: 'action' },
      ],

      listWorkUnit: [],
      institutions: [],
      institution: '',

      pagination: {},

      loading: {
        state: true,
        message: ''  
      }
    }
  },

  computed: {
    pages () {
        
      if (this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) return 0
      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
    }
  },

  mounted() {
    this.getWorkUnit()
  },

  methods: {
    addWorkUnit() {
      localStorage.setItem('workUnitEditData', "")
      this.$router.push('/workunit/add')
    },

    async getWorkUnit() {
      this.loading = { state: true, message: 'Memuat data Unit Kerja'}
      try {
        const req = await this.$workunit.getWorkUnit({limit: 10, page: this.pagination.page})

        console.log('users : ', req.data);
        this.listWorkUnit = req.data
        this.pagination.rowsPerPage = 10
        this.pagination.totalItems = req.meta.totalDocs

        setTimeout(() => {
          this.loading.state = false
        }, 500);
        
      } catch (error) {
        console.log(error);
        
        setTimeout(() => {
          this.loading.state = false
        }, 500);
      }
    },

    convertDate(jsonDate) {
      var date = new Date(jsonDate).toLocaleString('id-ID')
      var day =  new Date(jsonDate).getDay().toLocaleString('id-ID')
      const days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu']
      return days[day] + ', ' + date
    },

    changeSort (column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending
      } else {
        this.pagination.sortBy = column
        this.pagination.descending = false
      }
    },

    edit(item) {
      localStorage.setItem('workUnitEditData', JSON.stringify(item))
      this.$router.push('/workunit/add')
    },

    async deleteWorkUnit(item) {
      if (confirm('Apakah anda yakin akan menghapus Unit Kerja '+item.name+'?' )) {
        try {
          const req = await this.$workunit.deleteWorkUnit({_id: item._id})
  
          if (req.name == item.name) {
            // const stat = await this.$topchart.flushData();
            // if (stat.status == "ok") {
            //     await this.$topchart.pullData();
            // }
            this.$store.commit('openDialog', {
              class: 'success', 
              title: 'Berhasil', 
              message: 'Berhasil menghapus Unit Kerja '+item.name, 
              target: '/workunit'
            })
          }

          this.getWorkUnit()
        } catch (error) {
          console.log(error.message);
        }
      }
    }
  },
}
</script>
