<template>
  <v-layout column class="pa-4">
    <v-layout class="py-4" row>
      <v-hover>
        <v-icon slot-scope="{hover}" :color="`${ hover ? 'primary' : 'grey'}`" class="pointer pr-4" @click="$router.go(-1)">
          keyboard_arrow_left
        </v-icon>
      </v-hover>
      <v-flex xs12 class="d-flex">
        <p class="title" style="margin: auto; text-transform: capitalize">Ubah Profile {{role}}</p>
      </v-flex>
    </v-layout>

    <v-card class="white" flat style="border-radius: 20px; padding: 20px">
      <v-layout row wrap>
        <!-- data institusi -->
        <v-flex xs12 sm8>
          <v-card-title class="headline">Ubah Profile</v-card-title>
          <v-card-text>
            <label for="type">Role User</label>
            <v-autocomplete
              :items="$store.state.types" :disabled="true"
              item-value="value" item-text="text"
              id="type" placeholder="Role"
              v-model="role"
              single-line solo flat
              append-icon="expand_more"
              background-color="lighten-3 grey"
            ></v-autocomplete>

            <label for="username">Username</label>
            <v-text-field disabled
              single-line solo autofocus
              background-color="lighten-3 grey"
              placeholder="Masukkan username" flat
              v-model="username"
              id="username"
            ></v-text-field>
            <label for="email">Email</label>
            <v-text-field
              single-line solo
              background-color="lighten-3 grey"
              placeholder="Masukkan email" flat
              v-model="email"
              id="email"
            ></v-text-field>
            <label for="display_name">Nama Lengkap</label>
            <v-text-field
              single-line solo
              background-color="lighten-3 grey"
              placeholder="Masukkan nama lengkap" flat
              v-model="display_name"
              id="display_name"
            ></v-text-field>
            <template v-if="role == 'provinsi' || role == 'kokab'">
              <label for="position">Jabatan</label>
              <v-text-field
                single-line solo
                background-color="lighten-3 grey"
                placeholder="Masukkan jabatan" flat
                v-model="position"
                id="position"
              ></v-text-field>
            </template>
            <label for="phone">No. Telepon</label>
            <v-text-field
              single-line solo
              background-color="lighten-3 grey"
              placeholder="Masukkan No. Telepon" flat
              v-model="phone"
              id="phone"
            ></v-text-field>

            <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :nudge-right="40"
              :return-value.sync="birth_date"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="birth_date"
                  label="Tanggal Lahir"
                  append-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="birth_date" no-title scrollable>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                <v-btn flat color="primary" @click="$refs.menu.save(birth_date)">OK</v-btn>
              </v-date-picker>
            </v-menu>

            <v-radio-group v-model="gender" row>
              <v-radio label="Laki-laki" value="male"></v-radio>
              <v-radio label="Perempuan" value="female"></v-radio>
            </v-radio-group>
            
            <v-checkbox
              v-model="change_password"
              label="Ubah Password"
            ></v-checkbox>

            <template v-if="change_password">
              <label for="password">Masukkan Password</label>
              <v-text-field id="password"
                :type="password_peek ? 'text' : 'password'"
                placeholder="Masukkan Password"
                background-color="lighten-3 grey"
                solo flat v-model="password"
                :append-icon="password_peek ? 'visibility_off' : 'visibility'"
                @click:append="password_peek = !password_peek"
              ></v-text-field>
            </template>
          </v-card-text>
        </v-flex>
      </v-layout>

      <v-card-text>
        <v-btn class="primary" large @click="submit" :loading="loading">Simpan</v-btn>
        <v-btn class="primary--text transparent" large flat @click="cancel">Batal</v-btn>
      </v-card-text>
    </v-card>

    <successDialog></successDialog>
  </v-layout>
</template>

<script>
import successDialog from '~/components/dialog.vue'

export default {
  components:{
    successDialog
  },

  data() {
    return {
      username: '',
      email: '',
      display_name: '',
      phone: '',
      birth_date: new Date().toISOString().slice(0,10),
      gender: 'male',
      role: '',
      institution: '',
      position: '',

      menu: false,
      loading: false,

      change_password: false,
      password: '',
      password_peek: false,
    }
  },

  mounted() {
    let user = this.$auth.$state.user
    console.log(user);
    
    this.username = user.username
    this.email = user.email
    this.display_name = user.display_name
    this.phone = user.phone
    this.birth_date = user.birth_date.slice(0,10)
    this.gender = user.gender
    this.role = user.role
    this.position = user.position
  },

  methods: {
    async submit() {
      this.loading = true
      try {
        const req = await this.$user.updateUser({
          username: this.username,
          data: {
            email: this.email,
            display_name: this.display_name,
            phone: this.phone,
            birth_date: this.birth_date,
            gender: this.gender,
            role: this.role,
            position: this.position
          }
        })

        if (this.change_password) {
          this.changePass()
        }

        if (req.meta.code == 200) {
          setTimeout(() => {
            this.loading = false
          }, 500);

          this.$store.commit('openDialog', {
            class: 'success', 
            title: 'Berhasil', 
            message: 'Profil anda berhasil diubah', 
            target: '/',
            reload: true
          })
        }
      } catch (error) {
        setTimeout(() => {
          this.loading = false
        }, 500);
        console.log(error.response);
      }
    },

    async changePass() {
      this.loading = true
      try {
        const req = await this.$user.changePassword({
          username: this.username,
          // data: {
            new_pass: this.password
          // }
        })
      } catch (error) {
        alert('Gagal mengubah password')
      }
    },

    cancel() {
      this.$router.push('/')
      localStorage.removeItem('userEditData')
    }
    
  },
}
</script>
