<template>
  <v-layout column class="pa-4">
    <v-layout class="py-4" row wrap>
      <v-flex xs12 sm6 class="d-flex">
        <p class="title font-weight-bold libre-franklin" style="margin: auto">Manajemen Rombel</p>
      </v-flex>
      <v-flex xs12 sm6>
        <v-layout justify-end>
          <v-btn v-if="rombels.length > 0" class="primary2 font-weight-bold f-btn white--text" :to="'/institution/user-add?id='+$route.query.id+'&name='+$route.query.name+'&type='+$route.query.type">Tambah User</v-btn>
          <div class="my-2 input-icon-container text-xs-right" style="height: 40px">
            <input type="text" v-model="search" placeholder="Pencarian" style="padding: 5px 15px; margin: auto; width: 250px; height: 40px; background: white">
            <v-icon class="ma-2">search</v-icon>
          </div>
        </v-layout>
      </v-flex>
    </v-layout>

    <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state">
      <v-progress-circular
        :size="55" class="ma-4"
        color="primary2"
        indeterminate
      ></v-progress-circular>
      {{loading.message}}
    </v-layout>

    <template v-else>
      <v-layout column align-center justify-center style="height: 75vh" v-if="institutions.length == 0">
        <v-img src="/illus-not-found.png" width="200" contain></v-img>
        <p class="my-4 title text-xs-center font-weight-bold">Belum ada Data Institusi</p>
        <v-btn
          class="primary2 font-weight-bold f-btn white--text" to="/institution/school-unclaimed" 
          v-if="$auth.$state.user.role == 'kkg'"
        >Klaim Sekolah</v-btn>
        <!-- <v-btn class="mb-5 primary2 font-weight-bold f-btn white--text" :to="'/institution/user-add?id='+$route.query.id+'&name='+$route.query.name+'&type='+$route.query.type">Tambah User</v-btn> -->
      </v-layout>

      <v-flex xs12 sm8 md6 v-else>
        <p class="mb-0 subtitle grey--text libre-franklin text-xs-right">{{$route.query.name}}</p>
        <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px">
          <v-card-title class="pt-4 px-4 pb-0">
            <p style="font-size: 16px;">Total Data : <span class="font-weight-bold">{{rombels.length}}</span></p>
            <v-spacer/>
            <v-autocomplete
              :items="institutions"
              item-value="id" item-text="name"
              id="type" placeholder="Pilih Institusi"
              v-model="institution"
              single-line solo flat
              @change="getRombels"
              append-icon="expand_more"
              background-color="lighten-3 grey"
            ></v-autocomplete>
          </v-card-title>

          <v-data-table
            :headers="headers"
            :items="rombels"
            class="elevation-0"
            hide-actions
            :pagination.sync="pagination"
            sort-icon='sort'
          > 
            <template slot="headers" slot-scope="props">
              <tr>
                <th
                  v-for="header in props.headers"
                  :key="header.text"
                  :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                  @click="changeSort(header.value)"
                >
                  <v-layout align-start>
                    {{ header.text }} &nbsp;
                    <v-img src="/sort.png" width="16px" max-width="16px" height="16px" contain @click.stop></v-img>
                  </v-layout>
                </th>
              </tr>
            </template>
            <template v-slot:items="props">
              <td class="">
                {{ props.item.name }}
              </td>
              <td class="">{{ props.item.department }}</td>
              <td class="">{{ props.item.curriculum }}</td>
              <td class="">{{ props.item.grade }}</td>
              <td class="text-xs-center">
                <v-menu bottom left>
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                      <v-icon>more_vert</v-icon>
                    </v-btn>
                  </template>

                  <v-list dense>
                    <v-list-tile :to="'/kelas/users?id='+props.item.id+'&name='+props.item.name">
                      <v-list-tile-title>Daftar Siswa</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </td>
            </template>
          </v-data-table>
          <div class="text-xs-center pt-2">
            <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
          </div>
        </v-card>
      </v-flex>
    </template>

  </v-layout>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
  components: {
    Logo,
    VuetifyLogo
  },

  data() {
    return {
      search: '',

      headers: [
        { text: 'Nama', align: 'left', value: 'name' },
        { text: 'Departemen', align: 'left', value: 'department' },
        { text: 'Kurikulum', align: 'left', value: 'curriculum' },
        { text: 'Tingkat', align: 'left', value: 'grade' },
        { text: 'Actions', align: 'left', value: 'actions', sortable: false },
      ],

      rombels: [],
      institutions: [],
      institution: '',

      pagination: {},

      loading: {
        state: true,
        message: ''  
      }
    }
  },

  computed: {
    pages () {
      if (this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) return 0
      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
    }
  },

  mounted() {
    this.getInstitutions()
  },

  methods: {
    async getInstitutions() {
      this.loading = { state: true, message: 'Memuat data Sekolah' }
      try {
        const req = await this.$institution.getInstitutions()

        console.log('institutions : ', req);
        this.institutions = req.data
        this.institution = req.data[0].id

        this.loading.state = false
        this.getRombels()
        
      } catch (error) {
        console.log(error.response);
        this.loading.state = false
      }
    },

    async getRombels() {
      this.loading = { state: true, message: 'Memuat data Rombel'}
      try {
        const req = await this.$rombel.getRombels({ school: this.institution })

        console.log('rombels : ', req);
        this.rombels = req.data

        setTimeout(() => {
          this.loading.state = false
        }, 500);
        
      } catch (error) {
        console.log(error.response);
        setTimeout(() => {
          this.loading.state = false
        }, 500);
      }
    },

    async approve(username) {
      try {
        const req = await this.$user.approve({ username: username })

        console.log(req);
        alert('Success Approve')
        this.getRombels()
        
      } catch (error) {
        alert(error.response.data.meta.message)
        console.log(error.response);
      }
    },

    convertDate(jsonDate) {
      var date = new Date(jsonDate).toLocaleString('id-ID')
      var day =  new Date(jsonDate).getDay().toLocaleString('id-ID')
      const days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu']
      return days[day] + ', ' + date
    },

    changeSort (column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending
      } else {
        this.pagination.sortBy = column
        this.pagination.descending = false
      }
    }
  },
}
</script>
