<template>
  <v-layout column class="pa-4">
    <v-layout class="py-4" row wrap>
      <v-flex xs12 sm6 class="d-flex">
        <v-layout class="py-4" row>
          <v-hover>
            <v-icon slot-scope="{hover}" :color="`${ hover ? 'primary' : 'grey'}`" class="pointer pr-4" @click="$router.go(-1)">
              keyboard_arrow_left
            </v-icon>
          </v-hover>
          <v-flex xs12 class="d-flex">
            <p class="title font-weight-bold libre-franklin" style="margin: auto">Manajemen Siswa Rombel {{$route.query.name}}</p>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs12 sm6>
        <v-layout justify-end>
          <div class="my-2 input-icon-container text-xs-right" style="height: 40px">
            <input type="text" v-model="search" placeholder="Pencarian" style="padding: 5px 15px; margin: auto; width: 250px; height: 40px; background: white">
            <v-icon class="ma-2">search</v-icon>
          </div>
        </v-layout>
      </v-flex>
    </v-layout>

    <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state">
      <v-progress-circular
        :size="55" class="ma-4"
        color="primary2"
        indeterminate
      ></v-progress-circular>
      {{loading.message}}
    </v-layout>

    <template v-else>
      <v-layout column align-center justify-center style="height: 75vh" v-if="users.length == 0">
        <v-img src="/illus-not-found.png" width="200" contain></v-img>
        <p class="my-4 title text-xs-center font-weight-bold">Belum ada Data Siswa <br> untuk Rombel {{$route.query.name}}</p>
      </v-layout>

      <v-flex xs12 sm8 md6 v-else>
        <p class="mb-0 subtitle grey--text libre-franklin text-xs-right">{{$route.query.name}}</p>
        <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px">
          <v-card-title class="pt-4 px-4 pb-0">
            <p style="font-size: 16px;">Total Data : <span class="font-weight-bold">{{users.length}}</span></p>
          </v-card-title>

          <v-data-table
            :headers="headers"
            :items="users"
            class="elevation-0"
            hide-actions
            :pagination.sync="pagination"
            sort-icon='sort'
          > 
            <template slot="headers" slot-scope="props">
              <tr>
                <th
                  v-for="header in props.headers"
                  :key="header.text"
                  :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                  @click="changeSort(header.value)"
                >
                  <v-layout align-start>
                    {{ header.text }} &nbsp;
                    <v-img src="/sort.png" width="16px" max-width="16px" height="16px" contain @click.stop></v-img>
                  </v-layout>
                </th>
              </tr>
            </template>
            <template v-slot:items="props">
              <td class="">{{ props.item.username }}</td>
              <td class="">Siswa {{users.indexOf(props.item)+1}}</td>
              <!-- <td class="">{{ props.item.email }}</td> -->
              <td class="">{{ props.item.role }}</td>
              <td class="text-xs-center">
                <v-menu bottom left>
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                      <v-icon>more_vert</v-icon>
                    </v-btn>
                  </template>

                  <v-list dense>
                    <v-list-tile>
                      <v-list-tile-title>Lihat Detail</v-list-tile-title>
                    </v-list-tile>

                    <!-- <v-divider></v-divider>
                    <v-list-tile>
                      <v-list-tile-title class="error--text">Hapus User</v-list-tile-title>
                    </v-list-tile> -->
                  </v-list>
                </v-menu>
              </td>
            </template>
          </v-data-table>
          <div class="text-xs-center pt-2">
            <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
          </div>
        </v-card>
      </v-flex>
    </template>

  </v-layout>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
  components: {
    Logo,
    VuetifyLogo
  },

  data() {
    return {
      search: '',

      headers: [
        { text: 'NISN', align: 'left', value: 'username' },
        { text: 'Nama (enc)', align: 'left', value: 'display_name' },
        // { text: 'Email', align: 'left', value: 'email' },
        { text: 'Role', align: 'left', value: 'role' },
        { text: 'Actions', align: 'left', value: 'actions', sortable: false },
      ],

      users: [],

      pagination: {},

      loading: {
        state: true,
        message: 'Memuat data Siswa Rombel'
      }
    }
  },

  computed: {
    pages () {
      if (this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) return 0
      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
    }
  },

  mounted() {
    this.getUsers()
  },

  methods: {
    async getUsers() {
      try {
        const req = await this.$rombel.getUserRombel({ id: this.$route.query.id })

        console.log('users : ', req);
        this.users = req.data

        setTimeout(() => {
          this.loading.state = false
        }, 500);
        
      } catch (error) {
        console.log(error.response);
        setTimeout(() => {
          this.loading.state = false
        }, 500);
      }
    },

    convertDate(jsonDate) {
      var date = new Date(jsonDate).toLocaleString('id-ID')
      var day =  new Date(jsonDate).getDay().toLocaleString('id-ID')
      const days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu']
      return days[day] + ', ' + date
    },

    changeSort (column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending
      } else {
        this.pagination.sortBy = column
        this.pagination.descending = false
      }
    }
  },
}
</script>
