<template>
  <v-layout column class="pa-4">
    <v-layout class="py-4" row>
      <v-hover>
        <v-icon slot-scope="{hover}" :color="`${ hover ? 'primary' : 'grey'}`" class="pointer pr-4" @click="$router.go(-1)">
          keyboard_arrow_left
        </v-icon>
      </v-hover>
      <v-flex xs12 sm6 class="d-flex">
        <p class="title" style="margin: auto">Edit Kuis</p>
      </v-flex>
    </v-layout>

    <v-card class="white mb-4" flat style="border-radius: 20px; padding: 20px">
      <v-layout row wrap>
        <v-flex xs12 sm8>
          <v-card-title class="headline">Data Kuis</v-card-title>
          <v-card-text>
            <label for="quiz_name">Judul Kuis</label>
            <v-text-field
              single-line solo autofocus
              background-color="lighten-3 grey"
              placeholder="Masukkan judul kuis" flat
              v-model="quiz_name"
              id="quiz_name"
            ></v-text-field>
            
            <label for="department">Tingkat</label>
            <v-select
              single-line solo
              background-color="lighten-3 grey"
              placeholder="Pilih Jurusan / Tingkatan" flat
              append-icon="expand_more"
              :items="$store.state.level"
              v-model="department"
              id="department"
            ></v-select>
            
            <label for="lesson">Mata Pelajaran</label>
            <v-select
              single-line solo
              background-color="lighten-3 grey"
              placeholder="Pilih Mata Pelajaran" flat
              v-model="lesson"
              append-icon="expand_more"
              :items="lessons"
              item-value="value" item-text="name"
              id="lesson"
            ></v-select>
            
            <label for="grade">Kelas</label>
            <v-select
              single-line solo
              background-color="lighten-3 grey"
              placeholder="Pilih Kelas" flat
              v-model="grade"
              append-icon="expand_more"
              :items="$store.state.grades"
              id="grade"
            ></v-select>
            
            <label for="duration">Durasi (Menit)</label>
            <v-text-field
              single-line solo
              background-color="lighten-3 grey"
              placeholder="Durasi Kuis (Menit)" flat
              v-model="duration"
              id="duration"
            ></v-text-field>

            <label for="quizType">Tipe Kuis</label>
            <v-select
              single-line solo
              item-text="text" item-value="value"
              background-color="lighten-3 grey"
              placeholder="Pilih Tipe Kuis" flat
              append-icon="expand_more"
              :items="quiz_types"
              v-model="quiz_type"
              id="quizType"
            ></v-select>

            <label for="">Tanggal dan Waktu Mulai</label>
            <v-layout>
              <v-flex xs12 sm6 class="pr-2">
                <v-menu
                  v-model="startDate.menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy offset-y full-width
                  transition="scale-transition"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      background-color="lighten-3 grey"
                      single-line solo flat
                      v-model="startDate.date"
                      append-icon="event"
                      v-on="on"
                      placeholder="Tanggal Mulai"
                    ></v-text-field>
                  </template>
                  <v-date-picker color="primary2" class="black--text" v-model="startDate.date" @input="startDate.menu = false"></v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex xs12 sm6 class="pl-2">
                <v-menu
                  ref="menu"
                  v-model="startDate.menu2"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  :return-value.sync="startDate.menu2"
                  lazy transition="scale-transition"
                  offset-y full-width
                  max-width="290px"
                  min-width="290px"
                  placeholder="Waktu Mulai"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      background-color="lighten-3 grey"
                      single-line solo flat
                      v-model="startDate.time"
                      append-icon="access_time"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-time-picker
                    v-if="startDate.time"
                    v-model="startDate.time"
                    full-width
                    @click:minute="$refs.menu.save(startDate.time)"
                  ></v-time-picker>
                </v-menu>
              </v-flex>
            </v-layout>

            <label for="">Tanggal dan Waktu Selesai</label>
            <v-layout>
              <v-flex xs12 sm6 class="pr-2">
                <v-menu
                  v-model="endDate.menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  lazy offset-y full-width
                  transition="scale-transition"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      background-color="lighten-3 grey"
                      single-line solo flat
                      v-model="endDate.date"
                      append-icon="event"
                      v-on="on" 
                      placeholder="Tanggal Mulai"
                    ></v-text-field>
                  </template>
                  <v-date-picker color="primary2" class="black--text" v-model="endDate.date" @input="endDate.menu = false"></v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex xs12 sm6 class="pl-2">
                <v-menu
                  ref="menu"
                  v-model="endDate.menu2"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  :return-value.sync="endDate.menu2"
                  lazy transition="scale-transition"
                  offset-y full-width
                  max-width="290px"
                  min-width="290px"
                  placeholder="Waktu Mulai"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      background-color="lighten-3 grey"
                      single-line solo flat
                      v-model="endDate.time"
                      append-icon="access_time"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-time-picker
                    v-if="endDate.time"
                    v-model="endDate.time"
                    full-width
                    @click:minute="$refs.menu.save(endDate.time)"
                  ></v-time-picker>
                </v-menu>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-flex>
      </v-layout>
    </v-card>

    <v-card class="white mb-4" flat style="border-radius: 20px; padding: 20px">
      <v-layout row wrap>
        <v-flex xs12 sm8>
          <v-card-title class="headline">Assign Institusi</v-card-title>
          <v-card-text v-if="$auth.$state.user.role == 'pusat'">
            <label for="province">Provinsi</label>
            <v-autocomplete
              multiple chips
              single-line solo
              background-color="lighten-3 grey"
              placeholder="Pilih Provinsi" flat
              v-model="province"
              append-icon="expand_more"
              item-value="id" item-text="name"
              :items="provinces"
              id="province"
              @change="getCities()"
            ></v-autocomplete>

            <template v-if="province">
              <label for="city">Kota/Kabupaten</label>
              <v-autocomplete
                :items="cities"
                multiple chips
                item-value="id" item-text="name"
                id="city" placeholder="Pilih Kota/Kabupaten"
                v-model="city"
                single-line solo flat
                append-icon="expand_more"
                background-color="lighten-3 grey"
              ></v-autocomplete>
            </template>
          </v-card-text>
          <v-card-text v-else-if="$auth.$state.user.role == 'kkg'">
            <template>
              <label for="school">Sekolah</label>
              <v-autocomplete
                :items="schools"
                multiple chips
                item-value="id" item-text="name"
                id="school" placeholder="Pilih Sekolah"
                v-model="school"
                single-line solo flat
                append-icon="expand_more"
                background-color="lighten-3 grey"
              ></v-autocomplete>
            </template>
          </v-card-text>
        </v-flex>
      </v-layout>
    </v-card>

    <!-- <v-card class="white mb-4" flat style="border-radius: 20px; padding: 20px">
      <v-layout row wrap>
        <v-flex xs12>
          <v-card-title class="headline">Soal Terpilih</v-card-title>
          <v-layout column align-center justify-center v-if="loading_preview">
            <v-progress-circular
              :size="55" class="ma-4"
              color="primary2"
              indeterminate
            ></v-progress-circular>
          </v-layout>
          <v-card-text v-else>
            <v-data-table
              :headers="headers2"
              :items="selected_questions_list"
              class="elevation-0"
              :loading="loading_preview"
              item-key="id"
              :no-data-text="loading_preview ? 'Memuat soal...' : 'Tidak ada soal.'"
              hide-actions
            > 
              <template slot="headers" slot-scope="props">
                <tr>
                  <th
                    v-for="header in props.headers"
                    :key="header.text"
                    :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
                    @click="changeSort(header.value)"
                  >
                    <v-layout align-start>
                      {{ header.text }} &nbsp;
                      <v-img src="/sort.png" width="16px" max-width="16px" height="16px" contain @click.stop ></v-img>
                    </v-layout>
                  </th>
                </tr>
              </template>
              <template v-slot:items="props">
                <td class="">
                  <v-layout row wrap>
                    <v-btn icon small @click="up(selected_questions_list.indexOf(props.item))">
                      <v-icon>keyboard_arrow_up</v-icon>
                    </v-btn>
                    <v-btn icon small @click="down(selected_questions_list.indexOf(props.item))">
                      <v-icon>keyboard_arrow_down</v-icon>
                    </v-btn>
                  </v-layout>
                </td>
                <td class="" v-if="props.item.kd">{{props.item.kode_soal}}</td>
                <td class="" v-if="props.item.subkurikulum">{{ props.item.subkurikulum.kelas }} - {{ props.item.subkurikulum.jenjang }}</td>
                <td class="" v-if="props.item.soal">{{ types[props.item.soal[0].type] }}</td>
                <td class="" v-if="props.item.soal">{{ lessons_list[props.item.lesson == 'L' ? 'BI' : 'MTK'] }}</td>
                <td class="" v-if="props.item.subkurikulum">{{ props.item.subkurikulum.grup }}</td>
                <td class="">
                  <v-layout row>
                    <v-btn class="primary2--text" flat small @click="preview(props.item.soal[0])">Preview</v-btn>
                  </v-layout>
                </td>
              </template>
            </v-data-table>
          </v-card-text>
        </v-flex>
      </v-layout>
    </v-card> -->

    <v-card class="white" flat style="border-radius: 20px; padding: 20px">
      <v-card-title class="headline">Pilih Soal</v-card-title>

      <v-form ref="form">
        <h3 class="pl-2 mb-2">Cari Soal  </h3>

        <v-flex xs12 sm8 class="px-2 pt-0">
          <label for="kode_soal_search">Kode Soal</label>
          <v-text-field
            single-line solo flat
            background-color="lighten-3 grey"
            label="Kode Soal"
            v-model="kode_soal_search"
            clearable
            id="kode_soal_search"
            append-icon="search"
            v-on:keyup.enter="getQuestions()"
            @click:append="getQuestions()"
          ></v-text-field>
        </v-flex>

        <p class="pl-2 ma-0">Mata Pelajaran</p>
        <v-layout row wrap>
          <v-flex xs12 sm8 class="pl-2">
            <v-select
              :items="lessons"
              item-value="value" item-text="name"
              single-line solo flat
              background-color="lighten-3 grey"
              label="Mata Pelajaran"
              v-model="lesson"
              id="lesson_search"
            ></v-select>
          </v-flex>
        </v-layout>

        <p class="pl-2 ma-0">Kompetensi Dasar (KD)</p>
        <v-layout row wrap>
          <v-flex xs12 sm4 class="pl-2">
            <v-select
              :items="lesson == 'L' ? literasi.kd : numerasi.kd"
              return-object
              :rules="[v => !!v || 'KD harus diisi']"
              single-line solo flat
              background-color="lighten-3 grey"
              label="Kompetensi Dasar"
              v-model="kd.kode"
              id="kd_code" @change="kd.description = kd.kode.text"
            ></v-select>
          </v-flex>
          <v-flex xs12 sm8 class="pl-2">
            <v-text-field
              single-line solo flat
              background-color="lighten-3 grey"
              label="Deskripsi"
              v-model="kd.description"
              id="kd_desc"
            ></v-text-field>
          </v-flex>
        </v-layout>
        
        <p class="pl-2 ma-0">Cakupan Materi</p>
        <v-layout row wrap>
          <v-flex xs12 sm4 class="pl-2">
            <v-select
              :items="lesson == 'L' ? literasi.cp : numerasi.cp"
              return-object
              :rules="[v => !!v || 'Cakupan Materi harus diisi']"
              single-line solo flat
              background-color="lighten-3 grey"
              label="Cakupan Materi"
              v-model="cakupan_materi.kode"
              id="cm_code" @change="cakupan_materi.description = cakupan_materi.kode.text"
            ></v-select>
          </v-flex>
          <v-flex xs12 sm8 class="pl-2">
            <v-text-field
              single-line solo flat
              background-color="lighten-3 grey"
              label="Deskripsi"
              v-model="cakupan_materi.description"
              id="cm_desc"
            ></v-text-field>
          </v-flex>
        </v-layout>

        <p class="pl-2 ma-0">SKKI</p>
        <v-layout row wrap>
          <v-flex xs12 sm4 class="pl-2">
            <v-select
              :items="lesson == 'L' ? literasi.skki : numerasi.skki"
              return-object
              :rules="[v => !!v || 'SKKI harus diisi']"
              single-line solo flat
              background-color="lighten-3 grey"
              label="SKKI"
              v-model="skki.kode"
              id="skki_code" @change="skki.description = skki.kode.text"
            ></v-select>
          </v-flex>
          <v-flex xs12 sm8 class="pl-2">
            <v-text-field
              single-line solo flat
              background-color="lighten-3 grey"
              label="Deskripsi"
              v-model="skki.description"
              id="skki_desc"
            ></v-text-field>
          </v-flex>
        </v-layout>
        
        <v-layout row wrap>
          <v-flex xs12 sm4 class="pl-2">
            <p class="ma-0">Kelas</p>
            <v-select
              :items="$store.state.grades"
              single-line solo flat
              background-color="lighten-3 grey"
              label="Kelas"
              v-model="subkurikulum.kelas"
              id="kelas"
            ></v-select>
          </v-flex>
          <v-flex xs12 sm4 class="pl-2">
            <p class="ma-0">Tingkat</p>
            <v-select
              :items="$store.state.level"
              single-line solo flat
              background-color="lighten-3 grey"
              label="Jenjang"
              v-model="subkurikulum.jenjang"
              id="jenjang"
            ></v-select>
          </v-flex>
        </v-layout>

        <v-layout row justify-end>
          <v-btn class="primary elevation-0" large @click="getQuestions" :loading="loading">Cari
            <v-icon right small>search</v-icon>
          </v-btn>
        </v-layout>
      </v-form>

      <p class="right subtitle grey--text">Soal Terpilih : {{selected_questions.length}} Soal</p>
      <v-data-table
        :headers="headers"
        :items="questions"
        class="elevation-0"
        :pagination.sync="pagination"
        :loading="questionLoading"
        :total-items="pagination.totalItems"
        item-key="id"
        :no-data-text="questionLoading ? 'Memuat soal...' : 'Tidak ada soal.'"
        hide-actions
      > 
        <template slot="headers" slot-scope="props">
          <tr>           
            <th
              v-for="header in props.headers"
              :key="header.text"
              :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
              @click="changeSort(header.value)"
            >
              <v-layout align-start>
                {{ header.text }} &nbsp;
                <v-img src="/sort.png" width="16px" max-width="16px" height="16px" contain @click.stop ></v-img>
              </v-layout>
            </th>
          </tr>
        </template>
        <template v-slot:items="props">
          <td class="" v-if="props.item.kd">{{props.item.kode_soal}}</td>
          <td class="" v-if="props.item.kd">{{props.item.kd.description}}</td>
          <td class="" v-if="props.item.cakupan_materi">{{props.item.cakupan_materi.description}}</td>
          <td class="" v-if="props.item.subkurikulum">{{ props.item.subkurikulum.kelas }} - {{ props.item.subkurikulum.jenjang }}</td>
          <td class="" v-if="props.item.skki">{{props.item.skki.description}}</td>
          <td class="" v-if="props.item.soal">{{ types[props.item.soal[0].type] }}</td>
          <td class="" v-if="props.item.soal">{{ lessons_list[props.item.lesson] }}</td>
          <td class="" v-if="props.item.subkurikulum">{{ props.item.subkurikulum.grup }}</td>
          <td class="">
            <v-layout row>
              <v-btn v-if="selected_questions.indexOf(props.item.id) == -1" class="primary2 white--text" small @click="select(props.item.id)">Pilih</v-btn>
              <v-btn v-else class="error white--text" small @click="unselect(props.item.id)">Batal</v-btn>
              <v-btn class="primary2--text" flat small @click="preview(props.item.id)" :loading="loading_preview">Preview</v-btn>
            </v-layout>
          </td>
        </template>
      </v-data-table>

      <div class="text-xs-center pt-2">
        <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
      </div>

      <p class="right subtitle grey--text">Soal Terpilih : {{selected_questions.length}} Soal</p>

      <v-card-text>
        <v-btn class="primary" large @click="submit" :loading="loading" :disabled="selected_questions.length == 0">Simpan</v-btn>
        <v-btn class="primary--text transparent" large flat @click="$router.push('/quiz')">Batal</v-btn>
      </v-card-text>
    </v-card>

    <successDialog></successDialog>
    <previewDialog></previewDialog>
  </v-layout>
</template>

<script>
import successDialog from '~/components/dialog.vue'
import previewDialog from '~/components/preview.vue'
// import questions_data from './questions.JSON'

export default {
  components:{
    successDialog,
    previewDialog
  },

  auth: false,

  data() {
    return {
      id: '',
      quiz_name: '',
      department: 'SD',
      lesson: 'MTK',
      grade: '2',
      duration: 60,

      selected_questions: [],
      selected_questions_list: [],
      loading_preview: false,

      lessons_list: {
        'N': 'Numerasi',
        'L': 'Literasi'
      },

      provinces: {},
      province: [],
      schools: {},
      school: [],
      cities: {},
      city: [],

      startDate: {
        menu: false,
        menu2: false,
        date: '',
        time: '00:00'
      },
      endDate: {
        menu: false,
        menu2: false,
        date: '',
        time: '00:00'
      },

      literasi: {
        kd: [
          { text: 'Akses', value: 'A' },
          { text: 'Interpretasi', value: 'I' },
          { text: 'Evaluasi dan Refleksi', value: 'E' },
        ],
        cp: [
          { text: 'Teks Sastra', value: 'S' },
          { text: 'Teks Informasi', value: 'F' }
        ],
        skki: [
          { text: 'Personal', value: 'Personal'},
          { text: 'Sosial Budaya', value: 'Sosial Budaya'},
          { text: 'Saintifik', value: 'Saintifik'}
        ]
      },
      numerasi: {
        cp: [
          { text: 'Bilangan', value: 'B' },
          { text: 'Aljabar', value: 'A' },
          { text: 'Geometri', value: 'G' },
          { text: 'Data', value: 'D' }
        ],
        kd: [
          { text: 'Knowing', value: 'K' },
          { text: 'Applying', value: 'A' },
          { text: 'Reasoning', value: 'R' },
        ],
        skki: [
          { text: 'Personal', value: 'Personal'},
          { text: 'Sosial Budaya', value: 'Sosial Budaya'},
          { text: 'Saintifik', value: 'Saintifik'}
        ]
      },

      quiz_types: [
        { value: 'fix', text: 'Fix Test' },
        { value: 'adaptive', text: 'Adaptive Test' },
        { value: 'pretest', text: 'Pretest' },
      ],
      quiz_type: '',

      kd: {
        kode: "",
        description: ""
      },
      cakupan_materi: {
        kode: "",
        description: ""
      },
      subkurikulum: {
        kelas: "2",
        jenjang: "SD"
      },
      skki: {
        kode: "",
        description: ""
      },
      lesson_search: 'L',

      types: {
        'PGK': 'Pilihan Ganda Kompleks',
        'PG': 'Pilihan Ganda',
        'Ess': 'Essay',
        'CPN': 'Isian Singkat Angka',
        'CPS': 'Isian Singkat Kata',
        'Mtx': 'Matrix',
        'Mtch': 'Menjodohkan',
      },

      lessons: [
        { name: 'Literasi', value: 'L', search_value: 'L' }, 
        { name: 'Numerasi', value: 'N', search_value: 'N' } 
      ],

      headers: [
        { text: 'Kode Soal', align: 'left', value: 'kode_soal' },
        { text: 'KD', align: 'left', value: 'kd.kode' },
        { text: 'Cakupan Materi', align: 'left', value: 'cakupan_materi.kode' },
        { text: 'Kelas', align: 'left', value: 'subkurikulum.kelas' },
        { text: 'SKKI', align: 'left', value: 'skki.kode' },
        { text: 'Tipe Soal', align: 'left', value: '', sortable: false },
        { text: 'Mata Pelajaran', align: 'left', value: '', sortable: false },
        { text: 'ID Grup', align: 'left', value: 'subkurikulum.grup' },
        // { text: 'Status', align: 'left', value: '', sortable: false },
        { text: 'Aksi', align: 'left', value: '', sortable: false },
      ],

      headers2: [
        { text: '', align: 'left', value: '' },
        { text: 'Kode Soal', align: 'left', value: 'kode_soal' },
        // { text: 'KD', align: 'left', value: 'kd.kode' },
        // { text: 'Cakupan Materi', align: 'left', value: 'cakupan_materi.kode' },
        { text: 'Kelas', align: 'left', value: 'subkurikulum.kelas' },
        // { text: 'SKKI', align: 'left', value: 'skki.kode' },
        { text: 'Tipe Soal', align: 'left', value: '', sortable: false },
        { text: 'Mata Pelajaran', align: 'left', value: '', sortable: false },
        { text: 'ID Grup', align: 'left', value: 'subkurikulum.grup' },
        // { text: 'Status', align: 'left', value: '', sortable: false },
        { text: 'Aksi', align: 'left', value: '', sortable: false },
      ],

      questionLoading: false,
      questions: [],
      
      loading: false,
      pagination: {},

      kelas: '2',
      jenjang: 'SD',

      kode_soal_search: ''
    }
  },

  computed: {
    pages () {
      if (this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) return 0
      return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
    }
  },

  watch: {
    'pagination.page': {
      handler() {
        this.getQuestions()
      }
    }
  },

  mounted() {
    let quiz_data = JSON.parse(localStorage.getItem('quizEditData'))

    console.log('x', quiz_data);
    
    this.id = quiz_data.id
    this.department = quiz_data.department
    this.duration = quiz_data.duration / 60
    this.from_pusat = quiz_data.from_pusat 
    this.grade = quiz_data.grade
    this.id = quiz_data.id
    this.lesson = quiz_data.lesson
    this.quiz_name = quiz_data.name
    this.selected_questions = quiz_data.questions
    this.quiz_type = quiz_data.type
    this.startDate.date = quiz_data.startDateTime ? quiz_data.startDateTime.slice(0,10) :  new Date().toISOString().slice(0,10)
    this.startDate.time = quiz_data.startDateTime ? quiz_data.startDateTime.slice(11, 16) :  '08.00'
    this.endDate.date = quiz_data.endDateTime ? quiz_data.endDateTime.slice(0, 10) :  new Date().toISOString().slice(0,10)
    this.endDate.time = quiz_data.endDateTime ? quiz_data.endDateTime.slice(11, 16) :  '08.00'
    this.province = quiz_data.allowedFor ? quiz_data.allowedFor.provinces : []
    this.city = quiz_data.allowedFor ? quiz_data.allowedFor.cities : []
    this.school = quiz_data.allowedFor ? quiz_data.allowedFor.schools : []

    if (this.$auth.$state.user.role == 'kkg') {
      this.getSchools()
    } else if (this.$auth.$state.user.role == 'pusat') {
      this.getProvince()
      this.getCities()
    }

    // this.getSelectedQuestions(this.selected_questions)

    // var questions_data = require('~/static/questions.json');
    // console.log(questions_data);
    // this.questions = questions_data.data
    // this.pagination.rowsPerPage = 6
    // this.pagination.totalItems = this.questions.length
  },

  methods: {
    async getProvince() {
      try {
        const req = await this.$region.getProvinces()
        this.provinces = req

      } catch (error) {
        console.log(error.response);
      }
    },

    async getCities() {
      this.cities = []
      try {
        for (const x in this.province) {
          if (this.province.hasOwnProperty(x)) {
            const element = this.province[x];
            const req = await this.$region.getCities({ provinceId: element })

            for (const y in req) {
              if (req.hasOwnProperty(y)) {
                const city = req[y];
                this.cities.push(city)
                
              }
            }
          }
        }

        console.log(this.cities);

      } catch (error) {
        console.log(error.response);
      }
    },

    async getSchools() {
      try {
        const req = await this.$institution.getSchool()
        console.log('institutions : ', req);
        this.schools = req.data

      } catch (error) {
        alert('Failed to get school')
        console.log(error.response);
      }
    },

    async getSelectedQuestions(ids) {
      this.loading_preview = true
      this.selected_questions_list = []
      for (const key in ids) {
        if (ids.hasOwnProperty(key)) {
          const element = ids[key];
          
          try {
            const req = await this.$question.getSIAPQuestionsById({
              kode_soal: element
            })

            this.selected_questions_list.push(req.data[0])
          } catch (error) {
            console.log('element error : ', error);   
          }
        }
      }

      setTimeout(() => {
        this.loading_preview = false
      }, 500);
    },

    up(index) {
      // alert(index)
      var element = this.selected_questions_list[index];
      this.selected_questions_list.splice(index, 1);
      this.selected_questions_list.splice((index-1), 0, element);
    }, down(index) {
      var element = this.selected_questions_list[index];
      this.selected_questions_list.splice(index, 1);
      this.selected_questions_list.splice((index+1), 0, element);
    },

    async getQuestions(page) {
      this.questionLoading = true
      try {
        const req = await this.$question.getSIAPQuestions({
          kelas: this.subkurikulum.kelas,
          jenjang: this.subkurikulum.jenjang,
          page: this.pagination.page,
          kd: this.kd,
          cakupan_materi: this.cakupan_materi,
          skki: this.skki,
          lesson: this.lesson,
          kode_soal: this.kode_soal_search
        })

        this.questions = req.data
        // this.pagination.rowsPerPage = 6
        this.pagination.totalItems = req.meta.totalDocs

        setTimeout(() => {
          this.questionLoading = false
        }, 500);
      } catch (error) {
        console.log(error.response);
        setTimeout(() => {
          this.questionLoading = false
        }, 500);
      }
    },

    async submit() {
      this.loading = true
      console.log('school : ', this.school);
      try {
        const req = await this.$quiz.updateQuiz({
          id: this.id,
          data: {
            name: this.quiz_name,
            questions: this.selected_questions,
            department: this.department,
            lesson: this.lesson,
            grade: this.grade,
            duration: this.duration * 60,
            type: this.quiz_type,
            startDateTime: this.startDate.date + 'T' + this.startDate.time + ':00+00:00',
            endDateTime: this.endDate.date + 'T' + this.endDate.time + ':00+00:00',
            allowedFor: {
              schools: this.school ? this.school : [],
              cities: this.city ? this.city : [],
              provinces: this.province ? this.province : []
            }
          }
        })

        if (req.meta.code == 200) {
          setTimeout(() => {
            this.loading = false  
          }, 500);

          this.$store.commit('openDialog', {
            title: 'Berhasil', 
            class: 'success',
            message: 'Berhasil mengubah quiz '+ this.quiz_name, 
            target: '/quiz'
          })
        }
      } catch (error) {
        console.log(error.response);
        setTimeout(() => {
          this.loading = false
          
          this.$store.commit('openDialog', {
            title: 'Gagal', 
            class: 'error',
            message: 'Gagal mengubah quiz, '+error.response.data.meta ? error.response.data.meta.message : error.response.data.message, 
            target: '/quiz'
          })
        }, 500);
      }
    },

    changeSort (column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending
      } else {
        this.pagination.sortBy = column
        this.pagination.descending = false
      }
    },

    select(id) {
      this.selected_questions.push(id)
      this.selected_questions_list.push(id)
    },

    unselect(id) {
      let index_soal = this.selected_questions.indexOf(id)
      this.selected_questions.splice(index_soal, 1) 
      this.selected_questions_list.splice(index_soal, 1) 
    },

    async preview(data) {
      console.log(data);
      
      this.loading_preview = true
      try {
        const req = await this.$question.getSIAPQuestionsById({
          kode_soal: data
        })

        this.$store.commit('pratinjau', {
          status: true,
          data: req.data[0].soal[0]
        })

        setTimeout(() => {
          this.loading_preview = false
        }, 300);

        // this.questions_ready.push(req.data[0].soal[0])
      } catch (error) {
        console.log('element error : ', error);   
      }
    },
    
  },
}
</script>