<template>
  <div id="capture">
    <v-layout column class="pa-4">
      <v-layout column align-center justify-center style="height: 75vh" v-if="loading.state == true">
        <v-progress-circular
          :size="55" class="ma-4"
          color="primary2"
          indeterminate
        ></v-progress-circular>
        {{loading.message}}
      </v-layout>
      <v-flex xs12 sm8 md6 v-else>
        <v-card class="white pa-0 pb-4" flat style="border-radius: 20px; padding: 20px">
          <v-card-title class="pt-4 px-4 pb-0" v-show="showDownloadPdf">
            <v-layout row wrap>
              <v-flex xs12 sm8>
                <p style="font-size: 20px;"><span class="font-weight-bold primary--text">Laporan</span></p>
              </v-flex>
              <!-- <v-spacer/> -->
              <v-flex xs12 sm2>
                <v-btn class="primary2 font-weight-bold white--text" @click="downloadXLSX">
                  <h4> Download XLSX </h4>
                </v-btn>
              </v-flex>
              <v-flex xs12 sm2>
                <v-btn class="primary2 font-weight-bold white--text" @click="downloadPDF">
                  <h4> Download PDF </h4>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-card-title>
          <v-card-text>
            <v-layout column class="pa-4"
              style="background: #E5E5E5;">
              <v-flex xs12 sm8 md6>
                <v-layout row class="mb-4">
                  <v-layout justify-center align-center class="white pa-1" style="border-radius: 50%; max-width: 62px; height: 62px">
                    <v-img src="/logo-kominfo.png" width="62" height="62" contain></v-img>
                  </v-layout>
                  <v-layout column>
                    <p style="font-size: 30px;" class="mb-1 text-xs-center font-weight-bold primary--text">Laporan Monitoring Social Media ASN Ditjen IKP</p>
                    <p style="font-size: 18px;" class="text-xs-center">Bulan {{monthNames[date.getMonth()]}} {{date.getFullYear()}}</p>
                  </v-layout>
                </v-layout>
                
                <v-layout row wrap style="border-radius: 20px; border: 2px solid white"> 
                  <!-- userpost -->
                  <v-flex xs12 sm4 class="pa-3">
                    <v-card style="border-radius: 20px;">
                      <v-card-title class="title primary--text">
                        <span class="font-weight-bold">#1 User Post</span>
                        <v-spacer/>
                        <span class="grey--text title">{{ listTopUser[0].total }}</span>
                      </v-card-title>
                      <v-card-text>
                        <v-layout row>
                          <v-flex xs5>
                            <v-img src="/icon_profile_empty.png" width="100%" height="90" contain></v-img>
                          </v-flex>
                          <v-flex xs7>
                            <p style="font-size: 12px" class="font-weight-bold mb-1">{{ listTopUser[0].name }}</p>
                            <p style="font-size: 10px" class="mb-1">{{listTopUser[0].unit}}</p>
                            <p style="font-size: 10px" class="mb-0 grey--text lighten-2" v-for="(item, index) in listTopUser[0].usernames" :key="index">{{'@'+item}}</p>
                          </v-flex>
                        </v-layout>
                      </v-card-text>
                    </v-card>
                  </v-flex>

                  <!-- engagement -->
                  <v-flex xs12 sm4 class="pa-3">
                    <v-card style="border-radius: 20px;">
                      <v-card-title class="title primary--text">
                        <span class="font-weight-bold">#1 Engagement</span>
                        <v-spacer/>
                        <span class="grey--text title">{{ listTopEngage[0].total }}</span>
                      </v-card-title>
                      <v-card-text>
                        <v-layout row>
                          <v-flex xs5>
                            <v-img src="/icon_profile_empty.png" width="100%" height="90" contain></v-img>
                          </v-flex>
                          <v-flex xs7>
                            <p style="font-size: 12px" class="font-weight-bold mb-1">{{ listTopEngage[0].name }}</p>
                            <p style="font-size: 10px" class="mb-1">{{listTopEngage[0].unit}}</p>
                            <p style="font-size: 10px" class="mb-0 grey--text lighten-2" v-for="(item, index) in listTopEngage[0].usernames" :key="index">{{'@'+item}}</p>
                          </v-flex>
                        </v-layout>
                      </v-card-text>
                    </v-card>
                  </v-flex>

                  <!-- overall -->
                  <v-flex xs12 sm4 class="pa-3">
                    <v-card style="border-radius: 20px;">
                      <v-card-title class="title primary--text">
                        <span class="font-weight-bold">#1 Overall</span>
                        <v-spacer/>
                        <span class="grey--text title">{{ listOverall[0].overall ? listOverall[0].overall : '0' }}</span>
                      </v-card-title>
                      <v-card-text>
                        <v-layout row>
                          <v-flex xs5>
                            <v-img src="/icon_profile_empty.png" width="100%" height="90" contain></v-img>
                          </v-flex>
                          <v-flex xs7>
                            <p style="font-size: 12px" class="font-weight-bold mb-1">{{ listOverall[0].name ? listOverall[0].name : '-' }}</p>
                            <p style="font-size: 10px" class="mb-1">{{listOverall[0].unit ? listOverall[0].unit : '-'}}</p>
                            <p style="font-size: 10px" class="mb-0 grey--text lighten-2" v-for="(item, index) in listOverall[0].usernames" :key="index">{{item != '' ? item : '@N/A'}}</p>
                          </v-flex>
                        </v-layout>
                      </v-card-text>
                    </v-card>
                  </v-flex>
                </v-layout>

                <v-layout row wrap class="mt-3 pa-2" style="border-radius: 20px; border: 2px solid white" justify-center align-center>
                  <v-flex xs3>
                    <v-img src="/report_illustration1.png" width="100%" center height="267" contain></v-img>
                  </v-flex>
                  <v-flex xs9 v-if="isUserChart">
                    <!-- <div>
                      <bar-chart :data="postBarData" :options="postChartOptions" style="min-height:330px; margin-top: 24px;" :height="330"/>
                    </div> -->

                    <template>
                      <bar-chart :data="barChartData" :options="userChartOptions" style="min-height:80px; margin: 20px;" :height="350" />
                    </template>
                  </v-flex>
                </v-layout>

                <v-layout class="pa-3" row wrap style="margin-top: 30px; border-radius: 20px; border: 2px solid white" justify-center align-center>
                  <v-flex xs7 v-if="top_5_engagement[0].name != ''">
                    <table style="width: 100%">
                      <tr style="background: transparent" v-for="(item, index) in top_5_engagement" :key="index">
                        <td class="text-xs-center pr-2">
                          <p style="font-size: 20px; color: #4F4F4F;" class="ma-0 font-weight-bold text-xs-right">{{item.name}}</p>
                        </td>
                        <td style="width: 30px !important">
                          <v-img right contain width="30px" height="30px" src="/ig_logo.png"></v-img>
                        </td>
                        <td style="width: 90px;">
                          <p style="font-size: 14px; color: #4F4F4F;" class="ma-0 font-weight-bold">{{item.ig_count}}</p>
                        </td>
                        <td style="width: 30px !important">
                          <v-img right contain width="30px" height="20px" src="/fb_logo.png"></v-img>
                        </td>
                        <td style="width: 90px;">
                          <p style="font-size: 14px; color: #4F4F4F;" class="ma-0 font-weight-bold">{{item.fb_count}}</p>
                        </td>
                        <td style="width: 30px !important">
                          <v-img right contain width="30px" height="15px" src="/tw_logo.png"></v-img>
                        </td>
                        <td style="width: 90px;">
                          <p style="font-size: 14px; color: #4F4F4F;" class="ma-0 font-weight-bold">{{item.tw_count}}</p>
                        </td>
                      </tr>
                    </table>
                  </v-flex>
                  <v-flex xs2>
                    <v-img src="/report_illustration2.png" width="95" height="100%" contain></v-img>
                  </v-flex>
                  <v-flex xs3>
                    <p class="text-xs-center primary--text font-weight-bold title">TOP 5 <br> USER ENGAGEMENT</p>
                  </v-flex>

                  <v-flex xs12 class="mt-4">
                    <v-layout row wrap>
                      <!-- top engagement IG -->
                      <v-flex xs4>
                        <v-card style="background: #C4C4C4; border-radius: 20px;" class="ma-3">
                          <v-card-title class="pa-0">
                            <v-layout align-center justify-center style="background: #C4C4C4; margin: auto; margin-top: -30px; max-width: 60px; height: 60px; border-radius: 50%">
                              <v-img src="/ig_logo.png" width="50" height="50" contain></v-img>
                            </v-layout>
                          </v-card-title>
                          <v-card-text>
                            <table style="width: 100%">
                              <tr style="background: transparent" v-for="(item, index) in topIG" :key="index">
                                <td class="text-xs-center pr-2" style="width: 150px">
                                  <p style="font-size: 12px" class="ma-0 font-weight-bold text-xs-right">{{item.name}}</p>
                                </td>
                                <td style="width: 13px !important">
                                  <v-img width="15" height="15" contain src="/ig_love_icon.png"></v-img>
                                </td>
                                <td>
                                  <p style="font-size: 12px" class="ma-0 font-weight-bold">{{item.instagram.likeCount}}</p>
                                </td>
                                <td style="width: 14px !important">
                                  <v-img width="15" height="15" contain src="/ig_comment_icon.png"></v-img>
                                </td>
                                <td>
                                  <p style="font-size: 12px" class="ma-0 font-weight-bold">{{item.instagram.commentCount}}</p>
                                </td>
                              </tr>
                            </table>
                          </v-card-text>
                        </v-card>
                      </v-flex>

                      <!-- top engagement FB -->
                      <v-flex xs4>
                        <v-card style="background: #C4C4C4; border-radius: 20px;" class="ma-3">
                          <v-card-title class="pa-0">
                            <v-layout align-center justify-center style="background: #C4C4C4; margin: auto; margin-top: -30px; max-width: 60px; height: 60px; border-radius: 50%">
                              <v-img src="/fb_logo.png" width="30" height="30" contain></v-img>
                            </v-layout>
                          </v-card-title>
                          <v-card-text>
                            <table style="width: 100%">
                              <tr style="background: transparent" v-for="(item, index) in topFB" :key="index">
                                <td class="text-xs-center pr-2" style="width: 130px">
                                  <p style="font-size: 12px" class="ma-0 font-weight-bold text-xs-right">{{item.name}}</p>
                                </td>
                                <td style="width: 13px !important">
                                  <v-img width="15" height="15" contain src="/fb_like_icon.png"></v-img>
                                </td>
                                <td>
                                  <p style="font-size: 12px" class="ma-0 font-weight-bold">{{item.facebook.likeCount}}</p>
                                </td>
                                <td style="width: 13px !important">
                                  <v-img width="15" height="15" contain src="/ig_comment_icon.png"></v-img>
                                </td>
                                <td>
                                  <p style="font-size: 12px" class="ma-0 font-weight-bold">{{item.facebook.commentCount}}</p>
                                </td>
                                <td style="width: 13px !important">
                                  <v-img width="16" height="16" contain src="/fb_share_icon.png"></v-img>
                                </td>
                                <td>
                                  <p style="font-size: 12px" class="ma-0 font-weight-bold">{{item.facebook.shareCount}}</p>
                                </td>
                              </tr>
                            </table>
                          </v-card-text>
                        </v-card>
                      </v-flex>

                      <!-- top Engangement TW -->
                      <v-flex xs4>
                        <v-card style="background: #C4C4C4; border-radius: 20px;" class="ma-3">
                          <v-card-title class="pa-0">
                            <v-layout align-center justify-center style="background: #C4C4C4; margin: auto; margin-top: -30px; max-width: 60px; height: 60px; border-radius: 50%">
                              <v-img src="/tw_logo.png" width="25" height="25" contain></v-img>
                            </v-layout>
                          </v-card-title>
                          <v-card-text>
                            <table style="width: 100%">
                              <tr style="background: transparent" v-for="(item, index) in topTW" :key="index">
                                <td class="text-xs-center pr-2" style="width: 130px">
                                  <p style="font-size: 12px" class="ma-0 font-weight-bold text-xs-right">{{item.name}}</p>
                                </td>
                                <td style="width: 13px !important">
                                  <v-img width="15" height="15" contain src="/ig_comment_icon.png"></v-img>
                                </td>
                                <td>
                                  <p style="font-size: 12px" class="ma-0 font-weight-bold">{{item.twitter.commentCount}}</p>
                                </td>
                                <td style="width: 13px !important">
                                  <v-img width="17" height="20" contain src="/tw_rt_icon.png"></v-img>
                                </td>
                                <td>
                                  <p style="font-size: 12px" class="ma-0 font-weight-bold">{{item.twitter.shareCount}}</p>
                                </td>
                                <td style="width: 13px !important">
                                  <v-img width="15" height="15" contain src="/ig_love_icon.png"></v-img>
                                </td>
                                <td>
                                  <p style="font-size: 12px" class="ma-0 font-weight-bold">{{item.twitter.likeCount}}</p>
                                </td>
                              </tr>
                            </table>
                          </v-card-text>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-layout>
              </v-flex>

              <!-- <v-layout row wrap>
                <v-flex xs12 sm5 v-if="isUserChart" style="margin-bottom: 16px;">
                  <p style="font-size: 18px;"><span class="blue_text--text">TOP USER</span></p>
                  <horizontal-bar-chart :data="topUserData" :options="userChartOptions" :plugins="userPlugin" style="min-height:110px"  :height="200"/>
                </v-flex>
                <v-flex xs12 sm3 style="margin-left: 16px; margin-right: 20px;">
                  <p style="font-size: 18px; margin-left: -16px;"><span class="blue_text--text">TOP ENGAGEMENT</span></p>
                  <tr v-for="(data, indexAnswer) in topEngDataEarly" :key="indexAnswer" style="text-align: start; background: #E5E5E5;">
                    <td height="40">
                      <p style="font-size: 13px;"><span class="black--text">{{indexAnswer + 1}}</span></p>
                    </td>
                    <td>
                      <p style="font-size: 13px; padding-left: 8px;"><span class="black--text">{{data.name}}</span></p>
                    </td>
                    <td><img src="/icon_like_5.png" height="13px" contain position="center" style="padding-left: 48px;"/></td>
                    <td>
                      <p style="font-size: 13px; padding-left: 3px;"><span class="black--text">{{Number(data.instagram.likeCount + data.twitter.likeCount)}}</span></p>
                    </td>
                    <td><img src="/icon_comment_5.png" height="13px" contain position="center" style="padding-left: 40px;"/></td>
                    <td>
                      <p style="font-size: 13px; padding-left: 3px;"><span class="black--text">{{Number(data.instagram.commentCount + data.twitter.commentCount)}}</span></p>
                    </td>
                  </tr>
                </v-flex>
                <v-flex xs12 sm3 style="margin-left: 15px; margin-right: 20px; margin-top: 40px;">
                  <tr v-for="(data, indexAnswer) in topEngDataLast" :key="indexAnswer" style="text-align: start; background: #E5E5E5;">
                    <td height="40">
                      <p style="font-size: 13px;"><span class="black--text">{{indexAnswer + 6}}</span></p>
                    </td>
                    <td>
                      <p style="font-size: 13px; padding-left: 4px;"><span class="black--text">{{data.name}}</span></p>
                    </td>
                    <td><img src="/icon_like_5.png" height="13px" contain position="center" style="padding-left: 32px;"/></td>
                    <td>
                      <p style="font-size: 13px; padding-left: 3px;"><span class="black--text">{{Number(data.instagram.likeCount + data.twitter.likeCount)}}</span></p>
                    </td>
                    <td><img src="/icon_comment_5.png" height="13px" contain position="center" style="padding-left: 40px;"/></td>
                    <td>
                      <p style="font-size: 13px; padding-left: 3px;"><span class="black--text">{{Number(data.instagram.commentCount + data.twitter.commentCount)}}</span></p>
                    </td>
                  </tr>
                </v-flex>
              </v-layout>

              <v-card class="white pa-0 pb-0" flat style="border-radius: 20px; padding: 0px; margin: 0px;">
                <v-card-text>
                  <v-layout row wrap>
                    <v-flex xs12 sm1>
                      <p style="font-size: 18px; margin: 0px; padding: 0px;"><span class="blue_text--text">HASHTAG</span></p>
                    </v-flex>
                    <v-flex v-for="(data, index) in listHashtag" :key="index" style="margin-left: 16px; padding: 0px;">
                      <p style="font-size: 15px; margin: 0px; padding: 0px;">#{{data.hashtag}}</p>
                    </v-flex>
                  </v-layout>
                </v-card-text>
              </v-card> -->
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
  import Logo from '~/components/Logo.vue'
  import successDialog from '~/components/dialog.vue'
  import BarChart from '~/components/BarChart.js';
  import HorizontalBarChart from '~/components/HorizontalBarChart.js';
  import DoughnutChart from '~/components/DoughnutChart.js';
  import LineChart from '~/components/LineChart.js';
  import ChartDataLabels from 'chartjs-plugin-datalabels';
  import html2canvas from 'html2canvas';
  import jsPDF from 'jspdf';
  import XLSX from 'xlsx'

export default {
  components: {
    Logo,
    successDialog,
    BarChart,
    HorizontalBarChart,
    DoughnutChart,
    LineChart,
    ChartDataLabels,
    html2canvas,
    jsPDF
  },

  // auth: false,

  data() {
    return {
      loading: {
        state: false,
        message: 'Memuat data Laporan'
      },
      monthNames: ["Januari", "Februari", "Maret", "April", "Mai", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"],
      date: new Date(),
      isPostChart: false,
      isPostDoughnut: false,
      isUserChart: false,
      showDownloadPdf: true,

      userPlugin: [ChartDataLabels],

      postData: {
        labels: ["Instagram", "Twitter"],
        datasets: [{
          label: 'Total Post',
          data: [0, 0, 0],
          backgroundColor: ["#FD1D1D", "#1DA1F2", "#4267B2"],
        }]
      },

      postBarData: {
        labels: [],
        datasets: [
          {
            label: 'Instagram',
            data: [],
            fill: false,
            backgroundColor: "#FD1D1D",
            borderColor: "#FD1D1D"
          },
          {
            label: 'Twitter',
            data: [],
            fill: false,
            backgroundColor: "#1DA1F2",
            borderColor: "#1DA1F2"
          },
          {
            label: 'Facebook',
            data: [],
            fill: false,
            backgroundColor: "#4267B2",
            borderColor: "#4267B2"
          }
        ]
      },

      igBarData: {
        labels: [],
        datasets: [{
          label: 'Instagram',
          data: [],
          backgroundColor: '#FD1D1D'
        }, ]
      },

      topUserData: {
        labels: [],
        datasets: [{
            label: 'Instagram',
            data: [],
            backgroundColor: '#FD1D1D'
          },
          {
            label: 'Twitter',
            data: [],
            backgroundColor: '#1DA1F2'
          },
        ]
      },

      topEngageData: [],
      topEngDataEarly: [],
      topEngDataLast: [],
      listHashtag: [],
      listTopUser: [{
        _id: "",
        name: "",
        total: 0,
        unit: '',
        usernames: ['', '', '']
      }],
      listTopEngage: [{
        _id: "",
        name: "",
        total: 0,
        unit: '',
        usernames: ['', '', '']
      }],
      listOverall: [{
        _id: "",
        name: "",
        overall: 0,
        unit: '',
        usernames: ['', '', '']
      }],
      totalPost: 0,

      top_5_engagement: [
        {
          name: '',
          ig_count: 0,
          fb_count: 0,
          tw_count: 0
        }
      ],

      topIG: [{
        instagram: {
          commentCount: 25,
          engagementScore: 276,
          likeCount: 248,
          postCount: 3,
          shareCount: 0
        },
        name: "",
        _id: ""
      }],
      topFB: [{
        facebook: {
          commentCount: 0,
          engagementScore: 0,
          likeCount: 0,
          postCount: 0,
          shareCount: 0
        },
        name: "",
        _id: ""
      }],
      topTW: [{
        twitter: {
          commentCount: 0,
          engagementScore: 0,
          likeCount: 0,
          postCount: 0,
          shareCount: 0
        },
        name: "",
        _id: ""
      }],

      userActiveData: {
        labels: ["Instagram", "Twitter", "Facebook"],
        datasets: [
          {
            label: 'User Aktif',
            data: [0,0,0],
            backgroundColor: ["#FD1D1D", "#1DA1F2", "#4267B2"],
          }
        ]
      },

      enggageData: {
        labels: [
        ],
        datasets: [
          {
            label: 'Instagram',
            data: [],
            backgroundColor: '#FD1D1D'
          },
          {
            label: 'Twitter',
            data: [],
            backgroundColor: '#1DA1F2'
          },
          {
            label: 'Facebook',
            data: [],
            backgroundColor: '#4267B2'
          },
        ]
      },


      barChartData: {
        labels: [],
        datasets: [
          // {
          //   label: 'Instagram',
          //   data: [],
          //   fill: false,
          //   backgroundColor: "#FD1D1D",
          //   borderColor: "#FD1D1D"
          // },
          {
            label: 'Instagram',
            data: [],
            backgroundColor: '#FD1D1D'
          },
          {
            label: 'Facebook',
            data: [],
            backgroundColor: '#4267B2'
          },
          {
            label: 'Twitter',
            data: [],
            backgroundColor: '#1DA1F2'
          },
        ]
      },

      postChartOptions: {
        maintainAspectRatio: false,
        responsive: true,
        plugins: {
          // Change options for ALL labels of THIS CHART
          datalabels: {
            // display: true,
            display: function (context) {
              return context.dataset.data[context.dataIndex] !== 0; // or >= 1 or ...
            },
            color: '#ffffff',
            font: {
              weight: 'bold',
              size: 12
            }
          }
        },
        legend: {
          display: false
        },
        title: {
          display: false,
        },
        tooltips: {
          backgroundColor: '#17BF62'
        },
        scales: {
          xAxes: [{
            stacked: true,
            ticks: {
              beginAtZero: true,
              display: true
            },
            gridLines: {
              color: "transparent",
              display: true,
              drawBorder: false,
              zeroLineColor: "#000000",
              zeroLineWidth: 1
            }
          }],
          yAxes: [{
            stacked: true,
            ticks: {
              beginAtZero: true,
              display: true,
              userCallback: function (label, index, labels) {
                // when the floored value is the same as the value we have a whole number
                if (Math.floor(label) === label) {
                  return label;
                }

              }
            },
            gridLines: {
              color: "transparent",
              display: true,
              drawBorder: false,
              zeroLineColor: "#000000",
              zeroLineWidth: 1
            }
          }]
        }
      },

      postDoughOptions: {
        maintainAspectRatio: false,
        responsive: true,
        plugins: {
          // Change options for ALL labels of THIS CHART
          datalabels: {
            display: function (context) {
              return context.dataset.data[context.dataIndex] !== 0; // or >= 1 or ...
            },
            color: '#ffffff',
            font: {
              weight: 'bold',
              size: 15
            }
          }
        },
        legend: {
          position: 'bottom',
          display: false
        },
        title: {
          display: false,
        },
        tooltips: {
          backgroundColor: '#17BF62'
        },
        scales: {
          xAxes: [{
            ticks: {
              beginAtZero: true,
              display: false
            },
            gridLines: {
              display: false
            }
          }],
          yAxes: [{

            ticks: {
              beginAtZero: true,
              display: false
            },
            gridLines: {
              display: false
            }
          }]
        }
      },

      userChartOptions: {
        maintainAspectRatio: false,
        responsive: true,
        plugins: {
          // Change options for ALL labels of THIS CHART
          datalabels: {
            display: true,
            // display: function (context) {
            //   return context.dataset.data[context.dataIndex] !== 0; // or >= 1 or ...
            // },
            color: '#ffffff',
            font: {
              weight: 'bold',
              size: 12
            },
            // margin_bottom: 20
          }
        },
        legend: {
          display: true
        },
        title: {
          display: true,
        },
        tooltips: {
          backgroundColor: '#17BF62'
        },
        scales: {
          xAxes: [{
            ticks: {
              beginAtZero: true,
              display: true,
            },
            gridLines: {
              color: "transparent",
              display: true,
              drawBorder: false,
              zeroLineColor: "#000000",
              zeroLineWidth: 1
            }
          }],
          yAxes: [{
            ticks: {
              beginAtZero: true,
              display: true
            },
            gridLines: {
              color: "transparent",
              display: true,
              drawBorder: false,
              zeroLineColor: "#000000",
              zeroLineWidth: 1
            }
          }]
        }
      }
    }
  },

  mounted() {
    // this.getPost();
    // this.getPostDay();
    this.getTopUser();
    this.getTopEnggage();
    this.getHashtag();
  },

  methods: {
    downloadPDF() {
      this.showDownloadPdf = false
      const doc = new jsPDF('l');
      let option = {
        width: 1150,
        height: 900,
        dpi: 144,
        scale: 2
      }
      var month = Number(this.date.getMonth() + 1);
      var day = this.date.getDate();
      if (month < 10) {
        month = "0" + month;
      }
      if (day < 10) {
        day = "0" + day;
      }
      setTimeout(() => {
        html2canvas(document.querySelector("#capture"), option).then(canvas => {
          doc.addImage(canvas, "JPEG", -7, -7, 300, 230, "Report", "NONE", 0)
          doc.save('Laporan_' + this.date.getFullYear() + "_" + month + "_" + day + ".pdf");
        });
        this.showDownloadPdf = true
      }, 1000);


    },
    downloadXLSX() {
      var sortedFields = []
      // console.log("top Engage", this.topEngageData)
      for (const x in this.topEngageData) {
        if (this.topEngageData.hasOwnProperty(x)) {
          const data = this.topEngageData[x];

          sortedFields.push({
            'No': x * 1 + (1),
            'Nama': data.name,
            // 'flow': JSON.stringify(element.flow).replace(/\[|\]|{|}|"/g, ''),
            'Facebook Like': data.facebook.likeCount,
            'Facebook Comment': data.facebook.commentCount,
            'Instagram Like': data.instagram.likeCount,
            'Instagram Comment': data.instagram.commentCount,
            'Twitter Like': data.twitter.likeCount,
            'Twitter Comment': data.twitter.commentCount,
            'Total Post': Number(data.facebook.postCount + data.instagram.postCount + data.twitter.postCount),
            'Total Like': Number(data.facebook.likeCount + data.instagram.likeCount + data.twitter.likeCount),
            'Total Comment': Number(data.facebook.commentCount + data.instagram.commentCount + data.twitter.commentCount),
            'Facebook Engagement Score': fbCount,
            'Instagram Engagement Score': igCount,
            'Twitter Engagement Score': twitCount,
            'Overall': overall

          })

          // if (data.name == "Filmon") {
          //     sortedFields[x]["Twitter Engagement Score"] = 7;
          //     sortedFields[x]["Twitter Like"] = 2;
          //     sortedFields[x]["Total Like"] = Number(data.likeCount) + 2;
          // }


        }
      }

      // export json to Worksheet of Excel
      // only array possible
      var excelReport = XLSX.utils.json_to_sheet(sortedFields)

      // A workbook is the name given to an Excel file
      var wb = XLSX.utils.book_new() // make Workbook of Excel

      // add Worksheet to Workbook
      // Workbook contains one or more worksheets
      XLSX.utils.book_append_sheet(wb, excelReport, 'result') // sheetAName is name of Worksheet

      // export Excel file
      XLSX.writeFile(wb, 'Laporan-' + new Date().getTime() + '.xlsx') // name of the file is 'book.xlsx'

    },

    async getTopUser() {
      try {
        
        const req = await this.$topchart.getTopUser({filter: "", limit: ""})
        req.sort((a, b) => (Number(a.instagramCount + a.twitterCount + a.facebookCount) < Number(b.instagramCount + b.twitterCount + b.facebookCount)) ? 1 : -1);
        var list = req.slice(0, 5);
        var igCount = 0
        var twitCount = 0;
        var fbCount = 0;
        
        for (const key in req) {
          if (Object.hasOwnProperty.call(req, key)) {
            const data = req[key];
            
            if (data.name != null) {
              if (data.instagramCount > 0) {
                igCount = Number(igCount + 1);
              }
              if (data.twitterCount > 0) {
                twitCount = Number(twitCount + 1);
              }

              if (data.facebookCount > 0) {
                fbCount = Number(fbCount + 1);
              }
              
              this.listTopUser.push({
                _id: data._id,
                name: data.name,
                total: Number(Number(data.instagramCount) + Number(data.facebookCount) + Number(data.twitterCount)),
                unit: '',
                usernames: ['', '', '']
              })
            }
            
          }
        }

        this.userActiveData.datasets[0].data[0] = igCount;
        this.userActiveData.datasets[0].data[1] = fbCount;
        this.userActiveData.datasets[0].data[2] = twitCount;
        
        for (const key in list) {
          if (Object.hasOwnProperty.call(list, key)) {
            const data = list[key];
            
            if (typeof(data.name) !== 'undefined' || data.name !== null) {
              console.log("data name", data.name)
              this.barChartData.labels[key] = data.name;
              this.barChartData.datasets[0].data[key] = data.instagramCount
              this.barChartData.datasets[1].data[key] = data.facebookCount
              this.barChartData.datasets[2].data[key] = data.twitterCount
              
            }
          }
        }

        // console.log('barChartData', this.barChartData);        
        this.listTopUser.sort((a, b) => (a.total < b.total) ? 1 : -1)
        this.isUserChart = true;
        this.getUserById('topUser');
        // console.log(this.listTopUser[0]);
      } catch (error) {
        console.log(error);
        this.isUserChart = true;
        setTimeout(() => {
          this.loading.state = false
        }, 500);
      }
    },

    async getUserById(data) {
      try {
        
        if (data == 'topUser') {
          const req = await this.$user.getUserById({userId: this.listTopUser[0]._id})
          // console.log('topuser socmed datas', req);
          
          this.listTopUser[0].unit = req.workUnit.name == '' ? '-' : req.workUnit.name;
          this.listTopUser[0].usernames[0] = req.instagramId == '' ? 'N/A' : req.instagramId;
          this.listTopUser[0].usernames[1] = req.twitterId == '' ? 'N/A' : req.twitterId;
          this.listTopUser[0].usernames[2] = req.facebookId == '' ? 'N/A' : req.facebookId;
          // this.topUserTwit = req.twitterId == '' ? '-' : req.twitterId;
          // this.topUserFb = req.facebookId == '' ? '-' : req.facebookId;
        }
        if (data == 'topEngage'){
          const req = await this.$user.getUserById({userId: this.listTopEngage[0]._id})

          this.listTopEngage[0].unit = req.workUnit.name == '' ? '-' : req.workUnit.name;
          this.listTopEngage[0].usernames[0] = req.instagramId == '' ? 'N/A' : req.instagramId;
          this.listTopEngage[0].usernames[1] = req.twitterId == '' ? 'N/A' : req.twitterId;
          this.listTopEngage[0].usernames[2] = req.facebookId == '' ? 'N/A' : req.facebookId;
        }
        if (data == 'overall') {
          const req = await this.$user.getUserById({userId: this.listOverall[0]._id})

          this.listOverall[0].unit = req.workUnit.name == '' ? '-' : req.workUnit.name;
          this.listOverall[0].usernames[0] = req.instagramId == '' ? 'N/A' : req.instagramId;
          this.listOverall[0].usernames[1] = req.twitterId == '' ? 'N/A' : req.twitterId;
          this.listOverall[0].usernames[2] = req.facebookId == '' ? 'N/A' : req.facebookId;
        }
        
      } catch (error) {
        console.log(error);
      }
    },

    async getTopEnggage() {
      try {
        const req = await this.$topchart.getTopEnggagement({filter: "", limit: ""})

        // req.sort((a, b) => (Number(a.instagram.engagementScore + a.twitter.engagementScore + a.facebook.engagementScore) < Number(b.instagram.engagementScore + b.twitter.engagementScore + b.facebook.engagementScore)) ? 1 : -1);

        req.sort((a, b) => (Number((a.instagram.likeCount + a.instagram.commentCount + a.instagram.shareCount) + 
        (a.twitter.likeCount + a.twitter.commentCount + a.twitter.shareCount) + (a.facebook.likeCount + a.facebook.commentCount + b.facebook.shareCount)) < 
        Number((b.instagram.likeCount + b.instagram.commentCount + b.instagram.shareCount) + (b.twitter.likeCount + b.twitter.commentCount + b.twitter.shareCount) + 
        (b.facebook.likeCount + b.facebook.commentCount + b.facebook.shareCount))) ? 1 : -1);


        var list = req.slice(0, 5);

        this.listTopEngage = []
        this.listOverall = []

        for (const key in req) {
          if (Object.hasOwnProperty.call(req, key)) {
            const data = req[key];
            if (data.name != null) {

              //harusnya : 
              let twitCount = Number(data.twitter.likeCount + data.twitter.commentCount + data.twitter.shareCount)
              let fbCount = Number(data.facebook.likeCount + data.facebook.commentCount + data.facebook.shareCount)
              let igCount = Number(data.instagram.likeCount + data.instagram.commentCount + data.instagram.shareCount)
              
              // yg urg buat : 
              // let twitCount = Number(data.twitter.engagementScore)
              // let fbCount = Number(data.facebook.engagementScore)
              // let igCount = Number(data.instagram.engagementScore)
              let total = Number(twitCount + fbCount + igCount);

              let twitPost = data.twitter.postCount
              let fbPost = data.facebook.postCount
              let igPost = data.instagram.postCount
              let overall = Number(((twitPost + fbPost + igPost) * 5) + total)

              this.listTopEngage.push({
                _id: data._id,
                name: data.name,
                total: total,
                unit: '',
                usernames: ['', '', '']
              })

              this.listOverall.push({
                _id: data._id,
                name: data.name,
                overall: overall,
                unit: '',
                usernames: ['', '', '']
              })
            }
            
          }
        }

        this.top_5_engagement = []
        for (const key in list) {
          if (Object.hasOwnProperty.call(list, key)) {
            const data = list[key];

            // console.log('data-'+key, data);

            this.top_5_engagement.push({
              name: data.name,
              ig_count: data.instagram.engagementScore,
              fb_count: data.facebook.engagementScore,
              tw_count: data.twitter.engagementScore,
            })
          }
        }

        // console.log(req, this.enggageData);
        // this.isEnggageChart = true
        console.log('this.listTopEngage :',this.listTopEngage);
        console.log('req :',req);
        this.listTopEngage.sort((a, b) => (a.total < b.total) ? 1 : -1)
        this.listOverall.sort((a, b) => (a.overall < b.overall) ? 1 : -1)
        // console.log('top engage : ', this.listTopEngage, "overall : ", this.listOverall)
        this.getUserById('topEngage');
        this.getUserById('overall');
        
        let topIG = []
        let topFB = []
        let topTW = []
        topIG = req.sort((a, b) => (Number(a.instagram.engagementScore) < Number(b.instagram.engagementScore)) ? 1 : -1);
        this.topIG = topIG.slice(0,5)

        topFB = req.sort((a, b) => (Number(a.facebook.engagementScore) < Number(b.facebook.engagementScore)) ? 1 : -1);
        this.topFB = topFB.slice(0,5)

        topTW = req.sort((a, b) => (Number(a.twitter.engagementScore) < Number(b.twitter.engagementScore)) ? 1 : -1);
        this.topTW = topTW.slice(0,5)

        console.log(topTW);
        setTimeout(() => {
          this.loading.state = false
          
        }, 500);
      } catch (error) {
        console.log(error);
        // this.isEnggageChart = true
        setTimeout(() => {
          this.loading.state = false
        }, 500);
      }
    },

    async getHashtag() {
      try {
        const req = await this.$hashtag.getHashtag({
          limit: 10,
          page: ""
        })

        this.listHashtag = req.data

        setTimeout(() => {
          this.loading.state = false
        }, 500);

      } catch (error) {
        console.log(error);

        setTimeout(() => {
          this.loading.state = false
        }, 500);
      }
    },
  },
} 
</script>